
<div class="relative w-auto  mx-auto max-w-7xl">
  <!--header-->
  <div class="flex justify-between items-center border-b border-gray-200 pb-2">
      <h2 class="text-red-600 text-sm font-medium">Asignar Nuevo Usuario</h2>
      <button mat-dialog-close class="p-1 rounded-full border border-gray-200 hover:bg-red-50  transition duration-300 ease-in focus:outline-none">
    <svg class="w-6 h-6  text-gray-900" fill="none" stroke="currentColor" viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>
  </div>
  <!--body-->
  <div class="relative p-2 flex-auto w-ful pt-2">
      <form class="grid grid-cols-1  sm:grid-cols-4 gap-1 sm:gap-4 w-full sm:pb-2 flex items-center">
          <!-- buscar  -->
          <div class="col-span-2">
              <div class="w-full md:mb-2">
                  <label class="text-gray-800 block font-medium text-sm w-full pb-1">Buscador:</label>
                  <input (keyup)="_search(search.value)" #search type="search" required placeholder="Buscar usuario" class=" uppercase forms-control w-full focus mb-1">
                  <!-- <p class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
              </div>
          </div>

          <!--Buscar -->
          <div class="w-full col-span-1">
            <button (click)="_search(search.value)" class="text-white bg-red-600 sm:mt-5  w-full hover:bg-red-700 transition duration-300 ease-in font-medium  text-sm px-6 py-2 rounded outline-none focus:outline-none mr-2 mb-1" type="button" style="transition: all .15s ease">
               Buscar
            </button>
          </div>

          <!--Nuevo -->
          <div class="w-full col-span-1">
            <button (click)="_newuser()"  class=" text-white  bg-red-600 sm:mt-5  w-full hover:bg-red-700 transition duration-300 ease-in font-medium  text-sm px-6 py-2 rounded outline-none focus:outline-none mr-2 mb-1" type="button" style="transition: all .15s ease">
               Nuevo
            </button>
          </div>
      </form>
  </div>


  <!-- TABLA BUSCAR COMPROBANTE -->
  <div class="w-full sm:pt-3">
      <div class="relative overflow-x-auto overflow-y-auto h-auto " style="height: 30vh;">
          <table class="border-collapse table-auto w-full whitespace-no-wrap bg-white table-striped relative">
              <thead class="z-10">
                  <tr class=" text-sm text-left  border-b border-gray-200 text-carnation-500">
                      <th class="font-medium  sticky top-0 w-auto px-6 bg-gray-50 tracking-wide  whitespace-nowrap text-sm py-3">Usuario</th>
                      <th class="font-medium  sticky top-0 w-auto px-6 bg-gray-50 tracking-wide  whitespace-nowrap text-sm py-3">Trabajador</th>
                      <th class="font-medium  sticky top-0 w-auto px-6 bg-gray-50 tracking-wide  whitespace-nowrap text-sm py-3"> Seleccionar </th>
                  </tr>
              </thead>
              <tbody>

                  <tr *ngFor="let item of listuser" class="border-b border-gray-200">
                    <!-- Nombre del anexo -->
                      <td class="px-6 w-auto py-2 text-sm font-normal  text-gray-900">
                          <span class="flex  text-left whitespace-nowrap">{{ item.Usuario }}</span>
                      </td>
                      <!-- Direccion -->
                      <td class="px-6 w-auto py-2 font-normal  text-gray-900">
                          <span class="flex text-xs text-left whitespace-nowrap uppercase">{{ item.NombreTrabajador }}</span>
                      </td>

                      <!-- Seleccionar -->
                      <td class="py-2 text-sm">
                        <form #form="ngForm" class="flex items-center justify-center px-2 ">
                          <div class= "flex items-center justify-center   flex-shrink-0 w-5 h-5 mr-2 border-2 rounded-full  border-red-600 focus-within:border-red-600">
                            <input (ngModelChange)="onChange(item.ID, $event, i)"
                                    type="checkbox"
                                    name="usuario"
                                    class="absolute opacity-0 cursor-pointer"
                                    [value]="item.ID"
                                    [ngModel]="idsUsers.includes(item.ID)"
                                    #ida="ngModel" >
                                    
                            <svg class="hidden w-3 h-3 text-red-600 font-medium pointer-events-none fill-current" viewBox="0 0 20 20"><path d="M0 11l2-2 5 5L18 3l2 2L7 18z"/></svg>
                           </div>
                        </form>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  <!--footer-->
  <div class="flex items-center justify-between p-6 border-t border-solid border-gray-200 rounded-b">
      <span class=" text-sm font-medium text-red-600">Mostrando: {{ listuser.length }} </span>
      <button (click)="AsignarUsuarioTalonario()"  class=" text-white   bg-red-600 hover:bg-red-700 transition duration-300 ease-in  font-medium  text-sm px-10 py-2 rounded outline-none focus:outline-none mr-2 mb-1" type="button" style="transition: all .15s ease">
        Guardar
       </button>
  </div>
</div>

<!-- <app-modalsuccess [success]="guardar" (Send)="guardar = $event" > </app-modalsuccess> -->

<style>
  input:checked + svg {
  	display: block;
  }
</style>


<app-modal-error [error]='error' [message]='message' [cnn_expi]='cnn_expi' (send)='error = $event'></app-modal-error>