<!-- navbar -->
<div class="navbar flex items-center px-4 ">
    <!-- nav left -->
    <ul class="navbar-nav flex items-center px-4">
        <li class="nav-item ">
            <a routerLink="/ventarapida" class=" cursor-pointer   flex flex-wrap">
                <span class="pl-2 p-1 text-3xl  h-12 w-12 font-medium flex items-center justify-center text-white rounded-md bg-facted-500">FS</span>
                <div class="flex items-center flex-col -space-y-1 justify-center ml-2">
                    <span class="text-lg font-medium w-full text-center text-gray-800">FacTEDSOL </span>
                    <div class="text-red-500 text-sm font-medium w-full flex justify-start">[Lite]</div>
                </div>
            </a>
        </li>

        <li class="nav-item pl-5">
            <a class="nav-link" onclick="collapseSidebar()">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                    </path>
                </svg>
            </a>
        </li>
    </ul>


    <!-- nav right -->
    <ul class="navbar-nav nav-right flex items-center space-x-6">

        <!-- <div class="form-box">
            <div class="border border-gray-400 rounded-3xl flex items-center">
                <div id="btn hidden"></div>
               
                <button  type="button" class="w-1/2 flex justify-center focus:outline-none toggle-btn focus:text-white rounded-3xl focus:bg-red-500"  onclick="leftClick()">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.1 3.3C14.531 3.3 16.5 5.269 16.5 7.7C16.5 9.35 15.62 10.747 14.3 11.506V10.164C14.971 9.559 15.4 8.679 15.4 7.7C15.4 5.874 13.926 4.4 12.1 4.4C10.274 4.4 8.8 5.874 8.8 7.7C8.8 8.679 9.229 9.559 9.9 10.164V11.506C8.58 10.747 7.7 9.35 7.7 7.7C7.7 5.269 9.669 3.3 12.1 3.3ZM19.8 20.35C19.767 21.252 19.052 21.967 18.15 22H12.1C11.682 22 11.286 21.835 11 21.527L6.6 16.907L7.414 16.06C7.623 15.829 7.92 15.708 8.25 15.708H8.47L11 17.6V7.7C11 7.095 11.495 6.6 12.1 6.6C12.705 6.6 13.2 7.095 13.2 7.7V12.617L14.531 12.76L18.865 15.169C19.448 15.433 19.8 16.016 19.8 16.654V20.35ZM19.8 0H2.2C0.99 0 0 0.99 0 2.2V11C0 11.5835 0.231785 12.1431 0.644365 12.5556C1.05694 12.9682 1.61652 13.2 2.2 13.2H6.6V11H2.2V2.2H19.8V11H17.6V13.2H19.8V13.156L19.844 13.2C21.043 13.2 22 12.199 22 11V2.2C22 1.61652 21.7682 1.05694 21.3556 0.644365C20.9431 0.231785 20.3835 0 19.8 0Z" />
                    </svg>
                </button>
                
                <button [routerLink]="['ventanormaltouch']" routerLinkActive="router-link-active"  type="button" class="w-1/2 flex justify-center focus:outline-none toggle-btn focus:text-white rounded-3xl focus:bg-red-500" onclick="rightClick()">
                    <svg width="22" height="22" viewBox="0 0 30 19" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M27.5 0H2.5C1.11927 0 0 1.06331 0 2.375V16.625C0 17.9367 1.11927 19 2.5 19H27.5C28.8807 19 30 17.9367 30 16.625V2.375C30 1.06331 28.8807 0 27.5 0ZM27.9167 16.625C27.9167 16.8433 27.7297 17.0208 27.5 17.0208H2.5C2.27026 17.0208 2.08333 16.8433 2.08333 16.625V2.375C2.08333 2.15675 2.27026 1.97917 2.5 1.97917H27.5C27.7297 1.97917 27.9167 2.15675 27.9167 2.375V16.625ZM8.85417 10.1927V8.80729C8.85417 8.47939 8.57432 8.21354 8.22917 8.21354H6.77083C6.42568 8.21354 6.14583 8.47939 6.14583 8.80729V10.1927C6.14583 10.5206 6.42568 10.7865 6.77083 10.7865H8.22917C8.57432 10.7865 8.85417 10.5206 8.85417 10.1927ZM13.8542 10.1927V8.80729C13.8542 8.47939 13.5743 8.21354 13.2292 8.21354H11.7708C11.4257 8.21354 11.1458 8.47939 11.1458 8.80729V10.1927C11.1458 10.5206 11.4257 10.7865 11.7708 10.7865H13.2292C13.5743 10.7865 13.8542 10.5206 13.8542 10.1927ZM18.8542 10.1927V8.80729C18.8542 8.47939 18.5743 8.21354 18.2292 8.21354H16.7708C16.4257 8.21354 16.1458 8.47939 16.1458 8.80729V10.1927C16.1458 10.5206 16.4257 10.7865 16.7708 10.7865H18.2292C18.5743 10.7865 18.8542 10.5206 18.8542 10.1927ZM23.8542 10.1927V8.80729C23.8542 8.47939 23.5743 8.21354 23.2292 8.21354H21.7708C21.4257 8.21354 21.1458 8.47939 21.1458 8.80729V10.1927C21.1458 10.5206 21.4257 10.7865 21.7708 10.7865H23.2292C23.5743 10.7865 23.8542 10.5206 23.8542 10.1927ZM6.35417 14.25V12.8646C6.35417 12.5367 6.07432 12.2708 5.72917 12.2708H4.27083C3.92568 12.2708 3.64583 12.5367 3.64583 12.8646V14.25C3.64583 14.5779 3.92568 14.8438 4.27083 14.8438H5.72917C6.07432 14.8438 6.35417 14.5779 6.35417 14.25ZM26.3542 14.25V12.8646C26.3542 12.5367 26.0743 12.2708 25.7292 12.2708H24.2708C23.9257 12.2708 23.6458 12.5367 23.6458 12.8646V14.25C23.6458 14.5779 23.9257 14.8438 24.2708 14.8438H25.7292C26.0743 14.8438 26.3542 14.5779 26.3542 14.25ZM6.35417 6.13542V4.75C6.35417 4.4221 6.07432 4.15625 5.72917 4.15625H4.27083C3.92568 4.15625 3.64583 4.4221 3.64583 4.75V6.13542C3.64583 6.46332 3.92568 6.72917 4.27083 6.72917H5.72917C6.07432 6.72917 6.35417 6.46332 6.35417 6.13542ZM11.3542 6.13542V4.75C11.3542 4.4221 11.0743 4.15625 10.7292 4.15625H9.27083C8.92568 4.15625 8.64583 4.4221 8.64583 4.75V6.13542C8.64583 6.46332 8.92568 6.72917 9.27083 6.72917H10.7292C11.0743 6.72917 11.3542 6.46332 11.3542 6.13542ZM16.3542 6.13542V4.75C16.3542 4.4221 16.0743 4.15625 15.7292 4.15625H14.2708C13.9257 4.15625 13.6458 4.4221 13.6458 4.75V6.13542C13.6458 6.46332 13.9257 6.72917 14.2708 6.72917H15.7292C16.0743 6.72917 16.3542 6.46332 16.3542 6.13542ZM21.3542 6.13542V4.75C21.3542 4.4221 21.0743 4.15625 20.7292 4.15625H19.2708C18.9257 4.15625 18.6458 4.4221 18.6458 4.75V6.13542C18.6458 6.46332 18.9257 6.72917 19.2708 6.72917H20.7292C21.0743 6.72917 21.3542 6.46332 21.3542 6.13542ZM26.3542 6.13542V4.75C26.3542 4.4221 26.0743 4.15625 25.7292 4.15625H24.2708C23.9257 4.15625 23.6458 4.4221 23.6458 4.75V6.13542C23.6458 6.46332 23.9257 6.72917 24.2708 6.72917H25.7292C26.0743 6.72917 26.3542 6.46332 26.3542 6.13542ZM21.25 13.9531V13.1615C21.25 12.8336 20.9702 12.5677 20.625 12.5677H9.375C9.02984 12.5677 8.75 12.8336 8.75 13.1615V13.9531C8.75 14.281 9.02984 14.5469 9.375 14.5469H20.625C20.9702 14.5469 21.25 14.281 21.25 13.9531Z" />
                    </svg>
                </button>
            </div>
        </div> -->
        <!-- <div class="form-box">
            <div class="border border-gray-400 rounded-3xl flex items-center">
                <div id="btn hidden"></div>
               
                <button  type="button" class="w-1/2 flex justify-center focus:outline-none toggle-btn focus:text-white rounded-3xl focus:bg-red-500"  onclick="leftClick()">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.1 3.3C14.531 3.3 16.5 5.269 16.5 7.7C16.5 9.35 15.62 10.747 14.3 11.506V10.164C14.971 9.559 15.4 8.679 15.4 7.7C15.4 5.874 13.926 4.4 12.1 4.4C10.274 4.4 8.8 5.874 8.8 7.7C8.8 8.679 9.229 9.559 9.9 10.164V11.506C8.58 10.747 7.7 9.35 7.7 7.7C7.7 5.269 9.669 3.3 12.1 3.3ZM19.8 20.35C19.767 21.252 19.052 21.967 18.15 22H12.1C11.682 22 11.286 21.835 11 21.527L6.6 16.907L7.414 16.06C7.623 15.829 7.92 15.708 8.25 15.708H8.47L11 17.6V7.7C11 7.095 11.495 6.6 12.1 6.6C12.705 6.6 13.2 7.095 13.2 7.7V12.617L14.531 12.76L18.865 15.169C19.448 15.433 19.8 16.016 19.8 16.654V20.35ZM19.8 0H2.2C0.99 0 0 0.99 0 2.2V11C0 11.5835 0.231785 12.1431 0.644365 12.5556C1.05694 12.9682 1.61652 13.2 2.2 13.2H6.6V11H2.2V2.2H19.8V11H17.6V13.2H19.8V13.156L19.844 13.2C21.043 13.2 22 12.199 22 11V2.2C22 1.61652 21.7682 1.05694 21.3556 0.644365C20.9431 0.231785 20.3835 0 19.8 0Z" />
                    </svg>
                </button>
                
                <button [routerLink]="['ventanormaltouch']" routerLinkActive="router-link-active"  type="button" class="w-1/2 flex justify-center focus:outline-none toggle-btn focus:text-white rounded-3xl focus:bg-red-500" onclick="rightClick()">
                    <svg width="22" height="22" viewBox="0 0 30 19" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M27.5 0H2.5C1.11927 0 0 1.06331 0 2.375V16.625C0 17.9367 1.11927 19 2.5 19H27.5C28.8807 19 30 17.9367 30 16.625V2.375C30 1.06331 28.8807 0 27.5 0ZM27.9167 16.625C27.9167 16.8433 27.7297 17.0208 27.5 17.0208H2.5C2.27026 17.0208 2.08333 16.8433 2.08333 16.625V2.375C2.08333 2.15675 2.27026 1.97917 2.5 1.97917H27.5C27.7297 1.97917 27.9167 2.15675 27.9167 2.375V16.625ZM8.85417 10.1927V8.80729C8.85417 8.47939 8.57432 8.21354 8.22917 8.21354H6.77083C6.42568 8.21354 6.14583 8.47939 6.14583 8.80729V10.1927C6.14583 10.5206 6.42568 10.7865 6.77083 10.7865H8.22917C8.57432 10.7865 8.85417 10.5206 8.85417 10.1927ZM13.8542 10.1927V8.80729C13.8542 8.47939 13.5743 8.21354 13.2292 8.21354H11.7708C11.4257 8.21354 11.1458 8.47939 11.1458 8.80729V10.1927C11.1458 10.5206 11.4257 10.7865 11.7708 10.7865H13.2292C13.5743 10.7865 13.8542 10.5206 13.8542 10.1927ZM18.8542 10.1927V8.80729C18.8542 8.47939 18.5743 8.21354 18.2292 8.21354H16.7708C16.4257 8.21354 16.1458 8.47939 16.1458 8.80729V10.1927C16.1458 10.5206 16.4257 10.7865 16.7708 10.7865H18.2292C18.5743 10.7865 18.8542 10.5206 18.8542 10.1927ZM23.8542 10.1927V8.80729C23.8542 8.47939 23.5743 8.21354 23.2292 8.21354H21.7708C21.4257 8.21354 21.1458 8.47939 21.1458 8.80729V10.1927C21.1458 10.5206 21.4257 10.7865 21.7708 10.7865H23.2292C23.5743 10.7865 23.8542 10.5206 23.8542 10.1927ZM6.35417 14.25V12.8646C6.35417 12.5367 6.07432 12.2708 5.72917 12.2708H4.27083C3.92568 12.2708 3.64583 12.5367 3.64583 12.8646V14.25C3.64583 14.5779 3.92568 14.8438 4.27083 14.8438H5.72917C6.07432 14.8438 6.35417 14.5779 6.35417 14.25ZM26.3542 14.25V12.8646C26.3542 12.5367 26.0743 12.2708 25.7292 12.2708H24.2708C23.9257 12.2708 23.6458 12.5367 23.6458 12.8646V14.25C23.6458 14.5779 23.9257 14.8438 24.2708 14.8438H25.7292C26.0743 14.8438 26.3542 14.5779 26.3542 14.25ZM6.35417 6.13542V4.75C6.35417 4.4221 6.07432 4.15625 5.72917 4.15625H4.27083C3.92568 4.15625 3.64583 4.4221 3.64583 4.75V6.13542C3.64583 6.46332 3.92568 6.72917 4.27083 6.72917H5.72917C6.07432 6.72917 6.35417 6.46332 6.35417 6.13542ZM11.3542 6.13542V4.75C11.3542 4.4221 11.0743 4.15625 10.7292 4.15625H9.27083C8.92568 4.15625 8.64583 4.4221 8.64583 4.75V6.13542C8.64583 6.46332 8.92568 6.72917 9.27083 6.72917H10.7292C11.0743 6.72917 11.3542 6.46332 11.3542 6.13542ZM16.3542 6.13542V4.75C16.3542 4.4221 16.0743 4.15625 15.7292 4.15625H14.2708C13.9257 4.15625 13.6458 4.4221 13.6458 4.75V6.13542C13.6458 6.46332 13.9257 6.72917 14.2708 6.72917H15.7292C16.0743 6.72917 16.3542 6.46332 16.3542 6.13542ZM21.3542 6.13542V4.75C21.3542 4.4221 21.0743 4.15625 20.7292 4.15625H19.2708C18.9257 4.15625 18.6458 4.4221 18.6458 4.75V6.13542C18.6458 6.46332 18.9257 6.72917 19.2708 6.72917H20.7292C21.0743 6.72917 21.3542 6.46332 21.3542 6.13542ZM26.3542 6.13542V4.75C26.3542 4.4221 26.0743 4.15625 25.7292 4.15625H24.2708C23.9257 4.15625 23.6458 4.4221 23.6458 4.75V6.13542C23.6458 6.46332 23.9257 6.72917 24.2708 6.72917H25.7292C26.0743 6.72917 26.3542 6.46332 26.3542 6.13542ZM21.25 13.9531V13.1615C21.25 12.8336 20.9702 12.5677 20.625 12.5677H9.375C9.02984 12.5677 8.75 12.8336 8.75 13.1615V13.9531C8.75 14.281 9.02984 14.5469 9.375 14.5469H20.625C20.9702 14.5469 21.25 14.281 21.25 13.9531Z" />
                    </svg>
                </button>
            </div>
        </div> -->



        <style>
            input:checked~.radio {
                color: white;
                background-color: #EA3E3E;
            }
        </style>
        <div class="flex justify-center items-center pr-14">
            <div class="bg-gray-100 border border-gray-300 flex items-center rounded-lg">
                <div class="inline-flex rounded-lg   items-center ">
                    <input type="radio" name="room_type" id="roomPrivate" checked hidden/>
                    <label [routerLink]="['/ventarapida']" routerLinkActive="router-link-active" for="roomPrivate" class="radio text-center flex items-center justify-center self-center py-2 px-4 rounded-lg cursor-pointer hover:opacity-75">                    
                         <svg width="22" height="22" viewBox="0 0 30 19" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M27.5 0H2.5C1.11927 0 0 1.06331 0 2.375V16.625C0 17.9367 1.11927 19 2.5 19H27.5C28.8807 19 30 17.9367 30 16.625V2.375C30 1.06331 28.8807 0 27.5 0ZM27.9167 16.625C27.9167 16.8433 27.7297 17.0208 27.5 17.0208H2.5C2.27026 17.0208 2.08333 16.8433 2.08333 16.625V2.375C2.08333 2.15675 2.27026 1.97917 2.5 1.97917H27.5C27.7297 1.97917 27.9167 2.15675 27.9167 2.375V16.625ZM8.85417 10.1927V8.80729C8.85417 8.47939 8.57432 8.21354 8.22917 8.21354H6.77083C6.42568 8.21354 6.14583 8.47939 6.14583 8.80729V10.1927C6.14583 10.5206 6.42568 10.7865 6.77083 10.7865H8.22917C8.57432 10.7865 8.85417 10.5206 8.85417 10.1927ZM13.8542 10.1927V8.80729C13.8542 8.47939 13.5743 8.21354 13.2292 8.21354H11.7708C11.4257 8.21354 11.1458 8.47939 11.1458 8.80729V10.1927C11.1458 10.5206 11.4257 10.7865 11.7708 10.7865H13.2292C13.5743 10.7865 13.8542 10.5206 13.8542 10.1927ZM18.8542 10.1927V8.80729C18.8542 8.47939 18.5743 8.21354 18.2292 8.21354H16.7708C16.4257 8.21354 16.1458 8.47939 16.1458 8.80729V10.1927C16.1458 10.5206 16.4257 10.7865 16.7708 10.7865H18.2292C18.5743 10.7865 18.8542 10.5206 18.8542 10.1927ZM23.8542 10.1927V8.80729C23.8542 8.47939 23.5743 8.21354 23.2292 8.21354H21.7708C21.4257 8.21354 21.1458 8.47939 21.1458 8.80729V10.1927C21.1458 10.5206 21.4257 10.7865 21.7708 10.7865H23.2292C23.5743 10.7865 23.8542 10.5206 23.8542 10.1927ZM6.35417 14.25V12.8646C6.35417 12.5367 6.07432 12.2708 5.72917 12.2708H4.27083C3.92568 12.2708 3.64583 12.5367 3.64583 12.8646V14.25C3.64583 14.5779 3.92568 14.8438 4.27083 14.8438H5.72917C6.07432 14.8438 6.35417 14.5779 6.35417 14.25ZM26.3542 14.25V12.8646C26.3542 12.5367 26.0743 12.2708 25.7292 12.2708H24.2708C23.9257 12.2708 23.6458 12.5367 23.6458 12.8646V14.25C23.6458 14.5779 23.9257 14.8438 24.2708 14.8438H25.7292C26.0743 14.8438 26.3542 14.5779 26.3542 14.25ZM6.35417 6.13542V4.75C6.35417 4.4221 6.07432 4.15625 5.72917 4.15625H4.27083C3.92568 4.15625 3.64583 4.4221 3.64583 4.75V6.13542C3.64583 6.46332 3.92568 6.72917 4.27083 6.72917H5.72917C6.07432 6.72917 6.35417 6.46332 6.35417 6.13542ZM11.3542 6.13542V4.75C11.3542 4.4221 11.0743 4.15625 10.7292 4.15625H9.27083C8.92568 4.15625 8.64583 4.4221 8.64583 4.75V6.13542C8.64583 6.46332 8.92568 6.72917 9.27083 6.72917H10.7292C11.0743 6.72917 11.3542 6.46332 11.3542 6.13542ZM16.3542 6.13542V4.75C16.3542 4.4221 16.0743 4.15625 15.7292 4.15625H14.2708C13.9257 4.15625 13.6458 4.4221 13.6458 4.75V6.13542C13.6458 6.46332 13.9257 6.72917 14.2708 6.72917H15.7292C16.0743 6.72917 16.3542 6.46332 16.3542 6.13542ZM21.3542 6.13542V4.75C21.3542 4.4221 21.0743 4.15625 20.7292 4.15625H19.2708C18.9257 4.15625 18.6458 4.4221 18.6458 4.75V6.13542C18.6458 6.46332 18.9257 6.72917 19.2708 6.72917H20.7292C21.0743 6.72917 21.3542 6.46332 21.3542 6.13542ZM26.3542 6.13542V4.75C26.3542 4.4221 26.0743 4.15625 25.7292 4.15625H24.2708C23.9257 4.15625 23.6458 4.4221 23.6458 4.75V6.13542C23.6458 6.46332 23.9257 6.72917 24.2708 6.72917H25.7292C26.0743 6.72917 26.3542 6.46332 26.3542 6.13542ZM21.25 13.9531V13.1615C21.25 12.8336 20.9702 12.5677 20.625 12.5677H9.375C9.02984 12.5677 8.75 12.8336 8.75 13.1615V13.9531C8.75 14.281 9.02984 14.5469 9.375 14.5469H20.625C20.9702 14.5469 21.25 14.281 21.25 13.9531Z" />
                         </svg>
                    </label>
                </div>
                <div class="inline-flex rounded-lg items-center">
                    <input type="radio" name="room_type" id="roomPublic" hidden/>
                    <label [routerLink]="['/ventanormaltouch']" routerLinkActive="router-link-active" for="roomPublic" class="radio text-center flex items-center self-center justify-center py-2 px-4 rounded-lg cursor-pointer hover:opacity-75">
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.1 3.3C14.531 3.3 16.5 5.269 16.5 7.7C16.5 9.35 15.62 10.747 14.3 11.506V10.164C14.971 9.559 15.4 8.679 15.4 7.7C15.4 5.874 13.926 4.4 12.1 4.4C10.274 4.4 8.8 5.874 8.8 7.7C8.8 8.679 9.229 9.559 9.9 10.164V11.506C8.58 10.747 7.7 9.35 7.7 7.7C7.7 5.269 9.669 3.3 12.1 3.3ZM19.8 20.35C19.767 21.252 19.052 21.967 18.15 22H12.1C11.682 22 11.286 21.835 11 21.527L6.6 16.907L7.414 16.06C7.623 15.829 7.92 15.708 8.25 15.708H8.47L11 17.6V7.7C11 7.095 11.495 6.6 12.1 6.6C12.705 6.6 13.2 7.095 13.2 7.7V12.617L14.531 12.76L18.865 15.169C19.448 15.433 19.8 16.016 19.8 16.654V20.35ZM19.8 0H2.2C0.99 0 0 0.99 0 2.2V11C0 11.5835 0.231785 12.1431 0.644365 12.5556C1.05694 12.9682 1.61652 13.2 2.2 13.2H6.6V11H2.2V2.2H19.8V11H17.6V13.2H19.8V13.156L19.844 13.2C21.043 13.2 22 12.199 22 11V2.2C22 1.61652 21.7682 1.05694 21.3556 0.644365C20.9431 0.231785 20.3835 0 19.8 0Z" />
                         </svg>
                </label>
                </div>
            </div>
        </div>



        <button  routerLink="/ventanormaltouch" class="bg-red-500 py-3 px-6 text-white">
            touck
        </button>
        <li class="nav-item avt-wrapper">
            <div class="avt dropdown">
                <div class="relative">
                    <span data-toggle="user-menu" class=" dropdown-toggle  focus:outline-none flex items-center">
                        <span class="w-11 object-cover  relative float-right mr-2 cursor-pointer hover:text-gray-700 ">
                            <img id="logo1" data-toggle="user-menu"
                                class="object-cover border border-gray-200  dropdown-toggle w-10 h-10 rounded-md shadow"
                                [src]="data.bs64logo" alt="logo" appNotImage />
                            <div class="absolute right-0 p-1 bg-green-400 rounded-full bottom-4 animate-ping"></div>
                            <div class="absolute right-0 p-1 bg-green-400 border border-white rounded-full bottom-4">
                            </div>

                            <!-- src="https://avatars0.githubusercontent.com/u/57622665?s=460&u=8f581f4c4acd4c18c33a87b3e6476112325e8b38&v=4" -->

                        </span>
                    <p data-toggle="user-menu" class="text-sm font-medium uppercase dropdown-toggle hidden md:block">{{ data.user }}</p>
                    <div class="ml-2 hidden md:block">
                        <svg data-toggle="user-menu" class="h-5 w-5 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7" />
                            </svg>
                    </div>
                    </span>
                </div>

                <main id="user-menu" class="dropdown-menu w-full">
                    <div class=" w-full space-y-3">
                        <!-- Nombre y su cargo -->
                        <section class="text-center w-full">
                            <div class="flex justify-center pt-3"><img id="logo2" class="object-cover h-36 w-full" [src]="data.bs64logo" alt="logo" appNotImage></div>
                            <div class="font-medium">{{ data.name }} {{ data.lastname }}</div>
                            <div class="text-gray-400 text-sm">Vendedor(a)</div>
                        </section>
                        <!-- Botones  -->
                        <section class=" grid grid-cols-1 md:grid-cols-2 md:flex  md:justify-center w-full pb-5 border-b border-gray-200 ">
                            <div routerLink="/micuenta" class=" focus:outline-none  col-span-1  flex justify-center">
                                <button class=" rounded-md text-sm focus:outline-none px-5 py-2 text-red-500 hover:text-red-600 border-2 border-red-500 hover:border-red-600">
                                    Configuraciones </button>
                            </div>
                            <div (click)="auth.logout()" class=" focus:outline-none col-span-1  flex justify-center">
                                <button class=" rounded-md text-sm focus:outline-none px-7 py-2 text-white bg-red-500 hover:bg-red-600 border-2 border-red-500 hover:border-red-600">
                                    Cerrar Sesión</button>
                            </div>
                        </section>
                        <!-- Nombre de la empresa -->
                        <section class="flex gap-2 pl-5 py-3 ">
                            <div class="items-start flex ">
                                <svg class="bg-red-100 rounded-md p-2 w-8" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.0054 5.71429V0H0.869141V17.1429H5.37412V13.7143H6.50037V17.1429H16.6366V5.71429H11.0054ZM3.68476 14.8571H2.55851V13.7143H3.68476V14.8571ZM3.68476 12H2.55851V10.8571H3.68476V12ZM3.68476 9.14286H2.55851V8H3.68476V9.14286ZM3.68476 6.28571H2.55851V5.14286H3.68476V6.28571ZM3.68476 3.42857H2.55851V2.28571H3.68476V3.42857ZM8.18974 2.28571H9.31598V3.42857H8.18974V2.28571ZM6.50037 12H5.37412V10.8571H6.50037V12ZM6.50037 9.14286H5.37412V8H6.50037V9.14286ZM6.50037 6.28571H5.37412V5.14286H6.50037V6.28571ZM6.50037 3.42857H5.37412V2.28571H6.50037V3.42857ZM9.31598 14.8571H8.18974V13.7143H9.31598V14.8571ZM9.31598 12H8.18974V10.8571H9.31598V12ZM9.31598 9.14286H8.18974V8H9.31598V9.14286ZM9.31598 6.28571H8.18974V5.14286H9.31598V6.28571ZM15.5103 16H11.0054V14.8571H12.1316V13.7143H11.0054V12H12.1316V10.8571H11.0054V9.14286H12.1316V8H11.0054V6.85714H15.5103V16Z"
                                        fill="#EA3E3E" />
                                </svg>
                            </div>
                            <div>
                                <div class="text-gray-500 font-medium text-al">{{ data.empresa }}</div>
                                <div class="text-gray-400 text-al">{{ data.ruc }}</div>
                            </div>
                        </section>
                    </div>
                </main>

                <!-- dropdown-menu anterior -->
                <!-- <ul id="user-menu" class="dropdown-menu mt-2 rounded-b-lg -mr-10">
                    <div class=" bg-white rounded-b-md">
                        <ul class="flex flex-col">
                            <li class="hover:text-red-700 border-b border-gray-100">
                                <a routerLink="/micuenta" class="  py-4 px-10 w-full cursor-pointer transition text-sm   font-medium tracking-wide hover:text-red-500  text-gray-700  hover:bg-red-50 flex items-center">
                                    <svg class="h-6 w-6" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" />
                                        <circle cx="14" cy="6" r="2" />
                                        <line x1="4" y1="6" x2="12" y2="6" />
                                        <line x1="16" y1="6" x2="20" y2="6" />
                                        <circle cx="8" cy="12" r="2" />
                                        <line x1="4" y1="12" x2="6" y2="12" />
                                        <line x1="10" y1="12" x2="20" y2="12" />
                                        <circle cx="17" cy="18" r="2" />
                                        <line x1="4" y1="18" x2="15" y2="18" />
                                        <line x1="19" y1="18" x2="20" y2="18" />
                                    </svg>
                                    <span class="ml-2">Configuraciones</span>
                                </a>
                            </li>

                            <li class="hover:text-red-700">
                                <a (click)="auth.logout()" class="transition w-full cursor-pointer text-sm  font-medium tracking-wide py-4 text-gray-700  hover:text-red-500  px-12 hover:bg-red-50 flex items-center">
                                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
                                    </svg>
                                    <span class="ml-2">Cerrar Sesión</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </ul> -->



            </div>
        </li>
    </ul>
    <!-- end nav right -->
</div>