<header class="flex items-center justify-between border-b border-gray-300">
    <h1 class="text-base text-red-600  funcion font-bold">Obtener Documentos Masivos</h1>

    <button *ngIf="IProcess.completed" (click)="_closed()" class="focus:outline-none p-3">
        <svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>

    </button> 

    <button *ngIf="!IProcess.completed" (click)="_minimizar()" class="focus:outline-none p-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M5 10a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1z" clip-rule="evenodd" />
          </svg>
    </button> 

</header>

<main>
    <!-- section 01 -->
    <form [formGroup]="form" (ngSubmit)="_continueTab2( 2 )" class="grid grid-cols-2 flex items-center gap-4 pt-5" [ngClass]="{'hidden': openTab !== 1, 'block': openTab === 1}">
        <article class=" flex items-center justify-center">
            <img src="assets/img/datos.svg" alt="">
        </article>
        
        <article class="flex flex-col justify-start funcion">
            <p class="text-sm ">Con esta  puedes <span class="font-medium text-black">Obtener Masivamente</span> 
            Pdf,   <br> Xml  y  Cdr de tus comprobantes.</p>
            <h2 class="text-sm  font-medium text-black py-2">Periodo Seleccionado</h2>
            <div class="flex text-sm leading-6  flex-col">
                <p class="">Año : <span>{{ data.anio }}</span></p>
                <p class="">Mes : <span>{{ sfunction._convertToNameMes(data.mes) }}</span></p> 
            </div>          
            <h2 class="text-sm  font-medium text-gray-900 py-2 mt-1">Formatos a Obtener</h2>
            <div class=" flex items-center py-3 space-x-5">

                <!-- pdf -->
                <label  class="inline-flex items-center cursor-pointer">
                    <input  type="checkbox"
                            class=" cursor-pointer form-checkbox focus-within:border-red-600 text-red-600 w-5 h-5 border-2 rounded border-gray-400"
                            formControlName="pdf" >
                    <span class="ml-2 text-sm ">PDF</span>
                </label>
    
                <!-- xml -->
                <label class="inline-flex items-center cursor-pointer">
                    <input  type="checkbox"
                            class="form-checkbox  cursor-pointer focus-within:border-red-600 text-red-600 w-5 h-5 border-2 rounded border-gray-400"
                            formControlName="xml" >
                    <span class="ml-2 text-sm ">XML</span>
                </label>
    
                <!-- cdr -->
                <label class="inline-flex items-center cursor-pointer">
                    <input  type="checkbox"
                            class="form-checkbox cursor-pointer focus-within:border-red-600 text-red-600 w-5 h-5 border-2 rounded border-gray-400"
                            formControlName="cdr" >
                    <span class="ml-2 text-sm ">CDR</span>
                </label>
            </div>
            <!-- mensaje Alert -->
            <p class="text-sm text-red-600 mt-4 ">*Recuerda que este proceso puede demorar algunas horas</p>
            <div class="space-x-5 py-3  mt-8">            
                <button matDialogClose  class="px-5 py-2 border-gray-400 border bg-white text-black hover:bg-gray-100 transition  rounded duration-300 ease-in focus:outline-none  text-sm ">Cancelar</button>
                <!-- <button (click)="toggleTabs(2)" [ngClass]="{'text-white': openTab !== 2, 'text-white bg-red-600': openTab === 1}" class="px-5 py-2 border-red-600  border rounded  bg-red-600 text-white hover:bg-red-700 transition duration-300 ease-in focus:outline-none  text-sm ">Continuar</button> -->
                <button type="submit" class="px-5 py-2 border-red-600  border rounded  bg-red-600 text-white hover:bg-red-700 transition duration-300 ease-in focus:outline-none  text-sm ">Continuar</button>
            </div>
        </article>
    </form>



<!-- Section 02 -->
    <section class="tab-content tab-space w-full gap-4">
      <div class=" funcion text-xs flex flex-col  pt-5" [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}">
        <h2 class="text-sm  font-medium text-black py-2">Periodo Seleccionado</h2>
          <div class="flex text-sm  flex-col">
              <p class="">Año : <span>{{ data.anio }}</span></p>
              <p class="">Mes : <span>{{ sfunction._convertToNameMes(data.mes) }}</span></p> 
          </div>
          <div class="pb-7">
            <div class="flex justify-center -mt-24 items-center">
                <!-- cargando datos  -->
                <img *ngIf="!IProcess.completed" class="w-40 h-40 object-cover" src="assets/img/loading.gif" alt="">
                <!-- Docmuentos Encontrados  100%  -->
                <img *ngIf="IProcess.completed" class="w-40 h-40 object-cover" src="assets/img/complet.png" alt="">
            </div>
            <div class="relative pt-1">  
                <div class="flex items-center justify-between pb-2">
                    <span class="text-xs text-gray-600" >Generando {{ IProcess.i }} de {{ data.totalcpe }}</span>
                    <span class="text-xs text-gray-800 font-medium" >{{ IProcess.porcentual }}%</span>
                </div>             
                <div class="overflow-hidden h-2  text-xs flex rounded bg-gray-200">
                  <div [style.width.%]="IProcess.porcentual" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center" [ngClass]="{'bg-red-500': !IProcess.completed, 'bg-green-500': IProcess.completed}"></div>
                </div>
                <span class="text-xs text-gray-600 text-right pt-2 flex justify-end" > {{ IProcess.time }} </span>
            </div>
          </div>
          
      <article class=" grid w-full  flex items-center grid-cols-2 gap-5">      
        <div>
            <h2 class="text-sm  font-medium text-black py-2">Formatos a Obtener</h2>
            <div class=" flex items-center py-1 space-x-8">
                <!-- pdf -->
                <label  class="inline-flex items-center cursor-pointer">
                    <input  type="checkbox"
                            [(ngModel)]="form.value.pdf"               
                            disabled
                            class="cursor-pointer form-checkbox   text-gray-400 w-5 h-5 border-2   rounded border-gray-400"
                               >
                    <span class="ml-2 text-sm ">PDF</span>
                </label>

                            
                <!-- xml -->
                <label class="inline-flex items-center cursor-pointer">
                    <input type="checkbox"
                    [(ngModel)]="form.value.xml"
                    disabled
                    class="cursor-pointer form-checkbox   text-gray-400 w-5 h-5 border-2   rounded border-gray-400" >
                    <span class="ml-2 text-sm ">XML</span>
                </label>
    
                <!-- cdr -->
                <label class="inline-flex items-center cursor-pointer">
                    <input type="checkbox"
                    [(ngModel)]="form.value.cdr"               
                    disabled
                    class="cursor-pointer form-checkbox   text-gray-400 w-5 h-5 border-2   rounded border-gray-400" >
                    <span class="ml-2 text-sm ">CDR</span>
                </label>
            </div>
        </div>
          
        <div class="space-x-5 py-3 mt-5">            
            <button *ngIf="IProcess.completed" type="button" (click)="_questionObtnerFiles()" class="px-5 py-2 border-gray-400 border rounded bg-white text-black hover:bg-gray-100 transition duration-300 ease-in focus:outline-none  text-sm ">Volver a Obtener</button>
            <button *ngIf="!IProcess.completed" (click)="_minimizar()" type="button" class="px-5 py-2 border-gray-400 border rounded bg-white text-black hover:bg-gray-100 transition duration-300 ease-in focus:outline-none  text-sm ">Minimizar Proceso</button>
            <button (click)="_downloadFile()" type="button" [disabled]="!IProcess.completed" [ngClass]="{'bg-red-500 hover:bg-red-700 hover:border-red-700': IProcess.completed}" class="px-5 py-2 border-gray-400 border  rounded bg-gray-400 text-white transition duration-300 ease-in focus:outline-none text-sm ">Descargar</button>
        </div>
       
      </article>
      </div>    
    </section> 

</main>

<app-modal-error [error]='error' [message]='message' [cnn_expi]='cnn_expi' (send)='error = $event'></app-modal-error>
<app-modaldelete [error]='question' [mesage]='message' (Send)='question = $event' (SendDelete)='_volveraObtnerFiles( $event )'>
</app-modaldelete>

<!-- <app--downloadmassive></app--downloadmassive> -->
