<app-loading></app-loading>
<app-navbar> </app-navbar>
<!-- contenido del login -->
<div class="container relative mx-auto mt-4 sm:mt-10  pb-16 md:pb-2 Animated fadeIn ">
    <main class=" grid grid-cols-1 md:grid-cols-2 gap-1 pt-3">
        <!-- secccion de bienvenida -->
        <section class="justify-start md:justify-center flex px-2 sm:px-0">
            <div class=" md:pl-16 flex flex-col">
                <div class="flex items-center justify-center">
                    <img class="w-14 h-14" src="assets/img/login/foco.svg" alt="">
                    <h1 class="text-black text-xl md:text-3xl font-bold font-sans tracking-wide ">Bienvenido a FacTEDSOL <span class="text-facted-600  text-base  font-bold ml-1">[LITE]</span></h1>
                </div>
                <div class="hidden md:flex justify-start sm:justify-center mt-5">
                    <p class="text-sm text-center tracking-wide  leading-5">Tu espacio de <span class="text-facted-500 font-medium text-center sm:text-justify">control</span> para tus comprobantes. Disfruta la variedad de <span class="text-facted-500 font-medium">herramientas</span>
                        <br class="hidden md:flex"> las cuales te permitirá llevar a cabo el manejo correcto del envío de comprobantes
                    </p>
                </div>
                <div class="flex text-center pt-8 md:pt-14 justify-center">
                    <img class="hidden sm:flex w-auto md:w-80 md:h-80 object-cover bg-no-repeat" src="assets/img/login/login.svg" alt="">
                </div>
            </div>
        </section>

        <!-- Section de  formulario inicio de seccion -->
        <section class="flex justify-center">
            <div class="flex flex-col bg-white shadow-lg mx-3 sm:mx-2  md:px-8  rounded-2xl py-4 sm:py-5  md:py-10 border  border-gray-400 border-opacity-25  w-full max-w-sm">
                <h2 class="tracking-wide self-center text-lg md:text-xl  text-facted-500 font-medium">Iniciar Sesión</h2>
                <form [formGroup]="form" (ngSubmit)="login()"  class="mt-8 bg-white px-3">
                    <!-- ruc -->
                    <div class="flex flex-col mb-7">
                        <label for="ruc" class="mb-1  font-medium text-sm  text-gray-800">RUC:</label>
                        <div class="relative">
                            <div class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-400">
                                <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 10V2H0V0H4V10H2ZM20 8C20 8.53043 19.7893 9.03914 19.4142 9.41421C19.0391 9.78929 18.5304 10 18 10H14V8H18V6H16V4H18V2H14V0H18C18.5304 0 19.0391 0.210714 19.4142 0.585786C19.7893 0.960859 20 1.46957 20 2V3.5C20 3.89782 19.842 4.27936 19.5607 4.56066C19.2794 4.84196 18.8978 5 18.5 5C18.8978 5 19.2794 5.15804 19.5607 5.43934C19.842 5.72064 20 6.10218 20 6.5V8ZM12 8V10H6V6C6 5.46957 6.21071 4.96086 6.58579 4.58579C6.96086 4.21071 7.46957 4 8 4H10V2H6V0H10C10.5304 0 11.0391 0.210714 11.4142 0.585786C11.7893 0.960859 12 1.46957 12 2V4C12 4.53043 11.7893 5.03914 11.4142 5.41421C11.0391 5.78929 10.5304 6 10 6H8V8H12Z" fill="#EA3E3E"/>
                                </svg>
                            </div>

                            <input  (keypress)="validateruc($event, 11)"
                                    (keydown)="sfn.SoloNumeros( $event )"
                                    id="rucSelect"
                                    class="form-control focus text-sm font-normal"
                                    type="text"
                                    name="ruc"
                                    [class.error] = "rucNovalido"
                                    placeholder="20121342542"
                                    required
                                    formControlName="ruc"
                                    />

                        </div>
                        <!-- utilizar para validar un campo -->
                        <small *ngIf=" rucNovalido " class="flex items-center animated fadeIn font-medium tracking-wide text-red-500 text-xs mt-1 ml-1"> Campo de ruc no válido ! </small>
                    </div>
                    <!-- usuario -->
                    <div class="flex flex-col mb-7">
                        <label for="user" class="mb-1  font-medium text-sm  text-gray-800">Usuario:</label>
                        <div class="relative">
                            <div class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-400">
                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 0C4.9247 0 0 4.9247 0 11C0 17.0753 4.9247 22 11 22C17.0753 22 22 17.0753 22 11C22 4.9247 17.0753 0 11 0ZM11 20.35C9.77207 20.3499 8.55618 20.108 7.42174 19.638C6.28731 19.168 5.25655 18.4792 4.38832 17.6109C3.5201 16.7426 2.8314 15.7117 2.36156 14.5772C1.89172 13.4428 1.64993 12.2268 1.65 10.9989C1.65007 9.77097 1.892 8.55507 2.36198 7.42064C2.83195 6.28621 3.52077 5.25545 4.3891 4.38722C5.25743 3.519 6.28827 2.8303 7.42276 2.36046C8.55725 1.89062 9.77317 1.64883 11.0011 1.6489C13.481 1.64905 15.8593 2.63433 17.6128 4.388C19.3662 6.14167 20.3512 8.52008 20.3511 11C20.351 13.4799 19.3657 15.8582 17.612 17.6117C15.8583 19.3651 13.4799 20.3501 11 20.35ZM11 11.55C7.6582 11.55 4.95 13.4508 4.95 15.4C4.95 17.3492 7.6582 19.25 11 19.25C14.3418 19.25 17.05 17.3492 17.05 15.4C17.05 13.4508 14.3418 11.55 11 11.55ZM11 11C11.8752 11 12.7146 10.6523 13.3335 10.0335C13.9523 9.41458 14.3 8.57521 14.3 7.7C14.3 6.82479 13.9523 5.98542 13.3335 5.36655C12.7146 4.74768 11.8752 4.4 11 4.4C10.1248 4.4 9.28542 4.74768 8.66655 5.36655C8.04768 5.98542 7.7 6.82479 7.7 7.7C7.7 8.57521 8.04768 9.41458 8.66655 10.0335C9.28542 10.6523 10.1248 11 11 11Z" fill="#EA3E3E"/>
                                    </svg>
                            </div>

                            <input  class="form-control focus"
                                    type="text"
                                    name="user"
                                    [class.error]="userNovalido"
                                    required
                                    placeholder="Aurelio20"
                                    formControlName="usuario"
                                    />
                        </div>
                        <!-- utilizar esto para validar -->
                        <small *ngIf="userNovalido" class="flex items-center animated fadeIn font-medium tracking-wide text-red-500 text-xs mt-1 ml-1"> Campo de usuario no válido ! </small>
                    </div>
                    <!-- Contraseña -->
                    <div class="flex flex-col mb-7">
                        <label for="password" class="mb-1  font-medium text-sm  text-gray-800">Contraseña:</label>
                        <div class="relative">
                            <div class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-400">
                                <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M8 0C5.243 0 3 2.243 3 5V8H2C1.46957 8 0.960859 8.21071 0.585786 8.58579C0.210714 8.96086 0 9.46957 0 10V18C0 18.5304 0.210714 19.0391 0.585786 19.4142C0.960859 19.7893 1.46957 20 2 20H14C14.5304 20 15.0391 19.7893 15.4142 19.4142C15.7893 19.0391 16 18.5304 16 18V10C16 9.46957 15.7893 8.96086 15.4142 8.58579C15.0391 8.21071 14.5304 8 14 8H13V5C13 2.243 10.757 0 8 0ZM5 5C5 3.346 6.346 2 8 2C9.654 2 11 3.346 11 5V8H5V5ZM9 15.723V18H7V15.723C6.65039 15.5228 6.36966 15.2213 6.19483 14.8584C6.02 14.4954 5.95928 14.0879 6.02068 13.6898C6.08208 13.2916 6.26272 12.9214 6.53876 12.6279C6.81481 12.3345 7.17332 12.1316 7.567 12.046C7.85942 11.9813 8.16262 11.9832 8.45425 12.0513C8.74587 12.1194 9.01849 12.2521 9.25198 12.4397C9.48548 12.6272 9.67391 12.8647 9.80337 13.1348C9.93283 13.4049 10 13.7005 10 14C9.99943 14.3497 9.90669 14.6932 9.73113 14.9956C9.55557 15.2981 9.30339 15.549 9 15.723Z" fill="#EA3E3E"/>
                                  </svg>
                            </div>
                            <input  class=" form-control focus"
                                    type="password"
                                    name="password"
                                    [class.error] = "passNovadio"
                                    required
                                    placeholder="*************"
                                    formControlName="password"

                                    />
                        </div>
                        <!-- utilizar esto para validar -->
                        <small *ngIf="passNovadio" class="flex items-center animated fadeIn font-medium tracking-wide text-red-500 text-xs mt-1 ml-1"> Contraseña  no válido ! </small>
                    </div>

                    <!-- olvidastes tu contraseña -->


                    <!-- Botn de iniciar sesion -->
                    <div class="flex w-full ">
                        <button type="submit" class="flex items-center justify-center rounded-3xl mx-14 focus:outline-none text-white text-sm sm:text-base font-medium bg-facted-700 hover:bg-facted-600  py-2 w-full transition duration-300 ease-in">
                               Iniciar
                            </button>
                    </div>


                </form>
                <app-mserror [error]="error" [message]="message" ></app-mserror>
            </div>
        </section>
    </main>
</div>


<footer class=" w-full bottom-0 fixed bg-facted-500 ">
    <div class="container mx-auto px-4 py-2">
        <div class="flex flex-wrap items-center md:justify-between justify-center">
            <div class="w-full px-4 justify-center flex items-center">
                <h3 class="text-white  font-medium text-center text-xs md:text-sm">© 2021 Innovated. Todos los derechos reservados.</h3>
            </div>
        </div>
    </div>
</footer>
