
<!-- Siderbar de configuraciones  -->
<aside class="sidebar">
  <ul class="sidebar-nav">
    <!-- Mi cuenta -->
    <li class="sidebar-nav-item">
      <a routerLink="bienvenido" class="sidebar-nav-link  hover:bg-red-100 focus:text-red-600 hover:text-red-600" >
        <div>
          <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
          </svg>
        </div>
        <span class="text-sm font-medium">Inicio</span>
      </a>
    </li>

    <li class="sidebar-nav-item">
      <a routerLink="micuenta" class="sidebar-nav-link  hover:bg-red-100 focus:text-red-600 hover:text-red-600" (click)="toggleTabs(1)" [ngClass]="{'text-gray-800': !openTab1, 'active': openTab1}">
        <div>
          <svg class="h-6 w-6"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
          </svg>
        </div>
        <span class="text-sm font-medium">Mi Cuenta</span>
      </a>
    </li>

    <!-- Usuarios  -->
    <li *ngIf="permiso.usuario"  class="sidebar-nav-item">
      <a  routerLink="usuario" class="sidebar-nav-link hover:bg-red-100 focus:text-red-600 hover:text-red-600" (click)="toggleTabs(2)" [ngClass]="{'text-gray-800': !openTab2, 'active': openTab2}">
        <div>

          <svg class="h-6 w-6"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" />  <circle cx="9" cy="7" r="4" />  <path d="M23 21v-2a4 4 0 0 0-3-3.87" />  <path d="M16 3.13a4 4 0 0 1 0 7.75" /></svg>

        </div>
        <span class="text-sm font-medium">Usuarios</span>
      </a>
    </li>
<!--
    <li   class="sidebar-nav-item">
      <a  routerLink="correos" class="sidebar-nav-link hover:bg-red-100 focus:text-red-600 hover:text-red-600" (click)="toggleTabs(3)" [ngClass]="{'text-gray-800': !openTab3, 'active': openTab3}">
        <div>
          <svg  class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
          </svg>
        </div>
        <span class="text-sm font-medium">Correos</span>
      </a>
    </li> -->

    <!-- Impresion -->
    <li *ngIf="permiso.impresion" class="sidebar-nav-item">
      <a  routerLink="impresion" class="sidebar-nav-link hover:bg-red-100 focus:text-red-600 hover:text-red-600 " (click)="toggleTabs(4)" [ngClass]="{'text-gray-800': !openTab4, 'active': openTab4}">
        <div>
          <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 17h2a2 2 0 002-2v-4a2 2 0 00-2-2H5a2 2 0 00-2 2v4a2 2 0 002 2h2m2 4h6a2 2 0 002-2v-4a2 2 0 00-2-2H9a2 2 0 00-2 2v4a2 2 0 002 2zm8-12V5a2 2 0 00-2-2H9a2 2 0 00-2 2v4h10z" />
          </svg>
        </div>
        <span class="text-sm font-medium">Impresión</span>
      </a>
    </li>

    <!-- Venta -->
    <li *ngIf="permiso.venta"  class="sidebar-nav-item">
      <a  routerLink="venta" class="sidebar-nav-link hover:bg-red-100 focus:text-red-600 hover:text-red-600" (click)="toggleTabs(5)" [ngClass]="{'text-gray-800': !openTab5, 'active': openTab5}">
        <div>
          <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
          </svg>
        </div>
        <span class="text-sm font-medium">Venta</span>
      </a>
    </li>

    <!-- Facturación Sunat -->
    <li *ngIf="permiso.facturacionsunat"  class="sidebar-nav-item">
      <a  routerLink="facturacionsunat" class="sidebar-nav-link hover:bg-red-100 focus:text-red-600 hover:text-red-600 " (click)="toggleTabs(6)" [ngClass]="{'text-gray-800': !openTab6, 'active': openTab6}">
        <div>
          <svg class="w-6 h-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M8 16h8v2H8zm0-4h8v2H8zm6-10H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11z"/></svg>
        </div>
        <span class="text-sm font-medium">Facturación Sunat</span>
      </a>
    </li>

  </ul>
</aside>

<app-modal-error [error]='error' [message]='message' (send)='error = $event' ></app-modal-error>
