<app-loading></app-loading>
<main>
    <!-- TABLA BUSCAR COMPROBANTE -->
    <p class="my-2 text-sm font-medium text-gray-500 uppercase">Listado</p>
    <div class="w-full shadow-lg ">
        <div class="relative h-auto overflow-x-auto overflow-y-auto " style="height: 48vh;">
            <table class="relative w-full whitespace-no-wrap bg-white border-collapse table-auto table-striped">
                <!-- Titulos -->
                <thead class="z-10">
                    <tr class="text-sm font-medium text-left text-black border-b border-gray-200 ">
                        <th class="sticky top-0 w-auto px-5 py-3 font-medium whitespace-nowrap bg-gray-50"> Concepto
                        </th>
                        <th class="sticky top-0 w-auto px-5 py-3 font-medium whitespace-nowrap bg-gray-50">Nombre del
                            Producto </th>
                        <th class="sticky top-0 w-auto px-5 py-3 font-medium whitespace-nowrap bg-gray-50">Uni.Medida
                        </th>
                        <th class="sticky top-0 w-auto px-5 py-3 font-medium whitespace-nowrap bg-gray-50"> Cantidad
                        </th>
                        <th class="sticky top-0 w-auto px-5 py-3 font-medium whitespace-nowrap bg-gray-50"> Precio.Uni
                        </th>
                        <th class="sticky top-0 w-auto px-5 py-3 font-medium whitespace-nowrap bg-gray-50"> Total </th>
                        <th class="sticky top-0 w-auto px-5 py-3 font-medium whitespace-nowrap bg-gray-50"> </th>
                    </tr>
                </thead>
                <!-- Contenido -->
                <tbody>
                    <tr *ngFor="let item of listTable; let i = index;"
                        class="text-xs border-b border-gray-200 cursor-pointer hover:bg-gray-50">
                        <!-- Concepto -->
                        <td class="w-auto px-5 py-1 text-sm font-normal text-gray-900">
                            <!-- [matMenuTriggerFor]="AgregarAnticipo" -->
                            <!-- <span class="text-left whitespace-nowrap">{{ item.concept }}</span> -->

                            <mat-select (selectionChange)="onchangeConcepto(concepto.value, i)" [(value)]="item.concept"
                                        [class.error]="conceptInvalid" 
                                        type="text"
                                        required placeholder="AFECTO" class="w-full sm:mb-1 text-sm  flex items-center border border-gray-300 py-1 rounded px-2 focus"
                                        #concepto
                                        >
                                <mat-option value="Afecto">Afecto</mat-option>
                                <mat-option value="Exonerado">Exonerado</mat-option>
                                <mat-option value="Inafecto">Inafecto</mat-option>
            
                            </mat-select>

                        </td>
                        <!-- Nombre del producto -->
                        <td class="px-5 py-1 text-sm font-normal text-gray-900">
                            <!-- [matMenuTriggerFor]="AgregarAnticipo" -->
                            <!-- <span class="uppercase text-left whitespace-nowrap">{{ item.nameProduct }}</span> -->

                            <!-- NOMBRE PRODUCT -->
                            <!-- <input  #description
                                    type="text"
                                    class="uppercase py-1  px-2  focus:outline-none border-gray-200 border rounded"
                                    (input)="onChangeDescriptionDetails(description.value, i)"
                                    [(value)]="item.nameProduct"
                                    [class.error]="item.nameProduct.length < 3"
                                    > -->
                            <div class="border border-gray-300 rounded px-1"
                                [class.error]="item.nameProduct.length < 3">
                                <textarea   cdkTextareaAutosize
                                            class="uppercase w-full text-xs h-6 focus:outline-none"
                                            #autosize="cdkTextareaAutosize"
                                            cdkAutosizeMinRows="1"
                                            cdkAutosizeMaxRows="5"
                                            required
                                            placeholder="Ingrese la descripción del item"
                                            (input)="onChangeDescriptionDetails(description.value, i)"
                                            [(value)]="item.nameProduct"
                                            #description >
                                </textarea>
                            </div>

                        </td>
                        <!-- Uni. Medida -->
                        <td class="w-auto px-5 py-1 text-sm font-normal text-gray-900">
                            <!-- [matMenuTriggerFor]="AgregarAnticipo" -->
                            <!-- <span class="text-left whitespace-normal">{{ item.unidadM }}</span> -->

                            <mat-select (selectionChange)="onchangeUnidadMedida(UMedida.value, i)" [(value)]="item.unidadM" type="number" name="tipouser" required
                                placeholder="Unidad" class="w-full sm:mb-1 text-sm  border border-gray-300 py-1 flex items-center rounded px-2 focus" #UMedida >
                                <mat-option [value]="item.Abreviatura" *ngFor="let item of listUnidadM">{{
                                    item.Abreviatura }}</mat-option>
                            </mat-select>

                        </td>

                        <!-- Cantidad -->
                        <td class="w-auto px-5 py-1 text-sm font-normal text-gray-900">
                            <div class="relative flex flex-row justify-start w-full rounded-lg h-9">
                                <!-- Boton de resta -->
                                <button data-action="decrement"
                                    (click)="QuantityMinus(item.quantity , item.nameProduct )" type="button"
                                    class="flex items-center justify-center w-10 h-full rounded-l cursor-pointer hover:bg-gray-100 focus:outline-none">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <rect x="0.6" y="0.6" width="18.8" height="18.8" rx="9.4" stroke="#EA3E3E"
                                            stroke-width="1.2" />
                                        <rect x="5" y="9" width="10" height="2" fill="#EA3E3E" />
                                    </svg>
                                </button>
                                <!-- Input numerico -->
                                <input (input)="_changeQuantity(quantity.value, i)" type="number"
                                    class="flex items-center w-10 font-medium text-center text-gray-700 focus:outline-none text-md"
                                    name="custom-input-number" value="{{item.quantity}}" #quantity >
                                <!-- Boton de suma -->
                                <button (click)="QuantityPlus( item.quantity, item.nameProduct )" type="button"
                                    class="flex items-center justify-center w-10 h-full rounded-r cursor-pointer hover:bg-gray-100 focus:outline-none">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <rect x="0.6" y="0.6" width="18.8" height="18.8" rx="9.4" stroke="#EA3E3E"
                                            stroke-width="1.2" />
                                        <path d="M15 9.2H10.8V5H9.2V9.2H5V10.8H9.2V15H10.8V10.8H15V9.2Z"
                                            fill="#EA3E3E" />
                                    </svg>
                                </button>
                            </div>
                        </td>
                        <!-- Precio Unitario -->
                        <td class="w-auto px-5 py-1 text-sm font-normal text-gray-900">
                            <!-- [matMenuTriggerFor]="AgregarAnticipo" -->
                            <!-- <span class="text-left whitespace-nowrap">{{ item.price }}</span> -->
                            <div class="">
                            <input [disabled]="!_token_login.changePrecio" #price type="number"
                                class="uppercase py-1  px-2 flex items-center  focus:outline-none border-gray-200 border rounded"
                                (keypress)="validateKey( $event, 9 )" (input)="onChangePriceDetails(price.value, i)"
                                [(value)]="item.price"
                                [class.error]="item.price === undefined || item.price === null || item.price === '' || item.price < 0 ">
                            </div>

                        </td>
                        <!-- Total -->
                        <td class="w-auto px-5 py-1 text-sm font-normal text-gray-900">
                            <!-- [matMenuTriggerFor]="AgregarAnticipo" -->
                            <div class="w-full">
                                <span class="text-left  w-full">{{ item.total | decimals : pipedecimal }}</span>
                            </div>
                        </td>

                        <!--Boton Eliminar -->
                        <td class="px-5 py-1 text-sm">
                            <div class="flex justify-center">
                                <button (click)="showModalDelete( i )"
                                    class=" flex items-center p-1 px-2 rounded shadow-xs bg-red-50 hover:bg-red-100 focus:outline-none">
                                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="15" cy="15" r="14" stroke="#EA3E3E" stroke-width="2" />
                                        <path
                                            d="M9.81429 20.4444C9.81429 21.3 10.5471 22 11.4429 22H17.9571C18.8529 22 19.5857 21.3 19.5857 20.4444V12.6667C19.5857 11.8111 18.8529 11.1111 17.9571 11.1111H11.4429C10.5471 11.1111 9.81429 11.8111 9.81429 12.6667V20.4444ZM12.3956 14.3544C12.4709 14.2823 12.5604 14.2251 12.6589 14.1861C12.7574 14.1471 12.863 14.127 12.9696 14.127C13.0763 14.127 13.1819 14.1471 13.2804 14.1861C13.3789 14.2251 13.4684 14.2823 13.5437 14.3544L14.7 15.4589L15.8563 14.3544C15.9317 14.2824 16.0212 14.2253 16.1197 14.1863C16.2182 14.1474 16.3237 14.1273 16.4304 14.1273C16.537 14.1273 16.6425 14.1474 16.741 14.1863C16.8395 14.2253 16.929 14.2824 17.0044 14.3544C17.0798 14.4265 17.1396 14.5119 17.1804 14.606C17.2212 14.7001 17.2422 14.8009 17.2422 14.9028C17.2422 15.0046 17.2212 15.1055 17.1804 15.1995C17.1396 15.2936 17.0798 15.3791 17.0044 15.4511L15.8481 16.5556L17.0044 17.66C17.0798 17.732 17.1396 17.8175 17.1804 17.9116C17.2212 18.0057 17.2422 18.1065 17.2422 18.2083C17.2422 18.3102 17.2212 18.411 17.1804 18.5051C17.1396 18.5992 17.0798 18.6847 17.0044 18.7567C16.929 18.8287 16.8395 18.8858 16.741 18.9248C16.6425 18.9637 16.537 18.9838 16.4304 18.9838C16.3237 18.9838 16.2182 18.9637 16.1197 18.9248C16.0212 18.8858 15.9317 18.8287 15.8563 18.7567L14.7 17.6522L13.5437 18.7567C13.4683 18.8287 13.3788 18.8858 13.2803 18.9248C13.1818 18.9637 13.0763 18.9838 12.9696 18.9838C12.863 18.9838 12.7575 18.9637 12.659 18.9248C12.5605 18.8858 12.471 18.8287 12.3956 18.7567C12.3202 18.6847 12.2604 18.5992 12.2196 18.5051C12.1788 18.411 12.1578 18.3102 12.1578 18.2083C12.1578 18.1065 12.1788 18.0057 12.2196 17.9116C12.2604 17.8175 12.3202 17.732 12.3956 17.66L13.5519 16.5556L12.3956 15.4511C12.3201 15.3792 12.2602 15.2937 12.2193 15.1996C12.1785 15.1055 12.1574 15.0046 12.1574 14.9028C12.1574 14.8009 12.1785 14.7 12.2193 14.606C12.2602 14.5119 12.3201 14.4264 12.3956 14.3544ZM17.55 8.77778L16.9719 8.22556C16.8253 8.08556 16.6136 8 16.4019 8H12.9981C12.7864 8 12.5747 8.08556 12.4281 8.22556L11.85 8.77778H9.81429C9.36643 8.77778 9 9.12778 9 9.55556C9 9.98333 9.36643 10.3333 9.81429 10.3333H19.5857C20.0336 10.3333 20.4 9.98333 20.4 9.55556C20.4 9.12778 20.0336 8.77778 19.5857 8.77778H17.55Z"
                                            fill="#EA3E3E" />
                                    </svg>
                                </button>

                            </div>
                        </td>
                    </tr>

                    <!-- <mat-menu #AgregarAnticipo="matMenu" class="flex items-center content-center justify-center">
                        <button (click)="modalAgregarAnticipo()"
                            class="flex items-center w-full px-10 py-2 text-sm font-medium text-center transition duration-300 ease-in focus:outline-none hover:bg-red-50">
                            <span class="pr-3">
                                <svg width="16" height="22" viewBox="0 0 16 22" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M15.4784 5.73591L9.97846 0.235969C9.90925 0.159282 9.82425 0.0985015 9.7293 0.0578106C9.63436 0.0171197 9.53172 -0.00251507 9.42846 0.000257644H1.57141C1.15465 0.000257644 0.754952 0.165816 0.460255 0.460513C0.165559 0.75521 0 1.1549 0 1.57167V20.4286C0 20.8454 0.165559 21.245 0.460255 21.5397C0.754952 21.8344 1.15465 22 1.57141 22H14.1427C14.5595 22 14.9591 21.8344 15.2538 21.5397C15.5485 21.245 15.7141 20.8454 15.7141 20.4286V6.2859C15.7169 6.18264 15.6972 6.08 15.6565 5.98506C15.6159 5.89011 15.5551 5.80511 15.4784 5.73591ZM9.42846 1.88595L13.8284 6.2859H9.42846V1.88595ZM14.1427 20.4286H1.57141V1.57167H7.85705V6.2859C7.85705 6.70266 8.02261 7.10236 8.31731 7.39705C8.612 7.69175 9.0117 7.85731 9.42846 7.85731H14.1427V20.4286Z"
                                        fill="#1C1C1C" />
                                    <path
                                        d="M11.7858 13.3572H8.64294V10.2144H7.07153V13.3572H3.92871V14.9286H7.07153V18.0715H8.64294V14.9286H11.7858V13.3572Z"
                                        fill="#1C1C1C" />
                                </svg>
                            </span>
                            Agregar Anticipo
                        </button>
                    </mat-menu> -->

                </tbody>
            </table>
        </div>

        <!-- PIE DEL FORMULARIO -->
        <div class="flex items-center justify-between p-3 border-t border-gray-200">
            <!-- Items -->
            <div class="flex justify-start">
                <span class="text-sm font-medium text-gray-700">Ítems: <span class="text-gray-800"> {{ listTable.length
                        }}</span></span>
            </div>
            <!-- Total y Continuar -->
            <div class="flex items-center justify-end space-x-10">
                <!-- Total -->
                <span class="text-sm font-medium text-gray-800">Total: <span class="pl-3 text-sm text-red-600 ">{{
                        totales }}</span></span>
                <!-- Continuar -->
                <!-- <button (click)="onShowHide(true)" (click)="continuarModal()" class="text-sm font-medium text-white uppercase transition duration-300 ease-in bg-red-600 rounded btn focus:outline-none hover:bg-red-800"> -->
                <button (click)="continuePrinciapal()"
                    class="text-sm font-medium text-white uppercase transition duration-300 ease-in bg-red-600 rounded btn focus:outline-none hover:bg-red-800">
                    Continuar
                </button>
            </div>
        </div>
    </div>
</main>



<!-- Section 01  Modal de continuar -->
<div *ngIf="ModalContinuar"
    class="fixed  inset-0 z-50 overflow-hidden transition ease-in translate-y-5 duration-800 animated fade-In">
    <div class="absolute inset-0 overflow-hidden">
        <div class="absolute inset-0 transition-opacity bg-gray-500 bg-opacity-40" aria-hidden="true"></div>
        <section
            class="absolute inset-y-0 right-0 flex max-w-full transition-colors duration-500 ease-in sm:max-w-lg animated fadeIn"
            aria-labelledby="slide-over-heading">
            <div class="relative w-screen h-full max-w-3xl">
                <!-- incia  boton cerrar  -->
                <div class="absolute top-0 left-0 flex pt-4 z-50 md:-ml-12 sm:pr-4">
                    <button (click)=" continuePrinciapal()"
                        class="flex items-center px-3 py-2 text-gray-300 bg-red-600 rounded-r-lg md:rounded-l-lg md:rounded-r-none hover:text-white focus:outline-none focus:ring-2 focus:ring-white">
                        <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>

                <!-- ( CONTINUAR : - COMPROBANTE) -->
                <app-cabecerafecha (senDateStart)="getdateSelect( $event )"> </app-cabecerafecha>


                <!-- ( MODAL SECTION 01)-->
                <section [ngClass]="{'hidden': openTab !== 1, 'block': openTab === 1}" class="h-screen animated fadeIn">
                    <form [formGroup]="formSeccionOne" (ngSubmit)="continueToSeccion2(2)"
                        class="flex-col  bg-white shadow-xl  animated fadeIn overflow-y-scroll h-full pb-32">
                        <!-- Componenete de Hora y Fecha -->
                        <!-- TITULO COMPROBATEN -->
                        <h1 class="pt-6 text-sm font-medium text-center text-black uppercase">COMPROBANTE </h1>
                        <!-- FIGURAS DE LINEA -->
                        <div class=" grid grid-cols-3 gap-0 sm:gap-2 p-3 border-b border-gray-200">

                            <!-- Boleta -->
                            <div class="flex justify-center">
                                <a class="flex flex-col justify-center  cursor-pointer" (click)="onClick('03')">
                                    <div class="inline-flex items-center justify-center flex-shrink-0 mb-1 text-gray-500 bg-gray-100 rounded-full w-14 h-14"
                                        [ngClass]="{' bg-red-600': tabBoleta }">
                                        <span class="text-2xl font-bold"
                                            [ngClass]="{' text-white': tabBoleta }">B</span>
                                    </div>
                                    <h2 class="pl-2 text-sm font-medium " [ngClass]="{' text-red-600 ': tabBoleta }">
                                        Boleta</h2>
                                </a>
                            </div>

                            <!-- Factura -->
                            <div class="flex justify-center">
                                <a class="flex flex-col justify-center cursor-pointer " (click)="onClick('01')">
                                    <div class="inline-flex items-center justify-center flex-shrink-0 mb-1 text-gray-500 bg-gray-100 rounded-full w-14 h-14"
                                        [ngClass]="{' bg-red-600 ': tabFactura }">
                                        <span class="text-2xl font-bold uppercase"
                                            [ngClass]="{'text-white': tabFactura }">F</span>
                                    </div>
                                    <h2 class="pl-2 text-sm font-medium text-gray-600"
                                        [ngClass]="{'text-red-600': tabFactura }">Factura</h2>
                                </a>
                            </div>

                            <!-- Nota de Venta -->
                            <div class="flex justify-center">
                                <a class="flex flex-col justify-center  cursor-pointer" (click)="onClick('00')">
                                    <div class="inline-flex items-center justify-center flex-shrink-0 mb-1 text-gray-500 bg-gray-100 rounded-full w-14 h-14"
                                        [ngClass]="{' bg-red-600': tabNotaVenta }">
                                        <span class="text-2xl font-bold uppercase"
                                            [ngClass]="{'text-white': tabNotaVenta }">NV</span>
                                    </div>
                                    <h2 class="text-sm font-medium text-gray-600"
                                        [ngClass]="{'text-red-600': tabNotaVenta }">Nota de venta</h2>
                                </a>
                            </div>
                        </div>



                        <section
                            class="grid w-full grid-cols-1 gap-1  px-8 border-b border-gray-200 md:grid-cols-2 xl:grid-cols-2">
                            <!-- Alias de  la Serie-->
                            <div class="w-full sm:mb-1 col-span-2">
                                <label class=" w-full pb-1 text-sm font-medium text-black ">Alias de serie:</label>
                                <mat-select (selectionChange)="onChangeAlias( $event.value )"
                                    formControlName="aliasSerie" [class.error]="aliasSerieInvalid" type="text"
                                    name="tipouser" required placeholder="Elige Serie"
                                    class="w-full sm:mb-1 text-sm forms-control focus">
                                    <mat-option [value]="item.Descripcion" *ngFor="let item of listTalonario">{{
                                        item.Descripcion }}</mat-option>
                                    <!-- item.NumeroSunat -->
                                </mat-select>

                                <p *ngIf="aliasSerieInvalid" class="text-xs italic text-red-700"> Por favor rellene este
                                    campo.</p>
                            </div>
                            <!-- Serie -->
                            <div class="w-full md:mb-1 col-span-2 md:col-span-1 ">
                                <label class="block w-full pb-1 text-sm font-medium text-black ">Serie:</label>
                                <input type="text" disabled placeholder="BE01"
                                    class="w-full  font-medium sm:mb-1 forms-control focus" [class.error]="serieInvalid"
                                    required formControlName="serie">

                                <p *ngIf="serieInvalid" class="text-xs italic text-red-700"> Por favor rellene este
                                    campo.</p>
                            </div>

                            <!-- Número -->
                            <div class="w-full md:mb-1 col-span-2 md:col-span-1">
                                <label class="block w-full pb-1 text-sm font-medium text-black ">Número:</label>
                                <input type="text" disabled placeholder="21" class="w-full sm:mb-1 forms-control focus"
                                    [class.error]="numberInvalid" required formControlName="number">
                                <p *ngIf="numberInvalid" class="text-xs italic text-red-700"> Por favor rellene este
                                    campo.</p>
                            </div>
                        </section>
                        <!-- TITULO DATOS DEL CLIENTE -->
                        <h1 class="pt-4 text-sm font-medium text-center text-black uppercase">DATOS DEL CLIENTE </h1>
                        <section
                            class="grid w-full grid-cols-1 gap-0 sm:gap-1  px-8 border-b border-gray-200 md:grid-cols-2 xl:grid-cols-3">
                            <!-- Numero de identificación -->
                            <!-- (blur)="onBlurEvent($event)" -->
                            <div class="w-full col-span-2">
                                <label class="block w-full pb-1 text-sm font-medium text-gray-900 ">Número
                                    identificación:</label>
                                <input (keyup.enter)="SearchService();" (keypress)="validateKey( $event, 11 )"
                                    (keydown)="SoloNumeros( $event )" type="text" class="w-full forms-control focus "
                                    [class.error]="nDocumentoInvalid" required formControlName="nDocumento">
                                <p *ngIf="nDocumentoInvalid" class="text-xs italic text-red-700"> Por favor rellene este
                                    campo.</p>

                            </div>
                            <!-- Boton buscar clientes -->
                            <div class="w-full">
                                <button (click)="_SearchClient()" type="button"
                                    class="flex items-center justify-center w-full px-2 py-2 mt-8 text-sm font-medium text-white transition duration-500 ease-in bg-red-600 rounded-md hover:bg-red-800 focus:outline-none ">
                                    <svg class="w-5 h-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2" />
                                    </svg>
                                    <span class="ml-2 text-sm font-medium uppercase"> Clientes</span>
                                </button>
                            </div>

                            <!-- Nombre o denominacion -->
                            <fieldset [disabled]="formSeccionOne.value.nDocumento !== '00000000' "
                                class="w-full col-span-3">
                                <label class="font-medium labelclass">Nombre o Denominación:</label>
                                <input type="text" class=" uppercase w-full forms-control focus "
                                    [class.error]="nameClienteInvalid" required formControlName="nameCliente">

                                <p *ngIf="nameClienteInvalid" class="text-xs italic text-red-700"> Por favor rellene
                                    este campo.</p>
                            </fieldset>

                            <!-- Dirección -->
                            <fieldset [disabled]="formSeccionOne.value.nDocumento !== '00000000' "
                                class="w-full col-span-3">
                                <label class="font-medium labelclass">Dirección:</label>
                                <input type="text" class=" uppercase w-full forms-control focus"
                                    formControlName="addresClient">
                                <!-- <p *ngIf="addresClientInvalid" class="text-xs italic text-red-700"> Por favor rellene este campo.</p> -->
                            </fieldset>
                        </section>
                        <!-- botones -->
                        <div class="flex items-center justify-between gap-2 pt-8 pb-10 mx-5">
                            <!-- volver atras -->
                            <span class="text-sm font-medium text-gray-900">Total: <span class="pl-3 text-red-600">{{
                                    totales }}</span></span>
                            <!-- boton continuar pedido -->
                            <button type="submit" [ngClass]="{'': openTab !== 2, '': openTab === 2}"
                                class="w-40 px-2 py-2 text-sm font-medium text-white uppercase transition duration-500 ease-in bg-red-600 rounded-md hover:bg-red-800 focus:outline-none ">
                                Continuar
                            </button>

                        </div>

                    </form>
                </section>


                <!-- MODAL SECTION 02 -->
                <section [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}" class="h-screen animated fadeIn">

                    <!-- boton de  atras -->
                    <div class="absolute top-0 left-0 flex mt-20 md:-ml-12 sm:pr-4">
                        <button (click)="openTab = 1" [ngClass]="{'': openTab !== 1, '': openTab === 1}"
                            class="flex items-center px-3 py-2 text-gray-300 bg-gray-800 rounded-r-lg md:rounded-l-lg md:rounded-r-none hover:text-white focus:outline-none focus:ring-2 focus:ring-white">
                            <svg class=" w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>

                    <!-- e.keyCode == 13 -->
                    <form (keydown.enter)="$event.preventDefault()" [formGroup]="formSecciontwo" (ngSubmit)="SaveSale()"
                        class="flex-col w-full  bg-white shadow-xl overflow-y-scroll h-full pb-10">

                        <!-- SECCION DE DATOS DE PAGO -->
                        <section
                            class="grid w-full grid-cols-1 gap-x-4 p-4 px-8 pt-5 border-b border-gray-200 md:grid-cols-2">
                            <!-- Tipo pago -->
                            <div class="w-full md:mb-2">
                                <label class="text-sm font-medium labelclass">Tipo de Pago:</label>
                                <mat-select (selectionChange)="onChangeTipopago( $event.value )"
                                    formControlName="tipopago" [class.error]="tipopagoInvalid" type="text"
                                    name="tipouser" required placeholder="Elige Tipo Pago"
                                    class="w-full sm:mb-1 text-sm  forms-control focus">
                                    <mat-option [value]="item.Clave" *ngFor="let item of listTipoPago"> {{
                                        item.TipoPago }} </mat-option>
                                </mat-select>
                                <p *ngIf="tipopagoInvalid" class="text-xs italic text-red-700"> Por favor rellene este
                                    campo.</p>
                            </div>

                            <!-- Moneda -->
                            <div class="w-full md:mb-2">
                                <label class="text-sm font-medium labelclass">Moneda:</label>
                                <mat-select (selectionChange)="onChangeMoneda( $event.value )"
                                    formControlName="tipomoneda" [class.error]="tipomonedaInvalid" type="text"
                                    name="tipouser" required placeholder="Elige Serie"
                                    class="w-full sm:mb-1 text-sm f forms-control focus">
                                    <mat-option [value]="item.Codigo" *ngFor="let item of listMoneda">{{
                                        item.NombreMoneda }} - {{ item.Codigo }} </mat-option>
                                </mat-select>
                                <p *ngIf="tipomonedaInvalid" class="text-xs italic text-red-700"> Por favor rellene este
                                    campo.</p>
                            </div>


                            <!-- Tipo de cambio  -->
                            <div class="w-full md:mb-2">
                                <label class="text-sm font-medium labelclass">Tipo de Cambio:</label>
                                <div class="flex items-center">

                                    <input type="number" placeholder="$24.50"
                                        class="w-full sm:mb-1 text-sm forms-control focus"
                                        [class.error]="tipocambioInvalid" required disabled
                                        formControlName="tipocambio">

                                    <p *ngIf="tipocambioInvalid" class="text-xs italic text-red-700"> Por favor rellene
                                        este campo.</p>

                                    <div *ngIf="this.formSecciontwo.value.tipomoneda === 'USD'">
                                        <button (click)="_showTipocambio()" type="button"
                                            class="flex justify-center w-10 p-2 rounded-md focus:outline-none hover:bg-gray-50">
                                            <svg class="w-6 h-6 text-gray-500" xmlns="http://www.w3.org/2000/svg"
                                                fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                                            </svg>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </section>

                       

                        <section *ngIf="tpPago === 'CREDITO'" class="w-full px-2">
                            <span class="flex justify-end text-right text-sm text-gray-900 font-medium"> Cuota restante:
                                <span class="pl-2 text-red-500 font-medium">{{ cuotaRestante | currency : typeCoin
                                    }}</span></span>
                            <h1 class="text-gray-800 font-medium text-sm ">Cuotas</h1>

                            <table
                                class="relative w-full whitespace-no-wrap bg-white border-collapse table-auto table-striped">
                                <!-- Titulos -->
                                <thead class="z-10">
                                    <tr class="text-sm font-medium text-left text-black border-b border-gray-200 ">
                                        <th
                                            class="sticky top-0 w-auto px-2 py-1 font-medium whitespace-nowrap bg-gray-50">
                                            Nº </th>
                                        <th
                                            class="sticky top-0 w-auto px-2 py-1 font-medium whitespace-nowrap bg-gray-50">
                                            F. de Venc </th>
                                        <th
                                            class="sticky top-0 w-auto px-2 py-1 font-medium whitespace-nowrap bg-gray-50">
                                            Importe </th>
                                        <th
                                            class="sticky top-0 w-auto px-2 py-1 font-medium whitespace-nowrap bg-gray-50">
                                            # </th>
                                        <th
                                            class="sticky top-0 w-auto px-2 py-1 font-medium whitespace-nowrap bg-gray-50">
                                        </th>
                                    </tr>
                                </thead>
                                <!-- Contenido -->
                                <tbody formArrayName="cuotas">
                                    <tr *ngFor="let control of cuotas.controls; let i = index;" [formGroupName]="i"
                                        class="text-xs border-b border-gray-200 cursor-pointer hover:bg-gray-50">

                                        <td class="w-auto px-2 py-1 text-sm font-normal text-gray-900">
                                            <span class="text-left whitespace-nowrap"> {{ i + 1 }} </span>
                                        </td>

                                        <!-- Fecha de  vencimiento -->
                                        <td class=" w-auto px-2 py-1 text-sm font-normal text-gray-900">
                                            <div class="flex w-auto  px-2  rounded ">
                                                <input
                                                    class="w-24 px-2 py-1 text-sm placeholder-gray-500 bg-white relative  focus:outline-none"
                                                    [class.error]="cuotas.controls[i].get('fecha').invalid && cuotas.controls[i].get('fecha').touched"
                                                    name="fechaemision" placeholder="01/01/2021"
                                                    [matDatepicker]="fechaemision" [min]="minDate" required
                                                    formControlName="fecha" readonly>

                                                <mat-datepicker #fechaemision disabled="false"> </mat-datepicker>
                                                <button type="button" (click)="fechaemision.open()"
                                                    class=" flex  items-center justify-center w-10  p-1 transition duration-300 ease-in border-white rounded-full cursor-pointer focus:outline-none">
                                                    <svg class="w-5 h-5 text-gray-900 fill-current"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                                        focusable="false" width="1em" height="1em"
                                                        style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
                                                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                                        <path
                                                            d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z" />
                                                        <path
                                                            d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z" />
                                                    </svg>
                                                </button>
                                            </div>
                                        </td>
                                        <!-- Moneda  -->
                                        <!-- <td class="w-auto  px-2 py-1 text-sm font-normal text-gray-900">
                                                  <div class="w-24 md:mb-2">
                                                    <mat-select required
                                                                type="text"
                                                                name="moneda"
                                                                placeholder="Soles"
                                                                class="w-full sm:mb-1 text-sm py-1 focus:outline-none"
                                                                formControlName="moneda"
                                                                >
                                                        <mat-option value="DNI">Soles</mat-option>
                                                        <mat-option value="dolares">Dolares</mat-option>
                                                      </mat-select>
                                                  </div>
                                                </td> -->

                                        <!-- Monto -->
                                        <td class="w-auto px-2 py-1 text-sm font-normal text-gray-900">
                                            <div class="w-20 mb-1 md:mb-2">
                                                <!-- (blur)="onBlurCuotaRestante($event)" -->
                                                <input (keypress)="validateKey( $event, 9 )"
                                                    (keydown)="SoloNumeros( $event )" min="0"
                                                    (input)="onBlurCuotaRestante(i)"
                                                    class="py-1  w-full focus:outline-none mb-1"
                                                    [class.error]="cuotas.controls[i].get('monto').invalid && cuotas.controls[i].get('monto').touched"
                                                    type="number" name="monto" placeholder="0.00" required
                                                    formControlName="monto">
                                            </div>
                                        </td>

                                        <!--Boton Eliminar -->
                                        <td class="px-2 py-1 text-sm">
                                            <div class="flex justify-center">
                                                <button (click)="quitarCuota(i)" type="button"
                                                    class=" flex items-center p-1 px-2  focus:outline-none">
                                                    <svg class="w-6 h-6 text-red-600" xmlns="http://www.w3.org/2000/svg"
                                                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            stroke-width="2"
                                                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                                    </svg>
                                                </button>

                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <button (click)="AgregarCuotas()" type="button"
                                class="w-full py-1 px-2 flex bg-green-500 items-center justify-center focus:outline-none">
                                <svg class="h-6 w-6 text-white" width="24" height="24" viewBox="0 0 24 24"
                                    stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" />
                                    <line x1="12" y1="5" x2="12" y2="19" />
                                    <line x1="5" y1="12" x2="19" y2="12" />
                                </svg>
                            </button>


                        </section>


                        <!-- SECCION DE ACORDION DE VINCULAR DOCUMENTACIÓN Y DETRACCIÓN -->
                        <mat-accordion class="mt-8">
                            <!-- Vincular Documentación -->

                            <mat-expansion-panel *ngIf="guiasYotros"
                                class="w-full text-gray-900 border-b border-gray-300" (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header class="text-gray-800">
                                    <mat-panel-title
                                        class="flex justify-center text-sm font-medium text-center text-gray-900 uppercase">
                                        VINCULAR DOCUMENTO
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <section
                                    class="grid w-full grid-cols-1 gap-x-3  md:grid-cols-3 md:px-2 xl:px-2 2xl:px-4">
                                    <!-- Guia del Remitente -->
                                    <div class="col-span-3 w-full ">
                                        <label class="labelclass">Guía Remitente:</label>
                                        <mat-chip-list class=" md:mb-2  flex flex-wrap  forms-control focus" #chipList
                                            aria-label="Fruit selection">
                                            <mat-chip class="text-sm bg-gray-200  text-gray-900 font-normal"
                                                *ngFor="let guia of  listGuiaRemitente" [selectable]="selectable"
                                                [removable]="removable" (removed)="remove(guia)">
                                                {{guia}}
                                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                            </mat-chip>
                                            <input class="focus:outline-none" placeholder="Ingresa Guia..."
                                                [matChipInputFor]="chipList"
                                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="add($event)">
                                        </mat-chip-list>
                                    </div>

                                    <!-- Or. Compra -->
                                    <div class="col-span-2 md:col-span-1 w-full md:mb-2">
                                        <label class="labelclass">Or. Compra:</label>
                                        <input (keyup.enter)="onfocus('focusGuiaTrans')" type="text"
                                            placeholder="Ingrese Número" class="w-full sm:mb-1 forms-control focus"
                                            formControlName="ordenCompra">
                                        <!-- <p class="text-xs italic text-red-700"> Por favor rellene este campo.</p> -->
                                    </div>
                                    <!-- Guia Transporte -->
                                    <div class="col-span-1 w-full md:mb-2">
                                        <label class="labelclass">Guía Transp:</label>
                                        <input (keyup.enter)="onfocus('focusPlaca')" id="focusGuiaTrans" type="text"
                                            placeholder="Ingrese Guia" class="w-full sm:mb-1 forms-control focus"
                                            formControlName="guiaTransp">
                                        <!-- <p class="text-xs italic text-red-700"> Por favor rellene este campo.</p> -->
                                    </div>
                                    <!-- Placa -->
                                    <div class="col-span-1 w-full md:mb-2">
                                        <label class="labelclass">Placa:</label>
                                        <input (keyup.enter)="onfocus('focusObservacion')" id="focusPlaca" type="text"
                                            placeholder="Ingrese Placa" class="w-full sm:mb-1 forms-control focus"
                                            formControlName="placa">
                                        <!-- <p class="text-xs italic text-red-700"> Por favor rellene este campo.</p> -->
                                    </div>
                                    <!-- Observaciones -->
                                    <div class="w-full col-span-3 md:mb-2">
                                        <label class="labelclass">Observaciones:</label>
                                        <textarea id="focusObservacion" class="w-full forms-control focus"
                                            placeholder="Escribe algo aquí..." formControlName="observacion"></textarea>
                                        <!-- <p class="text-xs italic text-red-700"> Por favor rellene este campo.</p> -->
                                    </div>
                                </section>
                            </mat-expansion-panel>

                            <!-- Detraccion -->
                            <mat-expansion-panel *ngIf="verDetraccion"
                                class="w-full text-gray-900 border-b border-gray-300 animated fadeIn"
                                (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                <!-- Titulo     -->
                                <mat-expansion-panel-header class="text-gray-800">
                                    <mat-panel-title
                                        class="flex justify-center text-sm font-medium text-center text-gray-900 uppercase">
                                        DETRACCIÓN </mat-panel-title>
                                </mat-expansion-panel-header>
                                <!-- Contenido -->
                                <section class="grid w-full grid-cols-1 gap-2  md:grid-cols-2 md:px-2 xl:px-4 2xl:px-8">
                                    <!-- Medio de Pago -->
                                    <div class="w-full col-span-2">

                                        <label class="labelclass">Medio Pago:</label>
                                        <mat-select formControlName="medioPago" [class.error]="medioPagoInvalid"
                                            type="text" name="medioPago" required placeholder="Seleccione una opción"
                                            class="w-full sm:mb-1 text-sm  forms-control focus">
                                            <mat-option [value]="item.Clave" *ngFor="let item of listMediopago">
                                                {{ item.MedioPago }}</mat-option>
                                        </mat-select>

                                        <p *ngIf="medioPagoInvalid" class="text-xs italic text-red-700"> Por favor
                                            rellene este campo.</p>

                                    </div>

                                    <!-- Porcentaje -->
                                    <div class="w-full col-span-1">
                                        <label class="labelclass">Porcentaje:</label>
                                        <input (keypress)="validateKey( $event, 4 )"
                                            (keyup.enter)="onfocus('focusMontodetrac')" (input)="calculatePorcentaje()"
                                            type="number" placeholder="%" class="w-full forms-control focus "
                                            formControlName="porcentaje">
                                        <!-- <p class="text-xs italic text-red-700"> Por favor rellene este campo.</p> -->
                                    </div>
                                    <!-- Monto Detracción -->
                                    <div class="w-full col-span-1">
                                        <label class="labelclass">Monto Detracción:</label>
                                        <input disabled id="focusMontodetrac" type="number" placeholder="0.00"
                                            class="w-full forms-control focus " formControlName="montoDetrac">
                                        <!-- <p class="text-xs italic text-red-700"> Por favor rellene este campo.</p> -->
                                    </div>
                                </section>
                            </mat-expansion-panel>

                        </mat-accordion>


                         <!-- Seleccionar un modo ((con o sin IGV)) -->
                         <section class="w-full bg-gray-100 py-2 flex justify-center items-center pb-2">                          
                            <mat-radio-group class="grid grid-cols-2 space-x-8 text-sm font-medium" formControlName="conimpuesto" >
                                <mat-radio-button (change)="amount_calculate($event.value)"  [value]="true" >Con IGV</mat-radio-button>
                                <mat-radio-button (change)="amount_calculate($event.value)"  [value]="false" >Sin IGV</mat-radio-button>
                             </mat-radio-group>
                        </section>
                        
                        
                        <!-- RESUMEN -->
                        <h1 class="pt-4 text-sm sm:text-base font-medium text-center text-black uppercase">RESUMEN</h1>
                        <section *ngIf="vermas"
                            class=" md:px-2 space-y-1 px-3 xl:px-4 2xl:px-8 animated fadeIn transition duration-1000 ease-in">
                            <!-- Titulo -->
                            <!-- Anticipo -->
                            <!-- <div class="flex justify-between text-sm font-normal  text-gray-900">
                                <span>Anticipo:</span>
                                <span>{{ cpe.anticipo | currency : typeCoin }}</span>
                            </div> -->

                            <!-- Subtotal -->
                            <div class="flex justify-between text-sm font-medium text-black">
                                <span>Subtotal:</span>
                                <span>{{ cpe.subtotal | currency : typeCoin }}</span>
                            </div>

                            <!-- Inafecto -->
                            <div class="flex justify-between text-sm  font-normal text-gray-900">
                                <span>Inafecto: </span>
                                <span>{{ cpe.inafecto | currency : typeCoin }}</span>
                            </div>
                            <!-- Inafecto -->
                            <div class="flex justify-between text-sm  font-normal text-gray-900">
                                <span>Exonerado: </span>
                                <span>{{ cpe.exonetada | currency : typeCoin }}</span>
                            </div>

                        </section>
                        <section class=" space-y-1 md:px-2 py-1 px-3 xl:px-4 2xl:px-8">
                            <!-- IGV -->
                            <div class="flex justify-between text-sm font-medium text-black">
                                <span>IGV:</span>
                                <span>{{ cpe.igv | currency : typeCoin }}</span>
                            </div>

                            <!-- Afecto -->
                            <div class="flex justify-between text-sm font-medium text-black">
                                <span>Afecto: </span>
                                <span>{{ cpe.afecto | currency : typeCoin }}</span>
                            </div>
                            <!-- Total -->
                            <div class="flex justify-between text-sm font-medium text-red-600">
                                <span>TOTAL:</span>
                                <span>{{ cpe.total | currency : typeCoin }}</span>
                            </div>
                        </section>
                        <!-- botton de ver mas -->
                        <a (click)="resumenvermas()"
                            class="text-sm font-medium hover:bg-red-50 cursor-pointer underline text-red-600 flex justify-center">
                            {{ txtBtnTotal }}</a>

                        <!-- CHECK NO IMPRIMIR Y BOTON CONTINUAR -->
                        <div class="space-y-1 md:px-2 py-1 pt-8 xl:px-4 2xl:px-8 pb-20">
                            <div class="flex items-center justify-between space-x-3">
                                <!-- Check no imprimir   -->

                                <!-- <label class="inline-flex items-center mt-3 w-full">
                                    <input type="checkbox"
                                        class="form-checkbox border border-gray-700 text-sm  h-5 w-5 text-red-600 rounded"
                                        checked><span class="ml-2 text-gray-700  text-sm">No Imprimir</span>
                                </label> -->

                                <!-- Boton Guardar -->
                                <button type="submit"
                                    class=" w-full px-5 py-2 text-sm font-medium text-white cursor-pointer uppercase transition duration-500 ease-in bg-red-600 rounded-md hover:bg-red-800 focus:outline-none ">
                                    GUARDAR
                                </button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </section>
    </div>
</div>




<!-- <app-alert [alert]='success' [mensage]='message'></app-alert> -->
<app-modalsuccess [success]="success" [message]="message"> </app-modalsuccess>
<app-modaldelete [error]='delete' [mesage]='message' (Send)='delete = $event' (SendDelete)='deleteItemProd( $event )'>
</app-modaldelete>
<app-modal-error [error]='error' [message]='message' [cnn_expi]='cnn_expi' (send)='error = $event'></app-modal-error>