<main class="w-full max-w-lg gap-4">
 <div class="flex justify-between  items-center border-b border-gray-200 pb-2 ">
  <h2 class="text-red-600 text-sm font-medium">Asignar Permisos  usuarios</h2>
  <button mat-dialog-close class="p-1 ml-5 rounded-full border border-gray-200 hover:bg-red-50  transition duration-300 ease-in focus:outline-none">
<svg class="w-6 h-6  text-gray-900" fill="none" stroke="currentColor" viewBox="0 0 24 24"
  xmlns="http://www.w3.org/2000/svg">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
</svg>
</button>
</div>

<!-- Nombre del usuario -->
 <label class="py-3">
   <h2 class="text-sm font-medium text-gray-700">Usuario</h2>
   <span class="text-sm font-normal">{{ data.trabajador }}</span>
 </label>
 
 <section class="w-full flex-col h-96 overscroll-auto">
  <label *ngFor="let item of listPermisos" class="border border-gray-200 hover:bg-gray-200 flex items-center  justify-between cursor-pointer py-2 px-4">
    <!-- <span class="text-sm font-normal text-gray-600 pr-5 pt-2">{{ item.DescripcionWeb }}</span> -->
    <span class="ml-2 text-gray-700 text-xs  xl:text-sm">  {{ item.DescripcionWeb }} </span>
    <input  type="checkbox"
    name="usuario"
    class="form-checkbox cursor-pointer border border-gray-500 rounded-md h-5 w-5  focus:border-red-600  text-red-600"
    [value]= " item.Seleccionar "
    [ngModel]="item.Seleccionar"
    (ngModelChange)="onChange( item.DescripcionWeb , $event)"
    >
  </label> 

  <div class="pt-4">
    <button (click)="Save()"  class="text-white bg-red-600 focus:outline-none text-sm py-2  w-full">Asignar</button>

  </div>

 </section>
</main>



<app-modal-error [error]='error' [message]='message' [cnn_expi]='cnn_expi' (send)='error = $event'></app-modal-error>