<app-loading> </app-loading>

<form [formGroup]="form" (ngSubmit)="Save()">
  <div class="w-full md:mb-2">
    <label class="labelclass">Nombre</label>
    <input type="text" placeholder="Ingrese un nombre" class="forms-control w-full text-sm focus"
      [class.error]="nameInvalid" required formControlName="name">
    <p *ngIf="nameInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
  </div>

  <div class="w-full md:mb-2" [ngClass]="{'hidden': data.operation.toUpperCase() !== 'UNIDAD DE MEDIDA' }" >
    <label class="labelclass">Abreviatura</label>
    <input  type="text"
            placeholder="Ingrese una Abreviatura"
            class="forms-control w-full text-sm focus"
            [class.error]="ApodoInvalid"
            required
            formControlName="apodo"
            >


    <p *ngIf="ApodoInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>

  </div>

  <div class="flex items-center justify-center p-4">
    <button
      class=" text-white border border-solid border-red-500 bg-red-500   font-medium uppercase text-sm px-6 py-2 rounded outline-none focus:outline-none mr-2 mb-1"
      type="submit" style="transition: all .15s ease">
      Guardar

    </button>

    <button mat-dialog-close
      class="text-red-500 bg-transparent border border-solid border-red-500 hover:bg-red-500 hover:text-white active:bg-red-600  font-medium uppercase text-sm px-6 py-2 rounded outline-none focus:outline-none mr-1 mb-1"
      type="button" style="transition: all .15s ease">
      Cancelar
    </button>
  </div>

</form>

<app-modal-error [error]='error' [message]='message' [cnn_expi]='cnn_expi' (send)='error = $event'></app-modal-error>