<div class="items-center hidden px-2 space-x-2 md:flex-1 md:flex md:mr-auto md:ml-5">

  <div class="flex flex-col">
    <!-- search icon -->
    <span class="flex items-center">
      <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.689 13.7501L8.64282 7.7779C8.75485 7.68164 8.84478 7.56222 8.90643 7.42785C8.96808 7.29348 9 7.14733 9 6.99944C9 6.85154 8.96808 6.70539 8.90643 6.57102C8.84478 6.43665 8.75485 6.31724 8.64282 6.22097L1.689 0.248751C1.02525 -0.321213 0 0.151336 0 1.02722V12.9734C0 13.8492 1.02525 14.3218 1.689 13.7501Z" fill="#EA3E3E"/>
        </svg>
        <h2 class="text-base font-medium uppercase pl-1"> {{titleheader === null ? 'Venta Rápida' :titleheader}}</h2>
    </span>
    <h3 class="text-sm text-gray-700 pl-1">{{titleparrafo  === null ? 'Lorem ipsum dolor sit amet, consectetur.' : titleparrafo}} </h3>
  </div>
</div>
