<div class="example-table-container example-container ">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8 shadow-md px-10 relative w-full whitespace-no-wrap bg-white border-collapse table-auto table-striped">
        <ng-container *ngFor="let columna of columns" matColumnDef="{{ columna.titulo }}">
            <th class="sticky top-0 bg-gray-100 text-sm text-left z-10 text-gray-800 font-medium  whitespace-nowrap" [ngClass]="{'hidden': columna.titulo.toUpperCase().substring( 0, 2 ) === 'ID' || ( columna.titulo === 'Eliminar' && !dataTheDB || columna.titulo === 'NombreDocumento' && !dataTheDB || columna.titulo === 'Telefono' && !dataTheDB || columna.titulo === 'ReferenciaDireccion' && !dataTheDB  ) }"
                mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-checkbox *ngIf='verSeleccionado && columna.titulo == "Marcar"' (change)='MarcarDescargar($event)'></mat-checkbox>
                {{ columna.titulo === 'Marcar' ? '' : columna.titulo }}
            </th>

            <td class=" mr-2 text-sm  whitespace-nowrap " mat-cell *matCellDef="let element" [ngClass]="{'hidden': columna.titulo.toUpperCase().substring( 0, 2 ) === 'ID' || ( columna.titulo === 'Eliminar' && !dataTheDB || columna.titulo === 'NombreDocumento' && !dataTheDB || columna.titulo === 'Telefono' && !dataTheDB || columna.titulo === 'ReferenciaDireccion' && !dataTheDB  ) }">

                {{ columna.titulo === 'Sunat' || columna.titulo === 'Reimprimir' || columna.titulo === 'CambiarPrecio' || columna.titulo === 'Admin' || columna.titulo === 'Marcar' ? '' : element[columna.titulo] }}

                <div *ngIf="dataTheDB">

                    <mat-checkbox [(ngModel)]="element['Marcar']" *ngIf='verSeleccionado && columna.titulo == "Marcar"' (change)="Prueba($event)"></mat-checkbox>

                    <!-- error exitoso -->
                    <svg *ngIf="columna.titulo === 'Sunat' && element['Cliente']  == 'ANULADO' && element['IDEnviado'] && element['IDAnuladoEnviado']" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.75 20.16L14 17.16L15.16 16L16.75 17.59L20.34 14L21.5 15.41L16.75 20.16ZM9 13H11V15H9V13ZM9 5H11V11H9V5ZM10 0C15.5 0 20 4.5 20 10L19.92 11.31C19.31 11.11 18.67 11 17.94 11L18 10C18 5.58 14.42 2 10 2C5.58 2 2 5.58 2 10C2 14.42 5.58 18 10 18C10.71 18 11.39 17.91 12.05 17.74C12.13 18.42 12.33 19.06 12.62 19.65C11.78 19.88 10.9 20 10 20C4.47 20 0 15.5 0 10C0 4.5 4.47 0 10 0Z" fill="#2D9CED"/>
                  </svg>

                    <!-- <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.75 20.16L14 17.16L15.16 16L16.75 17.59L20.34 14L21.5 15.41L16.75 20.16ZM9 13H11V15H9V13ZM9 5H11V11H9V5ZM10 0C15.5 0 20 4.5 20 10L19.92 11.31C19.31 11.11 18.67 11 17.94 11L18 10C18 5.58 14.42 2 10 2C5.58 2 2 5.58 2 10C2 14.42 5.58 18 10 18C10.71 18 11.39 17.91 12.05 17.74C12.13 18.42 12.33 19.06 12.62 19.65C11.78 19.88 10.9 20 10 20C4.47 20 0 15.5 0 10C0 4.5 4.47 0 10 0Z" fill="#2D9CED"/>
                  </svg> -->

                    <!-- exito -> enviado -->
                    <svg *ngIf="columna.titulo === 'Sunat' && element['Cliente'] !== 'ANULADO' && element['IDEnviado']
                  || (columna.titulo === 'Reimprimir' && element['Reimprimir'])
                  || (columna.titulo === 'CambiarPrecio' && element['CambiarPrecio'])
                  || (columna.titulo === 'Admin' && element['Admin'])" width="20" height="20" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7 12L10 15L15 9" stroke="#01B647" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M11 21.5C16.5228 21.5 21 17.0228 21 11.5C21 5.97715 16.5228 1.5 11 1.5C5.47715 1.5 1 5.97715 1 11.5C1 17.0228 5.47715 21.5 11 21.5Z" stroke="#01B647" stroke-width="2"/>
                  </svg>

                    <!-- Anulado - Enviado pero no Enviado anulado -->
                    <svg *ngIf="columna.titulo === 'Sunat' && element['Cliente'] == 'ANULADO' && !element['IDAnuladoEnviado'] && element['IDEnviado']" width="20" height="20" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10 0C4.5 0 0 4.5 0 10C0 15.5 4.5 20 10 20C15.5 20 20 15.5 20 10C20 4.5 15.5 0 10 0ZM10 2.22222C11.7222 2.22222 13.3333 2.83333 14.6667 3.77778L3.77778 14.6667C2.83333 13.3333 2.22222 11.7222 2.22222 10C2.22222 5.72222 5.72222 2.22222 10 2.22222ZM10 17.7778C8.27778 17.7778 6.66667 17.1667 5.33333 16.2222L16.2222 5.33333C17.1667 6.66667 17.7778 8.27778 17.7778 10C17.7778 14.2778 14.2778 17.7778 10 17.7778Z" fill="#EC7A7A"/>
                  </svg>

                    <!-- error -> no enviado -->
                    <svg *ngIf="columna.titulo === 'Sunat' && !element['IDEnviado']
                    || (columna.titulo === 'Reimprimir' && !element['Reimprimir'])
                    || (columna.titulo === 'CambiarPrecio' && !element['CambiarPrecio'])
                    || (columna.titulo === 'Admin' && !element['Admin'])" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10 0C4.5 0 0 4.5 0 10C0 15.5 4.5 20 10 20C15.5 20 20 15.5 20 10C20 4.5 15.5 0 10 0ZM10 2.22222C11.7222 2.22222 13.3333 2.83333 14.6667 3.77778L3.77778 14.6667C2.83333 13.3333 2.22222 11.7222 2.22222 10C2.22222 5.72222 5.72222 2.22222 10 2.22222ZM10 17.7778C8.27778 17.7778 6.66667 17.1667 5.33333 16.2222L16.2222 5.33333C17.1667 6.66667 17.7778 8.27778 17.7778 10C17.7778 14.2778 14.2778 17.7778 10 17.7778Z" fill="#EC7A7A"/>
                  </svg>

                    <!-- img (Termino Reporte Admin) -->
                    <!--  butons - usuario - eliminar y editar  -->

                    <button (click)="enventOperation( columna.titulo, element['ID'] )" type="button" class="p-1 focus:outline-none flex items-center content-center justify-items-center rounded hover:bg-gray-100">
                        <img *ngIf="columna.titulo === 'Eliminar'" class="w-7 h-7"
                            src="assets/img/config/eliminar.svg" alt="eliminar">
                        <img *ngIf="columna.titulo === 'Editar'" class="w-6 h-6"
                            src="assets/img/config/editar.svg" alt="editar">
                    </button>
                </div>

                <!-- hasta aqui -->

                <!-- los que no vienen de base -->

                <div *ngIf="!dataTheDB && columna.titulo === 'Editar' " class="flex justify-center">
                    <button (click)="_EventAgregar( element['ID'] )" mat-dialog-close class="py-2 px-6  text-sm font-medium  text-white  bg-red-600 hover:bg-red-800 transition duration-500 ease-in focus:outline-none rounded ">Agregar</button>
                </div>
                <!-- hasta aqui -->

            </td>

        </ng-container>

        <tr class="whitespace-nowrap " mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr (contextmenu)="open($event, row); $event.preventDefault();" [class.bg-green-100]="row === selectedRow" class="whitespace-nowrap hover:bg-gray-100" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <ng-template #userMenu let-user>
        <div class="flex flex-col">
            <section class="user-menu py-2">


                <button *ngIf="clickDerecho" (click)=" sendDetails()" class="flex items-center w-full px-10 p-2 text-sm font-medium text-center transition duration-300 ease-in focus:outline-none hover:bg-red-50">
                    <span class="pr-3">
                        <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M19.4069 12.5266H7.4069C7.23009 12.5266 7.06052 12.5968 6.9355 12.7219C6.81047 12.8469 6.74023 13.0165 6.74023 13.1933C6.74023 13.3701 6.81047 13.5397 6.9355 13.6647C7.06052 13.7897 7.23009 13.8599 7.4069 13.8599H19.4069C19.5837 13.8599 19.7533 13.7897 19.8783 13.6647C20.0033 13.5397 20.0736 13.3701 20.0736 13.1933C20.0736 13.0165 20.0033 12.8469 19.8783 12.7219C19.7533 12.5968 19.5837 12.5266 19.4069 12.5266Z"
                                fill="black" />
                            <path
                                d="M6.74023 9.19328C6.74023 9.37009 6.81047 9.53966 6.9355 9.66468C7.06052 9.78971 7.23009 9.85994 7.4069 9.85994H19.4069C19.5837 9.85994 19.7533 9.78971 19.8783 9.66468C20.0033 9.53966 20.0736 9.37009 20.0736 9.19328C20.0736 9.01647 20.0033 8.8469 19.8783 8.72187C19.7533 8.59685 19.5837 8.52661 19.4069 8.52661H7.4069C7.23009 8.52661 7.06052 8.59685 6.9355 8.72187C6.81047 8.8469 6.74023 9.01647 6.74023 9.19328Z"
                                fill="black" />
                            <path
                                d="M16.7402 16.5266H7.4069C7.23009 16.5266 7.06052 16.5968 6.9355 16.7219C6.81047 16.8469 6.74023 17.0165 6.74023 17.1933C6.74023 17.3701 6.81047 17.5397 6.9355 17.6647C7.06052 17.7897 7.23009 17.8599 7.4069 17.8599H16.7402C16.917 17.8599 17.0866 17.7897 17.2116 17.6647C17.3367 17.5397 17.4069 17.3701 17.4069 17.1933C17.4069 17.0165 17.3367 16.8469 17.2116 16.7219C17.0866 16.5968 16.917 16.5266 16.7402 16.5266Z"
                                fill="black" />
                            <path
                                d="M9.33333 4.52667C9.33333 4.34986 9.2631 4.18029 9.13807 4.05526C9.01305 3.93024 8.84348 3.86 8.66667 3.86H5.40667V0.666667C5.40667 0.489856 5.33643 0.320286 5.2114 0.195262C5.08638 0.0702379 4.91681 0 4.74 0C4.56319 0 4.39362 0.0702379 4.2686 0.195262C4.14357 0.320286 4.07333 0.489856 4.07333 0.666667V3.86H0.666667C0.489856 3.86 0.320286 3.93024 0.195262 4.05526C0.0702379 4.18029 0 4.34986 0 4.52667C0 4.70348 0.0702379 4.87305 0.195262 4.99807C0.320286 5.1231 0.489856 5.19333 0.666667 5.19333H4.07333V8.66667C4.07333 8.84348 4.14357 9.01305 4.2686 9.13807C4.39362 9.2631 4.56319 9.33333 4.74 9.33333C4.91681 9.33333 5.08638 9.2631 5.2114 9.13807C5.33643 9.01305 5.40667 8.84348 5.40667 8.66667V5.19333H8.66667C8.84348 5.19333 9.01305 5.1231 9.13807 4.99807C9.2631 4.87305 9.33333 4.70348 9.33333 4.52667Z"
                                fill="black" />
                        </svg>

                    </span>
                    {{ txtClicDerecho === null ? 'Ver a Detalle' : txtClicDerecho }}
                </button>

                <hr>

                <!-- ver detalle -->

                <button *ngIf="clickDerecho2" (click)=" _sendSegundaopcion()" class="flex items-center w-full px-10 p-2 text-sm font-medium text-center transition duration-300 ease-in focus:outline-none hover:bg-red-50">
                    <span class="pr-3">
                        <svg class="w-6 h-6 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                        </svg>
                    </span>
                    {{ txtClicDerecho2 === null ? 'Ver Comprobante' : txtClicDerecho2 }}
                </button>
            </section>


        </div>
    </ng-template>
</div>