/* Progress Bars */
.progress--bar {
  height: 2rem;
  margin: 1rem;
  background-color: #ddd;
}
.progress--bar:after {
  content: "";
  display: block;
  height: 100%;
  background-color: #ea3e3e;
}
.progress--circle {
  position: relative;
  display: inline-block;
  margin: 1rem;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ddd;
}
.progress--circle:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
}
.progress--circle:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ea3e3e;
}
.progress__number {
  position: absolute;
  top: 50%;
  width: 100%;
  line-height: 1;
  margin-top: -0.75rem;
  text-align: center;
  font-size: 1.2rem;
  color: #777;
}
.progress--pie:before {
  display: none;
  /* Get rid of white circle for "pie chart style" meter */
}
.progress--pie .progress__number {
  color: white;
  text-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
}
/**
 * $step is set to 5 by default, meaning you can only use percentage classes in increments of five (e.g. 25, 30, 45, 50, and so on). This helps to reduce the size of the final CSS file. If you need a number that doesn't end in 0 or 5, you can change the text percentage while rounding the class up/down to the nearest 5.
 */

.progress--bar.progress--0:after {
  width: 0%;
}
.progress--circle.progress--0:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(144deg, #ddd 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--1:after {
  width: 1%;
}
.progress--circle.progress--1:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(98deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--2:after {
  width: 2%;
}
.progress--circle.progress--2:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(100deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--3:after {
  width: 3%;
}
.progress--circle.progress--3:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(102deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--4:after {
  width: 4%;
}
.progress--circle.progress--4:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(104deg, #ea3e3e 50%, #ddd 50%, #ddd);
}
.progress--bar.progress--5:after {
  width: 5%;
}
.progress--circle.progress--5:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(106deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--6:after {
  width: 6%;
}
.progress--circle.progress--6:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(108deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--7:after {
  width: 7%;
}
.progress--circle.progress--7:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(112deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--8:after {
  width: 8%;
}
.progress--circle.progress--8:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(116deg, #ea3e3e 50%, #ddd 50%, #ddd);
}


.progress--bar.progress--9:after {
  width: 9%;
}
.progress--circle.progress--9:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(120deg, #ea3e3e 50%, #ddd 50%, #ddd);
}


.progress--bar.progress--10:after {
  width: 10%;
}
.progress--circle.progress--10:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(124deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--11:after {
  width: 11%;
}
.progress--circle.progress--11:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(128deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--12:after {
  width: 12%;
}
.progress--circle.progress--12:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(132deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--13:after {
  width: 13%;
}
.progress--circle.progress--13:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(136deg, #ea3e3e 50%, #ddd 50%, #ddd);
}



.progress--bar.progress--14:after {
  width: 14%;
}
.progress--circle.progress--14:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(140deg, #ea3e3e 50%, #ddd 50%, #ddd);
}


.progress--bar.progress--15:after {
  width: 15%;
}
.progress--circle.progress--15:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(144deg, #ea3e3e 50%, #ddd 50%, #ddd);
}


.progress--bar.progress--16:after {
  width: 16%;
}
.progress--circle.progress--16:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(148deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--17:after {
  width: 17%;
}
.progress--circle.progress--17:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(152deg, #ea3e3e 50%, #ddd 50%, #ddd);
}


.progress--bar.progress--18:after {
  width: 18%;
}
.progress--circle.progress--18:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(156deg, #ea3e3e 50%, #ddd 50%, #ddd);
}


.progress--bar.progress--19:after {
  width: 19%;
}
.progress--circle.progress--19:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(159deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--20:after {
  width: 20%;
}
.progress--circle.progress--20:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(162deg, #ea3e3e 50%, #ddd 50%, #ddd);
}
.progress--bar.progress--21:after {
  width: 21%;
}
.progress--circle.progress--21:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(166deg, #ea3e3e 50%, #ddd 50%, #ddd);
}
.progress--bar.progress--22:after {
  width: 22%;
}
.progress--circle.progress--22:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(170deg, #ea3e3e 50%, #ddd 50%, #ddd);
}
.progress--bar.progress--23:after {
  width: 23%;
}
.progress--circle.progress--23:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(174deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--24:after {
  width: 24%;
}
.progress--circle.progress--24:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(178deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--25:after {
  width: 25%;
}
.progress--circle.progress--25:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(180deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--26:after {
  width: 26%;
}
.progress--circle.progress--26:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(184deg, #ea3e3e 50%, #ddd 50%, #ddd);
}
.progress--bar.progress--27:after {
  width: 27%;
}
.progress--circle.progress--27:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(188deg, #ea3e3e 50%, #ddd 50%, #ddd);
}
.progress--bar.progress--28:after {
  width: 28%;
}
.progress--circle.progress--28:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(192deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--29:after {
  width: 29%;
}
.progress--circle.progress--29:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(195deg, #ea3e3e 50%, #ddd 50%, #ddd);
}


.progress--bar.progress--30:after {
  width: 30%;
}

.progress--circle.progress--30:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(198deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--31:after {
  width: 31%;
}

.progress--circle.progress--31:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(202deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--32:after {
  width: 32%;
}

.progress--circle.progress--32:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(206deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--33:after {
  width: 33%;
}

.progress--circle.progress--33:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(210deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--34:after {
  width: 34%;
}

.progress--circle.progress--34:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(213deg, #ea3e3e 50%, #ddd 50%, #ddd);
}



.progress--bar.progress--35:after {
  width: 35%;
}
.progress--circle.progress--35:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(216deg, #ea3e3e 50%, #ddd 50%, #ddd);
}
.progress--bar.progress--36:after {
  width: 36%;
}
.progress--circle.progress--36:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(220deg, #ea3e3e 50%, #ddd 50%, #ddd);
}
.progress--bar.progress--37:after {
  width: 37%;
}
.progress--circle.progress--37:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(224deg, #ea3e3e 50%, #ddd 50%, #ddd);
}
.progress--bar.progress--38:after {
  width: 38%;
}
.progress--circle.progress--38:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(228deg, #ea3e3e 50%, #ddd 50%, #ddd);
}
.progress--bar.progress--39:after {
  width: 39%;
}
.progress--circle.progress--39:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(231deg, #ea3e3e 50%, #ddd 50%, #ddd);
}


.progress--bar.progress--40:after {
  width: 40%;
}

.progress--circle.progress--40:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(234deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--41:after {
  width: 41%;
}

.progress--circle.progress--41:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(238deg, #ea3e3e 50%, #ddd 50%, #ddd);
}


.progress--bar.progress--42:after {
  width:42%;
}

.progress--circle.progress--42:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(242deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--43:after {
  width:43%;
}

.progress--circle.progress--43:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(246deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress-44:after {
  width:44%;
}

.progress--circle.progress--44:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(249deg, #ea3e3e 50%, #ddd 50%, #ddd);
}








.progress--bar.progress--45:after {
  width: 45%;
}
.progress--circle.progress--45:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(252deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--46:after {
  width: 46%;
}
.progress--circle.progress--46:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(256deg, #ea3e3e 50%, #ddd 50%, #ddd);
}


.progress--bar.progress--47:after {
  width: 47%;
}
.progress--circle.progress--47:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(260deg, #ea3e3e 50%, #ddd 50%, #ddd);
}


.progress--bar.progress--48:after {
  width: 48%;
}
.progress--circle.progress--48:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(264deg, #ea3e3e 50%, #ddd 50%, #ddd);
}




.progress--bar.progress--49:after {
  width: 49%;
}
.progress--circle.progress--49:after {
  background-image: linear-gradient(
      90deg,
      #ddd 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(267deg, #ea3e3e 50%, #ddd 50%, #ddd);
}







.progress--bar.progress--50:after {
  width: 50%;
}
.progress--circle.progress--50:after {
  background-image: linear-gradient(
      -90deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}
.progress--bar.progress--51:after {
  width: 51%;
}
.progress--circle.progress--51:after {
  background-image: linear-gradient(
      -86deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--52:after {
  width: 52%;
}
.progress--circle.progress--52:after {
  background-image: linear-gradient(
      -82deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--53:after {
  width: 53%;
}
.progress--circle.progress--53:after {
  background-image: linear-gradient(
      -78deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--54:after {
  width: 54%;
}
.progress--circle.progress--54:after {
  background-image: linear-gradient(
      -75deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}






.progress--bar.progress--55:after {
  width: 55%;
}
.progress--circle.progress--55:after {
  background-image: linear-gradient(
      -72deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--56:after {
  width: 56%;
}
.progress--circle.progress--56:after {
  background-image: linear-gradient(
      -68deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--57:after {
  width: 57%;
}
.progress--circle.progress--57:after {
  background-image: linear-gradient(
      -64deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--58:after {
  width: 58%;
}
.progress--circle.progress--58:after {
  background-image: linear-gradient(
      -60deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--59:after {
  width: 59%;
}
.progress--circle.progress--59:after {
  background-image: linear-gradient(
      -57deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}


.progress--bar.progress--60:after {
  width: 60%;
}
.progress--circle.progress--60:after {
  background-image: linear-gradient(
      -54deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}



.progress--bar.progress--61:after {
  width: 61%;
}
.progress--circle.progress--61:after {
  background-image: linear-gradient(
      -50deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--62:after {
  width: 62%;
}
.progress--circle.progress--62:after {
  background-image: linear-gradient(
      -48deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--63:after {
  width: 63%;
}
.progress--circle.progress--63:after {
  background-image: linear-gradient(
      -44deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--64:after {
  width: 64%;
}
.progress--circle.progress--64:after {
  background-image: linear-gradient(
      -40deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}



.progress--bar.progress--65:after {
  width: 65%;
}
.progress--circle.progress--65:after {
  background-image: linear-gradient(
      -36deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}


.progress--bar.progress--66:after {
  width: 66%;
}
.progress--circle.progress--66:after {
  background-image: linear-gradient(
      -32deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--67:after {
  width: 67%;
}
.progress--circle.progress--67:after {
  background-image: linear-gradient(
      -28deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--68:after {
  width: 68%;
}
.progress--circle.progress--68:after {
  background-image: linear-gradient(
      -24deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}


.progress--bar.progress--69:after {
  width: 69%;
}
.progress--circle.progress--69:after {
  background-image: linear-gradient(
      -21deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}


.progress--bar.progress--70:after {
  width: 70%;
}
.progress--circle.progress--70:after {
  background-image: linear-gradient(
      -18deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}


.progress--bar.progress--71:after {
  width: 71%;
}
.progress--circle.progress--71:after {
  background-image: linear-gradient(
      -14deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--72:after {
  width: 72%;
}
.progress--circle.progress--72:after {
  background-image: linear-gradient(
      -10deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}
.progress--bar.progress--73:after {
  width: 73%;
}
.progress--circle.progress--73:after {
  background-image: linear-gradient(
      -6deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--74:after {
  width: 74%;
}
.progress--circle.progress--74:after {
  background-image: linear-gradient(
      -3deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}




.progress--bar.progress--75:after {
  width: 75%;
}
.progress--circle.progress--75:after {
  background-image: linear-gradient(
      0deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--76:after {
  width: 76%;
}
.progress--circle.progress--76:after {
  background-image: linear-gradient(
      4deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--77:after {
  width: 77%;
}
.progress--circle.progress--77:after {
  background-image: linear-gradient(
      8deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}


.progress--bar.progress--78:after {
  width: 78%;
}
.progress--circle.progress--78:after {
  background-image: linear-gradient(
      12deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--79:after {
  width: 79%;
}
.progress--circle.progress--79:after {
  background-image: linear-gradient(
      15deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}




.progress--bar.progress--80:after {
  width: 80%;
}
.progress--circle.progress--80:after {
  background-image: linear-gradient(
      18deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--81:after {
  width: 81%;
}
.progress--circle.progress--81:after {
  background-image: linear-gradient(
      22deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--82:after {
  width: 82%;
}
.progress--circle.progress--82:after {
  background-image: linear-gradient(
      26deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--83:after {
  width: 83%;
}
.progress--circle.progress--83:after {
  background-image: linear-gradient(
      30deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--84:after {
  width: 84%;
}
.progress--circle.progress--84:after {
  background-image: linear-gradient(
      33deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}


.progress--bar.progress--85:after {
  width: 85%;
}
.progress--circle.progress--85:after {
  background-image: linear-gradient(
      36deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--86:after {
  width: 86%;
}
.progress--circle.progress--86:after {
  background-image: linear-gradient(
      40deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--87:after {
  width: 87%;
}
.progress--circle.progress--87:after {
  background-image: linear-gradient(
      44deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}


.progress--bar.progress--88:after {
  width: 88%;
}
.progress--circle.progress--88:after {
  background-image: linear-gradient(
      48deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--89:after {
  width: 89%;
}
.progress--circle.progress--89:after {
  background-image: linear-gradient(
      51deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}



.progress--bar.progress--90:after {
  width: 90%;
}
.progress--circle.progress--90:after {
  background-image: linear-gradient(
      54deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--91:after {
  width: 91%;
}
.progress--circle.progress--91:after {
  background-image: linear-gradient(
      58deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--92:after {
  width: 92%;
}
.progress--circle.progress--92:after {
  background-image: linear-gradient(
      62deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--93:after {
  width: 93%;
}
.progress--circle.progress--93:after {
  background-image: linear-gradient(
      66deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--94:after {
  width: 94%;
}
.progress--circle.progress--94:after {
  background-image: linear-gradient(
      70deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}



.progress--bar.progress--95:after {
  width: 95%;
}
.progress--circle.progress--95:after {
  background-image: linear-gradient(
      74deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--96:after {
  width: 96%;
}
.progress--circle.progress--96:after {
  background-image: linear-gradient(
      78deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--97:after {
  width: 97%;
}
.progress--circle.progress--97:after {
  background-image: linear-gradient(
      82deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--98:after {
  width: 98%;
}
.progress--circle.progress--98:after {
  background-image: linear-gradient(
      86deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--99:after {
  width: 99%;
}
.progress--circle.progress--99:after {
  background-image: linear-gradient(
      88deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}



.progress--bar.progress--100:after {
  width: 100%;
}
.progress--circle.progress--100:after {
  background-image: linear-gradient(
      90deg,
      #ea3e3e 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #ea3e3e 50%, #ddd 50%, #ddd);
}

.progress--bar.progress--completed:after {
  width: 100%;
}
.progress--circle.progress--completed:after {
  background-image: linear-gradient(
      90deg,
      #1ca329 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #1ca329 50%, #ddd 50%, #ddd);
}
