<div *ngIf="IProcess.porcentual <= 100 && IProcess.init" class="fixed bottom-10 z-40 left-3 w-96 rounded">

  <div *ngIf="!minimize" class="bg-white rounded">
    <div class=" flex justify-between items-center bg-gray-600 rounded py-2 px-3">
      <div class="flex items-center">
        <span class="text-white text-sm pr-3">Proceso al </span>
        <span class="bg-green-500 rounded-3xl p-1 px-6 text-sm text-white"> {{ IProcess.porcentual }}% </span>
      </div>
      <button (click)="minimize = !minimize;" class="text-white focus:outline-none ">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M5 10a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>

    <button (click)="obtenerDocumentMasivo(true)"
      class="text-sm group font-medium focus:outline-none shadow-2xl  w-full bg-white border-gray-50 p-2 rounded">
      <div class="relative">
        <span class="text-sm text-black font-medium justify-start pb-1">Obtener Documentos Masivos</span>
        <div class="overflow-hidden h-2  text-xs flex rounded bg-gray-200">
          <!-- <div style="width: {{IProcess.porcentual}} %" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center" [ngClass]="{'bg-red-500': !IProcess.completed, 'bg-green-500': IProcess.completed }"></div> -->
          <div [style.width.%]="IProcess.porcentual"
            class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center"
            [ngClass]="{'bg-red-500': !IProcess.completed, 'bg-green-500': IProcess.completed }"></div>
        </div>
        <span class="text-xs text-gray-600 text-right flex pt-1 justify-center">Completado ({{ IProcess.i }} de {{
          IProcess.cantTotalcpe }})..</span>
      </div>
    </button>
  </div>

  <div class="fixed bottom-10 z-40 left-6">
    <button (click)="minimize = !minimize;" *ngIf="minimize" class="focus:outline-none bg-white  border-2 border-gray-50 p-1  shadow-2xl rounded-full">
      <div [ngClass]="{ 'progress--completed': IProcess.porcentual === 100 && IProcess.completed }" class="progress--circle progress--{{IProcess.porcentual}}" >
        <div class="progress__number">{{ IProcess.porcentual }}%</div>
      </div>
    </button>
  </div>

</div>

<!-- progress--`{IProcess.porcentual}` -->