<div class="relative w-auto  mx-auto max-w-7xl">
    <!-- TITULO NUEVO CLIENTE -->
    <header class="flex justify-between items-center border-b border-gray-100 pb-2">
        <!-- <h2 class="text-red-600 text-xs sm:text-sm font-medium uppercase">{{ client  LLANOS ANTONIO MARILIN YANINA | BB01 - 19}}</h2> -->
        <h2 class="text-red-600 text-xs sm:text-sm font-medium uppercase">{{ FileAsBody.client }} | {{ FileAsBody.serie }}-{{ FileAsBody.numero }} </h2>
        <button mat-dialog-close class="p-1 rounded-full border border-gray-200 focus:outline-none">
            <svg class="w-5 h-5  text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
        </button>
    </header>
    <main class="grid grid-cols-1 lg:grid-cols-3 gap-y-2 gap-x-8 pt-1 overflow-auto lg:overflow-hidden respo lg:h-auto">
        <section class="col-span-2">
            <!-- Section de descargas -->
            <div class="flex flex-col md:flex-row md:space-x-5 items-center">
                <div class="pt-1">
                    <button [matMenuTriggerFor]="menu" class=" text-sm font-medium flex items-center justify-between py-2 px-2 rounded focus:outline-none text-white bg-red-600 ">Descargar
                        <svg class="w-6 h-6 ml-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd" />
                        </svg>
                    </button>

                    <!-- Boton de  descargas -->
                    <mat-menu #menu="matMenu">
                        <!-- pdf -->
                        <button (click)="dowloadFilepdf()" type="button" class="py-2 px-6  sm:px-4 md:px-6  flex items-center mx-2 mt-1 justify-center rounded  border text-red-600 border-red-600 focus:outline-none hover:bg-red-50 transition duration-300 ease-in ">

                            <svg class="w-5 h-5 text-red-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"></path>
                            </svg>
                            <span class="text-red-600 text-xs sm:text-sm font-medium pl-2">PDF</span>
                        </button>

                        <!-- cdr -->
                        <button *ngIf="datosDetails.Enviado" (click)="downloadFilecdr()" type="button" class="py-2 px-6  sm:px-4 md:px-6  flex items-center mx-2 mt-1 justify-center rounded border border-yellow-600 text-yellow-600 focus:outline-none hover:bg-yellow-50 transition duration-300 ease-in ">

                            <svg class="w-5 h-5 " fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"></path>
                            </svg>
                            <span class="text-xs sm:text-sm font-medium pl-2">CDR</span>
                        </button>

                        <!-- xml -->
                        <button *ngIf="datosDetails.Enviado" (click)="downloadFilexml()" type="button" class="py-2 px-6 sm:px-4 md:px-6  flex items-center mx-2 mt-1 justify-center text-green-600 rounded border border-facted-3000 focus:outline-none hover:bg-green-50 transition duration-300 ease-in ">
                            <svg class="w-5 h-5 text-facted-3000" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"></path>
                            </svg>
                            <span class="text-facted-3000 text-xs sm:text-sm font-medium pl-2">XML</span>

                        </button>

                        <!-- constancia -->
                        <button *ngIf="datosDetails.Enviado" (click)="downloadFileConstancia()" type="button" class="py-2 px-6 sm:px-4 md:px-6  flex items-center mx-2 mt-1 justify-center text-blue-600 rounded border border-blue-600 focus:outline-none hover:bg-blue-50 transition duration-300 ease-in ">
                            <svg class="w-5 h-5 " fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"></path>
                            </svg>
                            <span class=" text-xs sm:text-sm font-medium pl-2">CCIA</span>
                        </button>

                    </mat-menu>
                </div>

                <!-- Condiccion -->
                <div class="w-56 md:-mt-3">
                    <span class="text-sm font-medium text-gray-500">Condición:</span>
                    <mat-select (selectionChange)="onChangeCondition( selectedCondition )" [disabled]="datosDetails.Anulado" [(value)]=" selectedCondition " type="text" required placeholder="selecionar condición" class="w-full sm:mb-1 text-sm forms-control focus">
                        <mat-option value="ACTIVO">ACTIVO</mat-option>
                        <mat-option value="ANULADO">ANULADO</mat-option>
                    </mat-select>
                </div>
            </div>
        </section>
        <section class="col-span-2 lg:col-span-1 mt-2">
            <div class="relative rounded cursor-pointer mx-6 sm:mx-auto hover:bg-gray-50 block md:flex items-center  border  border-gray-300  py-2 px-4" style="min-height: 2rem;">
                <div class="flex  items-center justify-between space-x-8">
                    <span [class.showingData]="mostrarDatos === true" class="text-xs sm:text-sm font-medium  text-gray-900">No Enviado</span>
                    <span *ngIf="mostrarDatos" class="text-xs sm:text-sm font-medium  text-gray-900">Documento
                        Enviado</span>
                    <span>
                        <button (click)="send_Sunat()" [class.showingData]="mostrarDatos === true"
                            class="h-8 px-3 bg-red-600 flex items-center justify-center rounded hover:bg-red-800 transition duration-300 ease-in  focus:outline-none">
                            <span class="text-white text-xs sm:text-sm font-medium pr-2">ENVIAR</span>
                    </button>
                    </span>
                </div>
                <span *ngIf="mostrarDatos === true" class="absolute top-0 mt-2  left-0 bg-green-600 rounded-full shadow-md h-4 w-4  flex items-center justify-center animate-ping -ml-2">
                </span>
                <span *ngIf="mostrarDatos === true" class="absolute top-0 mt-2  left-0 bg-green-600 rounded-full shadow-md h-4 w-4  border-white flex items-center justify-center -ml-2">
                </span>

                <span [class.showingData]="mostrarDatos === true" class="absolute top-0 mt-3  left-0 bg-red-600 rounded-full shadow-md h-4 w-4  flex items-center justify-center -ml-2">
                </span>
            </div>
        </section>

        <div *ngIf="enviar" class="col-span-3 animated space-y-1 fadeIn">
            <div class="border  border-gray-200 flex  items-center rounded py-2 px-2">
                <span class="text-red-600 font-medium  text-sm">Rpta.Envio:</span>
                <span class="text-green-700 text-sm pl-1 font-normal">{{ datosDetails.respuestaenvio }}</span>
            </div>

            <div class="border  border-gray-200 shadow flex justify-between items-center rounded px-2 py-2">
                <div class="border  border-gray-200 shadow flex items-center rounded px-2 py-2">
                    <span class="text-red-600 font-medium text-sm">Rpta.Validación:</span>
                    <span class="text-green-700 text-sm pl-1 font-normal">{{ datosDetails.Resultado_Validez }}</span>
                </div>
                
                <button (click)='validarCPEReinteto()' type="button" class="focus:outline-none">
                    <svg class="w-5 h-5 text-green-500 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z" clip-rule="evenodd" />
                      </svg>
                </button>
            </div>
        </div>

        <section class="col-span-2">
            <!-- Section of information -->
            <div class=" border border-gray-300 rounded shadow hover:shadow-lg transition p-3 ">
                <div class="flex flex-col sm:flex-row py-2">
                    <span class="text-xs sm:text-sm font-medium text-gray-900">Dirección:</span>
                    <span class="text-xs sm:text-sm flex-wrap font-normal text-gray-700 sm:pl-2">{{
                        datosDetails.ClienteDireccion }}</span>
                </div>

                <div class="flex  justify-start items-center">
                    <span class="text-xs sm:text-sm text-left font-medium text-gray-900 pr-2">Correo:</span>
                    <mat-chip-list class=" flex flex-wrap  border-b border-gray-300   text-xs focus" #chipList aria-label="Fruit selection">
                        <mat-chip class="text-xs bg-gray-100  text-red-600 font-normal" *ngFor="let correoElec of correoElec" [selectable]="selectable" [removable]="removable" (removed)="remove(correoElec)">
                            {{correoElec}}
                            <mat-icon class="text-red-600" matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>

                        <input (keypress)="validate_email($event)" type="text" [class.invalid]="emailInvalid" class="text-sm h-9 font-normal focus:outline-none" placeholder="Ingresa correo" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                            (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>

                    <button (click)="send_email()" type="button" class="flex pl-4 p-2 hover:bg-gray-50 focus:outline-none">
                        <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11 12.3158H15V9.47368L20 13.7368L15 18V15.1579H11V12.3158ZM18 0H2C1.46957 0 0.960859 0.199623 0.585786 0.554955C0.210714 0.910288 0 1.39222 0 1.89474V13.2632C0 13.7657 0.210714 14.2476 0.585786 14.6029C0.960859 14.9583 1.46957 15.1579 2 15.1579H9V13.2632H2V3.78947L10 8.52632L18 3.78947V9.47368H20V1.89474C20 1.39222 19.7893 0.910288 19.4142 0.554955C19.0391 0.199623 18.5304 0 18 0V0ZM10 6.63158L2 1.89474H18L10 6.63158Z"
                                fill="#EA3E3E" />
                        </svg>
                    </button>
                </div>


                <div class="flex flex-col sm:flex-row py-2">
                    <span class="text-xs sm:text-sm font-medium text-gray-900">Observación:</span>
                    <span class="text-xs sm:text-sm font-normal text-gray-700 w-auto sm:w-96 pl-2">{{
                        datosDetails.Descripcion }}</span>
                </div>
            </div>

            <!-- section of  data information -->
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-3 border mt-3 px-3 py-2 shadow hover:shadow-lg transition border-gray-300 rounded">
                <div class="flex flex-col justify-center sm:border-r sm:border-gray-300 px-2  space-y-2">
                    <div class="flex items-center justify-between">
                        <span class="text-xs sm:text-sm font-medium text-gray-900">ICBPER:</span>
                        <span class="text-xs sm:text-sm font-normal text-gray-00">{{datosDetails.icbper | currency: (datosDetails.codigoMoneda == "PEN" ? 'PEN' : '$')
                            }}</span>
                    </div>
                    <div class="flex items-center justify-between">
                        <span class="text-xs sm:text-sm font-medium text-gray-900">Desc:</span>
                        <span class="text-xs sm:text-sm font-normal text-gray-700">{{ datosDetails.descuento |
                          currency: (datosDetails.codigoMoneda == "PEN" ? 'PEN' : '$') }}</span>
                    </div>
                    <div class="flex items-center justify-between">
                        <span class="text-xs sm:text-sm font-medium text-gray-900">Exonerado:</span>
                        <span class="text-xs sm:text-sm font-normal text-gray-700">{{ datosDetails.exonerada |
                          currency: (datosDetails.codigoMoneda == "PEN" ? 'PEN' : '$') }}</span>
                    </div>
                    <div class="flex items-center justify-between">
                        <span class="text-xs sm:text-sm font-medium text-gray-900">Gratuita:</span>
                        <span class="text-xs sm:text-sm font-normal text-gray-700">{{ datosDetails.gratuita |
                          currency: (datosDetails.codigoMoneda == "PEN" ? 'PEN' : '$') }}</span>
                    </div>
                </div>

                <div class="flex flex-col justify-center px-2 space-y-2">
                    <div class="flex items-center justify-between">
                        <span class="text-xs sm:text-sm font-medium text-gray-900">Afecto:</span>
                        <span class="text-xs sm:text-sm font-normal text-gray-00">{{ datosDetails.afecto |
                          currency: (datosDetails.codigoMoneda == "PEN" ? 'PEN' : '$') }}</span>
                    </div>
                    <div class="flex items-center justify-between">
                        <span class="text-xs sm:text-sm font-medium text-gray-900">Inafecto:</span>
                        <span class="text-xs sm:text-sm font-normal text-gray-700">{{ datosDetails.inafecto |
                          currency: (datosDetails.codigoMoneda == "PEN" ? 'PEN' : '$') }}</span>
                    </div>
                    <div class="flex items-center justify-between">
                        <span class="text-xs sm:text-sm font-medium text-gray-900">IGV:</span>
                        <span class="text-xs sm:text-sm font-normal text-gray-700">{{ datosDetails.igv | currency: (datosDetails.codigoMoneda == "PEN" ? 'PEN' : '$') }}</span>
                    </div>
                    <div class="flex items-center justify-between">
                        <span class="text-xs sm:text-sm font-medium text-gray-900">TOTAL:</span>
                        <span class="text-xs sm:text-sm font-normal text-gray-700">{{ datosDetails.total |
                          currency: (datosDetails.codigoMoneda == "PEN" ? 'PEN' : '$') }}</span>
                    </div>
                </div>
            </div>

        </section>

        <!-- Section de envio -->
        <section class="col-span-2 lg:col-span-1">
            <!-- section of  data information -->
            <div class="grid grid-cols-1 gap-3 border  px-3 py-2 shadow hover:shadow-lg transition border-gray-300 rounded">
                <div class="flex flex-col justify-end py-2  space-y-2">

                    <div class="flex items-center justify-between">
                        <span class="text-xs sm:text-sm font-medium text-gray-900">Detracción:</span>
                        <span class="text-xs sm:text-sm font-normal text-gray-700">{{ datosDetails.detraccion }}</span>
                    </div>
                    <div class="flex items-center justify-between">
                        <span class="text-xs sm:text-sm font-medium text-gray-900">Detracción %:</span>
                        <span class="text-xs sm:text-sm font-normal text-gray-700">{{ datosDetails.detraccionPorcentaje
                            }} %</span>
                    </div>
                    <div class="flex items-center justify-between">
                        <span class="text-xs sm:text-sm font-medium text-gray-900">Detracción Monto:</span>
                        <span class="text-xs sm:text-sm font-normal text-gray-700">{{ datosDetails.detraccionMonto
                            }}</span>
                    </div>
                    <div class="flex items-center justify-between">
                        <span class="text-xs sm:text-sm font-medium text-gray-900">G. Remitente:</span>
                        <span class="text-xs sm:text-sm font-normal text-gray-700">{{ datosDetails.gRemitente }}</span>
                    </div>
                    <div class="flex items-center justify-between">
                        <span class="text-xs sm:text-sm font-medium text-gray-900">G. Transportista:</span>
                        <span class="text-xs sm:text-sm font-normal text-gray-700">{{ datosDetails.gTransportista
                            }}</span>
                    </div>
                    <div class="flex items-center justify-between">
                        <span class="text-xs sm:text-sm font-medium text-gray-900">Placa:</span>
                        <span class="text-xs sm:text-sm font-normal text-gray-700">{{ datosDetails.placa }}</span>
                    </div>
                    <div class="flex items-center justify-between">
                        <span class="text-xs sm:text-sm font-medium text-gray-900">Orden de Compra:</span>
                        <span class="text-xs sm:text-sm font-normal text-gray-700">{{ datosDetails.ordencompra }}</span>
                    </div>
                    <div class="flex items-center justify-between">
                        <span class="text-xs sm:text-sm font-medium text-gray-900">Orden de Pago: </span>
                        <span class="text-xs sm:text-sm font-normal text-gray-700"></span>
                    </div>

                    <div class="flex items-center justify-between">
                        <span class="text-xs sm:text-sm font-medium text-gray-900">Relacionado:</span>
                        <span class="text-xs sm:text-sm font-normal text-gray-700">{{ datosDetails.cpeRelacionado }}</span>
                    </div>

                </div>
            </div>
        </section>
    </main>
</div>

<app-modal-error [error]='error' [message]='message' (send)='error = $event'></app-modal-error>
<app-modalsuccess [success]="success" [message]="message" (Send)="success = $event"></app-modalsuccess>
<app-modaldelete [error]='delete' [mesage]='message' (Send)='_cancelModal( $event )' (SendDelete)='_anular_cpe( $event )'> </app-modaldelete>
