<!-- LOADING TIME OF WAIT FOR ME -->
<app-loading> </app-loading>
<main class="mx-auto lg:px-7 px-2 py-2">

    <!-- Section de  modo de busqueda -->
    <h2 class="text-sm font-medium text-gray-400 uppercase pt-3">Modo de búsqueda</h2>
    <section class="p-3 transition-shadow border border-gray-200 rounded-md shadow-sm md:p-3 lg:p-4 hover:shadow-lg">
        <form [formGroup]="form" (ngSubmit)="list()" class="grid grid-cols-1 gap-3 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-7 flex items-center">
            <!-- Fecha de Inicio -->
            <div class="w-full mb-1">
                <label class="labelclass" for=""> Fecha Inicio</label>
                <div class="flex w-full px-2 border border-gray-300 rounded ">
                    <input class="w-full px-2 py-2 text-sm placeholder-gray-500 focus:outline-none" name="fechainicio" placeholder="17/10/2020" [matDatepicker]="fechainicio" [class.error]="datestartInvalid" required formControlName="fechainicio">

                    <mat-datepicker #fechainicio> </mat-datepicker>
                    <button type="button" (click)="fechainicio.open()" class="flex items-center justify-center w-10 p-1 transition duration-300 ease-in border-white rounded-full cursor-pointer focus:outline-none focus:text-green-400 h-9 hover:border-green-500 hover:bg-gray-200 focus:bg-gray-200">
                        <svg class="w-6 h-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                        </svg>
                    </button>
                </div>
                <!-- <input type="text" placeholder="21/02/2021" required class="forms-control focus"> -->
                <small *ngIf="datestartInvalid" class="text-xs font-medium text-red-600">Campo requerido</small>
            </div>

            <!-- Fecha fin -->
            <div class="w-full mb-1">
                <label class="labelclass" for=""> Fecha Fin</label>
                <div class="flex w-full px-2 border border-gray-300 rounded ">
                    <input class="w-full px-2 py-2 text-sm placeholder-gray-500 focus:outline-none" name="fechafin" placeholder="17/10/2020" [matDatepicker]="fechafin" [class.error]="datefinInvalid" required formControlName="fechafin">

                    <mat-datepicker #fechafin> </mat-datepicker>
                    <button type="button" (click)="fechafin.open()" class="flex items-center justify-center w-10 p-1 transition duration-300 ease-in border-white rounded-full cursor-pointer focus:outline-none focus:text-green-400 h-9 hover:border-green-500 hover:bg-gray-200 focus:bg-gray-200">
                        <svg class="w-6 h-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                        </svg>
                    </button>
                </div>
                <!-- <input type="text" placeholder="21/02/2021" required class="forms-control focus"> -->
                <small *ngIf="datefinInvalid" class="text-xs font-medium text-red-600">Campo requerido</small>
            </div>

            <!-- Serie -->
            <div class="w-full mb-1">
                <label class="labelclass" for=""> Serie</label>
                <input autocomplete="off" (keypress)="validateKey( $event, 4 )" class=" uppercase  w-full forms-control focus" name="serie" type="text" placeholder="B002" formControlName="serie">
                <!-- <small class="hidden text-xs font-medium text-red-600">Campo requerido</small> -->
            </div>
            <!-- Numero -->
            <div class="w-full mb-1">
                <label class="labelclass" for=""> Número</label>
                <input (keypress)="validateKey( $event, 8 )" (keydown)="sfuntion.SoloNumeros( $event )" class="w-full forms-control focus" name="numero" type="number" placeholder="0459" formControlName="numero">

                <!-- <small class="hidden text-xs font-medium text-red-600">Campo requerido</small> -->
            </div>

            <!-- Clientes -->
            <div class="w-full mb-1 xl:col-span-2">
                <label class="labelclass" for="">Cliente </label>
                <input autocomplete="off" class=" w-full forms-control focus" name="cliente" type="text" placeholder="Ingrese nombre" formControlName="cliente">
                <!-- <small class="hidden text-xs font-medium text-red-600">Campo requerido</small> -->
            </div>

            <!-- bOTON DE NUSCAR -->
            <div class="w-full pt-6 mb-1">
                <div class="flex relative">
                    <button type="submit" class="rounded-l-md p-2 h-10 text-white text-sm  bg-red-600 border-2 border-red-600 hover:border-red-700 hover:bg-red-700 transition duration-300 ease-in focus:outline-none flex items-center  justify-center w-full"> Buscar</button>
                    <button (click)="filtrar()" type="button" class=" rounded-r-md  px-3 hover:bg-red-50 text-white focus:outline-none border-2 border-red-600 transition duration-300 ease-in flex items-center font-bold p-2 uppercase w-auto">
                    <svg class="w-5 h-5 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z" />   </svg>
                    <svg class="w-5 h-5 fill-current text-red-600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M11.646 15.146L5.854 9.354a.5.5 0 0 1 .353-.854h11.586a.5.5 0 0 1 .353.854l-5.793 5.792a.5.5 0 0 1-.707 0z" /></svg>
                    </button>

                    <span *ngIf="!filterall" class="absolute right-0 w-4 h-4 -mt-1 -mr-1 rounded-full bg-red-800  border-2 animate-ping border-white"></span>
                    <span *ngIf="!filterall" class="absolute right-0 w-4 h-4 -mt-1 -mr-1 rounded-full bg-red-800  border-2 border-white"></span>
                </div>
            </div>
        </form>
    </section>


    <div class="flex flex-wrap">
        <div class="w-full">
            <ul class="flex mb-0 w-60  border-b  border-gray-100 list-none flex-wrap pt-3  flex-row justify-start">
                <li class="-mb-px  w-auto last:mr-0 flex-auto  animated fadeIn">
                    <a class="text-sm font-medium cursor-pointer px-4 animated fadeIn leading-normal" (click)="toggleTabs(1)" [ngClass]="{'text-gray-900 bg-white': openTab !== 1, ' text-red-600 border-b-2  border-red-600': openTab === 1}">
                         Admin
                    </a>
                </li>
                <li class="-mb-px  last:mr-0 w-auto flex-auto  animated fadeIn">
                    <a class="text-sm font-medium cursor-pointer  px-5  leading-normal" (click)="toggleTabs(2)" [ngClass]="{'text-gray-900 bg-white': openTab !== 2, 'text-red-600 border-b-2 border-red-600': openTab === 2}">
                      Detalle
                    </a>
                </li>
            </ul>
            <div class="relative flex flex-col min-w-0 break-words bg-white w-full rounded">
                <div class="flex-auto">
                    <div class="tab-content tab-space">
                        <!-- Listado de Comprobantes -->
                        <div [ngClass]="{'hidden': openTab !== 1, 'block': openTab === 1}">
                            <!-- TABLA BUSCAR COMPROBANTE -->
                            <p class=" text-sm font-medium text-gray-500 pt-3 uppercase">Listado de Comprobantes</p>
                            <!-- Informacion A Detalle -->
                            <div class="-space-y-2 md:-space-y-px md:flex-wrap lg:-space-y-12 ">
                                <div class=" flex flex-wrap relative space-x-5 px-2 gap-2 sm:space-x-5 md:space-x-4 xl:space-x-5  2xl:space-x-14  pt-3">
                                    <!-- Moneda y tipo de pago -->
                                    <div class="flex flex-col items-center justify-center pb-2">
                                        <span class="text-xs font-medium text-gray-900">EXONERADO:</span>
                                        <span class="text-xs  text-gray-700">{{ detailsdata.exonerada | currency : 'PEN' }}</span>
                                    </div>

                                    <!-- Descuento y Exonerado -->
                                    <div class="flex flex-col items-center pb-2">
                                        <span class="text-xs font-medium text-gray-900">AFECTO:</span>
                                        <span class="text-xs  text-gray-700">{{ detailsdata.afecto | currency : 'PEN' }}</span>
                                    </div>


                                    <!-- Inafecto -->
                                    <div class="flex flex-col justify-center items-center pb-2">
                                        <span class="text-xs font-medium text-gray-900">INAFECTO:</span>
                                        <span class="text-xs  text-gray-700">{{ detailsdata.inafecto | currency : 'PEN' }}</span>
                                    </div>

                                    <!-- Igv y Total -->
                                    <div class="flex flex-col items-center justify-center pb-2">
                                        <span class="text-xs font-medium text-gray-900">IGV:</span>
                                        <span class="text-xs  text-gray-700">{{ detailsdata.igv | currency : 'PEN' }}</span>
                                    </div>

                                    <!-- total -->
                                    <div class="flex flex-col items-center justify-center pb-2">
                                        <span class="text-xs font-medium text-gray-900">TOTAL:</span>
                                        <span class="text-xs  text-gray-700">{{ detailsdata.total | currency : 'PEN' }}</span>
                                    </div>


                                    <div class="flex flex-col justify-center">
                                        <button (click)="exportAsExcel()" type="button" class="flex  items-center justify-center border-green-600 text-green-600  md:mt-0  px-4 py-2 w-auto  transition duration-300 ease-in border rounded  focus:outline-none hover:bg-blue-50 ">
                                            <span class="pr-2 text-xs font-semibold font-sans text-green-600">EXCEL</span>
                                            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>

                                <div class="w-fullv shadow-md">
                                    <mat-paginator #pgAdmin [pageSizeOptions]="[15, 30, 50]" showFirstLastButtons></mat-paginator>
                                    <!-- Realizar busqueda -->
                                    <div *ngIf="dataList.length <= 0" class="flex flex-col items-center justify-between pt-12">
                                        <br>
                                        <img src="assets/img/realizebus.svg" alt="realizar busqueda">
                                        <br>
                                        <p class="text-sm font-medium text-gray-300">Realize una busqueda para vizualizar sus datos</p>
                                    </div>


                                    <app-table-dynamic [verSeleccionado]='!istatus.enviado && istatus.not_enviado' [columns]='columns' [displayedColumns]='displayedColumns' [dataSource]='dataSource' [clickDerecho]='true' [clickDerecho2]='true' (sendRow)='VerDetalle($event)' (sendSegundaopcion)="_vercpe( $event )"
                                        (lista)='comprobanteSeleccionado($event)'>
                                    </app-table-dynamic>

                                    <!-- Seccion de envio masivo -->
                                    <section class=" justify-end flex py-2">
                                        <div *ngIf="!istatus.enviado && istatus.not_enviado && mostrarprograsoMigrar" class="relative rounded cursor-pointer mx-6  hover:bg-gray-50 block md:flex items-center  border  border-gray-200  py-2 px-4">
                                            <div class="flex  items-center justify-between space-x-8">
                                                <span class="text-xs sm:text-sm font-medium  text-gray-900">No Enviado</span>
                                                <button (click)='MigrarLista()' class="h-9 px-3 bg-red-600 flex items-center justify-center rounded hover:bg-red-800 transition duration-300 ease-in  focus:outline-none">
                                                    <span class="text-white text-xs sm:text-sm font-medium pr-2">Envio Masivo</span>
                                                </button>
                                            </div>
                                            <span class="absolute top-0 mt-4  left-0 bg-red-600 rounded-full shadow-md h-4 w-4  flex items-center justify-center animate-ping -ml-2">  </span>
                                            <span class="absolute top-0 mt-4  left-0 bg-red-600 rounded-full shadow-md h-4 w-4  flex items-center justify-center -ml-2"> </span>
                                        </div>

                                        <!-- progressabar envio masivo -->
                                        <div *ngIf='!mostrarprograsoMigrar' class="relative  rounded cursor-pointer mx-6  hover:bg-gray-50   border  border-gray-200  py-2 px-4">
                                            <div class="overflow-hidden h-3  text-xs flex rounded bg-gray-200 w-56">
                                                <div [style.width.%]='progreso' class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-red-600"></div>
                                            </div>
                                            <span class="text-xs text-gray-600 text-right flex pt-1 justify-center">Enviando ({{totalEnviados}} de {{totalEnviar}}) ...</span>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <!-- Detalle listado venta -->
                        <div [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}">
                            <!-- TABLA BUSCAR COMPROBANTE -->
                            <p class=" text-sm font-medium text-gray-500 pt-3 uppercase">Listado venta Detalle</p>
                            <div class="-space-y-2 md:-space-y-px md:flex-wrap lg:-space-y-12 shadow-md">
                                <div class=" flex flex-wrap relative space-x-5 px-2 gap-2 sm:space-x-10 md:space-x-10  lg:space-x-5  xl:space-x-14 border-gray-100 border-t pt-3">
                                    <!-- total -->
                                    <div class="flex flex-row space-x-5 items-center justify-center pb-2">
                                        <span class="text-sm font-medium text-gray-900">TOTAL:</span>
                                        <span class="text-sm  text-gray-700">{{ detailsdata.totalDetalle | currency : 'PEN' }}</span>
                                    </div>

                                    <!-- excel -->
                                    <div class="flex flex-col justify-center">
                                        <button (click)="exportAsExcelDetails()" type="button" class="flex  items-center justify-center border-green-600 text-green-600  md:mt-0  px-4 py-2 w-auto  transition duration-300 ease-in border rounded  focus:outline-none hover:bg-blue-50 ">
                                            <span class="pr-2 text-xs font-semibold font-sans text-green-600">EXCEL</span>
                                            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>

                                <div class="w-full">
                                    <mat-paginator #pgDetalle [pageSizeOptions]="[15, 30, 50]" showFirstLastButtons></mat-paginator>
                                    <!-- Realizar busqueda -->
                                    <div *ngIf="dataList.length <= 0" class="flex flex-col items-center justify-between pt-12">
                                        <br>
                                        <img src="assets/img/realizebus.svg" alt="realizar busqueda">
                                        <br>
                                        <p class="text-sm font-medium text-gray-300">Realize una busqueda para vizualizar sus datos</p>
                                    </div>


                                    <!-- Lista detalle -->
                                    <app-table-dynamic [columns]='columnsDetails' [displayedColumns]='displayedColumnsDetails' [dataSource]='dataSourceDetails'>
                                    </app-table-dynamic>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>

<app-modal-error [error]='error' [message]='message' [cnn_expi]='cnn_expi' (send)='error = $event'></app-modal-error>
<app-modalsuccess [success]="success" [message]="message" (Send)="success = $event"></app-modalsuccess>