<!--header-->
<div class=" m-auto max-w-xl">
  <div class="flex justify-between items-center border-b border-gray-100 pb-4">
      <h2 class="text-red-600 text-sm font-medium">Nuevo Anexo</h2>
      <button mat-dialog-close class="p-1 rounded-full border border-gray-400  hover:bg-red-50 focus:outline-none">
        <svg class="w-5 h-5  text-gray-900" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
  </div>

  <form [formGroup]="form" (ngSubmit)="SaveOffice()" class="pt-2">
    <div class="grid grid-cols-2 gap-1">
            <!-- Denominacion -->
            <div class="w-full col-span-1">
              <label class="uppercase text-gray-800 block font-medium text-sm w-full pb-1">Denomición</label>
              <input  type="text"
              placeholder="Ingrese denominación"
              class=" uppercase forms-control text-sm w-full focus mb-1"          
              [class.error]="sucursalInvalid"
              required
              formControlName="denominacion">
              <p *ngIf="sucursalInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
            </div>

        <!-- Codigo-->
        <div class="w-full col-span-1">
          <label class="uppercase text-gray-800 block font-medium text-sm w-full pb-1">Cod. Anexo</label>
          <input  type="text"
                  placeholder="0000"
                  class=" uppercase forms-control text-sm w-full focus mb-1"
                  [class.erro]="codAnexoInvalid"
                  required
                  formControlName="codigo">
          <p *ngIf="codAnexoInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
        </div>

        <!-- Direccion -->
        <div class="w-full  col-span-2">
          <label class="uppercase text-gray-800 block font-medium text-sm w-full pb-1">Dirección</label>
          <input  type="text"
                  placeholder="Luis Valle Goicochea #309"
                  class="uppercase forms-control text-sm w-full focus mb-1"
                  [class.error]="direccionInvalid"
                  required
                  formControlName="direccion"
                  >
          <p *ngIf="direccionInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
        </div>

  
       </div>

      <!--footer-->
      <footer class=" grid grid-cols-2 items-center justify-end gap-4 p-6">
          <button mat-dialog-close class="col-span-1 text-red-600 border  border-red-700 hover:bg-red-50 transition duration-300 ease-in font-medium  text-sm px-6 h-10 rounded outline-none focus:outline-none  mb-1"
                  type="button" style="transition: all .15s ease">
             Cancelar
          </button>
          <button type="submit" class="col-span-1 text-white  bg-red-600 hover:bg-red-700 transition duration-300 ease-in  font-medium  text-sm px-6 h-10 rounded outline-none focus:outline-none mb-1" style="transition: all .15s ease">
              Guardar
          </button>
      </footer>
  </form>
</div>