<app-loading></app-loading>
<!--header-->
<div class=" m-auto max-w-xl">
  <div class="flex justify-between items-center border-b border-gray-100 pb-4">
    <h2 class="text-red-600 text-sm font-medium">Nuevo Talonario</h2>
    <button mat-dialog-close class="p-1 rounded-full border border-gray-400  hover:bg-red-50 focus:outline-none">
      <svg class="w-6 h-6  text-gray-900" fill="none" stroke="currentColor" viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  </div>

  <form [formGroup]="form" (ngSubmit)="SaveTalonario()" class="pt-3">
    <!-- Tipo Comprobante -->
    <div class="w-full md:mb-2">
      <label class="text-gray-800 block font-medium text-sm w-full pb-1">Tipo de Comprobante</label>
      <mat-select formControlName="idtipocomprobante" [class.error]="idtipocomprobanteInvalid" type="text" required placeholder="Elige Comprobante" class="forms-control w-full focus mb-1">
        <mat-option *ngFor="let item of listTipoComprobante" value="{{ item.Clave }}">{{ item.NombreComprobante }}</mat-option>
      </mat-select>
      <p *ngIf="idtipocomprobanteInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
    </div>

    <!-- Alias -->
    <div class="w-full md:mb-2">
      <label class="text-gray-800 block font-medium flex items-center text-sm w-full pb-1">Alias
        <div class=" flex flex-col  pl-5">
          <div class="relative  sm:max-w-xl sm:mx-auto">
            <div class="group cursor-pointer relative inline-block  p-1 text-center">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M8 0C3.58214 0 0 3.58214 0 8C0 12.4179 3.58214 16 8 16C12.4179 16 16 12.4179 16 8C16 3.58214 12.4179 0 8 0ZM8 14.6429C4.33214 14.6429 1.35714 11.6679 1.35714 8C1.35714 4.33214 4.33214 1.35714 8 1.35714C11.6679 1.35714 14.6429 4.33214 14.6429 8C14.6429 11.6679 11.6679 14.6429 8 14.6429Z"
                  fill="#E82424" />
                <path
                  d="M9.99236 4.51243C9.45665 4.04279 8.74951 3.78564 7.99951 3.78564C7.24951 3.78564 6.54236 4.04457 6.00665 4.51243C5.44951 4.99993 5.14236 5.65529 5.14236 6.35707V6.49279C5.14236 6.57136 5.20665 6.63564 5.28522 6.63564H6.14236C6.22094 6.63564 6.28522 6.57136 6.28522 6.49279V6.35707C6.28522 5.56957 7.05486 4.9285 7.99951 4.9285C8.94415 4.9285 9.71379 5.56957 9.71379 6.35707C9.71379 6.91243 9.32094 7.42136 8.71201 7.65529C8.33344 7.79993 8.01201 8.0535 7.78165 8.38564C7.54772 8.72493 7.42629 9.13207 7.42629 9.54457V9.9285C7.42629 10.0071 7.49058 10.0714 7.56915 10.0714H8.42629C8.50486 10.0714 8.56915 10.0071 8.56915 9.9285V9.52314C8.57007 9.34979 8.62321 9.18074 8.72164 9.03803C8.82007 8.89533 8.95922 8.78559 9.12094 8.72314C10.1745 8.31779 10.8549 7.38922 10.8549 6.35707C10.8567 5.65529 10.5495 4.99993 9.99236 4.51243ZM7.28522 11.9285C7.28522 12.1179 7.36048 12.2996 7.49443 12.4336C7.62839 12.5675 7.81007 12.6428 7.99951 12.6428C8.18895 12.6428 8.37063 12.5675 8.50458 12.4336C8.63854 12.2996 8.71379 12.1179 8.71379 11.9285C8.71379 11.7391 8.63854 11.5574 8.50458 11.4234C8.37063 11.2895 8.18895 11.2142 7.99951 11.2142C7.81007 11.2142 7.62839 11.2895 7.49443 11.4234C7.36048 11.5574 7.28522 11.7391 7.28522 11.9285Z"
                  fill="#E82424" />
              </svg>
              <div
                class="opacity-0  w-48 bg-black text-white text-center text-xs rounded-lg py-2 absolute z-10 group-hover:opacity-100 bottom-full left-0  px-3 pointer-events-none">
                Escribe un nombre que identifique a tu comprobante
                <svg class="absolute text-black h-2 w-full left-0 top-full" x="0px" y="0px" viewBox="0 0 255 255"
                  xml:space="preserve">
                  <polygon class="fill-current" points="0,0 127.5,127.5 255,0" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </label>
      <input  type="text"
              placeholder="factura electronica"
              class="uppercase forms-control w-full focus mb-1"
              [class.error]="descriptionInvalid"
              required
              formControlName="descripcion">
      <p *ngIf="descriptionInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>

    </div>
    <!-- Serie -->
    <div class=" w-full">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-2  w-full">
        <div class="w-full md:mb-2">
          <label class="text-gray-800 block font-medium text-sm w-full pb-1">Serie</label>
          <input (keypress)="validateKey( $event, 4 )" type="text"
                  placeholder="F001"
                  class="uppercase forms-control w-full focus mb-1"
                  [class.error]="serieInvalid"
                  formControlName="serie"
                  required>
          <p *ngIf="serieInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
        </div>

        <!-- Numero -->
        <div class="w-full md:mb-2">
          <label class="text-gray-800 block font-medium text-sm w-full pb-1">Número</label>
          <input (keypress)="validateKey( $event, 8 )" type="number"
                  placeholder="1"
                  class="forms-control w-full focus mb-1"
                  [class.error]="numberInvalid"
                  required
                  formControlName="numero"
                  >
          <p *ngIf="numberInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
        </div>
      </div>
    </div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-2  w-full">
   <!-- Tamaño -->
   <div class="w-full md:mb-2">
    <label class="text-gray-800 block font-medium text-sm w-full pb-1">Tamaño</label>
    <mat-select formControlName="tamanio" [class.error]="tamanioInvalid" type="text" required placeholder="seleccionar Tamaño" class="forms-control w-full focus mb-1">
      <mat-option value="A4"> A4</mat-option>
      <mat-option value="A5">A5</mat-option>
      <mat-option value="TICKET">TICKET</mat-option>

    </mat-select>
    <p *ngIf="tamanioInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
  </div>

  <!-- Tipo -->
  <div class="w-full md:mb-2">
    <label class="text-gray-800 block font-medium text-sm w-full pb-1">Tipo</label>
    <mat-select formControlName="tipoimpresion" [class.error]="tipoimpresionInvalid" type="text" required placeholder="seleccionar Tamaño" class="forms-control w-full focus mb-1">
      <mat-option value="COLOR"> COLOR</mat-option>
      <mat-option value="BLANCONEGRO">BLANCO-NEGRO</mat-option>
    </mat-select>
    <p *ngIf="tipoimpresionInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
  </div>
</div>

 
    <!--footer-->
    <div class="flex items-center justify-center gap-2 p-6">
      <button mat-dialog-close
        class="text-red-600 border  border-red-700 hover:bg-red-50 transition duration-300 ease-in font-medium  text-sm px-6 h-10 rounded outline-none focus:outline-none mr-1 mb-1"
        type="button" style="transition: all .15s ease">
        Cancelar
      </button>

      <button type="submit"
        class=" text-white  bg-red-600 hover:bg-red-700 transition duration-300 ease-in  font-medium  text-sm px-6 h-10 rounded outline-none focus:outline-none mr-2 mb-1"
        style="transition: all .15s ease">
        Guardar
      </button>
    </div>
  </form>
</div>


<!-- <app-modaldelete [error]='delete' [mesage]='message' (Send)='delete = $event' (SendDelete)='deleteUsers( $event )' > </app-modaldelete> -->
<app-modal-error [error]='error' [message]='message' [cnn_expi]='cnn_expi' (send)='error = $event'></app-modal-error>