<main>

    <div  class="mx-auto my-auto bg-plomo-440  lg:px-2 px-1 py-1" [ngClass]="{'hidden': pasotabsgenerales !== 1, 'block': pasotabsgenerales === 1}">
        <section class="py-2 flex h-full"  >
            <!-- SECCIÓN:TITULOS Y MENUS -->
            <section class="xl:w-8/12 lg:w-8/12 w-6/12  lg:p-6 p-2 shadow-xl bg-plomo">
                <!-- TITULO Y BUSCADOR -->
                <!-- BUSCADOR -->
                <div class="flex md:flex-row flex-col items-center justify-between md:pt-0 pt-5">
                    <div class="md:w-4/12 w-full  font-medium text-plomo-450 lg:text-base text-sm">Listado de Productos</div>
                    <div class="md:w-8/12 w-full flex gap-3 items-center">
                        <div class="xl:w-11/12 lg:w-10/12 w-9/12">
                            <input class="border w-full rounded-md border-plomo-500 lg:p-3 p-1 focus:outline-none" type="text" placeholder="Buscar ...">
                        </div>
                        <div class="xl:w-1/12 lg:w-2/12 w-3/12">
                            <button class="bg-red-600 hover:bg-red-800 lg:p-3 p-1 rounded-md focus:outline-none"><img  src="assets/img/ventanormaltouch/lupa.svg" alt=""></button>
                        </div>
                    </div>
                </div> 
                <!-- TITULO -->
                <div class="text-azul-850 flex justify-center pt-8 pb-5 font-masgrande  border-b-2 border-plomo-400 xl:text-base  md:text-sm text-xs">MENU</div> 
                
                <div class="h-85 overflow-y-auto">
                    <!-- MENUS -->
                    <div class="flex lg:px-7 lg:py-4 px-0 py-0" [ngClass]="{'hidden': modalspasos !== 1, 'block': modalspasos === 1}">
                        <div class="grid xl:gap-7 lg:gap-4 md:gap-3 gap-2 relative w-full xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2  grid-cols-1 pt-8 ">
                            <button (click)="toggleTabs(2)" [ngClass]="{'': modalspasos !== 2, ' ': modalspasos === 2}" class="col-span-1 text-azul-800 hover:text-white bg-white hover:bg-plomo-300 focus:outline-none lg:shadow-xl md:shadow-lg shadow-md border 2xl:h-64 lg:h-56 h-44  w-full px-5 border-plomo-430  rounded-xl ">
                                <div class="flex justify-center mb-3 border-2 2xl:mx-14 md:mx-5 mx-12 border-plomo-430 hover:bg-white rounded-full"></div>
                                <div class="border 2xl:h-53 lg:h-48 h-32  relative 2xl:py-24 lg:py-16 py-10  mb-1 px-3 border-plomo-430 hover:border-white  rounded-xl">
                                    <div class="h-full flex items-center justify-center text-center font-grande xl:text-lg lg:text-sm text-xs">
                                        Varillas
                                    </div>
                                    <div class="flex absolute bottom-3 right-3 justify-end h-full  items-end w-full lg:text-base text-xs">41</div>
                                </div>
                            </button>
                            <button (click)="toggleTabs(3)" [ngClass]="{'': modalspasos !== 3, ' ': modalspasos === 3}" class="col-span-1 text-azul-800 hover:text-white bg-white hover:bg-plomo-300 focus:outline-none lg:shadow-xl md:shadow-lg shadow-md border 2xl:h-64 lg:h-56 h-44  w-full px-5 border-plomo-430  rounded-xl ">
                                <div class="flex justify-center mb-3 border-2 2xl:mx-14 md:mx-5 mx-12 border-plomo-430 hover:bg-white rounded-full"></div>
                                <div class="border 2xl:h-53 lg:h-48 h-32  relative 2xl:py-24 lg:py-16 py-10  mb-1 px-3 border-plomo-430 hover:border-white  rounded-xl">
                                    <div class="h-full flex items-center justify-center text-center font-grande xl:text-lg lg:text-sm text-xs">
                                        Productos de fijación y sellado
                                    </div>
                                    <div class="flex absolute bottom-3 right-3 justify-end h-full  items-end w-full lg:text-base text-xs">41</div>
                                </div>
                            </button>
                            <button (click)="toggleTabs(4)" [ngClass]="{'': modalspasos !== 4, ' ': modalspasos === 4}" class="col-span-1 text-azul-800 hover:text-white bg-white hover:bg-plomo-300 focus:outline-none lg:shadow-xl md:shadow-lg shadow-md border 2xl:h-64 lg:h-56 h-44  w-full px-5 border-plomo-430  rounded-xl ">
                                <div class="flex justify-center mb-3 border-2 2xl:mx-14 md:mx-5 mx-12 border-plomo-430 hover:bg-white rounded-full"></div>
                                <div class="border 2xl:h-53 lg:h-48 h-32  relative 2xl:py-24 lg:py-16 py-10  mb-1 px-3 border-plomo-430 hover:border-white  rounded-xl">
                                    <div class="h-full flex items-center justify-center text-center font-grande xl:text-lg lg:text-sm text-xs">
                                        Llaves ajustables
                                    </div>
                                    <div class="flex absolute bottom-3 right-3 justify-end h-full  items-end w-full lg:text-base text-xs">41</div>
                                </div>
                            </button>
                            <button (click)="toggleTabs(5)" [ngClass]="{'': modalspasos !== 5, ' ': modalspasos === 5}" class="col-span-1 text-azul-800 hover:text-white bg-white hover:bg-plomo-300 focus:outline-none lg:shadow-xl md:shadow-lg shadow-md border 2xl:h-64 lg:h-56 h-44  w-full px-5 border-plomo-430  rounded-xl ">
                                <div class="flex justify-center mb-3 border-2 2xl:mx-14 md:mx-5 mx-12 border-plomo-430 hover:bg-white rounded-full"></div>
                                <div class="border 2xl:h-53 lg:h-48 h-32  relative 2xl:py-24 lg:py-16 py-10  mb-1 px-3 border-plomo-430 hover:border-white  rounded-xl">
                                    <div class="h-full flex items-center justify-center text-center font-grande xl:text-lg lg:text-sm text-xs">
                                        Pinturas, esmaltes y barnices
                                    </div>
                                    <div class="flex absolute bottom-3 right-3 justify-end h-full  items-end w-full lg:text-base text-xs">41</div>
                                </div>
                            </button>
                            <button (click)="toggleTabs(6)" [ngClass]="{'': modalspasos !== 6, ' ': modalspasos === 6}" class="col-span-1 text-azul-800 hover:text-white bg-white hover:bg-plomo-300 focus:outline-none lg:shadow-xl md:shadow-lg shadow-md border 2xl:h-64 lg:h-56 h-44  w-full px-5 border-plomo-430  rounded-xl ">
                                <div class="flex justify-center mb-3 border-2 2xl:mx-14 md:mx-5 mx-12 border-plomo-430 hover:bg-white rounded-full"></div>
                                <div class="border 2xl:h-53 lg:h-48 h-32  relative 2xl:py-24 lg:py-16 py-10  mb-1 px-3 border-plomo-430 hover:border-white  rounded-xl">
                                    <div class="h-full flex items-center justify-center text-center font-grande xl:text-lg lg:text-sm text-xs">
                                        Equipos de protección individual
                                    </div>
                                    <div class="flex absolute bottom-3 right-3 justify-end h-full  items-end w-full lg:text-base text-xs">41</div>
                                </div>
                            </button>
                            <button (click)="toggleTabs(7)" [ngClass]="{'': modalspasos !== 7, ' ': modalspasos === 7}" class="col-span-1 text-azul-800 hover:text-white bg-white hover:bg-plomo-300 focus:outline-none lg:shadow-xl md:shadow-lg shadow-md border 2xl:h-64 lg:h-56 h-44  w-full px-5 border-plomo-430  rounded-xl ">
                                <div class="flex justify-center mb-3 border-2 2xl:mx-14 md:mx-5 mx-12 border-plomo-430 hover:bg-white rounded-full"></div>
                                <div class="border 2xl:h-53 lg:h-48 h-32  relative 2xl:py-24 lg:py-16 py-10  mb-1 px-3 border-plomo-430 hover:border-white  rounded-xl">
                                    <div class="h-full flex items-center justify-center text-center font-grande xl:text-lg lg:text-sm text-xs">
                                        Equipos de protección individual
                                    </div>
                                    <div class="flex absolute bottom-3 right-3 justify-end h-full  items-end w-full lg:text-base text-xs">41</div>
                                </div>
                            </button>
                            <button (click)="toggleTabs(8)" [ngClass]="{'': modalspasos !== 8, ' ': modalspasos === 8}" class="col-span-1 text-azul-800 hover:text-white bg-white hover:bg-plomo-300 focus:outline-none lg:shadow-xl md:shadow-lg shadow-md border 2xl:h-64 lg:h-56 h-44  w-full px-5 border-plomo-430  rounded-xl ">
                                <div class="flex justify-center mb-3 border-2 2xl:mx-14 md:mx-5 mx-12 border-plomo-430 hover:bg-white rounded-full"></div>
                                <div class="border 2xl:h-53 lg:h-48 h-32  relative 2xl:py-24 lg:py-16 py-10  mb-1 px-3 border-plomo-430 hover:border-white  rounded-xl">
                                    <div class="h-full flex items-center justify-center text-center font-grande xl:text-lg lg:text-sm text-xs">
                                        Tuberías y accesorios
                                    </div>
                                    <div class="flex absolute bottom-3 right-3 justify-end h-full  items-end w-full lg:text-base text-xs">41</div>
                                </div>
                            </button>
                            <button (click)="toggleTabs(9)" [ngClass]="{'': modalspasos !== 9, ' ': modalspasos === 9}" class="col-span-1 text-azul-800 hover:text-white bg-white hover:bg-plomo-300  focus:outline-none lg:shadow-xl md:shadow-lg shadow-md border 2xl:h-64 lg:h-56 h-44  w-full px-5 border-plomo-430  rounded-xl ">
                                <div class="flex justify-center mb-3 border-2 2xl:mx-14 md:mx-5 mx-12 border-plomo-430 hover:bg-white rounded-full"></div>
                                <div class="border 2xl:h-53 lg:h-48 h-32  relative 2xl:py-24 lg:py-16 py-10  mb-1 px-3 border-plomo-430 hover:border-white  rounded-xl">
                                    <div class="h-full flex items-center justify-center text-center font-grande xl:text-lg lg:text-sm text-xs">
                                        Componentes diversos
                                    </div>
                                    <div class="flex absolute bottom-3 right-3 justify-end h-full  items-end w-full lg:text-base text-xs">41</div>
                                </div>
                            </button>
                        </div>
                    </div> 
                    
                    <!-- Tab 1-->
                    <div class="flex lg:px-7 lg:py-4 px-0 py-0 " [ngClass]="{'hidden': modalspasos !== 2, 'block': modalspasos === 2}"> 
                        <div class="grid xl:gap-7 lg:gap-4 md:gap-2 gap-1 relative xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-3  sm:grid-cols-2 grid-cols-1 pt-8 ">
                            <button  (click)="toggleTabs(1)" [ngClass]="{'text-plomo-500 ': modalspasos !== 1, 'text-plomo-500': modalspasos === 1}" class="bg-white text col-span-1 text-azul-800 hover:text-shark-400 hover:bg-plomo-100 focus:outline-none shadow-xl border 2xl:h-64 lg:h-56 h-44  w-full px-5 border-plomo-430  rounded-xl ">
                                <div class="2xl:h-53 lg:h-48 h-32  relative 2xl:py-24 lg:py-16 py-10  mb-1 px-3 rounded-xl">
                                    <div class="h-full flex items-center justify-center text-center font-grande xl:text-lg text-sm">
                                       <img src="assets/img/ventanormaltouch/atras.svg" alt="">
                                    </div>
                                </div>
                            </button>
                            <button class="col-span-1 text-azul-800 hover:text-shark-400 hover:bg-plomo-400 focus:outline-none shadow-xl border 2xl:h-64 bg-white lg:h-56 h-44  w-full px-5 border-plomo-430  rounded-xl ">
                                <div class="flex justify-center mb-3 border-2 2xl:mx-14 md:mx-5 mx-12 border-plomo-430 hover:bg-white rounded-full"></div>
                                <div class="border 2xl:h-53 lg:h-48 h-32  relative 2xl:py-24 lg:py-16 py-10  mb-1 px-3 border-plomo-430 hover:border-white  rounded-xl">
                                    <div class="h-full flex items-center justify-center text-center font-grande xl:text-lg text-sm">
                                      1
                                    </div>
                                    <div class="flex absolute bottom-3 right-3 justify-end h-full  items-end w-full lg:text-base text-xs">41</div>
                                </div>
                            </button>
                            <button *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]" class="col-span-1 text-azul-800 hover:text-black hover:bg-plomo-100 bg-white focus:outline-none shadow-xl border   w-full  border-plomo-430  rounded-xl ">
                                <div class="2xl:h-53 lg:h-48 h-32  relative    mb-1  rounded-xl">
                                    <div class="h-full items-center text-center justify-center font-grande xl:text-lg text-sm">
                                     <div class="h-full text-oscuro-500">
                                        <div class="h-1/3 items-start flex gap-3 justify-center text-center text-plomo-350">
                                            <div>AFECTO</div>
                                            <div>UNIDAD</div>
                                        </div>
                                        <div class="h-1/3 items-center flex justify-center text-center border-b border-plomo-430 ">
                                            Varillas Fierros
                                            Corrugado
                                            SIDERPERU
                                        </div>
                                        <div class="h-1/3 items-end flex justify-center text-center">
                                          S/. 10.00
                                        </div>
                                     </div>
                                    </div>  
                                   
                                </div>
                            </button>
                            
                        </div>
                    </div>
        
                     <!-- Tab 2-->
                     <div class="flex lg:px-7 lg:py-4 px-0 py-0 " [ngClass]="{'hidden': modalspasos !== 3, 'block': modalspasos === 3}"> 
                        <div class="grid xl:gap-7 lg:gap-4 md:gap-2 gap-1 relative  w-full xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2  grid-cols-1 pt-8 ">
                            <button (click)="toggleTabs(1)" [ngClass]="{'text-plomo-500 ': modalspasos !== 1, 'text-plomo-500': modalspasos === 1}" class="text bg-white col-span-1 text-azul-800 hover:text-shark-400 hover:bg-plomo-400 focus:outline-none shadow-xl border 2xl:h-64 lg:h-56 h-44  w-full px-5 border-plomo-430  rounded-xl ">
                                <div class="flex justify-center mb-3 border-2 2xl:mx-14 md:mx-5 mx-12 border-plomo-430 hover:bg-white rounded-full"></div>
                                <div class="border 2xl:h-53 lg:h-48 h-32  relative 2xl:py-24 lg:py-16 py-10  mb-1 px-3 border-plomo-430 hover:border-white  rounded-xl">
                                    <div class="h-full flex items-center justify-center text-center font-grande xl:text-lg text-sm">
                                       <img src="assets/img/ventanormaltouch/atras.svg" alt="">
                                    </div>
                                   
                                </div>
                            </button>
                            <button class="col-span-1 text-azul-800 hover:text-shark-400 hover:bg-plomo-400 focus:outline-none shadow-xl border 2xl:h-64 bg-white lg:h-56 h-44  w-full px-5 border-plomo-430  rounded-xl ">
                                <div class="flex justify-center mb-3 border-2 2xl:mx-14 md:mx-5 mx-12 border-plomo-430 hover:bg-white rounded-full"></div>
                                <div class="border 2xl:h-53 lg:h-48 h-32  relative 2xl:py-24 lg:py-16 py-10  mb-1 px-3 border-plomo-430 hover:border-white  rounded-xl">
                                    <div class="h-full flex items-center justify-center text-center font-grande xl:text-lg text-sm">
                                      2
                                    </div>
                                    <div class="flex absolute bottom-3 right-3 justify-end h-full  items-end w-full lg:text-base text-xs">41</div>
                                </div>
                            </button>
                            <button *ngFor="let item of [1,1,1,1,1,1,1]" class="col-span-1 text-azul-800 hover:text-black hover:bg-plomo-100 focus:outline-none bg-white shadow-xl border   w-full  border-plomo-430  rounded-xl ">
                                <div class="2xl:h-53 lg:h-48 h-32  relative    mb-1  rounded-xl">
                                    <div class="h-full items-center text-center justify-center font-grande xl:text-lg text-sm">
                                     <div class="h-full text-oscuro-500">
                                        <div class="h-1/3 items-start flex gap-3 justify-center text-center text-plomo-350">
                                            <div>AFECTO</div>
                                            <div>UNIDAD</div>
                                        </div>
                                        <div class="h-1/3 items-center flex justify-center text-center border-b border-plomo-430 ">
                                            Varillas Fierros
                                            Corrugado
                                            SIDERPERU
                                        </div>
                                        <div class="h-1/3 items-end flex justify-center text-center">
                                          S/. 10.00
                                        </div>
                                     </div>
                                    </div>  
                                   
                                </div>
                            </button>
                            
                        </div>
                    </div> 
        
                     <!-- Tab 3-->
                     <div class="flex lg:px-7 lg:py-4 px-0 py-0 " [ngClass]="{'hidden': modalspasos !== 4, 'block': modalspasos === 4}"> 
                        <div class="grid xl:gap-7 lg:gap-4 md:gap-2 gap-1 relative  w-full xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2  grid-cols-1 pt-8 ">
                            <button (click)="toggleTabs(1)" [ngClass]="{'text-plomo-500 ': modalspasos !== 1, 'text-plomo-500': modalspasos === 1}" class="bg-white text col-span-1 text-azul-800 hover:text-shark-400 hover:bg-plomo-400 focus:outline-none shadow-xl border 2xl:h-64 lg:h-56 h-44  w-full px-5 border-plomo-430  rounded-xl ">
                                <div class="flex justify-center mb-3 border-2 2xl:mx-14 md:mx-5 mx-12 border-plomo-430 hover:bg-white rounded-full"></div>
                                <div class="border 2xl:h-53 lg:h-48 h-32  relative 2xl:py-24 lg:py-16 py-10  mb-1 px-3 border-plomo-430 hover:border-white  rounded-xl">
                                    <div class="h-full flex items-center justify-center text-center font-grande xl:text-lg text-sm">
                                       <img src="assets/img/ventanormaltouch/atras.svg" alt="">
                                    </div>
                                   
                                </div>
                            </button>
                            <button class="col-span-1 text-azul-800 hover:text-shark-400 hover:bg-plomo-400 focus:outline-none shadow-xl border 2xl:h-64 bg-white lg:h-56 h-44  w-full px-5 border-plomo-430  rounded-xl ">
                                <div class="flex justify-center mb-3 border-2 2xl:mx-14 md:mx-5 mx-12 border-plomo-430 hover:bg-white rounded-full"></div>
                                <div class="border 2xl:h-53 lg:h-48 h-32  relative 2xl:py-24 lg:py-16 py-10  mb-1 px-3 border-plomo-430 hover:border-white  rounded-xl">
                                    <div class="h-full flex items-center justify-center text-center font-grande xl:text-lg text-sm">
                                      3
                                    </div>
                                    <div class="flex absolute bottom-3 right-3 justify-end h-full  items-end w-full lg:text-base text-xs">41</div>
                                </div>
                            </button>
                            <button *ngFor="let item of [1,1,1,1,1,1,1]" class="col-span-1 text-azul-800 hover:text-black hover:bg-plomo-100 focus:outline-none bg-white shadow-xl border   w-full  border-plomo-430  rounded-xl ">
                                <div class="2xl:h-53 lg:h-48 h-32  relative    mb-1  rounded-xl">
                                    <div class="h-full items-center text-center justify-center font-grande xl:text-lg text-sm">
                                     <div class="h-full text-oscuro-500">
                                        <div class="h-1/3 items-start flex gap-3 justify-center text-center text-plomo-350">
                                            <div>AFECTO</div>
                                            <div>UNIDAD</div>
                                        </div>
                                        <div class="h-1/3 items-center flex justify-center text-center border-b border-plomo-430 ">
                                            Varillas Fierros
                                            Corrugado
                                            SIDERPERU
                                        </div>
                                        <div class="h-1/3 items-end flex justify-center text-center">
                                          S/. 10.00
                                        </div>
                                     </div>
                                    </div>  
                                   
                                </div>
                            </button>
                        </div>
                    </div> 
        
                    <!-- Tab 4-->
                    <div class="flex lg:px-7 lg:py-4 px-0 py-0 " [ngClass]="{'hidden': modalspasos !== 5, 'block': modalspasos === 5}"> 
                        <div class="grid xl:gap-7 lg:gap-4 md:gap-2 gap-1 relative  w-full xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2  grid-cols-1 pt-8 ">
                            <button (click)="toggleTabs(1)" [ngClass]="{'text-plomo-500 ': modalspasos !== 1, 'text-plomo-500': modalspasos === 1}" class="text v col-span-1 text-azul-800 hover:text-shark-400 hover:bg-plomo-400 focus:outline-none shadow-xl border 2xl:h-64 lg:h-56 h-44  w-full px-5 border-plomo-430  rounded-xl ">
                                <div class="flex justify-center mb-3 border-2 2xl:mx-14 md:mx-5 mx-12 border-plomo-430 hover:bg-white rounded-full"></div>
                                <div class="border 2xl:h-53 lg:h-48 h-32  relative 2xl:py-24 lg:py-16 py-10  mb-1 px-3 border-plomo-430 hover:border-white  rounded-xl">
                                    <div class="h-full flex items-center justify-center text-center font-grande xl:text-lg text-sm">
                                       <img src="assets/img/ventanormaltouch/atras.svg" alt="">
                                    </div>
                                   
                                </div>
                            </button>
                            <button class="col-span-1 text-azul-800 hover:text-shark-400 hover:bg-plomo-400 focus:outline-none shadow-xl border 2xl:h-64 bg-white lg:h-56 h-44  w-full px-5 border-plomo-430  rounded-xl ">
                                <div class="flex justify-center mb-3 border-2 2xl:mx-14 md:mx-5 mx-12 border-plomo-430 hover:bg-white rounded-full"></div>
                                <div class="border 2xl:h-53 lg:h-48 h-32  relative 2xl:py-24 lg:py-16 py-10  mb-1 px-3 border-plomo-430 hover:border-white  rounded-xl">
                                    <div class="h-full flex items-center justify-center text-center font-grande xl:text-lg text-sm">
                                      4
                                    </div>
                                    <div class="flex absolute bottom-3 right-3 justify-end h-full  items-end w-full lg:text-base text-xs">41</div>
                                </div>
                            </button>
                            <button *ngFor="let item of [1,1,1,1,1,1,1]" class="col-span-1 text-azul-800 hover:text-black hover:bg-plomo-100 focus:outline-none bg-white shadow-xl border   w-full  border-plomo-430  rounded-xl ">
                                <div class="2xl:h-53 lg:h-48 h-32  relative    mb-1  rounded-xl">
                                    <div class="h-full items-center text-center justify-center font-grande xl:text-lg text-sm">
                                     <div class="h-full text-oscuro-500">
                                        <div class="h-1/3 items-start flex gap-3 justify-center text-center text-plomo-350">
                                            <div>AFECTO</div>
                                            <div>UNIDAD</div>
                                        </div>
                                        <div class="h-1/3 items-center flex justify-center text-center border-b border-plomo-430 ">
                                            Varillas Fierros
                                            Corrugado
                                            SIDERPERU
                                        </div>
                                        <div class="h-1/3 items-end flex justify-center text-center">
                                          S/. 10.00
                                        </div>
                                     </div>
                                    </div>  
                                   
                                </div>
                            </button>
                        </div>
                    </div> 
        
                    <!-- Tab 5-->
                    <div class="flex lg:px-7 lg:py-4 px-0 py-0 " [ngClass]="{'hidden': modalspasos !== 6, 'block': modalspasos === 6}"> 
                        <div class="grid xl:gap-7 lg:gap-4 md:gap-2 gap-1 relative  w-full xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2  grid-cols-1 pt-8 ">
                            <button (click)="toggleTabs(1)" [ngClass]="{'text-plomo-500 ': modalspasos !== 1, 'text-plomo-500': modalspasos === 1}" class="text bg-white col-span-1 text-azul-800 hover:text-shark-400 hover:bg-plomo-400 focus:outline-none shadow-xl border 2xl:h-64 lg:h-56 h-44  w-full px-5 border-plomo-430  rounded-xl ">
                                <div class="flex justify-center mb-3 border-2 2xl:mx-14 md:mx-5 mx-12 border-plomo-430 hover:bg-white rounded-full"></div>
                                <div class="border 2xl:h-53 lg:h-48 h-32  relative 2xl:py-24 lg:py-16 py-10  mb-1 px-3 border-plomo-430 hover:border-white  rounded-xl">
                                    <div class="h-full flex items-center justify-center text-center font-grande xl:text-lg text-sm">
                                       <img src="assets/img/ventanormaltouch/atras.svg" alt="">
                                    </div>
                                   
                                </div>
                            </button>
                            <button class="col-span-1 text-azul-800 hover:text-shark-400 hover:bg-plomo-400 focus:outline-none shadow-xl border 2xl:h-64 bg-white lg:h-56 h-44  w-full px-5 border-plomo-430  rounded-xl ">
                                <div class="flex justify-center mb-3 border-2 2xl:mx-14 md:mx-5 mx-12 border-plomo-430 hover:bg-white rounded-full"></div>
                                <div class="border 2xl:h-53 lg:h-48 h-32  relative 2xl:py-24 lg:py-16 py-10  mb-1 px-3 border-plomo-430 hover:border-white  rounded-xl">
                                    <div class="h-full flex items-center justify-center text-center font-grande xl:text-lg text-sm">
                                      5
                                    </div>
                                    <div class="flex absolute bottom-3 right-3 justify-end h-full  items-end w-full lg:text-base text-xs">41</div>
                                </div>
                            </button>
                            <button *ngFor="let item of [1,1,1,1,1,1,1]" class="col-span-1 text-azul-800 hover:text-black hover:bg-plomo-100 focus:outline-none bg-white shadow-xl border   w-full  border-plomo-430  rounded-xl ">
                                <div class="2xl:h-53 lg:h-48 h-32  relative    mb-1  rounded-xl">
                                    <div class="h-full items-center text-center justify-center font-grande xl:text-lg text-sm">
                                     <div class="h-full text-oscuro-500">
                                        <div class="h-1/3 items-start flex gap-3 justify-center text-center text-plomo-350">
                                            <div>AFECTO</div>
                                            <div>UNIDAD</div>
                                        </div>
                                        <div class="h-1/3 items-center flex justify-center text-center border-b border-plomo-430 ">
                                            Varillas Fierros
                                            Corrugado
                                            SIDERPERU
                                        </div>
                                        <div class="h-1/3 items-end flex justify-center text-center">
                                          S/. 10.00
                                        </div>
                                     </div>
                                    </div>  
                                   
                                </div>
                            </button> 
                        </div>
                    </div>
                    
                    <!-- Tab 6-->
                    <div class="flex lg:px-7 lg:py-4 px-0 py-0 " [ngClass]="{'hidden': modalspasos !== 7, 'block': modalspasos === 7}"> 
                        <div class="grid xl:gap-7 lg:gap-4 md:gap-2 gap-1 relative  w-full xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2  grid-cols-1 pt-8 ">
                            <button (click)="toggleTabs(1)" [ngClass]="{'text-plomo-500 ': modalspasos !== 1, 'text-plomo-500': modalspasos === 1}" class="text col-span-1 bg-white text-azul-800 hover:text-shark-400 hover:bg-plomo-400 focus:outline-none shadow-xl border 2xl:h-64 lg:h-56 h-44  w-full px-5 border-plomo-430  rounded-xl ">
                                <div class="flex justify-center mb-3 border-2 2xl:mx-14 md:mx-5 mx-12 border-plomo-430 hover:bg-white rounded-full"></div>
                                <div class="border 2xl:h-53 lg:h-48 h-32  relative 2xl:py-24 lg:py-16 py-10  mb-1 px-3 border-plomo-430 hover:border-white  rounded-xl">
                                    <div class="h-full flex items-center justify-center text-center font-grande xl:text-lg text-sm">
                                       <img src="assets/img/ventanormaltouch/atras.svg" alt="">
                                    </div>
                                   
                                </div>
                            </button>
                            <button class="col-span-1 text-azul-800 hover:text-shark-400 hover:bg-plomo-400 focus:outline-none shadow-xl border 2xl:h-64 lg:h-56 h-44 bg-white  w-full px-5 border-plomo-430  rounded-xl ">
                                <div class="flex justify-center mb-3 border-2 2xl:mx-14 md:mx-5 mx-12 border-plomo-430 hover:bg-white rounded-full"></div>
                                <div class="border 2xl:h-53 lg:h-48 h-32  relative 2xl:py-24 lg:py-16 py-10  mb-1 px-3 border-plomo-430 hover:border-white  rounded-xl">
                                    <div class="h-full flex items-center justify-center text-center font-grande xl:text-lg text-sm">
                                      6
                                    </div>
                                    <div class="flex absolute bottom-3 right-3 justify-end h-full  items-end w-full lg:text-base text-xs">41</div>
                                </div>
                            </button>
                            <button *ngFor="let item of [1,1,1,1,1,1,1]" class="col-span-1 text-azul-800 hover:text-black hover:bg-plomo-100 focus:outline-none shadow-xl bg-white border   w-full  border-plomo-430  rounded-xl ">
                                <div class="2xl:h-53 lg:h-48 h-32  relative    mb-1  rounded-xl">
                                    <div class="h-full items-center text-center justify-center font-grande xl:text-lg text-sm">
                                     <div class="h-full text-oscuro-500">
                                        <div class="h-1/3 items-start flex gap-3 justify-center text-center text-plomo-350">
                                            <div>AFECTO</div>
                                            <div>UNIDAD</div>
                                        </div>
                                        <div class="h-1/3 items-center flex justify-center text-center border-b border-plomo-430 ">
                                            Varillas Fierros
                                            Corrugado
                                            SIDERPERU
                                        </div>
                                        <div class="h-1/3 items-end flex justify-center text-center">
                                          S/. 10.00
                                        </div>
                                     </div>
                                    </div>  
                                   
                                </div>
                            </button> 
                        </div>
                    </div> 
        
                    <!-- Tab 7-->
                    <div class="flex lg:px-7 lg:py-4 px-0 py-0 " [ngClass]="{'hidden': modalspasos !== 8, 'block': modalspasos === 8}"> 
                        <div class="grid xl:gap-7 lg:gap-4 md:gap-2 gap-1 relative  w-full xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2  grid-cols-1 pt-8 ">
                            <button (click)="toggleTabs(1)" [ngClass]="{'text-plomo-500 ': modalspasos !== 1, 'text-plomo-500': modalspasos === 1}" class="text bg-white col-span-1 text-azul-800 hover:text-shark-400 hover:bg-plomo-400 focus:outline-none shadow-xl border 2xl:h-64 lg:h-56 h-44  w-full px-5 border-plomo-430  rounded-xl ">
                                <div class="flex justify-center mb-3 border-2 2xl:mx-14 md:mx-5 mx-12 border-plomo-430 hover:bg-white rounded-full"></div>
                                <div class="border 2xl:h-53 lg:h-48 h-32  relative 2xl:py-24 lg:py-16 py-10  mb-1 px-3 border-plomo-430 hover:border-white  rounded-xl">
                                    <div class="h-full flex items-center justify-center text-center font-grande xl:text-lg text-sm">
                                       <img src="assets/img/ventanormaltouch/atras.svg" alt="">
                                    </div>
                                   
                                </div>
                            </button>
                            <button class="col-span-1 text-azul-800 hover:text-shark-400 hover:bg-plomo-400 focus:outline-none shadow-xl border 2xl:h-64 lg:h-56 h-44 bg-white  w-full px-5 border-plomo-430  rounded-xl ">
                                <div class="flex justify-center mb-3 border-2 2xl:mx-14 md:mx-5 mx-12 border-plomo-430 hover:bg-white rounded-full"></div>
                                <div class="border 2xl:h-53 lg:h-48 h-32  relative 2xl:py-24 lg:py-16 py-10  mb-1 px-3 border-plomo-430 hover:border-white  rounded-xl">
                                    <div class="h-full flex items-center justify-center text-center font-grande xl:text-lg text-sm">
                                      7
                                    </div>
                                    <div class="flex absolute bottom-3 right-3 justify-end h-full  items-end w-full lg:text-base text-xs">41</div>
                                </div>
                            </button>
                            <button *ngFor="let item of [1,1,1,1,1,1,1]" class="col-span-1 text-azul-800 hover:text-black hover:bg-plomo-100 focus:outline-none bg-white shadow-xl border   w-full  border-plomo-430  rounded-xl ">
                                <div class="2xl:h-53 lg:h-48 h-32  relative    mb-1  rounded-xl">
                                    <div class="h-full items-center text-center justify-center font-grande xl:text-lg text-sm">
                                     <div class="h-full text-oscuro-500">
                                        <div class="h-1/3 items-start flex gap-3 justify-center text-center text-plomo-350">
                                            <div>AFECTO</div>
                                            <div>UNIDAD</div>
                                        </div>
                                        <div class="h-1/3 items-center flex justify-center text-center border-b border-plomo-430 ">
                                            Varillas Fierros
                                            Corrugado
                                            SIDERPERU
                                        </div>
                                        <div class="h-1/3 items-end flex justify-center text-center">
                                          S/. 10.00
                                        </div>
                                     </div>
                                    </div>  
                                   
                                </div>
                            </button>
                        </div>
                    </div>
        
                    <!-- Tab 8-->
                    <div class="flex lg:px-7 lg:py-4 px-0 py-0 " [ngClass]="{'hidden': modalspasos !== 9, 'block': modalspasos === 9}"> 
                        <div class="grid xl:gap-7 lg:gap-4 md:gap-2 gap-1 relative  w-full xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2  grid-cols-1 pt-8 ">
                            <button (click)="toggleTabs(1)" [ngClass]="{'text-plomo-500 ': modalspasos !== 1, 'text-plomo-500': modalspasos === 1}" class="text bg-white col-span-1 text-azul-800 hover:text-shark-400 hover:bg-plomo-400 focus:outline-none shadow-xl border 2xl:h-64 lg:h-56 h-44  w-full px-5 border-plomo-430  rounded-xl ">
                                <div class="flex justify-center mb-3 border-2 2xl:mx-14 md:mx-5 mx-12 border-plomo-430 hover:bg-white rounded-full"></div>
                                <div class="border 2xl:h-53 lg:h-48 h-32  relative 2xl:py-24 lg:py-16 py-10  mb-1 px-3 border-plomo-430 hover:border-white  rounded-xl">
                                    <div class="h-full flex items-center justify-center text-center font-grande xl:text-lg text-sm">
                                       <img src="assets/img/ventanormaltouch/atras.svg" alt="">
                                    </div>
                                   
                                </div>
                            </button>
                            <button class="col-span-1 text-azul-800 hover:text-shark-400 hover:bg-plomo-400 focus:outline-none shadow-xl border 2xl:h-64 bg-white lg:h-56 h-44  w-full px-5 border-plomo-430  rounded-xl ">
                                <div class="flex justify-center mb-3 border-2 2xl:mx-14 md:mx-5 mx-12 border-plomo-430 hover:bg-white rounded-full"></div>
                                <div class="border 2xl:h-53 lg:h-48 h-32  relative 2xl:py-24 lg:py-16 py-10  mb-1 px-3 border-plomo-430 hover:border-white  rounded-xl">
                                    <div class="h-full flex items-center justify-center text-center font-grande xl:text-lg text-sm">
                                      8
                                    </div>
                                    <div class="flex absolute bottom-3 right-3 justify-end h-full  items-end w-full lg:text-base text-xs">41</div>
                                </div>
                            </button>
                            <button *ngFor="let item of [1,1,1,1,1,1,1]" class="col-span-1 text-azul-800 hover:text-black hover:bg-plomo-100 bg-white focus:outline-none shadow-xl border   w-full  border-plomo-430  rounded-xl ">
                                <div class="2xl:h-53 lg:h-48 h-32  relative    mb-1  rounded-xl">
                                    <div class="h-full items-center text-center justify-center font-grande xl:text-lg text-sm">
                                     <div class="h-full text-oscuro-500">
                                        <div class="h-1/3 items-start flex gap-3 justify-center text-center text-plomo-350">
                                            <div>AFECTO</div>
                                            <div>UNIDAD</div>
                                        </div>
                                        <div class="h-1/3 items-center flex justify-center text-center border-b border-plomo-430 ">
                                            Varillas Fierros
                                            Corrugado
                                            SIDERPERU
                                        </div>
                                        <div class="h-1/3 items-end flex justify-center text-center">
                                          S/. 10.00
                                        </div>
                                     </div>
                                    </div>  
                                   
                                </div>
                            </button>
                        </div>
                    </div>
    
                </div>
            </section>
    
            <!-- SECCION DE LA EJECUCION DE LA VENTA -->
            <section class="xl:w-4/12 lg:w-4/12 w-6/12  bg-white shadow-lg ">
                <!-- Carrito Vacio -->
                <div class="h-full ">
                    <!-- Productos seleccionados -->
                    <div class="flex xl:text-base  md:text-sm text-xs relative items-start pt-8 pb-3 xl:px-7 lg:px-6 md:px-4 px-3 justify-between">
                        <div class="text-plomo-450">Productos Seleccionados</div>
                        <div class="text-shark-400">Items: <span class="text-black">0</span></div>
                    </div>
                    <!-- Icono -->
                    <div class="lg:h-97 h-96 overflow-y-auto xl:px-10 lg:px-7 md:px-5 px-2 space-y-5 p-3">
                        <div class="h-full w-full flex flex-col items-center justify-center">
                            <img src="assets/img/ventanormaltouch/doclupa.svg" alt="">
                            <div class="text-center text-plomo-450">Añada al menos un produto para realizarsu venta</div>
                        </div>
                    </div>
                    <!-- Botones: Monto(Continuar) - Cancerlar -->
                    <div class="w-full relative p-5 xl:px-7 lg:px-6 md:px-4 px-3">
                        <div class="h-full flex flex-col items-center justify-end">
                            <div class="w-full gap-5 flex flex-col items-end ">
                                <button (click)="toggleTab(2)"  [ngClass]="{'bg-text-black': pasotabsgenerales !== 2, '': pasotabsgenerales === 2}" class="focus:outline-none py-3 w-full bg-plomo-480 text-plomo-900 hover:text-shark-400 hover:bg-plomo-400 font-grande xl:text-base  md:text-sm text-xs  rounded-md">S/. 0.00 - Continuar</button>
                                <button class="focus:outline-none py-3 w-full border-2 border-plomo-480 text-plomo-900 hover:border-plomo-900 hover:text-gray-700  font-grande xl:text-base  md:text-sm text-xs rounded-md">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Productos seleccionados -->
                <div class="h-full hidden">
                    <!-- Productos seleccionados -->
                    <div class="flex xl:text-base  md:text-sm text-xs relative items-start pt-8 pb-3 xl:px-7 lg:px-6 md:px-4 px-3 justify-between">
                        <div class="text-plomo-450">Productos Seleccionados</div>
                        <div class="text-shark-400">Items: <span class="text-black">2</span> </div>
                    </div>
                    <!-- Productos seleccionado -->
                    <div class="lg:h-97 h-96 overflow-y-auto xl:px-10 lg:px-7 md:px-5 px-2 space-y-5 p-3">
                        <div class="bg-white border border-shark-720 border-opacity-20 w-full p-3 items-center shadow-lg rounded-lg flex flex-wrap justify-between">
                            <div class="xl:text-base md:text-sm text-xs">
                                <div class="text-oscuro-800">Varillas Fierros Corrugados SIDERPERU</div>
                                <div class="flex gap-4 text-plomo-420">
                                    <div>AFECTO</div>
                                    <div>UNIDAD</div>
                                </div>
                                <div class="text-oscuro-900 font-bold  pt-3">S/. 10.00</div>
                            </div>
                            <div class="flex gap-3 items-center pt-3 lg:pt-0 ">
                                <div> <button class="focus:outline-none"><img class="object-contain w-6 lg:w-8" src="assets/img/ventanormaltouch/menos.svg" alt=""></button></div>
                                <div>
                                    <div>1</div>
                                </div>
                                <div> <button class="focus:outline-none"><img class="object-contain w-6 lg:w-8" src="assets/img/ventanormaltouch/mas.svg" alt=""></button></div>
                            </div>
                        </div>
                        <div class="bg-white border border-shark-720 border-opacity-20 w-full p-3 items-center shadow-lg rounded-lg flex flex-wrap justify-between">
                            <div class="xl:text-base  md:text-sm text-xs">
                                <div class="text-oscuro-800">Varillas Fierros Corrugados SIDERPERU</div>
                                <div class="flex gap-4 text-plomo-420">
                                    <div>AFECTO</div>
                                    <div>UNIDAD</div>
                                </div>
                                <div class="text-oscuro-900 font-bold  pt-3">S/. 10.00</div>
                            </div>
                            <div class="flex gap-3 items-center pt-3 lg:pt-0 ">
                                <div> <button class="focus:outline-none">
                                    <img class="object-contain w-6 lg:w-8" src="assets/img/ventanormaltouch/menos.svg" alt="">
                                </button></div>
                                <div>
                                    <div>1</div>
                                </div>
                                <div> <button class="focus:outline-none"><img class="object-contain w-6 lg:w-8" src="assets/img/ventanormaltouch/mas.svg" alt=""></button></div>
                            </div>
                        </div>
                        <div class="bg-white border border-shark-720 border-opacity-20 w-full p-3 items-center shadow-lg rounded-lg flex flex-wrap justify-between">
                            <div class="xl:text-base  md:text-sm text-xs">
                                <div class="text-oscuro-800">Varillas Fierros Corrugados SIDERPERU</div>
                                <div class="flex gap-4 text-plomo-420">
                                    <div>AFECTO</div>
                                    <div>UNIDAD</div>
                                </div>
                                <div class="text-oscuro-900 font-bold  pt-3">S/. 10.00</div>
                            </div>
                            <div class="flex gap-3 items-center pt-3 lg:pt-0 ">
                                <div> <button class="focus:outline-none"><img class="object-contain w-6 lg:w-8" src="assets/img/ventanormaltouch/menos.svg" alt=""></button></div>
                                <div>
                                    <div>1</div>
                                </div>
                                <div> <button class="focus:outline-none"><img class="object-contain w-6 lg:w-8" src="assets/img/ventanormaltouch/mas.svg" alt=""></button></div>
                            </div>
                        </div>
                        <div class="bg-white border border-shark-720 border-opacity-20 w-full p-3 items-center shadow-lg rounded-lg flex flex-wrap justify-between">
                            <div class="xl:text-base  md:text-sm text-xs">
                                <div class="text-oscuro-800">Varillas Fierros Corrugados SIDERPERU</div>
                                <div class="flex gap-4 text-plomo-420">
                                    <div>AFECTO</div>
                                    <div>UNIDAD</div>
                                </div>
                                <div class="text-oscuro-900 font-bold  pt-3">S/. 10.00</div>
                            </div>
                            <div class="flex gap-3 items-center pt-3 lg:pt-0 ">
                                <div> <button class="focus:outline-none"><img class="object-contain w-6 lg:w-8" src="assets/img/ventanormaltouch/menos.svg" alt=""></button></div>
                                <div>
                                    <div>1</div>
                                </div>
                                <div> <button class="focus:outline-none"><img class="object-contain w-6 lg:w-8" src="assets/img/ventanormaltouch/mas.svg" alt=""></button></div>
                            </div>
                        </div>
                        <div class="bg-white border border-shark-720 border-opacity-20 w-full p-3 items-center shadow-lg rounded-lg flex flex-wrap justify-between">
                            <div class="xl:text-base  md:text-sm text-xs">
                                <div class="text-oscuro-800">Varillas Fierros Corrugados SIDERPERU</div>
                                <div class="flex gap-4 text-plomo-420">
                                    <div>AFECTO</div>
                                    <div>UNIDAD</div>
                                </div>
                                <div class="text-oscuro-900 font-bold  pt-3">S/. 10.00</div>
                            </div>
                            <div class="flex gap-3 items-center pt-3 lg:pt-0 ">
                                <div> <button class="focus:outline-none"><img class="object-contain w-6 lg:w-8" src="assets/img/ventanormaltouch/menos.svg" alt=""></button></div>
                                <div>
                                    <div>1</div>
                                </div>
                                <div> <button class="focus:outline-none"><img class="object-contain w-6 lg:w-8" src="assets/img/ventanormaltouch/mas.svg" alt=""></button></div>
                            </div>
                        </div>
                        <div class="bg-white border border-shark-720 border-opacity-20 w-full p-3 items-center shadow-lg rounded-lg flex flex-wrap justify-between">
                            <div class="xl:text-base  md:text-sm text-xs">
                                <div class="text-oscuro-800">Varillas Fierros Corrugados SIDERPERU</div>
                                <div class="flex gap-4 text-plomo-420">
                                    <div>AFECTO</div>
                                    <div>UNIDAD</div>
                                </div>
                                <div class="text-oscuro-900 font-bold  pt-3">S/. 10.00</div>
                            </div>
                            <div class="flex gap-3 items-center pt-3 lg:pt-0 ">
                                <div> <button class="focus:outline-none"><img class="object-contain w-6 lg:w-8" src="assets/img/ventanormaltouch/menos.svg" alt=""></button></div>
                                <div>
                                    <div>1</div>
                                </div>
                                <div> <button class="focus:outline-none"><img class="object-contain w-6 lg:w-8" src="assets/img/ventanormaltouch/mas.svg" alt=""></button></div>
                            </div>
                        </div>
                    </div>
                    <!-- Botones: Monto(Continuar) - Cancerlar -->
                    <div class="w-full relative p-5 xl:px-7 lg:px-6 md:px-4 px-3">
                        <div class="h-full flex flex-col items-center justify-end">
                            <div class="w-full gap-5 flex flex-col items-end ">
                                <button class="focus:outline-none py-3 w-full bg-plomo-480 text-plomo-900 hover:text-shark-400 hover:bg-plomo-400 font-grande xl:text-base  md:text-sm text-xs  rounded-md">S/. 0.00 - Continuar</button>
                                <button class="focus:outline-none py-3 w-full border-2 border-plomo-480 text-plomo-900 hover:border-plomo-900 hover:text-gray-700  font-grande xl:text-base  md:text-sm text-xs rounded-md">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>

    <div  class="mx-auto my-auto lg:px-2 bg-plomo-440 px-1 py-1" [ngClass]="{'hidden': pasotabsgenerales !== 2, 'block': pasotabsgenerales === 2}">
        <section class="py-2 flex h-full"  >
            <!-- SECCIÓN:TITULOS Y MENUS -->
            <section class="xl:w-8/12 lg:w-8/12 w-6/12  lg:p-6 p-2 shadow-xl bg-plomo">
         
                <!-- PROCESO DE VENTA -->
                <button (click)="toggleTab(1)" [ngClass]="{'bg-text-black': pasotabsgenerales !== 1, '': pasotabsgenerales === 1}" class="flex gap-5 justify-start items-center focus:outline-none xl:px-7 lg:px-6 md:px-4 px-3">
                    <span><img src="assets/img/ventanormaltouch/flechaatras.svg" alt=""></span>
                    <span class="text-rojo-500">Proceso de venta</span>
                </button> 

                <!-- Productos seleccionados -->
                <div class="flex xl:text-base text-plomo-450  md:text-sm text-xs relative items-start pt-8 pb-3 xl:px-7 lg:px-6 md:px-4 px-3 justify-between">
                    <div class="">Productos Seleccionados</div>
                    <div class="text-shark-400">Items: <span class="text-black">7</span></div>
                </div>

                <div class="h-84 overflow-y-auto space-y-4 xl:px-7 lg:px-6 md:px-4 px-3">
                    <!-- Producto -->
                    <div class="flex items-center  justify-between border border-plomo-400 p-6 rounded-lg bg-white shadow-md">
                        <div class="flex gap-5 items-center ">
                            <div class="border border-plomo-320 rounded-full h-9 w-9">
                                <span class="flex h-full justify-center items-center text-plomo-410">3</span>
                            </div>
                            <div class="">
                                <div class="text-oscuro-900">Varillas Fierros Corrugados SIDERPERU</div>
                                <div class="flex items-center gap-4 text-plomo-420">
                                    <div>AFECTO</div>
                                    <div>UNIDAD</div>
                                </div>   
                            </div>
                        </div>
                        <div class="flex font-grande text-lg">855,00</div>
                    </div>
                    <div class="flex items-center  justify-between border border-plomo-400 p-6 rounded-lg bg-white shadow-md">
                        <div class="flex gap-5 items-center ">
                            <div class="border border-plomo-320 rounded-full h-9 w-9">
                                <span class="flex h-full justify-center items-center text-plomo-410">3</span>
                            </div>
                            <div class="">
                                <div class="text-oscuro-900">Varillas Fierros Corrugados SIDERPERU</div>
                                <div class="flex items-center gap-4 text-plomo-420">
                                    <div>AFECTO</div>
                                    <div>UNIDAD</div>
                                </div>   
                            </div>
                        </div>
                        <div class="flex font-grande text-lg">855,00</div>
                    </div>
                    <div class="flex items-center  justify-between border border-plomo-400 p-6 rounded-lg bg-white shadow-md">
                        <div class="flex gap-5 items-center ">
                            <div class="border border-plomo-320 rounded-full h-9 w-9">
                                <span class="flex h-full justify-center items-center text-plomo-410">3</span>
                            </div>
                            <div class="">
                                <div class="text-oscuro-900">Varillas Fierros Corrugados SIDERPERU</div>
                                <div class="flex items-center gap-4 text-plomo-420">
                                    <div>AFECTO</div>
                                    <div>UNIDAD</div>
                                </div>   
                            </div>
                        </div>
                        <div class="flex font-grande text-lg">855,00</div>
                    </div>
                    <div class="flex items-center  justify-between border border-plomo-400 p-6 rounded-lg bg-white shadow-md">
                        <div class="flex gap-5 items-center ">
                            <div class="border border-plomo-320 rounded-full h-9 w-9">
                                <span class="flex h-full justify-center items-center text-plomo-410">3</span>
                            </div>
                            <div class="">
                                <div class="text-oscuro-900">Varillas Fierros Corrugados SIDERPERU</div>
                                <div class="flex items-center gap-4 text-plomo-420">
                                    <div>AFECTO</div>
                                    <div>UNIDAD</div>
                                </div>   
                            </div>
                        </div>
                        <div class="flex font-grande text-lg">855,00</div>
                    </div>
                    <div class="flex items-center  justify-between border border-plomo-400 p-6 rounded-lg bg-white shadow-md">
                        <div class="flex gap-5 items-center ">
                            <div class="border border-plomo-320 rounded-full h-9 w-9">
                                <span class="flex h-full justify-center items-center text-plomo-410">3</span>
                            </div>
                            <div class="">
                                <div class="text-oscuro-900">Varillas Fierros Corrugados SIDERPERU</div>
                                <div class="flex items-center gap-4 text-plomo-420">
                                    <div>AFECTO</div>
                                    <div>UNIDAD</div>
                                </div>   
                            </div>
                        </div>
                        <div class="flex font-grande text-lg">855,00</div>
                    </div>
                    <div class="flex items-center  justify-between border border-plomo-400 p-6 rounded-lg bg-white shadow-md">
                        <div class="flex gap-5 items-center ">
                            <div class="border border-plomo-320 rounded-full h-9 w-9">
                                <span class="flex h-full justify-center items-center text-plomo-410">3</span>
                            </div>
                            <div class="">
                                <div class="text-oscuro-900">Varillas Fierros Corrugados SIDERPERU</div>
                                <div class="flex items-center gap-4 text-plomo-420">
                                    <div>AFECTO</div>
                                    <div>UNIDAD</div>
                                </div>   
                            </div>
                        </div>
                        <div class="flex font-grande text-lg">855,00</div>
                    </div>
                    <div class="flex items-center  justify-between border border-plomo-400 p-6 rounded-lg bg-white shadow-md">
                        <div class="flex gap-5 items-center ">
                            <div class="border border-plomo-320 rounded-full h-9 w-9">
                                <span class="flex h-full justify-center items-center text-plomo-410">3</span>
                            </div>
                            <div class="">
                                <div class="text-oscuro-900">Varillas Fierros Corrugados SIDERPERU</div>
                                <div class="flex items-center gap-4 text-plomo-420">
                                    <div>AFECTO</div>
                                    <div>UNIDAD</div>
                                </div>   
                            </div>
                        </div>
                        <div class="flex font-grande text-lg">855,00</div>
                    </div>
                    <div class="flex items-center  justify-between border border-plomo-400 p-6 rounded-lg bg-white shadow-md">
                        <div class="flex gap-5 items-center ">
                            <div class="border border-plomo-320 rounded-full h-9 w-9">
                                <span class="flex h-full justify-center items-center text-plomo-410">3</span>
                            </div>
                            <div class="">
                                <div class="text-oscuro-900">Varillas Fierros Corrugados SIDERPERU</div>
                                <div class="flex items-center gap-4 text-plomo-420">
                                    <div>AFECTO</div>
                                    <div>UNIDAD</div>
                                </div>   
                            </div>
                        </div>
                        <div class="flex font-grande text-lg">855,00</div>
                    </div>
                    <div class="flex items-center  justify-between border border-plomo-400 p-6 rounded-lg bg-white shadow-md">
                        <div class="flex gap-5 items-center ">
                            <div class="border border-plomo-320 rounded-full h-9 w-9">
                                <span class="flex h-full justify-center items-center text-plomo-410">3</span>
                            </div>
                            <div class="">
                                <div class="text-oscuro-900">Varillas Fierros Corrugados SIDERPERU</div>
                                <div class="flex items-center gap-4 text-plomo-420">
                                    <div>AFECTO</div>
                                    <div>UNIDAD</div>
                                </div>   
                            </div>
                        </div>
                        <div class="flex font-grande text-lg">855,00</div>
                    </div>
                    <div class="flex items-center  justify-between border border-plomo-400 p-6 rounded-lg bg-white shadow-md">
                        <div class="flex gap-5 items-center ">
                            <div class="border border-plomo-320 rounded-full h-9 w-9">
                                <span class="flex h-full justify-center items-center text-plomo-410">3</span>
                            </div>
                            <div class="">
                                <div class="text-oscuro-900">Varillas Fierros Corrugados SIDERPERU</div>
                                <div class="flex items-center gap-4 text-plomo-420">
                                    <div>AFECTO</div>
                                    <div>UNIDAD</div>
                                </div>   
                            </div>
                        </div>
                        <div class="flex font-grande text-lg">855,00</div>
                    </div>
                    
                </div>

                <div class="flex justify-between items-center xl:px-7 lg:px-6 md:px-4 px-3 pt-4">
                    <div class="font-medium space-y-3 w-2/12">
                        <div class="flex justify-between">
                            <span class="">IGV:</span>
                            <span class="">0.00</span>
                        </div>
                        <div class="flex justify-between">
                            <span class="">SubTotal:</span>
                            <span class="">0.00</span>
                        </div>
                    </div>
                    <div class="flex gap-5 items-center">
                        <span class="text-plomo-300">Total:</span>
                        <span class="text-red-500 text-2xl">3 441.00</span>    
                    </div>
                </div>
            </section>
    
            <!-- SECCION DE LA EJECUCION DE LA VENTA: Comprovante - Datos - Vincular -->
            <section class="xl:w-4/12 lg:w-4/12 w-6/12  bg-white shadow-lg">
                <!-- Carrito Vacio -->
                <div class="h-full hidden ">
                    <!-- Productos seleccionados -->
                    <div class="flex xl:text-base  md:text-sm text-xs relative items-start pt-8 pb-3 xl:px-7 lg:px-6 md:px-4 px-3 justify-between">
                        <div class="text-plomo-450">Productos Seleccionados</div>
                        <div class="text-shark-400">Items: <span class="text-black">0</span></div>
                    </div>
                    <!-- Icono -->
                    <div class="lg:h-97 h-96 overflow-y-auto xl:px-10 lg:px-7 md:px-5 px-2 space-y-5 p-3">
                        <div class="h-full w-full flex flex-col items-center justify-center">
                            <img src="assets/img/ventanormaltouch/doclupa.svg" alt="">
                            <div class="text-center text-plomo-450">Añada al menos un produto para realizarsu venta</div>
                        </div>
                    </div>
                    <!-- Botones: Monto(Continuar) - Cancerlar -->
                    <div class="w-full relative p-5 xl:px-7 lg:px-6 md:px-4 px-3">
                        <div class="h-full flex flex-col items-center justify-end">
                            <div class="w-full gap-5 flex flex-col items-end ">
                                <button (click)="toggleTab(2)"  [ngClass]="{'bg-text-black': pasotabsgenerales !== 2, '': pasotabsgenerales === 2}" class="focus:outline-none py-3 w-full bg-plomo-480 text-plomo-900 hover:text-shark-400 hover:bg-plomo-400 font-grande xl:text-base  md:text-sm text-xs  rounded-md">S/. 0.00 - Continuar</button>
                                <button class="focus:outline-none py-3 w-full border-2 border-plomo-480 text-plomo-900 hover:border-plomo-900 hover:text-gray-700  font-grande xl:text-base  md:text-sm text-xs rounded-md">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Productos seleccionados -->
                <div class="h-full hidden">
                    <!-- Productos seleccionados -->
                    <div class="flex xl:text-base  md:text-sm text-xs relative items-start pt-8 pb-3 xl:px-7 lg:px-6 md:px-4 px-3 justify-between">
                        <div class="text-plomo-450">Productos Seleccionados</div>
                        <div class="text-shark-400"><span></span> Items: <span class="text-black">2</span> </div>
                    </div>
                    <!-- Productos seleccionado -->
                    <div class="lg:h-97 h-96 overflow-y-auto xl:px-10 lg:px-7 md:px-5 px-2 space-y-5 p-3">
                        <div class="bg-white border border-shark-720 border-opacity-20 w-full p-3 items-center shadow-lg rounded-lg flex flex-wrap justify-between">
                            <div class="xl:text-base md:text-sm text-xs">
                                <div class="text-oscuro-800">Varillas Fierros Corrugados SIDERPERU</div>
                                <div class="flex gap-4 text-plomo-420">
                                    <div>AFECTO</div>
                                    <div>UNIDAD</div>
                                </div>
                                <div class="text-oscuro-900 font-bold  pt-3">S/. 10.00</div>
                            </div>
                            <div class="flex gap-3 items-center pt-3 lg:pt-0 ">
                                <div> <button class="focus:outline-none"><img class="object-contain w-6 lg:w-8" src="assets/img/ventanormaltouch/menos.svg" alt=""></button></div>
                                <div>
                                    <div>1</div>
                                </div>
                                <div> <button class="focus:outline-none"><img class="object-contain w-6 lg:w-8" src="assets/img/ventanormaltouch/mas.svg" alt=""></button></div>
                            </div>
                        </div>
                        <div class="bg-white border border-shark-720 border-opacity-20 w-full p-3 items-center shadow-lg rounded-lg flex flex-wrap justify-between">
                            <div class="xl:text-base  md:text-sm text-xs">
                                <div class="text-oscuro-800">Varillas Fierros Corrugados SIDERPERU</div>
                                <div class="flex gap-4 text-plomo-420">
                                    <div>AFECTO</div>
                                    <div>UNIDAD</div>
                                </div>
                                <div class="text-oscuro-900 font-bold  pt-3">S/. 10.00</div>
                            </div>
                            <div class="flex gap-3 items-center pt-3 lg:pt-0 ">
                                <div> <button class="focus:outline-none">
                                    <img class="object-contain w-6 lg:w-8" src="assets/img/ventanormaltouch/menos.svg" alt="">
                                </button></div>
                                <div>
                                    <div>1</div>
                                </div>
                                <div> <button class="focus:outline-none"><img class="object-contain w-6 lg:w-8" src="assets/img/ventanormaltouch/mas.svg" alt=""></button></div>
                            </div>
                        </div>
                        <div class="bg-white border border-shark-720 border-opacity-20 w-full p-3 items-center shadow-lg rounded-lg flex flex-wrap justify-between">
                            <div class="xl:text-base  md:text-sm text-xs">
                                <div class="text-oscuro-800">Varillas Fierros Corrugados SIDERPERU</div>
                                <div class="flex gap-4 text-plomo-420">
                                    <div>AFECTO</div>
                                    <div>UNIDAD</div>
                                </div>
                                <div class="text-oscuro-900 font-bold  pt-3">S/. 10.00</div>
                            </div>
                            <div class="flex gap-3 items-center pt-3 lg:pt-0 ">
                                <div> <button class="focus:outline-none"><img class="object-contain w-6 lg:w-8" src="assets/img/ventanormaltouch/menos.svg" alt=""></button></div>
                                <div>
                                    <div>1</div>
                                </div>
                                <div> <button class="focus:outline-none"><img class="object-contain w-6 lg:w-8" src="assets/img/ventanormaltouch/mas.svg" alt=""></button></div>
                            </div>
                        </div>
                        <div class="bg-white border border-shark-720 border-opacity-20 w-full p-3 items-center shadow-lg rounded-lg flex flex-wrap justify-between">
                            <div class="xl:text-base  md:text-sm text-xs">
                                <div class="text-oscuro-800">Varillas Fierros Corrugados SIDERPERU</div>
                                <div class="flex gap-4 text-plomo-420">
                                    <div>AFECTO</div>
                                    <div>UNIDAD</div>
                                </div>
                                <div class="text-oscuro-900 font-bold  pt-3">S/. 10.00</div>
                            </div>
                            <div class="flex gap-3 items-center pt-3 lg:pt-0 ">
                                <div> <button class="focus:outline-none"><img class="object-contain w-6 lg:w-8" src="assets/img/ventanormaltouch/menos.svg" alt=""></button></div>
                                <div>
                                    <div>1</div>
                                </div>
                                <div> <button class="focus:outline-none"><img class="object-contain w-6 lg:w-8" src="assets/img/ventanormaltouch/mas.svg" alt=""></button></div>
                            </div>
                        </div>
                        <div class="bg-white border border-shark-720 border-opacity-20 w-full p-3 items-center shadow-lg rounded-lg flex flex-wrap justify-between">
                            <div class="xl:text-base  md:text-sm text-xs">
                                <div class="text-oscuro-800">Varillas Fierros Corrugados SIDERPERU</div>
                                <div class="flex gap-4 text-plomo-420">
                                    <div>AFECTO</div>
                                    <div>UNIDAD</div>
                                </div>
                                <div class="text-oscuro-900 font-bold  pt-3">S/. 10.00</div>
                            </div>
                            <div class="flex gap-3 items-center pt-3 lg:pt-0 ">
                                <div> <button class="focus:outline-none"><img class="object-contain w-6 lg:w-8" src="assets/img/ventanormaltouch/menos.svg" alt=""></button></div>
                                <div>
                                    <div>1</div>
                                </div>
                                <div> <button class="focus:outline-none"><img class="object-contain w-6 lg:w-8" src="assets/img/ventanormaltouch/mas.svg" alt=""></button></div>
                            </div>
                        </div>
                        <div class="bg-white border border-shark-720 border-opacity-20 w-full p-3 items-center shadow-lg rounded-lg flex flex-wrap justify-between">
                            <div class="xl:text-base  md:text-sm text-xs">
                                <div class="text-oscuro-800">Varillas Fierros Corrugados SIDERPERU</div>
                                <div class="flex gap-4 text-plomo-420">
                                    <div>AFECTO</div>
                                    <div>UNIDAD</div>
                                </div>
                                <div class="text-oscuro-900 font-bold  pt-3">S/. 10.00</div>
                            </div>
                            <div class="flex gap-3 items-center pt-3 lg:pt-0 ">
                                <div> <button class="focus:outline-none"><img class="object-contain w-6 lg:w-8" src="assets/img/ventanormaltouch/menos.svg" alt=""></button></div>
                                <div>
                                    <div>1</div>
                                </div>
                                <div> <button class="focus:outline-none"><img class="object-contain w-6 lg:w-8" src="assets/img/ventanormaltouch/mas.svg" alt=""></button></div>
                            </div>
                        </div>
                    </div>
                    <!-- Botones: Monto(Continuar) - Cancerlar -->
                    <div class="w-full relative p-5 xl:px-7 lg:px-6 md:px-4 px-3">
                        <div class="h-full flex flex-col items-center justify-end">
                            <div class="w-full gap-5 flex flex-col items-end ">
                                <button class="focus:outline-none py-3 w-full bg-plomo-480 text-plomo-900 hover:text-shark-400 hover:bg-plomo-400 font-grande xl:text-base  md:text-sm text-xs  rounded-md">S/. 0.00 - Continuar</button>
                                <button class="focus:outline-none py-3 w-full border-2 border-plomo-480 text-plomo-900 hover:border-plomo-900 hover:text-gray-700  font-grande xl:text-base  md:text-sm text-xs rounded-md">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--------------------------------------- SELECCIONABLES ----------------------------->
                <!-- Drowpdown (Seleccionables)-->
                <div class="w-full relative  rounded-lg  text-white">
                    <input type="checkbox" id="filtro" class="hidden absolute">
                    <label for="filtro" (click)='MostrarFiltroTresPuntos()' class="relative border-b border-plomo-320 bg-white flex p-2  w-full  text-white items-center justify-between space-x-1 cursor-pointer">
                        <div class="flex w-full items-center px-5 py-3 justify-between text-black">
                           <div class="flex items-center gap-3">
                                <img class="w-12 object-cover" src="assets/img/ventanormaltouch/icoshari.svg" alt="">
                                <div>
                                    <div class="flex whitespace-nowrap text-lg">Comprobante y Datos Cliente</div>
                                </div>
                           </div>
                           <div>
                                <img src="assets/img/ventanormaltouch/fleaba.svg" alt="">
                           </div>
                        </div>
                        <div>
                            <svg width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.9999 0.995538C12.0004 1.12361 11.9721 1.25016 11.9172 1.36588C11.8624 1.48159 11.7823 1.58354 11.6828 1.66423L6.54046 5.80498C6.3871 5.93107 6.19474 6 5.99622 6C5.7977 6 5.60534 5.93107 5.45199 5.80498L0.309616 1.51849C0.134589 1.37297 0.0245216 1.16387 0.00362666 0.937177C-0.0172683 0.710485 0.052721 0.484775 0.198197 0.3097C0.343674 0.134626 0.552721 0.0245285 0.779351 0.00362778C1.00598 -0.0172729 1.23163 0.0527353 1.40665 0.198252L6.00051 4.03037L10.5944 0.326847C10.7202 0.222013 10.8734 0.155421 11.0358 0.13495C11.1983 0.114478 11.3632 0.140983 11.5111 0.211329C11.6589 0.281675 11.7835 0.392918 11.8702 0.531895C11.9568 0.670871 12.0019 0.831765 11.9999 0.995538Z" fill="white"/>
                            </svg>
                        </div>
                    </label>
                    <div *ngIf="VerFiltroTresPuntos" class="vendedor z-50 text-black h-64 absolute overflow-y-auto bg-white rounded-md shadow-lg w-full  items-center">
                        <a class="text-oscuro-860 border-b-1 border-plomo-350 focus:outline-none cursor-pointer items-center flex gap-3 px-3 py-2 bg-white hover:bg-plomo-100"> 
                            <div class="flex items-center gap-3 px-5 py-2">
                                 <img class="w-12 object-cover" src="assets/img/ventanormaltouch/icoshari.svg" alt="">
                                 <div>
                                     <div class="flex whitespace-nowrap text-lg">Comprobante y Datos Cliente</div>
                                 </div>
                            </div> 
                        </a>     
                        <a class="text-oscuro-860 border-b-1 border-plomo-350 focus:outline-none cursor-pointer items-center flex gap-3 px-3 py-2 bg-white  hover:bg-plomo-100"> 
                            <div class="flex items-center gap-3 px-5 py-2">
                                 <img class="w-12 object-cover" src="assets/img/ventanormaltouch/icoshari.svg" alt="">
                                 <div>
                                     <div class="flex whitespace-nowrap text-lg">Vincular Documento</div>
                                 </div>
                            </div>
                        </a> 
                        <a class="text-oscuro-860 border-b-1 border-plomo-350 focus:outline-none cursor-pointer items-center flex gap-3 px-3 py-2 bg-white  hover:bg-plomo-100"> 
                            <div class="flex items-center gap-3 px-5 py-2">
                                 <img class="w-12 object-cover" src="assets/img/ventanormaltouch/icoshari.svg" alt="">
                                 <div>
                                     <div class="flex whitespace-nowrap text-lg">Detraccción</div>
                                 </div>
                            </div>
                        </a>                     
                    </div>    
                </div>
                
                <div class="pt-5 h-full">
                    <!-- Detracción -->
                    <div class="  hidden ">     
                        <!-- Info -->
                        <span class="text-plomo-435 xl:px-10 lg:px-7 md:px-5 px-2">Puede agregar los siguientes datos.</span>
                        <!-- Datos de detraccion -->
                        <div class="lg:h-97 h-96 overflow-y-auto xl:px-10 lg:px-7 md:px-5 px-2 space-y-5 p-3">
                            <div class="w-full space-y-3">
                                <div class="items-center w-full gap-5 relative">
                                    <div class="w-full flex text-plomo-405">Medio de Pago</div>
                                    <div class="w-full  tipoanulacion z-0 flex justify-between items-center   relative">
                                        <select name="format" id="format" class="w-full focus:outline-none h-10 bg-white border border-plomo-320 placeholder-plomo-125 rounded-md">
                                            <option selected disabled>Elige una opción</option>
                                            <option value="">Zapatilla</option>
                                            <option value="">Ropa</option>
                                            <option value="">Accesorio</option>   
                                        </select>
                                        <div class="absolute right-10"><img src="assets/img/modals/flechaab.svg" alt=""></div> 
                                    </div>
                                </div> 
                                <div class="w-full flex gap-4">
                                    <div class="w-1/2">
                                        <span class="text-plomo-405">Porcentaje</span>
                                        <span><input class="w-full rounde-md focus:outline-none p-2 border border-plomo-320 rounded-md" type="number" placeholder="%" > </span>
                                    </div>
                                    <div class="w-1/2">
                                        <span class="text-plomo-405">Monto Detracción</span>
                                        <span><input class="w-full rounde-md focus:outline-none p-2 border border-plomo-320 rounded-md" type="number" placeholder="0.00" > </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Botones: Monto(Continuar) - Cancerlar -->
                        <div class="w-full relative p-5 xl:px-10 lg:px-7 md:px-5 px-2">
                            <div class="space-y-2 items-end">
                                <button class="border focus:outline-none border-red-500 bg-rojo-500 text-white w-full py-3 rounded-md">Guardar Venta</button>
                                <button class="border focus:outline-none border-rojo-500 text-rojo-500 w-full py-3 rounded-md">Cancelar</button>
                            </div>
                        </div>
                    </div>
                    <!-- Vincular Documento -->
                     <div class=" hidden ">     
                        
                        <span class="text-plomo-435 xl:px-10 lg:px-7 md:px-5 px-2">A continuación puedes relacionar los documentos necesarios.</span>
                        
                        <div class="lg:h-97 h-96 overflow-y-auto xl:px-10 lg:px-7 md:px-5 px-2 space-y-5 p-3">
                            <div class="w-full space-y-3">
                                <div class="items-center w-full gap-5 relative">
                                    <span class="text-plomo-405">Guía Remitente</span>
                                    <mat-chip-list class=" md:mb-2  flex flex-wrap  forms-control focus" #chipList
                                            aria-label="Fruit selection">
                                            <mat-chip class="text-sm bg-gray-200  text-gray-900 font-normal"
                                                *ngFor="let guia of  listGuiaRemitente" [selectable]="selectable"
                                                [removable]="removable" (removed)="remove(guia)">
                                                {{guia}}
                                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                            </mat-chip>
                                            <input class="focus:outline-none" placeholder="Ingresa Guia..."
                                                [matChipInputFor]="chipList"
                                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="add($event)">
                                    </mat-chip-list>
                                </div> 
                                <div class="w-full flex gap-4">
                                    <div class="w-1/2">
                                        <span class="text-plomo-405">Orden de Compra</span>
                                        <span><input class="w-full rounde-md focus:outline-none p-2 border border-plomo-320 rounded-md" type="number" placeholder="ejem: 295092" > </span>
                                    </div>
                                    <div class="w-1/2">
                                        <span class="text-plomo-405">Guía Transportista</span>
                                        <span><input class="w-full rounde-md focus:outline-none p-2 border border-plomo-320 rounded-md" type="number" placeholder="ejem: 129584472" > </span>
                                    </div>
                                </div>
                                
                                <div class="w-full">
                                    <span class="text-plomo-405">Placa</span>
                                    <span><input class="w-full rounde-md focus:outline-none p-2 border border-plomo-320 rounded-md" type="text" placeholder="ejem: AF3E - 522" > </span>
                                </div>     
                               
                                <div class="w-full">
                                    <textarea maxlength="400" formControlName='mensaje' rows="5" name="message" id="message" placeholder="Escribe una descripción" class="text-sm md:text-base 2xl:py-3  w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-sm focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" required>
                                    </textarea>
                                </div>
                            </div>
                        </div>
                       
                        <div class="w-full relative p-5 xl:px-10 lg:px-7 md:px-5 px-2">
                            <div class="space-y-2 items-end">
                                <button class="border focus:outline-none border-red-500 bg-rojo-500 text-white w-full py-3 rounded-md">Guardar Venta</button>
                                <button class="border focus:outline-none border-rojo-500 text-rojo-500 w-full py-3 rounded-md">Cancelar</button>
                            </div>
                        </div>
                    </div> 

                    <!-- Datos Adicionales -->
                    <div class=" ">     
                        
                        <span class="text-plomo-435 xl:px-10 lg:px-7 md:px-5 px-2">Puedes asignar y modificar las siguientes opciones otro</span>
                        
                        <div class="lg:h-97 h-96 overflow-y-auto xl:px-10 lg:px-7 md:px-5 px-2 space-y-5 p-3">
                            <div class="w-full space-y-3">
                                <div class="w-full flex gap-4">
                                    <div class="w-1/2">
                                        <span class="text-plomo-405">Fecha Emisión</span>
                                        <div class="flex w-full px-2 border-1 border-gray-300 rounded ">
                                            <input class="w-full px-2 py-2 text-sm placeholder-gray-500 focus:outline-none"
                                                name="fechaemision"
                                                placeholder="17/10/2020"
                                                [matDatepicker]="fechainicio"
                                                required
                                                formControlName="fechainicio">
                                            <mat-datepicker #fechainicio> </mat-datepicker>
                                            <button type="button" (click)="fechainicio.open()"
                                                class="flex items-center justify-center w-10 p-1 transition duration-300 ease-in border-white rounded-full cursor-pointer focus:outline-none focus:text-green-400 h-9 hover:border-green-500 hover:bg-gray-200 focus:bg-gray-200">
                                                <svg class="w-6 h-6 text-red-600 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"/><path d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z" /></svg>
                                            </button> 
                                        </div>
                                    </div>
                                    <div class="w-1/2">
                                        <span class="text-plomo-405">Hora</span>
                                        <span><input class="w-full rounde-md focus:outline-none p-2 border border-plomo-320 rounded-md" type="number" placeholder="ejem: 129584472" > </span>
                                    </div>
                                </div>

                                <div class="w-full flex gap-4">
                                    <div class="w-1/2">
                                        <span class="text-plomo-405">Tipo de Pago</span>
                                        <span><input class="w-full rounde-md focus:outline-none p-2 border border-plomo-320 rounded-md" type="number" placeholder="ejem: 295092" > </span>
                                    </div>
                                    <div class="w-1/2">
                                        <span class="text-plomo-405">Moneda</span>
                                        <span><input class="w-full rounde-md focus:outline-none p-2 border border-plomo-320 rounded-md" type="number" placeholder="ejem: 129584472" > </span>
                                    </div>
                                </div>

                                <div class="w-full flex gap-4">
                                    <div class="w-1/2">
                                        <span class="text-plomo-405">¿Anticipo?</span>
                                        <span><input class="w-full rounde-md focus:outline-none p-2 border border-plomo-320 rounded-md" type="number" placeholder="ejem: 295092" > </span>
                                    </div>
                                    <div class="w-1/2">
                                        <span class="text-plomo-405">Tipo de Cambio</span>
                                        <span><input class="w-full rounde-md focus:outline-none p-2 border border-plomo-320 rounded-md" type="number" placeholder="ejem: 129584472" > </span>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                        <div class="w-full relative p-5 xl:px-10 lg:px-7 md:px-5 px-2">
                            <div class="space-y-2 items-end">
                                <button class="border focus:outline-none border-red-500 bg-rojo-500 text-white w-full py-3 rounded-md">Guardar Venta</button>
                                <button class="border focus:outline-none border-rojo-500 text-rojo-500 w-full py-3 rounded-md">Cancelar</button>
                            </div>
                        </div>
                    </div>

                </div>
                



            </section>
        </section>
    </div>

</main>