<div class=" flex items-center justify-center h-screen" style="background: url(/src/assets/img/venta/fondo.svg)">
    <section class="grid md:grid-cols-2 grid-cols-1">
        <div class=" mx-10 flex items-center justify-center">
            <div class="mx-10">
                <h1 class="text-red-600  font-bold text-3xl font-sans tracking-wide mb-2">Pagina no encontrada</h1>
                <p class="text-sm font-sans mb-2 ">Lo sentimos no hemos podido encontrar la pagina que buscas en posible que ya no este disponible o haya cambiado</p>
                <button [routerLink]="['/inicio']" routerLinkActive="router-link-active" class="btn focus:outline-none bg-red-600 font-medium text-sm text-white rounded-full py-2 px-4 mt-2 hover:bg-red-700 transition duration-300 ease-in">Ir al Inicio</button>
            </div>
        </div>

        <div class=" mx-10 flex justify-center ">
            <svg width="545" height="496" viewBox="0 0 545 496" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M76.3594 138.625L78.5942 143.132L83.588 143.863L79.9737 147.378L80.829 152.34L76.3594 149.997L71.9035 152.34L72.7588 147.378L69.1445 143.863L74.1384 143.132L76.3594 138.625Z" fill="#EBEBEB"/>
                <path d="M536.781 201.166L539.016 205.673L544.01 206.403L540.396 209.918L541.251 214.881L536.781 212.537L532.325 214.881L533.181 209.918L529.566 206.403L534.56 205.673L536.781 201.166Z" fill="#EBEBEB"/>
                <path d="M522.837 351.214L525.072 355.735L530.066 356.466L526.451 359.967L527.307 364.943L522.837 362.599L518.381 364.943L519.236 359.967L515.622 356.466L520.616 355.735L522.837 351.214Z" fill="#F5F5F5"/>
                <path d="M434.41 482.285L436.645 486.792L441.625 487.523L438.011 491.038L438.866 496L434.41 493.657L429.954 496L430.796 491.038L427.195 487.523L432.175 486.792L434.41 482.285Z" fill="#F5F5F5"/>
                <path d="M232.092 58.5403L232.919 60.2219L234.782 60.4976C234.885 60.5112 234.983 60.554 235.064 60.6212C235.144 60.6884 235.204 60.777 235.236 60.8768C235.268 60.9766 235.27 61.0833 235.244 61.1846C235.217 61.2859 235.162 61.3775 235.085 61.4487L233.706 62.7581L234.023 64.6052C234.039 64.708 234.027 64.8133 233.987 64.9095C233.947 65.0057 233.881 65.089 233.797 65.1503C233.713 65.2116 233.614 65.2485 233.51 65.2569C233.406 65.2653 233.302 65.2449 233.209 65.1979L231.553 64.3157L229.898 65.1979C229.805 65.2449 229.701 65.2653 229.597 65.2569C229.493 65.2485 229.394 65.2116 229.31 65.1503C229.225 65.089 229.16 65.0057 229.12 64.9095C229.08 64.8133 229.068 64.708 229.084 64.6052L229.388 62.7581L228.008 61.4487C227.931 61.3766 227.876 61.2839 227.85 61.1815C227.824 61.0792 227.828 60.9716 227.861 60.8714C227.895 60.7712 227.956 60.6827 228.039 60.6165C228.121 60.5502 228.22 60.5089 228.325 60.4976L230.174 60.2219L231.002 58.5403C231.035 58.4213 231.106 58.3164 231.204 58.2417C231.303 58.167 231.423 58.1266 231.547 58.1266C231.67 58.1266 231.79 58.167 231.889 58.2417C231.987 58.3164 232.058 58.4213 232.092 58.5403Z" fill="#EBEBEB"/>
                <path d="M4.25229 460.824L5.08 462.491L6.92854 462.767C7.03348 462.782 7.13226 462.825 7.21361 462.893C7.29497 462.961 7.35564 463.05 7.3887 463.151C7.42177 463.251 7.42591 463.359 7.40065 463.462C7.37539 463.565 7.32174 463.658 7.24583 463.732L5.86632 465.028L6.1836 466.875C6.1999 466.978 6.18746 467.083 6.14767 467.179C6.10788 467.275 6.04228 467.358 5.9581 467.42C5.87392 467.481 5.77443 467.518 5.6706 467.526C5.56678 467.535 5.46265 467.514 5.36969 467.467L3.71428 466.599L2.05887 467.467C1.96592 467.514 1.86179 467.535 1.75797 467.526C1.65414 467.518 1.55465 467.481 1.47047 467.42C1.38629 467.358 1.32069 467.275 1.28089 467.179C1.2411 467.083 1.22867 466.978 1.24496 466.875L1.56225 465.028L0.182746 463.732C0.107077 463.659 0.0532372 463.566 0.027279 463.465C0.00132081 463.363 0.00426931 463.256 0.0357883 463.156C0.0673073 463.056 0.12615 462.966 0.205717 462.897C0.285283 462.829 0.382424 462.784 0.486234 462.767L2.33478 462.491L3.17628 460.824C3.21314 460.71 3.28506 460.611 3.38171 460.541C3.47837 460.471 3.59479 460.433 3.71428 460.433C3.83378 460.433 3.9502 460.471 4.04686 460.541C4.14351 460.611 4.21542 460.71 4.25229 460.824Z" fill="#F5F5F5"/>
                <path d="M41.4576 40.8279L42.2853 42.5096L44.1476 42.7715C44.2515 42.788 44.3486 42.8332 44.4282 42.9018C44.5077 42.9705 44.5666 43.0599 44.5981 43.1601C44.6296 43.2603 44.6326 43.3673 44.6066 43.4691C44.5806 43.5709 44.5268 43.6634 44.4511 43.7363L43.0716 45.1147L43.3889 46.948C43.411 47.0521 43.4024 47.1603 43.3643 47.2596C43.3262 47.3589 43.2601 47.4451 43.1741 47.5077C43.0881 47.5704 42.9857 47.6068 42.8794 47.6127C42.7731 47.6185 42.6674 47.5935 42.575 47.5407L40.9196 46.6723L39.2642 47.5407C39.1718 47.5935 39.0661 47.6185 38.9598 47.6127C38.8535 47.6068 38.7512 47.5704 38.6651 47.5077C38.5791 47.4451 38.513 47.3589 38.4749 47.2596C38.4368 47.1603 38.4282 47.0521 38.4503 46.948L38.7538 45.1147L37.3743 43.7363C37.2984 43.6625 37.2447 43.5689 37.2194 43.4661C37.1942 43.3633 37.1983 43.2555 37.2314 43.1549C37.2645 43.0544 37.3251 42.9651 37.4065 42.8973C37.4878 42.8295 37.5866 42.7859 37.6916 42.7715L39.5401 42.5096L40.423 40.8279C40.4673 40.7278 40.5398 40.6426 40.6316 40.5829C40.7235 40.5231 40.8307 40.4913 40.9403 40.4913C41.0499 40.4913 41.1571 40.5231 41.249 40.5829C41.3408 40.6426 41.4133 40.7278 41.4576 40.8279Z" fill="#EBEBEB"/>
                <path d="M39.2231 373.048C39.2259 373.411 39.1206 373.767 38.9207 374.07C38.7207 374.373 38.4351 374.61 38.1001 374.751C37.7651 374.892 37.3958 374.93 37.039 374.861C36.6822 374.792 36.354 374.618 36.096 374.363C35.838 374.107 35.6619 373.78 35.59 373.424C35.5181 373.068 35.5536 372.699 35.692 372.363C35.8305 372.027 36.0656 371.74 36.3677 371.538C36.6697 371.336 37.0249 371.228 37.3884 371.228C37.8726 371.228 38.3372 371.419 38.6809 371.76C39.0246 372.101 39.2195 372.564 39.2231 373.048Z" fill="#EBEBEB"/>
                <path d="M300.695 143.642C300.698 144.005 300.592 144.361 300.392 144.664C300.192 144.968 299.907 145.205 299.572 145.346C299.237 145.487 298.867 145.525 298.511 145.456C298.154 145.386 297.826 145.213 297.568 144.957C297.31 144.701 297.134 144.375 297.062 144.019C296.99 143.663 297.025 143.293 297.164 142.958C297.302 142.622 297.537 142.335 297.839 142.133C298.141 141.931 298.497 141.823 298.86 141.823C299.1 141.821 299.339 141.867 299.561 141.957C299.784 142.048 299.986 142.182 300.157 142.351C300.327 142.52 300.463 142.721 300.555 142.943C300.647 143.164 300.695 143.402 300.695 143.642Z" fill="#EBEBEB"/>
                <path d="M205.564 42.3442C205.564 42.7068 205.456 43.0612 205.255 43.3627C205.053 43.6642 204.767 43.8991 204.431 44.0379C204.096 44.1767 203.727 44.213 203.371 44.1422C203.015 44.0715 202.688 43.8969 202.432 43.6405C202.175 43.3841 202.001 43.0575 201.93 42.7018C201.859 42.3462 201.895 41.9776 202.034 41.6426C202.173 41.3076 202.408 41.0213 202.71 40.8199C203.012 40.6184 203.366 40.5109 203.729 40.5109C204.215 40.5145 204.679 40.7088 205.023 41.0519C205.366 41.3949 205.56 41.8591 205.564 42.3442Z" fill="#F5F5F5"/>
                <path d="M290.301 386.946C295.751 385.661 299.126 380.205 297.84 374.759C296.554 369.313 291.093 365.941 285.643 367.226C280.193 368.511 276.817 373.968 278.104 379.413C279.39 384.859 284.851 388.232 290.301 386.946Z" fill="#F0F0F0"/>
                <path d="M284.484 371.159C282.407 371.155 280.383 371.811 278.704 373.033C277.847 374.999 277.636 377.185 278.103 379.277C278.57 381.37 279.689 383.26 281.301 384.675C282.912 386.091 284.932 386.958 287.068 387.152C289.205 387.346 291.348 386.857 293.189 385.756C294.004 384.25 294.413 382.559 294.377 380.847C294.341 379.136 293.86 377.463 292.983 375.993C292.105 374.523 290.861 373.306 289.371 372.461C287.881 371.616 286.197 371.172 284.484 371.173V371.159Z" fill="#E6E6E6"/>
                <path d="M124.132 303.191H40.1885V265.326L124.132 165.614H164.303V267.477H185.12V303.191H164.303V334.177H124.132V303.191ZM124.132 267.477V215.318L79.7666 267.477H124.132Z" fill="#FF7070"/>
                <path d="M199.481 250.633C199.481 219.123 205.155 197.068 216.504 184.47C227.853 171.871 245.147 165.577 268.387 165.586C279.543 165.586 288.707 166.964 295.881 169.721C302.397 172.067 308.364 175.722 313.414 180.459C317.671 184.52 321.277 189.21 324.105 194.367C326.905 199.751 329.013 205.465 330.382 211.376C333.501 224.003 335.058 236.965 335.017 249.971C335.017 280.038 329.927 302.042 319.746 315.982C309.565 329.922 292.032 336.897 267.146 336.906C253.185 336.906 241.905 334.682 233.306 330.235C224.638 325.715 217.337 318.962 212.158 310.675C208.158 304.574 205.045 296.225 202.819 285.63C200.509 274.109 199.39 262.382 199.481 250.633ZM245.198 250.743C245.198 271.878 247.06 286.292 250.785 293.983C254.509 301.674 259.922 305.539 267.021 305.575C269.274 305.601 271.51 305.179 273.599 304.334C275.687 303.489 277.587 302.238 279.189 300.654C282.628 297.374 285.157 292.191 286.776 285.106C288.395 278.021 289.204 266.994 289.204 252.025C289.204 230.026 287.337 215.236 283.603 207.654C279.869 200.073 274.268 196.287 266.801 196.297C259.186 196.297 253.668 200.161 250.247 207.889C246.825 215.617 245.142 229.902 245.198 250.743Z" fill="#FF7070"/>
                <path d="M433.224 303.191H349.281V265.326L433.224 165.614H473.396V267.477H494.281V303.191H473.396V334.177H433.224V303.191ZM433.224 267.477V215.318L388.873 267.477H433.224Z" fill="#FF7070"/>
                <g opacity="0.3">
                <path opacity="0.3" d="M197.687 107.432C197.687 107.942 197.535 108.441 197.251 108.865C196.967 109.289 196.563 109.62 196.091 109.814C195.619 110.009 195.099 110.059 194.599 109.959C194.098 109.858 193.638 109.611 193.278 109.25C192.918 108.888 192.673 108.427 192.575 107.926C192.477 107.425 192.53 106.907 192.728 106.436C192.925 105.965 193.258 105.563 193.684 105.282C194.11 105 194.61 104.851 195.121 104.854C195.459 104.854 195.794 104.921 196.106 105.051C196.418 105.18 196.702 105.37 196.94 105.61C197.179 105.85 197.367 106.134 197.495 106.446C197.623 106.759 197.689 107.094 197.687 107.432Z" fill="#FF7070"/>
                <path opacity="0.3" d="M21.068 206.442C22.0737 206.442 22.889 205.627 22.889 204.622C22.889 203.617 22.0737 202.803 21.068 202.803C20.0623 202.803 19.2471 203.617 19.2471 204.622C19.2471 205.627 20.0623 206.442 21.068 206.442Z" fill="#FF7070"/>
                <path opacity="0.3" d="M321.911 472.154C323.351 472.154 324.518 470.987 324.518 469.549C324.518 468.11 323.351 466.944 321.911 466.944C320.471 466.944 319.304 468.11 319.304 469.549C319.304 470.987 320.471 472.154 321.911 472.154Z" fill="#FF7070"/>
                <path opacity="0.3" d="M384.61 366.156C385.616 366.156 386.431 365.341 386.431 364.336C386.431 363.331 385.616 362.517 384.61 362.517C383.604 362.517 382.789 363.331 382.789 364.336C382.789 365.341 383.604 366.156 384.61 366.156Z" fill="#FF7070"/>
                <path opacity="0.3" d="M505.551 38.5122C505.551 38.8721 505.444 39.2239 505.244 39.5231C505.044 39.8223 504.76 40.0555 504.427 40.1932C504.094 40.3309 503.728 40.3669 503.375 40.2967C503.022 40.2265 502.697 40.0532 502.443 39.7988C502.188 39.5443 502.014 39.2201 501.944 38.8672C501.874 38.5142 501.91 38.1484 502.048 37.8159C502.186 37.4835 502.419 37.1993 502.718 36.9994C503.018 36.7995 503.37 36.6927 503.73 36.6927C504.213 36.6927 504.676 36.8844 505.018 37.2257C505.359 37.5669 505.551 38.0297 505.551 38.5122Z" fill="#FF7070"/>
                <path opacity="0.3" d="M158.715 1.81947C158.715 2.17933 158.608 2.53111 158.408 2.83032C158.208 3.12953 157.924 3.36274 157.591 3.50045C157.258 3.63816 156.892 3.6742 156.539 3.60399C156.186 3.53379 155.861 3.3605 155.607 3.10604C155.352 2.85158 155.178 2.52739 155.108 2.17444C155.038 1.8215 155.074 1.45566 155.212 1.12319C155.35 0.790726 155.583 0.50656 155.883 0.306634C156.182 0.106707 156.534 0 156.894 0C157.376 0.00360644 157.837 0.196459 158.178 0.536898C158.519 0.877338 158.712 1.33803 158.715 1.81947Z" fill="#FF7070"/>
                <path opacity="0.3" d="M303.495 97.2868C304.5 97.2868 305.316 96.4722 305.316 95.4673C305.316 94.4624 304.5 93.6478 303.495 93.6478C302.489 93.6478 301.674 94.4624 301.674 95.4673C301.674 96.4722 302.489 97.2868 303.495 97.2868Z" fill="#FF7070"/>
                </g>
                <path d="M115.233 97.3006C131.926 97.3006 145.458 83.7793 145.458 67.1C145.458 50.4207 131.926 36.8995 115.233 36.8995C98.54 36.8995 85.0078 50.4207 85.0078 67.1C85.0078 83.7793 98.54 97.3006 115.233 97.3006Z" fill="#FF7070"/>
                <path opacity="0.7" d="M115.233 97.3006C131.926 97.3006 145.458 83.7793 145.458 67.1C145.458 50.4207 131.926 36.8995 115.233 36.8995C98.54 36.8995 85.0078 50.4207 85.0078 67.1C85.0078 83.7793 98.54 97.3006 115.233 97.3006Z" fill="white"/>
                <path opacity="0.2" d="M104.818 44.3153C100.702 44.3027 96.6268 45.133 92.8441 46.755C88.1952 51.8604 85.4358 58.4024 85.0252 65.2926C84.6145 72.1828 86.5773 79.0058 90.587 84.6264C94.5967 90.247 100.412 94.3265 107.064 96.186C113.717 98.0455 120.806 97.573 127.152 94.8471C131.087 90.5143 133.678 85.1332 134.611 79.3572C135.544 73.5812 134.779 67.6589 132.408 62.3093C130.037 56.9596 126.163 52.4129 121.255 49.2211C116.348 46.0293 110.619 44.3299 104.763 44.329L104.818 44.3153Z" fill="#FF7070"/>
                <path opacity="0.2" d="M101.811 52.2961C101.811 52.8414 101.649 53.3744 101.346 53.8277C101.043 54.2811 100.612 54.6344 100.108 54.8431C99.6037 55.0517 99.0489 55.1063 98.5137 55C97.9785 54.8936 97.4869 54.631 97.1011 54.2455C96.7152 53.8599 96.4524 53.3687 96.346 52.834C96.2395 52.2992 96.2942 51.7449 96.503 51.2412C96.7118 50.7374 97.0654 50.3069 97.5192 50.004C97.9729 49.701 98.5063 49.5394 99.052 49.5394C99.7837 49.5394 100.485 49.8298 101.003 50.3468C101.52 50.8638 101.811 51.565 101.811 52.2961Z" fill="#FF7070"/>
                <path opacity="0.2" d="M134.312 49.5394C134.312 50.0846 134.15 50.6176 133.847 51.071C133.544 51.5243 133.113 51.8776 132.609 52.0863C132.105 52.295 131.55 52.3496 131.015 52.2432C130.479 52.1368 129.988 51.8742 129.602 51.4887C129.216 51.1032 128.953 50.612 128.847 50.0772C128.741 49.5424 128.795 48.9881 129.004 48.4844C129.213 47.9807 129.566 47.5501 130.02 47.2472C130.474 46.9443 131.007 46.7826 131.553 46.7826C132.285 46.7826 132.986 47.073 133.504 47.59C134.021 48.107 134.312 48.8082 134.312 49.5394Z" fill="#FF7070"/>
                <path opacity="0.2" d="M128.794 69.2228C128.794 70.117 128.528 70.9911 128.031 71.7346C127.534 72.4781 126.827 73.0576 126 73.3998C125.174 73.7419 124.264 73.8315 123.386 73.657C122.508 73.4826 121.702 73.052 121.069 72.4197C120.437 71.7874 120.006 70.9818 119.831 70.1048C119.656 69.2278 119.746 68.3187 120.089 67.4926C120.431 66.6665 121.011 65.9604 121.755 65.4636C122.499 64.9668 123.374 64.7017 124.269 64.7017C125.469 64.7017 126.62 65.178 127.468 66.0259C128.317 66.8737 128.794 68.0237 128.794 69.2228Z" fill="#FF7070"/>
                <path opacity="0.2" d="M114.419 82.1107C114.419 83.3048 114.065 84.472 113.401 85.4649C112.737 86.4577 111.794 87.2315 110.689 87.6885C109.585 88.1454 108.371 88.265 107.198 88.0321C106.026 87.7991 104.95 87.2241 104.105 86.3798C103.26 85.5354 102.684 84.4597 102.451 83.2885C102.218 82.1174 102.338 80.9035 102.795 79.8003C103.252 78.6971 104.027 77.7542 105.02 77.0908C106.014 76.4274 107.182 76.0734 108.377 76.0734C109.98 76.0734 111.517 76.7094 112.65 77.8417C113.783 78.9739 114.419 80.5095 114.419 82.1107Z" fill="#FF7070"/>
                <path d="M473.45 431.389C476.815 417.142 467.984 402.866 453.725 399.503C439.466 396.14 425.178 404.964 421.812 419.212C418.447 433.459 427.278 447.735 441.537 451.098C455.797 454.461 470.084 445.637 473.45 431.389Z" fill="#FF7070"/>
                <path opacity="0.3" d="M473.45 431.389C476.815 417.142 467.984 402.866 453.725 399.503C439.466 396.14 425.178 404.964 421.812 419.212C418.447 433.459 427.278 447.735 441.537 451.098C455.797 454.461 470.084 445.637 473.45 431.389Z" fill="white"/>
                <path opacity="0.4" d="M464.386 404.778C458.506 403.005 452.191 403.326 446.521 405.688C440.852 408.05 436.179 412.306 433.301 417.729C430.423 423.151 429.519 429.404 430.742 435.419C431.966 441.433 435.242 446.837 440.01 450.706C442.484 451.457 445.054 451.838 447.639 451.836C453.116 451.835 458.458 450.14 462.932 446.985C467.406 443.829 470.793 439.367 472.628 434.211C474.463 429.055 474.656 423.458 473.18 418.188C471.704 412.918 468.633 408.234 464.386 404.778Z" fill="#FF7070"/>
                <path d="M422.312 433.256C393.99 446.571 415.111 456.84 455.02 442.505C491.977 429.231 506.062 412.497 472.953 417.694C474.733 424.654 428.45 442.67 422.312 433.256Z" fill="#FF7070"/>
                <path opacity="0.2" d="M464.07 165.614C426.975 190.659 378.954 223.74 365.697 303.191H362.869C375.768 224.623 422.036 190.755 459.145 165.614H464.07Z" fill="black"/>
                <path d="M272.181 414.33C248.729 414.33 225.54 403.758 214.241 386.501C207.275 375.832 199.177 353.488 223.291 323.674L225.429 325.41C208.379 346.5 205.233 367.658 216.559 384.998C230.354 406.088 262.897 416.701 290.68 409.148C319.139 401.415 336.411 376.687 338.08 341.303C343.777 220.267 408.131 182.981 455.117 155.758C484.322 138.845 505.414 126.633 500.779 100.843C500.131 97.273 498.71 94.8057 496.406 93.2895C490.405 89.3335 478.679 92.0765 465.105 95.233C438.467 101.436 401.993 109.927 380.265 72.9995L382.652 71.6212C403.344 106.811 437.239 98.9133 464.484 92.5727C478.679 89.2783 490.929 86.4251 497.924 91.0151C500.889 92.9586 502.71 96.0324 503.442 100.388C508.422 128.066 485.508 141.354 456.469 158.17C410.021 185.076 346.426 221.921 340.798 341.496C339.059 378.161 321.043 403.813 291.356 411.877C285.101 413.541 278.653 414.366 272.181 414.33Z" fill="#FF7070"/>
                <path opacity="0.2" d="M272.181 414.33C248.729 414.33 225.54 403.758 214.241 386.501C207.275 375.832 199.177 353.488 223.291 323.674L225.429 325.41C208.379 346.5 205.233 367.658 216.559 384.998C230.354 406.088 262.897 416.701 290.68 409.148C319.139 401.415 336.411 376.687 338.08 341.303C343.777 220.267 408.131 182.981 455.117 155.758C484.322 138.845 505.414 126.633 500.779 100.843C500.131 97.273 498.71 94.8057 496.406 93.2895C490.405 89.3335 478.679 92.0765 465.105 95.233C438.467 101.436 401.993 109.927 380.265 72.9995L382.652 71.6212C403.344 106.811 437.239 98.9133 464.484 92.5727C478.679 89.2783 490.929 86.4251 497.924 91.0151C500.889 92.9586 502.71 96.0324 503.442 100.388C508.422 128.066 485.508 141.354 456.469 158.17C410.021 185.076 346.426 221.921 340.798 341.496C339.059 378.161 321.043 403.813 291.356 411.877C285.101 413.541 278.653 414.366 272.181 414.33Z" fill="white"/>
                <path d="M351.861 40.4144C358.218 40.451 364.533 41.4407 370.595 43.3503C370.595 43.3503 385.77 69.2227 387.563 75.1498C386.928 80.9942 377.065 90.574 377.065 90.574L351.861 40.4144Z" fill="#FF7070"/>
                <path opacity="0.3" d="M351.861 40.4144C358.218 40.451 364.533 41.4407 370.595 43.3503C370.595 43.3503 385.77 69.2227 387.563 75.1498C386.928 80.9942 377.065 90.574 377.065 90.574L351.861 40.4144Z" fill="white"/>
                <path d="M396.805 166.027C390.962 158.888 385.632 151.343 380.858 143.449C379.699 141.455 378.6 139.424 377.561 137.357C376.968 136.185 376.402 135.013 375.85 133.828C375.126 132.674 374.565 131.427 374.181 130.12C372.526 112.656 378.513 99.7955 372.802 85.7773L350.067 94.6541C350.067 94.6541 351.999 119.631 356.413 134.627C359.172 143.904 365.352 151.926 371.326 159.356C373.188 161.671 374.981 164.056 376.844 166.386C378.706 168.715 380.582 170.603 382.362 172.795C385.052 176.117 385.935 179.301 383.907 183.216L383.562 183.836C382.982 184.856 385.686 186.014 387.397 183.836C390.156 180.28 389.77 180.5 392.17 177.468C393.632 175.635 395.301 173.636 396.75 171.954C397.449 171.127 397.837 170.083 397.847 169.001C397.857 167.919 397.488 166.867 396.805 166.027Z" fill="#FF7070"/>
                <path opacity="0.7" d="M396.805 166.027C390.962 158.888 385.632 151.343 380.858 143.449C379.699 141.455 378.6 139.424 377.561 137.357C376.968 136.185 376.402 135.013 375.85 133.828C375.126 132.674 374.565 131.427 374.181 130.12C372.526 112.656 378.513 99.7955 372.802 85.7773L350.067 94.6541C350.067 94.6541 351.999 119.631 356.413 134.627C359.172 143.904 365.352 151.926 371.326 159.356C373.188 161.671 374.981 164.056 376.844 166.386C378.706 168.715 380.582 170.603 382.362 172.795C385.052 176.117 385.935 179.301 383.907 183.216L383.562 183.836C382.982 184.856 385.686 186.014 387.397 183.836C390.156 180.28 389.77 180.5 392.17 177.468C393.632 175.635 395.301 173.636 396.75 171.954C397.449 171.127 397.837 170.083 397.847 169.001C397.857 167.919 397.488 166.867 396.805 166.027Z" fill="white"/>
                <path opacity="0.3" d="M391.246 158.846C387.639 162.71 383.635 166.184 379.3 169.211C379.893 169.873 380.472 170.59 381.066 171.224C385.406 168.294 389.347 164.814 392.791 160.872L391.246 158.846Z" fill="#FF7070"/>
                <path opacity="0.3" d="M396.806 166.027L396.64 165.834C395.579 167.051 394.961 168.591 394.888 170.204C394.799 171.31 394.979 172.421 395.412 173.443L396.723 171.885C397.408 171.067 397.79 170.038 397.805 168.971C397.82 167.904 397.467 166.865 396.806 166.027Z" fill="#FF7070"/>
                <path d="M346.454 56.9551C343.989 60.6425 341.033 63.9767 337.666 66.8657C335.8 68.4734 333.754 69.861 331.569 71.0009C330.421 71.5885 329.232 72.0907 328.01 72.5034L327.072 72.8066L326.768 72.8893L326.12 73.0685C325.721 73.1632 325.315 73.2277 324.906 73.2615C323.742 73.3504 322.572 73.2432 321.443 72.9444C320.021 72.5409 318.657 71.9524 317.388 71.1939C316.366 70.5973 315.376 69.9486 314.422 69.2504C312.697 67.9685 311.048 66.5878 309.483 65.1152C306.466 62.2584 303.697 59.1504 301.206 55.8248C300.727 55.177 300.488 54.3821 300.533 53.5775C300.577 52.7729 300.901 52.009 301.449 51.4176C301.996 50.8261 302.734 50.4443 303.533 50.3379C304.332 50.2316 305.144 50.4074 305.827 50.8351H305.938C309.193 52.9026 312.477 55.0805 315.677 57.024C317.305 57.9751 318.878 58.94 320.436 59.6843C321.148 60.0566 321.88 60.3879 322.63 60.6768C323.097 60.8827 323.597 61.0041 324.106 61.0351C324.189 61.0351 324.106 60.9387 323.595 60.9524C323.435 60.9428 323.274 60.9428 323.113 60.9524L322.809 61.0214L323.264 60.787C323.877 60.4575 324.472 60.094 325.044 59.6981C326.278 58.8285 327.432 57.8506 328.493 56.7759C330.903 54.2523 333.16 51.5873 335.252 48.795C336.399 47.5135 337.983 46.7063 339.694 46.5316C341.406 46.357 343.12 46.8277 344.502 47.8512C345.884 48.8748 346.834 50.3773 347.164 52.0642C347.495 53.751 347.182 55.5003 346.288 56.9689L346.454 56.9551Z" fill="#FF7070"/>
                <path opacity="0.7" d="M346.454 56.9551C343.989 60.6425 341.033 63.9767 337.666 66.8657C335.8 68.4734 333.754 69.861 331.569 71.0009C330.421 71.5885 329.232 72.0907 328.01 72.5034L327.072 72.8066L326.768 72.8893L326.12 73.0685C325.721 73.1632 325.315 73.2277 324.906 73.2615C323.742 73.3504 322.572 73.2432 321.443 72.9444C320.021 72.5409 318.657 71.9524 317.388 71.1939C316.366 70.5973 315.376 69.9486 314.422 69.2504C312.697 67.9685 311.048 66.5878 309.483 65.1152C306.466 62.2584 303.697 59.1504 301.206 55.8248C300.727 55.177 300.488 54.3821 300.533 53.5775C300.577 52.7729 300.901 52.009 301.449 51.4176C301.996 50.8261 302.734 50.4443 303.533 50.3379C304.332 50.2316 305.144 50.4074 305.827 50.8351H305.938C309.193 52.9026 312.477 55.0805 315.677 57.024C317.305 57.9751 318.878 58.94 320.436 59.6843C321.148 60.0566 321.88 60.3879 322.63 60.6768C323.097 60.8827 323.597 61.0041 324.106 61.0351C324.189 61.0351 324.106 60.9387 323.595 60.9524C323.435 60.9428 323.274 60.9428 323.113 60.9524L322.809 61.0214L323.264 60.787C323.877 60.4575 324.472 60.094 325.044 59.6981C326.278 58.8285 327.432 57.8506 328.493 56.7759C330.903 54.2523 333.16 51.5873 335.252 48.795C336.399 47.5135 337.983 46.7063 339.694 46.5316C341.406 46.357 343.12 46.8277 344.502 47.8512C345.884 48.8748 346.834 50.3773 347.164 52.0642C347.495 53.751 347.182 55.5003 346.288 56.9689L346.454 56.9551Z" fill="white"/>
                <path d="M296.033 47.8853L297.647 50.6421C297.647 50.6421 298.874 54.2535 301.344 54.9151L308.048 52.751L307.703 52.1859C306.848 50.8902 306.944 48.3678 307.234 46.2726C307.524 44.1774 306.448 44.1085 305.648 44.6323C305.081 45.284 304.683 46.0651 304.489 46.9067C304.16 46.4515 303.795 46.0228 303.399 45.6248L301.357 43.5847C300.929 43.1664 300.358 42.9254 299.76 42.9101C299.161 42.8947 298.579 43.1062 298.129 43.502L296.474 44.9769C296.081 45.3399 295.824 45.8254 295.743 46.3539C295.663 46.8823 295.765 47.4223 296.033 47.8853Z" fill="#FF7070"/>
                <path opacity="0.7" d="M296.033 47.8853L297.647 50.6421C297.647 50.6421 298.874 54.2535 301.344 54.9151L308.048 52.751L307.703 52.1859C306.848 50.8902 306.944 48.3678 307.234 46.2726C307.524 44.1774 306.448 44.1085 305.648 44.6323C305.081 45.284 304.683 46.0651 304.489 46.9067C304.16 46.4515 303.795 46.0228 303.399 45.6248L301.357 43.5847C300.929 43.1664 300.358 42.9254 299.76 42.9101C299.161 42.8947 298.579 43.1062 298.129 43.502L296.474 44.9769C296.081 45.3399 295.824 45.8254 295.743 46.3539C295.663 46.8823 295.765 47.4223 296.033 47.8853Z" fill="white"/>
                <path d="M358.634 37.9608C351.198 39.9304 344.074 42.9323 337.473 46.879C336.443 47.5231 335.634 48.4664 335.156 49.5824C334.678 50.6984 334.552 51.9339 334.796 53.1231C337.459 66.1351 343.515 83.558 350.054 94.654L380.555 82.0418C380.762 76.666 373.354 59.2708 365.808 42.4544C364.456 39.4357 361.849 37.1889 358.634 37.9608Z" fill="#FF7070"/>
                <path opacity="0.8" d="M358.634 37.9608C351.198 39.9304 344.074 42.9323 337.473 46.879C336.443 47.5231 335.634 48.4664 335.156 49.5824C334.678 50.6984 334.552 51.9339 334.796 53.1231C337.459 66.1351 343.515 83.558 350.054 94.654L380.555 82.0418C380.762 76.666 373.354 59.2708 365.808 42.4544C364.456 39.4357 361.849 37.1889 358.634 37.9608Z" fill="white"/>
                <path opacity="0.3" d="M370.539 53.1094L364.483 51.0831C365.863 54.6256 370.733 59.1054 374.14 61.7381C373.036 58.9813 371.809 56.0867 370.539 53.1094Z" fill="#FF7070"/>
                <path d="M356.634 24.3148C354.11 19.518 348.661 17.1059 342.122 17.6434C336.604 18.1121 331.72 23.7359 332.3 26.7684C332.879 29.8008 337.514 31.0965 338.397 32.1441L334.576 34.9009C334.123 35.2273 333.741 35.642 333.453 36.1197C333.165 36.5975 332.977 37.1286 332.899 37.6811C332.822 38.2335 332.857 38.7959 333.003 39.3343C333.149 39.8727 333.403 40.3761 333.748 40.8142C335.362 42.8542 337.487 44.9493 338.715 46.4931C349.282 46.2175 357.103 42.1926 359.931 38.3193C358.869 33.4122 359.09 29.0841 356.634 24.3148Z" fill="#FF7070"/>
                <path opacity="0.8" d="M356.634 24.3148C354.11 19.518 348.661 17.1059 342.122 17.6434C336.604 18.1121 331.72 23.7359 332.3 26.7684C332.879 29.8008 337.514 31.0965 338.397 32.1441L334.576 34.9009C334.123 35.2273 333.741 35.642 333.453 36.1197C333.165 36.5975 332.977 37.1286 332.899 37.6811C332.822 38.2335 332.857 38.7959 333.003 39.3343C333.149 39.8727 333.403 40.3761 333.748 40.8142C335.362 42.8542 337.487 44.9493 338.715 46.4931C349.282 46.2175 357.103 42.1926 359.931 38.3193C358.869 33.4122 359.09 29.0841 356.634 24.3148Z" fill="white"/>
                <path d="M351.448 27.2921C352.198 29.2144 352.361 31.3158 351.916 33.3306C351.471 35.3455 350.438 37.1833 348.948 38.6118C347.458 40.0403 345.578 40.9954 343.545 41.3563C341.512 41.7171 339.417 41.4677 337.526 40.6393C335.635 39.811 334.032 38.4411 332.919 36.7026C331.807 34.9642 331.236 32.9353 331.278 30.8724C331.319 28.8096 331.972 26.8053 333.153 25.1131C334.335 23.4208 335.992 22.1165 337.915 21.365C340.496 20.3602 343.371 20.42 345.908 21.5313C348.446 22.6425 350.438 24.7144 351.448 27.2921Z" fill="#3A3C3D"/>
                <path d="M441.019 151.513C440.867 146.978 440.66 147.377 440.536 143.559C440.454 141.216 440.44 138.611 440.426 136.364C440.421 135.297 440.048 134.264 439.37 133.441C438.691 132.617 437.748 132.053 436.701 131.843C434.88 131.471 433.046 131.126 431.183 130.74C428.797 130.23 426.438 129.679 424.106 129.004C422.285 128.48 420.492 127.901 418.713 127.253C416.933 126.605 414.933 125.875 413.084 125.02C410.905 124.096 408.752 123.104 406.628 122.07C404.241 120.94 401.883 119.755 399.524 118.555C390.446 103.545 390.253 93.6478 380.514 82.0417L359.601 91.4975C359.601 91.4975 374.968 118.735 385.425 130.285C391.453 136.929 400.903 139.934 409.332 142.112C415.416 143.67 421.582 144.869 427.748 146.013C430.149 146.454 432.756 146.619 434.825 148.053C436.356 149.226 437.406 150.917 437.777 152.808C437.869 153.194 437.952 153.58 438.026 153.966C438.288 155.124 441.116 154.242 441.019 151.513Z" fill="#FF7070"/>
                <path opacity="0.8" d="M441.019 151.513C440.867 146.978 440.66 147.377 440.536 143.559C440.454 141.216 440.44 138.611 440.426 136.364C440.421 135.297 440.048 134.264 439.37 133.441C438.691 132.617 437.748 132.053 436.701 131.843C434.88 131.471 433.046 131.126 431.183 130.74C428.797 130.23 426.438 129.679 424.106 129.004C422.285 128.48 420.492 127.901 418.713 127.253C416.933 126.605 414.933 125.875 413.084 125.02C410.905 124.096 408.752 123.104 406.628 122.07C404.241 120.94 401.883 119.755 399.524 118.555C390.446 103.545 390.253 93.6478 380.514 82.0417L359.601 91.4975C359.601 91.4975 374.968 118.735 385.425 130.285C391.453 136.929 400.903 139.934 409.332 142.112C415.416 143.67 421.582 144.869 427.748 146.013C430.149 146.454 432.756 146.619 434.825 148.053C436.356 149.226 437.406 150.917 437.777 152.808C437.869 153.194 437.952 153.58 438.026 153.966C438.288 155.124 441.116 154.242 441.019 151.513Z" fill="white"/>
                <path opacity="0.3" d="M430.41 130.561C429.583 130.382 428.755 130.203 427.913 129.996C427.982 134.765 425.748 142.981 424.934 145.475L427.555 145.972C429.272 141.006 430.235 135.812 430.41 130.561Z" fill="#FF7070"/>
                <path opacity="0.3" d="M440.481 136.364C440.477 135.299 440.106 134.268 439.43 133.444C438.754 132.621 437.815 132.055 436.77 131.843L435.391 131.581C435.612 133.148 436.415 134.575 437.639 135.578C438.427 136.306 439.371 136.843 440.398 137.15C440.481 136.902 440.481 136.626 440.481 136.364Z" fill="#FF7070"/>
                <path d="M349.502 27.3748C350.054 29.47 347.708 31.6616 345.846 29.8559C344.108 27.9938 342.206 26.2915 340.163 24.7696C338.245 23.5705 340.797 21.4753 343.818 22.2885C345.107 22.6122 346.299 23.2443 347.289 24.1304C348.279 25.0165 349.038 26.13 349.502 27.3748Z" fill="white"/>
                <path d="M349.654 93.9787C348.688 94.337 350.454 95.9911 350.454 95.9911C350.454 95.9911 369.767 89.3886 381.493 82.5931C381.521 82.1817 381.451 81.7695 381.288 81.3907C381.125 81.0119 380.873 80.6775 380.555 80.4153C370.519 85.5161 360.203 90.0445 349.654 93.9787Z" fill="#FF7070"/>
                <path opacity="0.5" d="M349.654 93.9787C348.688 94.337 350.454 95.9911 350.454 95.9911C350.454 95.9911 369.767 89.3886 381.493 82.5931C381.521 82.1817 381.451 81.7695 381.288 81.3907C381.125 81.0119 380.873 80.6775 380.555 80.4153C370.519 85.5161 360.203 90.0445 349.654 93.9787Z" fill="white"/>
                <path d="M363.863 37.0512C367.67 38.9809 371.243 41.0071 374.899 43.2539C376.678 44.3842 378.444 45.5283 380.196 46.7688C381.948 48.0094 383.686 49.2775 385.438 50.711L386.087 51.2486L386.901 51.9929C387.386 52.4265 387.846 52.8867 388.28 53.3713C388.722 53.8537 389.094 54.3224 389.453 54.7497C389.811 55.177 390.198 55.687 390.515 56.1281C391.8 57.9001 392.989 59.7407 394.074 61.6417C396.212 65.328 398.057 69.1763 399.592 73.1512C399.876 73.9022 399.891 74.7282 399.634 75.4888C399.377 76.2494 398.864 76.8977 398.183 77.3233C397.502 77.7489 396.694 77.9256 395.897 77.8234C395.1 77.7212 394.363 77.3463 393.812 76.7626L393.743 76.6799C390.984 73.7439 388.322 70.6563 385.645 67.7755C382.969 64.8947 380.251 61.9725 378.003 60.6906C374.871 58.747 371.381 56.8035 367.919 54.9013L357.49 49.1121C355.872 48.2566 354.662 46.7944 354.123 45.0469C353.585 43.2995 353.764 41.41 354.62 39.7942C355.476 38.1783 356.94 36.9685 358.689 36.4308C360.437 35.8932 362.328 36.0717 363.946 36.9271L363.863 37.0512Z" fill="#FF7070"/>
                <path opacity="0.8" d="M363.863 37.0512C367.67 38.9809 371.243 41.0071 374.899 43.2539C376.678 44.3842 378.444 45.5283 380.196 46.7688C381.948 48.0094 383.686 49.2775 385.438 50.711L386.087 51.2486L386.901 51.9929C387.386 52.4265 387.846 52.8867 388.28 53.3713C388.722 53.8537 389.094 54.3224 389.453 54.7497C389.811 55.177 390.198 55.687 390.515 56.1281C391.8 57.9001 392.989 59.7407 394.074 61.6417C396.212 65.328 398.057 69.1763 399.592 73.1512C399.876 73.9022 399.891 74.7282 399.634 75.4888C399.377 76.2494 398.864 76.8977 398.183 77.3233C397.502 77.7489 396.694 77.9256 395.897 77.8234C395.1 77.7212 394.363 77.3463 393.812 76.7626L393.743 76.6799C390.984 73.7439 388.322 70.6563 385.645 67.7755C382.969 64.8947 380.251 61.9725 378.003 60.6906C374.871 58.747 371.381 56.8035 367.919 54.9013L357.49 49.1121C355.872 48.2566 354.662 46.7944 354.123 45.0469C353.585 43.2995 353.764 41.41 354.62 39.7942C355.476 38.1783 356.94 36.9685 358.689 36.4308C360.437 35.8932 362.328 36.0717 363.946 36.9271L363.863 37.0512Z" fill="white"/>
                <path d="M402.861 80.0293L401.689 77.0934C401.689 77.0934 401.04 73.3441 398.709 72.2966L391.811 73.3855L392.046 73.992C392.681 75.3704 392.198 77.8928 391.577 79.9053C390.956 81.9177 392.005 82.1796 392.887 81.7799C393.384 81.5594 393.867 80.6634 394.391 79.7123C394.648 80.1915 394.939 80.6521 395.26 81.0907L396.957 83.4202C397.311 83.9029 397.836 84.2337 398.424 84.3462C399.013 84.4587 399.622 84.3446 400.13 84.0267L402.006 82.8275C402.445 82.5272 402.769 82.0866 402.924 81.5782C403.08 81.0697 403.058 80.5235 402.861 80.0293Z" fill="#FF7070"/>
                <path opacity="0.8" d="M402.861 80.0293L401.689 77.0934C401.689 77.0934 401.04 73.3441 398.709 72.2966L391.811 73.3855L392.046 73.992C392.681 75.3704 392.198 77.8928 391.577 79.9053C390.956 81.9177 392.005 82.1796 392.887 81.7799C393.384 81.5594 393.867 80.6634 394.391 79.7123C394.648 80.1915 394.939 80.6521 395.26 81.0907L396.957 83.4202C397.311 83.9029 397.836 84.2337 398.424 84.3462C399.013 84.4587 399.622 84.3446 400.13 84.0267L402.006 82.8275C402.445 82.5272 402.769 82.0866 402.924 81.5782C403.08 81.0697 403.058 80.5235 402.861 80.0293Z" fill="white"/>
                <path opacity="0.3" d="M358.041 52.9026L356.358 53.0405L346.025 77.9618C346.59 78.0024 347.158 77.9559 347.708 77.8239C347.708 77.8239 361.172 72.8066 365.242 70.932C362.51 65.2944 358.041 52.9026 358.041 52.9026Z" fill="#FF7070"/>
                <path d="M339.184 59.4362C340.439 65.9508 342.77 72.2113 346.081 77.9618C351.13 76.225 359.545 72.9444 363.628 71.0698C360.884 65.1909 358.448 59.1729 356.331 53.0405C352.013 53.3299 342.536 56.9551 339.184 59.4362Z" fill="white"/>
                <path opacity="0.3" d="M349.433 64.8258C349.231 65.4998 348.834 66.099 348.292 66.5474C347.749 66.9958 347.086 67.2734 346.385 67.345C345.685 67.4165 344.979 67.2789 344.357 66.9495C343.734 66.6201 343.224 66.1137 342.89 65.4943C342.556 64.875 342.413 64.1706 342.48 63.4702C342.547 62.7699 342.82 62.105 343.265 61.5598C343.71 61.0145 344.306 60.6134 344.98 60.4072C345.653 60.2009 346.372 60.1988 347.046 60.4011C347.95 60.6721 348.709 61.2904 349.156 62.12C349.604 62.9496 349.703 63.9228 349.433 64.8258Z" fill="#FF7070"/>
                <path opacity="0.6" d="M352.068 60.084C352.015 60.3141 351.892 60.5226 351.718 60.6821C351.544 60.8416 351.325 60.9446 351.091 60.9777C350.857 61.0108 350.618 60.9724 350.406 60.8675C350.194 60.7627 350.019 60.5962 349.903 60.3901C349.788 60.1839 349.737 59.9477 349.759 59.7124C349.78 59.4771 349.872 59.2537 350.022 59.0715C350.173 58.8893 350.375 58.7569 350.602 58.6916C350.83 58.6263 351.071 58.6312 351.296 58.7056C351.575 58.7949 351.811 58.9869 351.954 59.2427C352.097 59.4986 352.138 59.7992 352.068 60.084Z" fill="#FF7070"/>
                <path opacity="0.6" d="M355.158 58.8848C355.125 59.0447 355.06 59.1961 354.966 59.3293C354.871 59.4625 354.75 59.5745 354.61 59.6582C354.47 59.7419 354.314 59.7954 354.152 59.8153C353.99 59.8353 353.825 59.8212 353.669 59.7739C353.513 59.7267 353.368 59.6474 353.244 59.5411C353.12 59.4347 353.02 59.3037 352.95 59.1564C352.88 59.0092 352.841 58.8489 352.836 58.6858C352.832 58.5227 352.861 58.3605 352.923 58.2094C352.967 58.0636 353.04 57.9279 353.136 57.8101C353.233 57.6923 353.352 57.5947 353.487 57.523C353.621 57.4513 353.769 57.4068 353.921 57.3922C354.072 57.3775 354.226 57.3929 354.371 57.4375C354.667 57.5269 354.915 57.729 355.062 57.9999C355.209 58.2708 355.244 58.5888 355.158 58.8848Z" fill="#FF7070"/>
                <path opacity="0.5" d="M359.49 69.6225L346.729 74.6536L345.971 72.1449L358.717 67.1138L359.49 69.6225Z" fill="#FF7070"/>
                <path opacity="0.2" d="M289.093 261.191C289.064 269.217 288.288 277.224 286.776 285.106C285.148 292.191 282.619 297.374 279.188 300.655C277.59 302.239 275.693 303.491 273.606 304.336C271.52 305.18 269.286 305.602 267.035 305.575C259.944 305.575 254.532 301.711 250.798 293.983C250.142 292.595 249.584 291.163 249.129 289.696C241.243 296.464 233.9 303.838 227.167 311.751L219.842 320.379C223.784 324.372 228.333 327.716 233.32 330.29C241.909 334.728 253.185 336.952 267.145 336.961C269.601 336.961 271.973 336.892 274.277 336.755C282.723 324.267 289.712 310.856 295.108 296.781L315.593 243.41L289.093 261.191Z" fill="black"/>
                <path d="M104.419 334.012L128.56 358.133L196.156 294.493C172.856 285.603 127.553 310.841 104.419 334.012Z" fill="#35383C"/>
                <path d="M188.61 418.093C180.899 410.374 164.469 393.972 164.469 393.972L228.161 326.43C237.003 349.656 211.744 394.964 188.61 418.093Z" fill="#35383C"/>
                <path d="M281.009 266.057L307.344 215.318L256.564 241.659C240.254 250.112 225.194 260.781 211.813 273.362L125.249 354.784L167.779 397.28L249.267 310.786C261.865 297.413 272.547 282.36 281.009 266.057Z" fill="#FF7070"/>
                <path opacity="0.6" d="M281.009 266.057L307.344 215.318L256.564 241.659C240.254 250.112 225.194 260.781 211.813 273.362L125.249 354.784L167.779 397.28L249.267 310.786C261.865 297.413 272.547 282.36 281.009 266.057Z" fill="white"/>
                <path d="M226.932 313.446C236.761 313.446 244.728 305.485 244.728 295.665C244.728 285.844 236.761 277.883 226.932 277.883C217.104 277.883 209.137 285.844 209.137 295.665C209.137 305.485 217.104 313.446 226.932 313.446Z" fill="white"/>
                <path d="M226.932 307.092C233.248 307.092 238.368 301.976 238.368 295.665C238.368 289.354 233.248 284.238 226.932 284.238C220.616 284.238 215.496 289.354 215.496 295.665C215.496 301.976 220.616 307.092 226.932 307.092Z" fill="#FF7070"/>
                <path opacity="0.3" d="M182.168 382.007L140.521 340.394L174.622 308.332L214.255 347.947L182.168 382.007Z" fill="#FF7070"/>
                <path d="M113.841 372.083C82.6638 374.605 72.3313 394.55 68.7998 421.057C67.0064 434.579 66.2063 448.266 54.853 456.178C54.17 456.642 53.6557 457.315 53.3872 458.095C53.1188 458.875 53.1105 459.721 53.3637 460.507C53.617 461.292 54.118 461.975 54.7918 462.452C55.4657 462.929 56.276 463.175 57.1016 463.153C98.9558 461.843 118.476 441.374 120.931 432.828C120.287 437.296 119.134 441.675 117.496 445.882C117.195 446.624 117.136 447.442 117.328 448.22C117.52 448.998 117.952 449.695 118.563 450.213C119.175 450.731 119.934 451.043 120.734 451.104C121.533 451.165 122.331 450.973 123.014 450.554C134.754 443.208 149.487 429.672 150.467 407.714C141.831 395.488 113.841 372.083 113.841 372.083Z" fill="#FF7070"/>
                <path opacity="0.2" d="M113.841 372.083C82.6638 374.605 72.3313 394.55 68.7998 421.057C67.0064 434.579 66.2063 448.266 54.853 456.178C54.17 456.642 53.6557 457.315 53.3872 458.095C53.1188 458.875 53.1105 459.721 53.3637 460.507C53.617 461.292 54.118 461.975 54.7918 462.452C55.4657 462.929 56.276 463.175 57.1016 463.153C98.9558 461.843 118.476 441.374 120.931 432.828C120.287 437.296 119.134 441.675 117.496 445.882C117.195 446.624 117.136 447.442 117.328 448.22C117.52 448.998 117.952 449.695 118.563 450.213C119.175 450.731 119.934 451.043 120.734 451.104C121.533 451.165 122.331 450.973 123.014 450.554C134.754 443.208 149.487 429.672 150.467 407.714C141.831 395.488 113.841 372.083 113.841 372.083Z" fill="white"/>
                <path d="M155.308 417.129L105.37 367.231L131.967 361.483L161.061 390.553L155.308 417.129Z" fill="#FF7070"/>
                </svg>

        </div>
    </section>
</div>
