<!-- Modal de Registrado -->
<div *ngIf="alert" class=" flex justify-center items-center fixed animated fadeIn top-16 right-0   shadow-sm">
  <div class="flex text-sm shadow-lg bg-green-600 text-white   w-96 py-3 items-center p-1 rounded-lg  font-Montserrat " role="alert">
    <svg class="h-7 w-7  animate-bounce" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
  </svg>
    <span class="text-center pl-2"> {{mensage === null ? 'Registrado Correctamente' :mensage }} </span>

  </div>
</div>