<!-- Bienvenida -->
<header class="px-2 sm:px-5 lg:px-7 py-2 relative">
    <p class="text-gray-300 text-sm lg:text-xl font-medium ">PANEL DE BIENVENIDA</p>
    <section class="adorno relative  border p-2 md:p-3 lg:p-9 xl:p-20 border-gray-200 shadow-md rounded-md bg-white">
        <div class="grid  grid-cols-1 sm:grid-cols-2  md:grid-cols-3 sm:mt-3   md:mt-14 mb-14 flex-col items-center  ">
            <div class="col-span-3 lg:col-span-2 ">

                <div *ngIf='!alertaCertificado' class="text-3xl font-medium  lg:flex 2xl:text-4xl">Hola {{ usuario.Nombre | lowercase }}, bienvenido</div>
                <div *ngIf='alertaCertificado' class="text-3xl font-medium 2xl:text-5xl">Tenemos una alerta ... !</div>

                <div class="text-gray-400 text-sm 2xl:text-xl py-5">En este apartado te mostraremos algunos datos que pueden ser de tu interes.</div>
                <div class="grid grid-cols-2 gap-10 text-sm ">
                    <div class="relative px-2 pt-1 col-span-2 md:col-span-1 border-gray-200 shadow-md border rounded-2xl  bg-white">
                        <!-- check -->
                        <div class="absolute flex justify-end -right-3  -top-3">
                            <svg class="object-cover w-8 2xl:w-10" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="14" cy="14" r="12" fill="white" stroke="#C5EFD8" stroke-width="4"/>
                                <path d="M14 4C8.47768 4 4 8.47768 4 14C4 19.5223 8.47768 24 14 24C19.5223 24 24 19.5223 24 14C24 8.47768 19.5223 4 14 4ZM18.3192 10.7344L13.6183 17.2522C13.5526 17.3439 13.466 17.4187 13.3656 17.4702C13.2653 17.5218 13.1541 17.5486 13.0413 17.5486C12.9285 17.5486 12.8173 17.5218 12.7169 17.4702C12.6166 17.4187 12.53 17.3439 12.4643 17.2522L9.6808 13.3951C9.59598 13.2768 9.6808 13.1116 9.82589 13.1116H10.8728C11.1004 13.1116 11.317 13.221 11.4509 13.4085L13.0402 15.6138L16.5491 10.7478C16.683 10.5625 16.8973 10.4509 17.1272 10.4509H18.1741C18.3192 10.4509 18.404 10.6161 18.3192 10.7344Z" fill="#48C07F"/>
                            </svg>
                        </div>
                        <!-- version -->
                        <div class="text-center text-gray-400 space-y-2 ">
                            <!-- carita feliz -->
                            <div class="flex justify-center">
                                <svg class="2xl:object-cover w-9" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 24C21 24 22.5 18 22.5 18H7.5C7.5 18 9 24 15 24Z" fill="#219AF2"/>
                                    <path d="M15 0C6.729 0 0 6.729 0 15C0 23.271 6.729 30 15 30C23.271 30 30 23.271 30 15C30 6.729 23.271 0 15 0ZM15 27C8.3835 27 3 21.6165 3 15C3 8.3835 8.3835 3 15 3C21.6165 3 27 8.3835 27 15C27 21.6165 21.6165 27 15 27Z" fill="#219AF2"/>
                                    <path d="M16.5 15L19.5 15.018C19.518 14.325 19.791 13.5 21 13.5C22.209 13.5 22.482 14.325 22.5 15H25.5C25.5 13.191 24.3015 10.5 21 10.5C17.6985 10.5 16.5 13.191 16.5 15ZM9 13.5C10.209 13.5 10.482 14.325 10.5 15H13.5C13.5 13.191 12.3015 10.5 9 10.5C5.6985 10.5 4.5 13.191 4.5 15L7.5 15.018C7.518 14.325 7.791 13.5 9 13.5Z" fill="#219AF2"/>
                                </svg>
                            </div>
                            <!-- version -->
                            <div class="font-medium text-gray-900 pt-1 2xl:text-lg">Versión 1.2</div>
                            <!-- mensaje de la version existente -->
                            <div class="2xl:text-lg">Usted tiene la ultima version existente...</div>
                        </div>
                    </div>

                    <div class="relative px-2 pt-1  col-span-2 md:col-span-1 border-gray-200 shadow-md border rounded-2xl bg-white ">
                        <div class="absolute flex justify-end -right-3  -top-3">

                            <svg class="object-cover w-7 2xl:w-10" *ngIf='!alertaCertificado' viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="14" cy="14" r="12" fill="white" stroke="#C5EFD8" stroke-width="4"/>
                                <path d="M14 4C8.47768 4 4 8.47768 4 14C4 19.5223 8.47768 24 14 24C19.5223 24 24 19.5223 24 14C24 8.47768 19.5223 4 14 4ZM18.3192 10.7344L13.6183 17.2522C13.5526 17.3439 13.466 17.4187 13.3656 17.4702C13.2653 17.5218 13.1541 17.5486 13.0413 17.5486C12.9285 17.5486 12.8173 17.5218 12.7169 17.4702C12.6166 17.4187 12.53 17.3439 12.4643 17.2522L9.6808 13.3951C9.59598 13.2768 9.6808 13.1116 9.82589 13.1116H10.8728C11.1004 13.1116 11.317 13.221 11.4509 13.4085L13.0402 15.6138L16.5491 10.7478C16.683 10.5625 16.8973 10.4509 17.1272 10.4509H18.1741C18.3192 10.4509 18.404 10.6161 18.3192 10.7344Z" fill="#48C07F"/>
                            </svg>

                            <svg class="object-cover w-7 2xl:w-10" *ngIf='alertaCertificado' viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="14" cy="14" r="12" fill="white" stroke="#F1B5B5" stroke-width="4"/>
                                <path d="M14 4C19.523 4 24 8.478 24 14C24 19.522 19.523 24 14 24C8.477 24 4 19.522 4 14C4 8.478 8.477 4 14 4ZM14.002 17.004C13.8682 16.9998 13.7349 17.0225 13.6101 17.0707C13.4853 17.119 13.3714 17.1919 13.2753 17.285C13.1791 17.3782 13.1027 17.4897 13.0505 17.6129C12.9983 17.7362 12.9714 17.8686 12.9714 18.0025C12.9714 18.1364 12.9983 18.2688 13.0505 18.3921C13.1027 18.5153 13.1791 18.6268 13.2753 18.72C13.3714 18.8131 13.4853 18.886 13.6101 18.9343C13.7349 18.9825 13.8682 19.0052 14.002 19.001C14.2613 18.9928 14.5073 18.884 14.6879 18.6976C14.8684 18.5113 14.9694 18.262 14.9694 18.0025C14.9694 17.743 14.8684 17.4937 14.6879 17.3074C14.5073 17.121 14.2613 17.0122 14.002 17.004ZM14 9C13.7549 9.00006 13.5184 9.09013 13.3353 9.25309C13.1523 9.41605 13.0354 9.64057 13.007 9.884L13 10L13.002 15.001L13.009 15.118C13.0379 15.361 13.155 15.5851 13.338 15.7476C13.521 15.9101 13.7572 15.9999 14.002 15.9999C14.2468 15.9999 14.483 15.9101 14.666 15.7476C14.849 15.5851 14.9661 15.361 14.995 15.118L15.002 15.001L15 10L14.993 9.883C14.9643 9.63975 14.8474 9.41547 14.6644 9.25272C14.4813 9.08996 14.2449 9.00003 14 9Z" fill="#EA3E3E"/>
                            </svg>

                        </div>
                        <!-- version -->
                        <div class="text-center text-gray-400 space-y-2">
                            <!-- Carita Feliz -->
                            <div class="flex justify-center">
                                <svg class="2xl:object-cover w-8 2xl:w-12" *ngIf='!alertaCertificado' viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 24C21 24 22.5 18 22.5 18H7.5C7.5 18 9 24 15 24Z" fill="#219AF2"/>
                                    <path d="M15 0C6.729 0 0 6.729 0 15C0 23.271 6.729 30 15 30C23.271 30 30 23.271 30 15C30 6.729 23.271 0 15 0ZM15 27C8.3835 27 3 21.6165 3 15C3 8.3835 8.3835 3 15 3C21.6165 3 27 8.3835 27 15C27 21.6165 21.6165 27 15 27Z" fill="#219AF2"/>
                                    <path d="M16.5 15L19.5 15.018C19.518 14.325 19.791 13.5 21 13.5C22.209 13.5 22.482 14.325 22.5 15H25.5C25.5 13.191 24.3015 10.5 21 10.5C17.6985 10.5 16.5 13.191 16.5 15ZM9 13.5C10.209 13.5 10.482 14.325 10.5 15H13.5C13.5 13.191 12.3015 10.5 9 10.5C5.6985 10.5 4.5 13.191 4.5 15L7.5 15.018C7.518 14.325 7.791 13.5 9 13.5Z" fill="#219AF2"/>
                                </svg>

                                <svg class="2xl:object-cover w-8 2xl:w-12" *ngIf='alertaCertificado' width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 0C23.2845 0 30 6.7155 30 15C30 16.0905 29.8845 17.1525 29.6625 18.177L26.9895 15.5025C27.0996 12.8696 26.3399 10.2737 24.8278 8.11555C23.3157 5.95738 21.1352 4.35695 18.6231 3.56133C16.1109 2.76571 13.4066 2.81915 10.9278 3.71338C8.449 4.60762 6.33347 6.29293 4.90781 8.50915C3.48214 10.7254 2.82562 13.3492 3.0396 15.9757C3.25357 18.6022 4.32615 21.0852 6.09174 23.0414C7.85733 24.9977 10.2178 26.3183 12.8086 26.7995C15.3995 27.2807 18.0767 26.8958 20.427 25.704C20.9995 26.6114 21.805 27.3485 22.7595 27.8385C20.4198 29.2561 17.7357 30.0038 15 30C6.7155 30 0 23.2845 0 15C0 6.7155 6.7155 0 15 0ZM25.5 18.258L27.621 20.379C28.0339 20.7917 28.3174 21.316 28.4367 21.8874C28.556 22.4589 28.5061 23.0528 28.2928 23.5963C28.0796 24.1398 27.7125 24.6092 27.2364 24.9471C26.7603 25.285 26.196 25.4767 25.6126 25.4986C25.0292 25.5205 24.4521 25.3717 23.952 25.0704C23.4519 24.7692 23.0506 24.3286 22.7973 23.8026C22.5439 23.2766 22.4495 22.6882 22.5257 22.1094C22.6018 21.5305 22.8452 20.9865 23.226 20.544L23.379 20.379L25.5 18.258ZM15 19.5C17.199 19.5 19.1775 20.4465 20.55 21.9555L19.1325 23.2455C17.9475 22.773 16.527 22.5 15 22.5C13.473 22.5 12.0525 22.7745 10.8675 23.244L9.45 21.954C10.1523 21.1799 11.0091 20.5616 11.965 20.1389C12.9209 19.7163 13.9548 19.4986 15 19.5ZM9.75 12C10.3467 12 10.919 12.237 11.341 12.659C11.7629 13.081 12 13.6533 12 14.25C12 14.8467 11.7629 15.419 11.341 15.841C10.919 16.2629 10.3467 16.5 9.75 16.5C9.15326 16.5 8.58097 16.2629 8.15901 15.841C7.73705 15.419 7.5 14.8467 7.5 14.25C7.5 13.6533 7.73705 13.081 8.15901 12.659C8.58097 12.237 9.15326 12 9.75 12ZM20.25 12C20.8467 12 21.419 12.237 21.841 12.659C22.2629 13.081 22.5 13.6533 22.5 14.25C22.5 14.8467 22.2629 15.419 21.841 15.841C21.419 16.2629 20.8467 16.5 20.25 16.5C19.6533 16.5 19.081 16.2629 18.659 15.841C18.2371 15.419 18 14.8467 18 14.25C18 13.6533 18.2371 13.081 18.659 12.659C19.081 12.237 19.6533 12 20.25 12V12Z" fill="#EA3E3E"/>
                                </svg>
                            </div>

                            <div class="font-medium text-gray-900 pt-1 2xl:text-lg">Certificado Digital</div>
                            <div *ngIf='!alertaCertificado' class="2xl:text-lg">Sin ninguna novedad en los ultimos dias</div>
                            <div *ngIf='alertaCertificado' class="2xl:text-lg">Vertificar fecha de vencimiento de certificado digital, vence el {{ usuario.datecertificado }}</div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="hidden lg:col-span-1 lg:flex justify-center ">
                <img src="assets/img/inic.svg" alt="">
            </div>
        </div>
    </section>
</header>