<form [formGroup]="datos" class="bg-gray-100 flex justify-between p-4">
  <!-- fecha de emision -->
  <div class="flex items-center justify-center">
    <div class="flex sm:flex-row items-center">
      <span class="text-black font-medium text-sm">F. Emi:</span>
      <div class="flex flex-row">

        <input class="px-2 w-24 py-2 focus:outline-none placeholder-gray-500 bg-gray-100 text-sm"
          placeholder="01/01/2021" [matDatepicker]="fechaemision" formControlName="datestart" [min]="minDate" [max]="minDate" [disabled]="!changedate" >

        <mat-datepicker #fechaemision> </mat-datepicker>

        <button *ngIf="changedate" type="button" (click)="fechaemision.open()"
          class="focus:outline-none p-1 flex items-center rounded-lg hover:bg-gray-200 focus:bg-gray-200 transition duration-300 ease-in">
          <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M16 2H13V0H11V2H7V0H5V2H2C0.897 2 0 2.897 0 4V18C0 19.103 0.897 20 2 20H16C17.103 20 18 19.103 18 18V4C18 2.897 17.103 2 16 2ZM2 18V5H16V4L16.002 18H2Z"
              fill="#EA3E3E" />
            <path d="M12.6281 10.1829L10.8281 8.38394L12.1981 7.01294L13.9981 8.81194L12.6281 10.1829Z"
              fill="#EA3E3E" />
            <path d="M5.00488 14.201V16H6.80388L11.7799 11.03L9.98088 9.23096L5.00488 14.201Z" fill="#EA3E3E" />
          </svg>
        </button>
      </div>

    </div>
  </div>

  <!-- <div class="flex items-center justify-center">
    <div class="flex flex-col sm:flex-row items-center">
      <span class="text-black hidden sm:block font-medium text-sm">F. venc:</span>
      <div class="flex flex-row items-center">

        <input  class="px-2 w-24  py-2 focus:outline-none placeholder-gray-500 bg-gray-100 text-sm"
                placeholder="17/10/2020"
                [matDatepicker]="fechavencimineto"
                formControlName="datefin">

        <mat-datepicker #fechavencimineto> </mat-datepicker>
        <button type="button" (click)="fechavencimineto.open()"
          class="focus:outline-none p-1 flex items-center rounded-lg hover:bg-gray-200 focus:bg-gray-200 transition duration-300 ease-in">
          <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M16 2H13V0H11V2H7V0H5V2H2C0.897 2 0 2.897 0 4V18C0 19.103 0.897 20 2 20H16C17.103 20 18 19.103 18 18V4C18 2.897 17.103 2 16 2ZM2 18V5H16V4L16.002 18H2Z"
              fill="#9C9C9C" />
            <path d="M12.6281 10.1829L10.8281 8.38394L12.1981 7.01294L13.9981 8.81194L12.6281 10.1829Z"
              fill="#9C9C9C" />
            <path d="M5.00488 14.201V16H6.80388L11.7799 11.03L9.98088 9.23096L5.00488 14.201Z" fill="#9C9C9C" />
          </svg>
        </button>
      </div>
    </div>

  </div> -->

  <!-- Hora -->
  <!-- <div class="flex items-center justify-center">
    <span class="text-gray-900  flex items-center font-medium text-sm mr-1">
      <svg class="w-6 h-6 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span id="clock" class="text-gray-900  flex items-center font-medium text-sm mr-1"></span>
    </span>
  </div> -->

  <div class="flex items-center justify-center">

    <svg class="w-6 h-6 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
      stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>

    <span id="clock" class="text-gray-900  flex items-center font-medium text-sm mr-1"></span>

  </div>

</form>