
.pdf{
  width: 530px;
  height: 690px;
}




@media screen and (max-width: 1536px) {
  .pdf {
    width: 400px;
    height: 550px;
  }
}

@media screen and (max-width: 1280px) {
  .pdf {
    width: 400px;
    height: 600px;
  }
}


@media screen and (max-width: 1024px) {
  .pdf {
    width: 380px;
    height: 600px;
  }

}
@media screen and (max-width: 768px) {
  .pdf {
    width: 100%;
    height: 450px;
  }
}


@media screen and (max-width: 640px) {
  .pdf {
    width: 100%;
    height: 450px;
  }

}

.mat-dialog-container {
  display: block;
  padding: 2px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
}

.respo{
  height: auto;
}


@media screen and (max-width: 768px) {
  .respo{
    height: 600px;
  }
}

