.btn- {
    @apply px-2;
    @apply py-2;
    @apply rounded;
    @apply text-sm;
    @apply text-white;
    @apply bg-red-600;
    @apply font-medium;
    @apply w-full;
    transition: 200ms;
}

.btn-ouline {
    @apply px-2;
    @apply py-2;
    @apply rounded;
    @apply text-sm;
    @apply text-red-600;
    @apply border-2;
    @apply border-red-600;
    @apply font-medium;
    @apply w-full;
    transition: 200ms;
    animation-duration: 100ms;
}