<main class="mx-auto lg:px-7 px-2 py-2">
    <div class="grid pt-3 grid-cols-1 lg:grid-cols-3 gap-1 md:gap-4">
        <!-- SECTION BUSCAR COMPROBANTE -->
        <section class="p-2 col-span-3 comprobante lg:col-span-2 w-full xl:p-4 transition-shadow border  lg:h-ma lg:h-auto h-full   border-gray-200 rounded shadow-md  hover:shadow-lg">
            <div class="flex items-center justify-between">
                <!-- buscar comprobante -->
                <div>
                    <h2 class="my-1 text-sm font-medium text-gray-300 uppercase pb-4">BUSCAR COMPROBANTE</h2>
                </div>

                <!-- mensaje correcto -->
                <div *ngIf="!notdata" class="text-white text-sm px-6 py-2 border-0 rounded relative mb-4  bg-green-500">
                    <span class="text-xl inline-block mr-5 align-middle">
                        <svg class="w-6 h-6 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                          </svg>
                    </span>
                    <span class="inline-block align-middle">
                      <b class="capitalize font-medium mr-1">Comprobante</b>Encontrado Correctamente!
                    </span>
                </div>

            </div>

            <div>
                <form [formGroup]="form" (ngSubmit)="_sendData()" class="grid grid-cols-1 gap-x-2 md:gap-x-4 gap-y-1 sm:grid-cols-2  lg:grid-cols-3  xl:grid-cols-4">
                    <!-- Serie-->
                    <div>
                        <label class="block w-full md:pb-1 text-sm font-medium text-gray-800">Serie</label>
                        <input (keypress)="validateKey( $event, 4 )" type="text" placeholder="S001" class="uppercase w-full mb-1 forms-control focus" [class.error]="serieInvalid" required formControlName="serie">
                        <p *ngIf="serieInvalid" class="text-xs italic text-red-700"> Por favor rellene este campo.</p>
                    </div>

                    <!-- Numero -->
                    <div>
                        <label class="block w-full md:pb-1 text-sm font-medium text-gray-800">Número</label>
                        <input (keypress)="validateKey( $event, 8 )" type="number" placeholder="88" class="w-full mb-1 forms-control focus" [class.error]="numeroInvalid" required formControlName="numero">
                        <p *ngIf="numeroInvalid" class="text-xs italic text-red-700"> Por favor rellene este campo.</p>
                    </div>

                    <!-- Tipo Comprobante-->
                    <div>
                        <label class="block w-full pb-1 text-sm font-medium text-black whitespace-nowrap ">Tipo
                            Comprobante</label>
                        <mat-select formControlName="codigocomprobante" [class.error]="codigocomprobanteInvalid" type="text" name="tipouser" required placeholder="Elige tipo Comprobante" class="w-full sm:mb-1 text-sm forms-control focus">
                            <mat-option *ngFor="let item of listcpe" value="{{ item.NumeroSunat }}">{{ item.NombreComprobante }}</mat-option>
                        </mat-select>
                        <p *ngIf="codigocomprobanteInvalid" class="text-xs italic text-red-700"> Por favor rellene este campo.
                        </p>
                    </div>

                    <!-- Boton Buscar -->
                    <div class=" mt-1">
                        <button type="submit" class="flex px-6 text-white items-center justify-center w-full sm:w-auto p-2  mt-5 transition duration-300 ease-in bg-red-500 rounded-md cursor-pointer focus:outline-none hover:bg-red-700">
                            Buscar
                        </button>
                    </div>
                </form>
                <!-- ver pdf -->
                <div class=" flex  justify-end">
                    <button [disabled]="notdata" (click)="_vercpe()" class="whitespace-nowrap flex items-center justify-center rounded text-sm font-medium underline" [ngClass]="{'text-gray-300': notdata, 'text-red-600 hover:text-red-700 focus:outline-none ' : !notdata}">
                        <svg class="w-4 h-4" [ngClass]="{'text-gray-300': notdata, 'text-red-600' : !notdata  }" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                        </svg>
                        <span class="pl-1 ">Ver Pdf</span>
                    </button>
                </div>

                <div class="flex flex-col sm:flex-row sm:justify-between ">

                    <div class="flex-col flex items-center gap-4 sm:flex-row ">
                        <div class="flex justify-center sm:justify-start h-auto">
                            <div class="flex flex-col justify-center ">
                                <div class="inline-flex items-center justify-center flex-shrink-0 mb-1 text-white text-3xl rounded-full w-16 h-16" [ngClass]="{'bg-gray-300': notdata, 'bg-red-600' : !notdata }"> 
                                    {{ !notdata ? cpeGeneral.TipoComprobante.substring(0, 1) : '' }}
                                    
                                    <span *ngIf="notdata" >
                                        <svg  class="w-5 h-5 text-gray-800" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                          </svg>
                                    </span>

                                </div>
                                <h2 class="pl-2 text-sm font-medium" [ngClass]="{'text-gray-300': notdata, 'text-red-600' : !notdata }">{{ !notdata ? cpeGeneral.TipoComprobante : 'Documento' }}  </h2>
                                

                             
                                
                            </div>
                        </div>
                        <div class="flex flex-wrap h-auto">
                            <div class="w-full">
                                <div class="flex justify-between">
                                    <ul class="flex flex-row mb-0 list-none flex-wrap ">
                                        <li class="-mb-px mr-2 last:mr-0  text-center">
                                            <button [disabled]="notdata" type="button" class=" text-xs items-stretch focus:outline-none font-medium w-auto px-5 py-2 flex-col flex justify-start content-start " (click)="toggleTabs(1)" [ngClass]="{'text-gray-500 ': openTab !== 1, 'text-red-600': openTab === 1}"
                                                [ngClass]="{'text-gray-300': notdata }">
                                                Información
                                                <p (click)="toggleTabs(1)"
                                                    [ngClass]="{'text-gray-500 ': openTab !== 1 && notdata , 'text-red-600 w-10 h-1  items-start rounded-full bg-red-600': openTab === 1 && !notdata}"
                                                     > </p>
                                            </button>
                                        </li>
                                        <li class="-mb-px mr-2 last:mr-0  text-center">
                                            <button [disabled]="notdata" type="button" class="text-xs items-stretch focus:outline-none font-medium w-auto px-5 py-2 flex-col  flex justify-start content-start  " (click)="toggleTabs(2)" [ngClass]="{'text-gray-500 ': openTab !== 2, 'text-red-600 ': openTab === 2}"
                                                [ngClass]="{'text-gray-300': notdata}">
                                                Mis Datos
                                                <p class=" " (click)="toggleTabs(2)"
                                                    [ngClass]="{'text-gray-500 ': openTab !== 2 && notdata, 'text-red-600 w-10 h-1  items-start rounded-full bg-red-600': openTab === 2 && !notdata }">
                                                </p>
                                            </button>
                                        </li>
                                    </ul>

                                </div>

                                <!-- tabs 01 -->
                                <div [ngClass]="{'hidden': openTab !== 1, 'block h-auto': openTab === 1}">
                                    <div class="flex flex-col justify-center sm:pl-5 pt-2 ">
                                        <div class="flex items-center  mb-2">
                                            <svg class="w-6 h-6" [ngClass]="{'text-gray-300': notdata, 'text-gray-600' : !notdata  }" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                                            </svg>
                                            <span class="pl-2 pr-4 text-xs xl:text-sm " [ngClass]="{'text-gray-300': notdata, 'text-gray-700' : !notdata }" >{{ !notdata ? cpeGeneral.NumeroDocumento : 'Número de Identificación' }}</span>
                                        </div>

                                        <div class="flex items-center  mb-2">
                                            <svg class="h-6 w-6" [ngClass]="{'text-gray-300': notdata, 'text-gray-600' : !notdata  }" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />
                                                <circle cx="12" cy="7" r="4" />
                                            </svg>
                                            <span class="pl-2 pr-4 text-sm" [ngClass]="{'text-gray-300': notdata, 'text-gray-700' : !notdata }" >{{ !notdata ? cpeGeneral.Cliente : 'Denominación' }}</span>
                                        </div>
                                    </div>
                                </div>

                                <!-- tabs 02 -->
                                <div [ngClass]="{'hidden': openTab !== 2, 'flex flex-wrap h-auto': openTab === 2}">
                                    <!-- Informacion A Detalle -->
                                    <div class="flex w-full text-xs    xl:text-sm flex-wrap ">
                                        <!-- Moneda y tipo de pago -->
                                        <div class="flex flex-wrap border-r border-gray-200">
                                            <div class="px-2  m-2 ">
                                                <!-- Moneda -->
                                                <div class="flex items-center  pb-2 gap-2   ">
                                                    <span class=" font-medium whitespace-nowrap  text-black">Moneda:</span>
                                                    <span class="  text-gray-700">{{misDatos.Moneda }}</span>
                                                </div>
                                                <!-- Tipo de pago -->
                                                <div class="flex items-center  pb-2 gap-2 ">
                                                    <span class=" font-medium whitespace-nowrap text-black">T.
                                                        Pago:</span>
                                                    <span class="  text-gray-700">{{ misDatos.TipoPago }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Descuento y Exonerado -->
                                        <div class="flex flex-wrap border-r border-gray-200">
                                            <div class="px-2  m-2 ">
                                                <!-- Descuento -->
                                                <div class="flex items-center  pb-2 gap-2">
                                                    <span class=" font-medium text-black">Desc:</span>
                                                    <span class="  text-gray-700">{{ misDatos.Descuento | currency : typeCoin }}</span>
                                                </div>
                                                <!-- Exonerado -->
                                                <div class="flex items-center  pb-2 gap-2">
                                                    <span class=" font-medium text-black">Exonerado:</span>
                                                    <span class="  text-gray-700">{{ misDatos.Exonerada | currency : typeCoin }}</span>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- Afecto y Inafecto -->
                                        <div class="flex flex-wrap border-r border-gray-200">
                                            <div class="px-2  m-2">
                                                <!-- Afecto -->
                                                <div class="flex items-center  pb-2 gap-2">
                                                    <span class=" font-medium text-black">Afecto:</span>
                                                    <span class="  text-gray-700">{{ misDatos.Afecta | currency : typeCoin }}</span>
                                                </div>
                                                <!-- Inafecto -->
                                                <div class="flex items-center  pb-2 gap-2">
                                                    <span class=" font-medium text-black">Inafecto:</span>
                                                    <span class="  text-gray-700">{{ misDatos.Inafecta | currency : typeCoin }}</span>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- Igv y Total -->
                                        <div class="flex flex-wrap ">
                                            <div class="px-2 m-2">
                                                <!-- Igv -->
                                                <div class="flex items-center  pb-2 gap-2">
                                                    <span class=" font-medium text-black">IGV:</span>
                                                    <span class="  text-gray-700">{{ misDatos.IGV | currency : typeCoin
                                                        }}</span>
                                                </div>
                                                <!-- Total -->
                                                <div class="flex items-center  pb-2 gap-2">
                                                    <span class=" font-medium text-black">TOTAL:</span>
                                                    <span class="  text-gray-700">{{ misDatos.Total | currency : typeCoin
                                                        }}</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>
        <!-- SECTION DE  NOTA DE CRÉDITO -->
        <section class="p-2 xl:px-4 col-span-3 w-full lg:col-span-1 mt-3 md:mt-0 transition-shadow border border-gray-200 rounded shadow-md  hover:shadow-lg">
            <h2 class="text-sm font-medium text-gray-300 uppercase  pb-4">{{ TipoNota === "07" ? "NOTA CRÉDITO" : "NOTA DÉBITO" }}</h2>
            <!-- tipo nota -->
            <div class="w-full">
                <label class="labelclass">{{ TipoNota === "07" ? "Tipo Nota de Crédito" : "Tipo Nota de Débito" }}</label>
                <mat-select [(ngModel)]="nota.tipoNota" [disabled]="notdata" (selectionChange)="onChangeTipoNota( $event.value )" type="text" name="tipouser" required placeholder="Seleccione un Opción" class="w-full mb-1 forms-control focus">
                    <mat-option *ngFor="let valor of TypeNota | async" [value]="valor.name">
                        {{ valor.name }}
                    </mat-option>
                </mat-select>
                <!-- <p class="text-sm italic text-red-700"> Por favor rellene este campo.</p> -->
            </div>
            <!-- observacion -->
            <div class="w-full pb-3">
                <label class="block w-full pb-1  text-sm font-medium text-gray-900">Observación:</label>
                <textarea [(ngModel)]="nota.observacion" [disabled]="notdata || nota.tipoNota === 'Intereses por Mora' || nota.tipoNota === 'Penalidades'  ||  nota.tipoNota === 'Descuento Global'" cols="18" rows="4" class="uppercase w-full textareaobservacion forms-control focus" placeholder="Escribe algo aqui..."></textarea>
                <!-- <p class="text-sm italic text-red-700"> Por favor rellene este campo.</p> -->
            </div>
        </section>
    </div>


    <!-- TABLA BUSCAR COMPROBANTE -->
    <div class="inline-block w-full min-w-full overflow-auto border border-gray-200 rounded shadow-md align-middle mt-4">
        <div class="  overflow-hidden   overflow-x-auto overflow-y-auto rounded-lg " style="height: 60vh;">
            <table *ngIf="showDetailsVenta" class="w-auto overflow-x-auto  bg-white table-auto table-striped">
                <!-- titulos -->
                <thead class="z-10 w-full ">
                    <tr class="w-full text-sm text-left text-black border-b border-gray-200 ">
                        <th class="sticky top-0 w-64 px-2 py-3 text-sm font-medium whitespace-nowrap bg-gray-50"> Concepto </th>
                        <th class="sticky top-0 w-96 px-2 py-3 text-sm font-medium whitespace-nowrap bg-gray-50"> Nombre de Producto</th>
                        <th class="sticky top-0 w-60 px-2 py-3 text-sm font-medium whitespace-nowrap bg-gray-50">U.M.</th>
                        <th class="sticky top-0 w-60 px-2 py-3 text-sm font-medium whitespace-nowrap bg-gray-50">Cant.</th>
                        <th class="sticky top-0 w-60 px-2 py-3 text-sm font-medium whitespace-nowrap bg-gray-50">P. U</th>
                        <th class="sticky top-0 w-60 px-2 py-3 text-sm font-medium whitespace-nowrap bg-gray-50">Total</th>
                        <th class="sticky top-0 w-60 px-2 py-3 text-sm font-medium whitespace-nowrap bg-gray-50"></th>
                    </tr>
                </thead>
                <!-- Contenido de datos -->
                <tbody>

                    <tr *ngFor="let item of cpe.Detalle; index as i" class="w-full  border-b border-gray-100">
                        <!-- Afecto -->
                        <td class="w-auto px-2 text-left py-1 text-sm  text-gray-800">
                            <!-- anterior -->

                            <!-- <mat-select  (selectionChange)="onChangeItemdetails( i )"  [(value)]=" item.Afectacion " type="text" required placeholder="TIPO AFECTO" class="w-auto sm:mb-1 text-sm py-1 border px-2 border-gray-300 rounded">
                                <mat-option value="AFECTO">Afecto</mat-option>
                                <mat-option value="EXONERADO">Exonerado</mat-option>
                                <mat-option value="INAFECTO">Inafecto</mat-option>
                            </mat-select> -->
                            <span class="text-left whitespace-nowrap "> {{ item.Afectacion }}</span>
                        </td>

                        <!-- Descripcion -->
                        <td class="w-auto px-2  py-1 text-sm  text-gray-800">
                            <input [readonly]='bloqAll' type="text" class="uppercase py-1  w-full focus:outline-none mb-1" [(value)]="item.Descripcion" [(ngModel)]="item.Descripcion" required>

                            <!-- <div class="text-left whitespace-nowrap"> {{ item.Descripcion }} </div> -->
                        </td>
                        <!-- Unidad medida -->
                        <td class="w-auto px-2  py-1 text-sm  text-gray-800">
                            <div class="text-left whitespace-nowrap"> {{ item.UnidadMedida }}</div>
                        </td>

                        <!-- Cantidad -->
                        <td class="w-auto px-2 py-1 text-sm  text-gray-800">
                            <input *ngIf="!bloqAll && nota.tipoNota === 'Devolución por Item' || nota.tipoNota === 'Descuento por Item' || nota.tipoNota === 'Aumento en el Valor' " (keypress)="validateKey( $event, 10 )" (keydown)="sfuntion.SoloNumeros( $event )" (input)="calculate( i )" [readonly]='bloqAll' type="number" class=" uppercase py-1 px-2 border-gray-300 rounded border w-16 focus:outline-none mb-1"
                                [(value)]="item.Cantidad" [(ngModel)]="item.Cantidad" required>
                            <!-- devolucion por  items                            -->
                            <span *ngIf="bloqAll " class="text-sm"> {{ item.Cantidad }} </span>
                            <!-- <div class="text-left whitespace-nowrap"> {{ item.Cantidad }} </div> -->
                        </td>

                        <!-- precio unitario -->
                        <td class="w-auto px-2  py-1 text-sm  text-gray-800">
                            <div class="w-auto">
                                <input *ngIf="!bloqAll && nota.tipoNota === 'Descuento por Item' || nota.tipoNota === 'Aumento en el Valor' " (keypress)="validateKey( $event, 10 )" (keydown)="sfuntion.SoloNumeros( $event )" (input)="calculate( i )" [readonly]='bloqAll' type="number" class=" uppercase py-1 w-20 px-2 focus:outline-none mb-1 border focus border-gray-300 rounded"
                                    [(value)]="item.Precio" [(ngModel)]="item.Precio" required>

                                <!-- Descuento por items -->
                                <span *ngIf="bloqAll || nota.tipoNota === 'Devolución por Item' || nota.tipoNota === 'Anulacion en la Operación'  " class="text-sm"> {{ item.Precio }} </span>
                            </div>

                        </td>

                        <!-- Construcciones V. -->
                        <td class="w-auto px-2  text-sm  text-gray-800">
                            <div class="text-left whitespace-nowrap"> {{ item.Importe | decimals : pipedecimal }}</div>
                        </td>

                        <!-- Eiminar -->
                        <td class="w-auto px-2  text-sm  text-gray-800">
                            <div *ngIf="!bloqAll" class="flex justify-center">
                                <button (click)="quitarItem(i)" type="button" class=" flex items-center p-1 px-2  focus:outline-none">
                                    <svg class="w-6 h-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                    </svg>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- Solo nota debito -->
            <table *ngIf="!showDetailsVenta" class="w-auto overflow-x-auto  bg-white table-auto table-striped">
                <!-- titulos -->
                <thead class="z-10 w-full ">
                    <tr class="w-full text-sm text-left text-black border-b border-gray-200 ">
                        <th class="sticky top-0 w-64 px-2 py-3 text-sm font-medium whitespace-nowrap bg-gray-50"> Concepto </th>
                        <th class="sticky top-0 w-96 px-2 py-3 text-sm font-medium whitespace-nowrap bg-gray-50">Descripcion</th>
                        <th class="sticky top-0 w-60 px-2 py-3 text-sm font-medium whitespace-nowrap bg-gray-50">Cant.</th>
                        <th class="sticky top-0 w-60 px-2 py-3 text-sm font-medium whitespace-nowrap bg-gray-50">P. U</th>
                        <th class="sticky top-0 w-60 px-2 py-3 text-sm font-medium whitespace-nowrap bg-gray-50">Total</th>
                    </tr>
                </thead>
                <!-- Contenido de datos -->
                <tbody>

                    <tr *ngFor="let item of cpe.Detalle; index as i" class="w-full  border-b border-gray-100">
                        <!-- Afecto -->
                        <td class="w-auto px-2 text-left py-1 text-sm  text-gray-800">
                            <span class="text-left whitespace-nowrap "> {{ item.Afectacion }}</span>
                        </td>

                        <!-- Descripcion -->
                        <td class="w-auto px-2  py-1 text-sm  text-gray-800">
                            <input (input)="_changeDebitoObservacion( i )" type="text" class="uppercase py-1  w-full focus:outline-none mb-1 border focus border-gray-300 rounded" [(value)]="item.Descripcion" [(ngModel)]="item.Descripcion" required>
                        </td>

                        <!-- Cantidad -->
                        <td class="w-auto px-2 py-1 text-sm  text-gray-800">
                            <span class="text-sm"> {{ item.Cantidad }} </span>
                        </td>

                        <!-- precio unitario -->
                        <td class="w-auto px-2  py-1 text-sm  text-gray-800">
                            <div class="w-auto">
                                <input (keypress)="validateKey( $event, 10 )" (keydown)="sfuntion.SoloNumeros( $event )" (input)="calculate( i )" type="number" class=" uppercase py-1 w-20 px-2 focus:outline-none mb-1 border focus border-gray-300 rounded"
                                    [(value)]="item.Precio" [(ngModel)]="item.Precio" required>
                            </div>

                        </td>

                        <!-- Construcciones V. -->
                        <td class="w-auto px-2  text-sm  text-gray-800">
                            <div class="text-left whitespace-nowrap"> {{ item.Importe | decimals : pipedecimal }}</div>
                        </td>
                        
                    </tr>
                </tbody>
            </table>

        </div>

        <section class="flex items-center w-full overflow-x-auto bg-gray-100">
            <!-- Exonerado -->
            <div class="w-auto px-2 py-1 text-sm sticky bottom-0 bg-gray-100   text-gray-800 space-x-2">
                <span class="text-left whitespace-nowrap font-medium text-sm text-gray-400 "> Exonerado:</span>
                <label class="border-r pl-10 pr-10 border-gray-300 text-gray-400" for="">{{ cpe.Exonerada | currency :
                    typeCoin }}</label>
            </div>
            <!-- Afecto -->
            <div class="w-auto px-2  text-sm sticky bottom-0 bg-gray-100  text-gray-800 space-x-2">
                <span class="text-left whitespace-nowrap font-medium text-sm text-gray-400 "> Afecto:</span>
                <label class="border-r pl-10 pr-10 border-gray-300 text-gray-400" for="">{{ cpe.Afecta | currency :
                    typeCoin }}</label>
            </div>
            <!-- Inafecto -->
            <div class="w-auto px-2  text-sm  sticky bottom-0 bg-gray-100 text-gray-800 space-x-2">
                <span class="text-left whitespace-nowrap font-medium text-sm text-gray-400 ">
                    Inafecto:</span>
                <label class="border-r pl-10 pr-10 border-gray-300 text-gray-400" for="">{{ cpe.Inafecta | currency :
                    typeCoin }}</label>
            </div>
            <!-- IGV -->
            <div class="w-auto px-2  text-sm  sticky bottom-0 bg-gray-100 text-gray-800 space-x-2">
                <span class="text-left whitespace-nowrap font-medium text-sm text-gray-400 "> IGV:</span>
                <label class="border-r pl-10 pr-10 border-gray-300 text-gray-400" for="">{{ cpe.IGV | currency :
                    typeCoin }}</label>
            </div>
            <!-- Total -->
            <div class="w-auto px-2    text-gray-800 sticky bottom-0 bg-gray-100 space-x-2 text-base">
                <span class="text-left whitespace-nowrap font-medium   text-gray-400"> Total:</span>
                <label class=" pl-10 pr-10  text-gray-400" for="">{{ cpe.Total | currency : typeCoin }}</label>
            </div>

            <!-- Boton Continuar -->
            <div class="w-full px-2 sticky inset-1 bg-gray-100 py-2 text-sm  text-gray-800 ">
                <div class="flex justify-end">
                    <button (click)="continuePrinciapal()" type="button" class="  bg-red-500 hover:bg-red-700 text-white px-9 py-2 rounded-md focus:outline-none ">Continuar</button>
                </div>
            </div>

        </section>
    </div>

</main>


<!-- Section 01 de continuar -->
<div *ngIf="ModalContinuar" class="fixed inset-0 z-50 overflow-hidden transition ease-in translate-y-5 duration-800 animated fade-In">
    <div class="absolute inset-0 overflow-hidden">
        <div class="absolute inset-0 transition-opacity bg-gray-500 bg-opacity-40" aria-hidden="true"></div>
        <section class="absolute inset-y-0 right-0 flex max-w-full transition-colors duration-500 ease-in sm:max-w-lg animated fadeIn" aria-labelledby="slide-over-heading">
            <div class="relative w-screen h-full max-w-3xl">
                <!-- incia  boton cerrar  -->
                <div class="absolute top-0 left-0 flex pt-4 z-50 md:-ml-12 sm:pr-4">
                    <button (click)="continuePrinciapal()" class="flex items-center px-3 py-2 text-gray-300 bg-red-600 rounded-r-lg md:rounded-l-lg md:rounded-r-none hover:text-white focus:outline-none focus:ring-2 focus:ring-white">
                        <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>

                <!-- ( CONTINUAR : - COMPROBANTE) -->
                <app-cabecerafecha (senDateStart)="getdateSelect( $event )"> </app-cabecerafecha>

                <!-- ( MODAL SECTION 01)-->
                <section class="h-screen animated fadeIn">

                    <form [formGroup]="formSeccionOne" (ngSubmit)="SaveNota()" class="flex-col  bg-white shadow-xl  animated fadeIn overflow-y-scroll h-full pb-32">
                        <!-- Componenete de Hora y Fecha -->
                        <!-- TITULO COMPROBATEN -->
                        <h1 class="pt-6 text-sm font-medium text-center text-black uppercase">{{ TipoNota === "07" ? "NOTA DE CREDITO" : "NOTA DE DEBITO" }} </h1>

                        <section class="grid -space-y-10 w-full grid-cols-1 gap-4  px-8 border-b border-gray-200 md:grid-cols-2 xl:grid-cols-2">

                            <!-- Alias de  la Serie-->
                            <div class="col-span-2 grid grid-cols-2">
                                <div class="w-full sm:mb-1 col-span-2">

                                    <label class="block w-full pb-1 text-sm font-medium text-black ">Alias de
                                        serie:</label>
                                    <mat-select (selectionChange)="onChangeAlias( $event.value )" formControlName="aliasSerie" [class.error]="aliasSerieInvalid" type="text" name="aliasSerie" required placeholder="Elige Serie" class="w-full sm:mb-1 text-sm forms-control focus">
                                        <mat-option [value]="item.Descripcion" *ngFor="let item of listTalGeneral">{{ item.Descripcion }}</mat-option>
                                        <!-- item.NumeroSunat -->
                                    </mat-select>

                                    <p *ngIf="aliasSerieInvalid" class="text-xs italic text-red-700"> Por favor rellene este campo. </p>
                                </div>
                            </div>

                            <div class="col-span-2 grid grid-cols-2">

                                <!-- Serie -->
                                <div class="w-full md:mb-2 col-span-1">
                                    <label class="block w-full pb-1 text-sm font-medium text-black ">Serie:</label>
                                    <input type="text" disabled placeholder="BE01" class="w-full  font-medium sm:mb-1 forms-control focus" [class.error]="invalidSerie" required formControlName="serie">

                                    <p *ngIf="invalidSerie" class="text-xs italic text-red-700"> Por favor rellene este campo. </p>
                                </div>

                                <!-- Número -->
                                <div class="w-full md:mb-2 col-span-1">
                                    <label class="block w-full pb-1 text-sm font-medium text-black ">Número:</label>
                                    <input type="text" disabled placeholder="1" class="w-full sm:mb-1 forms-control focus" [class.error]="invalidNumber" required formControlName="number">

                                    <p *ngIf="invalidNumber" class="text-xs italic text-red-700"> Por favor rellene este campo. </p>
                                </div>
                            </div>

                        </section>

                        <!-- DATOS A INGRESAR -->
                        <section class="grid w-full grid-cols-1 -space-y-12 gap-4 p-1 px-8 md:grid-cols-2">
                            <div class="col-span-2 grid grid-cols-2">

                                <!-- Tipo Nota -->
                                <div class="w-full md:mb-2 col-span-1">
                                    <label class="block w-full pb-1  text-sm font-medium text-black">{{ TipoNota === "07" ? "Tipo Nota de Crédito" : "Tipo Nota de Débito" }}</label>
                                    <input disabled type="text" placeholder="Anulación de Operación" class="w-full mb-1 forms-control focus" [class.error]="tipoNotaInvalid" required formControlName="tipoNota">
                                    <p *ngIf="tipoNotaInvalid" class="text-sm italic text-red-700"> Por favor rellene este campo.</p>

                                </div>

                                <!-- Documento Afectado -->
                                <div class="w-full md:mb-2 col-span-1">
                                    <label class="block w-full pb-1  text-sm font-medium text-black">Documento
                                        Afectado</label>
                                    <input disabled type="text" placeholder="B001 - 88" class="w-full mb-1 forms-control focus" [class.error]="docAfectadoInvalid" required formControlName="docAfectado">
                                    <p *ngIf="docAfectadoInvalid" class="text-sm italic text-red-700"> Por favor rellene este campo.</p>

                                </div>
                            </div>

                            <div class="col-span-2 grid grid-cols-2">
                                <!-- Observación -->
                                <fieldset [disabled]="notdata || nota.tipoNota === 'Intereses por Mora' || nota.tipoNota === 'Penalidades' ||  nota.tipoNota === 'Descuento Global' " class="w-full col-span-2 md:mb-2">
                                    <label class="block w-full pb-1  text-sm font-medium text-black">Observación:</label>
                                    <textarea (input)="onChangeObservacion()" class="uppercase w-full forms-control focus" placeholder="Escribe algo aqui..." [class.error]="observacionInvalid" formControlName="observacion"></textarea>
                                    <p *ngIf="observacionInvalid" class="text-sm italic text-red-700"> Por favor rellene este campo.</p>
                                </fieldset>
                            </div>
                        </section>


                        <div class="flex items-center w-full pb-5 px-8 ">
                            <svg width="30" height="36" viewBox="0 0 30 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M15 14.1277C14.532 14.1277 14.0832 14.3125 13.7522 14.6415C13.4213 14.9705 13.2354 15.4166 13.2354 15.8819V19.3901C13.2354 19.8553 13.4213 20.3015 13.7522 20.6304C14.0832 20.9594 14.532 21.1442 15 21.1442C15.468 21.1442 15.9168 20.9594 16.2478 20.6304C16.5787 20.3015 16.7646 19.8553 16.7646 19.3901V15.8819C16.7646 15.4166 16.5787 14.9705 16.2478 14.6415C15.9168 14.3125 15.468 14.1277 15 14.1277ZM29.9288 13.5664C29.6948 10.996 28.7936 8.52987 27.3133 6.40945C25.833 4.28903 23.8243 2.5869 21.4838 1.46957C19.1433 0.352245 16.5511 -0.142004 13.9607 0.0351793C11.3704 0.212363 8.87074 1.05491 6.70624 2.48039C4.85196 3.71291 3.29531 5.33837 2.14811 7.24C1.0009 9.14163 0.29163 11.2722 0.0712368 13.4787C-0.144961 15.6708 0.132423 17.8832 0.883267 19.9554C1.63411 22.0276 2.83958 23.9078 4.41222 25.4593L13.7648 34.7737C13.9288 34.9381 14.124 35.0686 14.339 35.1577C14.554 35.2467 14.7847 35.2926 15.0176 35.2926C15.2506 35.2926 15.4812 35.2467 15.6963 35.1577C15.9113 35.0686 16.1065 34.9381 16.2705 34.7737L25.5878 25.4593C27.1604 23.9078 28.3659 22.0276 29.1167 19.9554C29.8676 17.8832 30.145 15.6708 29.9288 13.4787V13.5664ZM23.1173 22.986L15 31.055L6.88271 22.986C5.68645 21.7968 4.7701 20.3589 4.19953 18.7757C3.62897 17.1925 3.41836 15.5033 3.58285 13.8295C3.7484 12.13 4.29181 10.4882 5.17379 9.02298C6.05576 7.55773 7.25426 6.30561 8.68263 5.35714C10.5548 4.1209 12.7524 3.46146 15 3.46146C17.2476 3.46146 19.4452 4.1209 21.3174 5.35714C22.7414 6.30194 23.9373 7.54853 24.819 9.00736C25.7008 10.4662 26.2466 12.101 26.4172 13.7945C26.587 15.4739 26.379 17.1699 25.8083 18.7596C25.2376 20.3493 24.3184 21.7929 23.1173 22.986ZM16.6235 9.86523C16.5882 9.75747 16.5345 9.65658 16.4646 9.56703L16.2529 9.30391C16.0422 9.10507 15.7854 8.96101 15.5053 8.88451C15.2252 8.80801 14.9304 8.80144 14.6471 8.86538H14.3294L14.0118 9.02325L13.7471 9.25129L13.5354 9.51441C13.4655 9.60396 13.4118 9.70485 13.3765 9.81261C13.3228 9.91706 13.287 10.0297 13.2707 10.1459C13.2414 10.302 13.2296 10.4608 13.2354 10.6195C13.2292 10.8553 13.2775 11.0893 13.3765 11.3036C13.4664 11.5106 13.5918 11.7006 13.7471 11.8649C13.9151 12.0288 14.1126 12.1598 14.3294 12.2508C14.7614 12.414 15.2386 12.414 15.6706 12.2508C15.885 12.1555 16.0819 12.025 16.2529 11.8649C16.4082 11.7006 16.5336 11.5106 16.6235 11.3036C16.7162 11.0873 16.7642 10.8546 16.7646 10.6195C16.7733 10.5086 16.7733 10.3971 16.7646 10.2862C16.7482 10.1375 16.7001 9.99399 16.6235 9.86523Z"
                                    fill="#A7A7A7" />
                            </svg>
                            <p class="pl-3  text-sm text-gray-500">Asegúrate de revisar que todo este correctamente antes de guardar esta nota de crédito.</p>
                        </div>

                        <section class="pb-5 md:px-2 space-y-1 px-3 xl:px-4 2xl:px-8 animated fadeIn transition duration-1000 ease-in">
                            <!-- Titulo -->
                            <div class="flex justify-between text-sm  font-normal text-gray-900">
                                <span>Exonerado: </span>
                                <span>{{ cpe.Exonerada | currency : typeCoin }}</span>
                            </div>

                            <!-- Afecto -->
                            <div class="flex justify-between text-sm  font-normal text-gray-900">
                                <span>Afecto: </span>
                                <span>{{ cpe.Afecta | currency : typeCoin }}</span>
                            </div>


                            <!-- Inafecto -->
                            <div class="flex justify-between text-sm  font-normal text-gray-900">
                                <span>Inafecto: </span>
                                <span>{{ cpe.Inafecta | currency : typeCoin }}</span>
                            </div>

                            <!-- IGV -->
                            <div class="flex justify-between text-sm font-medium text-black">
                                <span>IGV:</span>
                                <span>{{ cpe.IGV | currency : typeCoin }}</span>
                            </div>

                            <!-- Total -->
                            <div class="flex justify-between text-sm font-medium text-red-600">
                                <span>TOTAL:</span>
                                <span>{{ cpe.Total | currency : typeCoin }}</span>
                            </div>
                        </section>

                        <!-- botones -->
                        <!-- <div class="flex items-center justify-between gap-4 pt-8 mx-5 border-t border-gray-200">
                            <button (click)="modalsuccess()" (click)="ModalContinuar = !ModalContinuar;" type="button" class=" py-2 text-sm font-medium text-white cursor-pointer uppercase transition duration-500 ease-in bg-red-600 rounded-md hover:bg-red-800 focus:outline-none ">GUARDAR</button>
                        </div> -->
                        <div class="px-7">
                            <button type="submit" class="w-full px-5 py-2 text-sm font-medium text-white cursor-pointer uppercase transition duration-500 ease-in bg-red-600 rounded-md hover:bg-red-800 focus:outline-none ">
                                GUARDAR
                            </button>
                        </div>

                    </form>
                </section>
            </div>
        </section>
    </div>
</div>

<!-- modal de  guardar -->
<app-modalsuccess [success]="success" [message]="message"> </app-modalsuccess>
<app-modal-error [error]='error' [message]='message' [cnn_expi]='cnn_expi' (send)='error = $event'></app-modal-error>