<!-- LOADING TIME OF WAIT FOR ME -->
<app-loading> </app-loading>
<main class="mx-auto lg:px-7 px-2 py-2">
    <p class="text-sm font-medium text-gray-500 uppercase pt-3">Buscador</p>
    <section
        class=" py-2 transition-shadow border border-gray-200 rounded shadow-md  sm:p-2 lg:p-3 2xl:p-3 hover:shadow-lg">
        <!-- Buscar Producto-->
        <div class="col-span-1 lg:col-span-2">
            <label class="block w-full pb-1 text-sm font-medium text-gray-800">Buscar Productos:</label>
            <div class="w-full relative">
                <input (click)="onAbrirAutoCompletado()" (keyup)="_searchPresentation(search.value)" #search
                    autocomplete="off" onfocus="this.value=''" id="focusBuscar" type="text" required placeholder="Buscar tus Productos..." matInput
                    class="uppercase w-full mb-1 text-xs forms-control border-2  border-gray-400  focus">

                    <fieldset *ngIf="listadoautocompletado" class="autocompletado-modal-flotante pt-4 contenidoautocompletado" id="myModal">

                            <cdk-virtual-scroll-viewport style="width: 100%;height: 100%;" [itemSize]="20">
                            <table class="w-full py-3 text-xs">
                                <thead>
                                    <tr class="text-sm font-medium">
                                        <th class="font-medium text-sm">Nombre de Producto</th>
                                        <th class="font-medium text-sm">Presentación</th>
                                        <th class="font-medium text-sm">U.M</th>
                                        <th class="font-medium text-sm">Precio</th>
                                        <th class="font-medium text-sm">Cant. a Vender</th>
                                        <th class="font-medium text-sm"></th>
                                    </tr>
                                </thead>
                                <tbody class="text-center gap-3 ">
                                    <tr *cdkVirtualFor="let item of listPresentation"
                                        class="border-b border-t text-xs  border-gray-200">
                                        <td>{{ item.Producto }}</td>
                                        <td>{{ item.Presentacion }}</td>
                                        <td>{{ item.Abreviatura }}</td>
                                        <td>{{ item.Precio | currency : 'PEN' }}</td>
                                        <!-- Cantidad -->
                                        <td class="w-auto px-6 py-1 text-sm font-normal text-gray-900">
                                            <fieldset
                                                class="relative flex flex-row justify-center w-full rounded-lg h-9">
                                                <!-- Boton de resta -->
                                                <button (click)="QuantityMinus( item.QuantitySale , item.ID )"
                                                    type="button"
                                                    class="flex items-center justify-center w-10 h-full rounded-l cursor-pointer hover:bg-gray-100 focus:outline-none">
                                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <rect x="0.6" y="0.6" width="18.8" height="18.8" rx="9.4"
                                                            stroke="#EA3E3E" stroke-width="1.2" />
                                                        <rect x="5" y="9" width="10" height="2" fill="#EA3E3E" />
                                                    </svg>
                                                </button>
                                                <!-- Input numerico -->
                                                <input value="10" disabled type="number"
                                                    class="flex items-center w-10 font-medium text-center text-gray-700 focus:outline-none text-md"
                                                    name="custom-input-number" value="{{ item.QuantitySale }}">
                                                <!-- Boton de suma -->
                                                <button (click)="QuantityPlus( item.QuantitySale, item.ID )"
                                                    type="button"
                                                    class="flex items-center justify-center w-10 h-full rounded-r cursor-pointer hover:bg-gray-100 focus:outline-none">
                                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <rect x="0.6" y="0.6" width="18.8" height="18.8" rx="9.4"
                                                            stroke="#EA3E3E" stroke-width="1.2" />
                                                        <path d="M15 9.2H10.8V5H9.2V9.2H5V10.8H9.2V15H10.8V10.8H15V9.2Z"
                                                            fill="#EA3E3E" />
                                                    </svg>
                                                </button>
                                            </fieldset>
                                        </td>
                                        <td>
                                            <button (click)="_addList( item )" type="button"
                                                class="px-7 py-2 bg-red-500 hover:bg-red-700 text-white rounded-md focus:outline-none">Agregar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </cdk-virtual-scroll-viewport>
                    </fieldset>
            </div>
            <small class="hidden text-xs italic text-red-700"> Ingrese datos de busqueda</small>
        </div>
    </section>
    <app-tablalistado [listTable]='listTable' [listUnidadM]="listUnidadM" [totales]='totales'
        (sendListTable)='listTable = $event' (sendClearTotal)='totales = $event'> </app-tablalistado>
</main>