<nav id="header" class=" w-full  z-40 top-0 p-2 border-b shadow border-gray-300">
    <div class="container mx-auto flex flex-row items-center font-semibold  justify-between">
        <!-- logotipo -->
        <a routerLink="/inicio" class=" cursor-pointer   flex p-1">
            <span class=" p-1 text-3xl w-12 h-12 font-medium flex items-center justify-center text-white rounded-md bg-facted-500">FS</span>
            <div class=" flex items-center flex-col  justify-center ml-2">
                <span class="text-lg font-medium w-full text-center text-gray-800">FacTEDSOL</span>
                <span class="text-xs tracking-wide w-full font-medium text-left text-facted-500 uppercase ">[lite]</span>
            </div>
        </a>
        <!-- boton resposive -->

        <!-- termina boton resposive -->
        <div class="w-full flex items-center flex-row justify-end lg:w-auto   z-20" id="nav-content">
            <ul class="list-reset flex justify-end flex-1 space-x-3  items-center">
                <li class="lg:px-6 hidden md:flex  text-gray-800 text-sm ">
                    <h1 class="text-gray-900 text-sm font-medium">Contactanos</h1>
                </li>
                <li class="lg:px-2 text-gray-800 text-sm ">
                    <a href="https://www.facebook.com/innovated.pe/" class=" flex items-center cursor-pointer">
                        <span class="bg-gray-100 rounded-full hover:bg-gray-200 p-1">
                    <svg class="h-6 w-6 text-red-600"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg>
                  </span>
                    </a>
                </li>

                <li class=" lg:px-2   text-gray-800 text-sm">
                    <a href="https://web.telegram.org/#/login" class="flex items-center cursor-pointer">
                        <span class="bg-gray-100 hover:bg-gray-200 rounded-full p-1">
                      <svg class="h-6 w-6 text-red-600"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4" /></svg>
                    </span>
                    </a>
                </li>


                <li class=" lg:px-2   text-gray-800 text-sm">
                    <a href="https://web.telegram.org/#/login" class="flex items-center cursor-pointer">
                        <span class="bg-gray-100 hover:bg-gray-200 rounded-full p-1">
                      <svg class="h-6 w-6 text-red-600"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M22.54 6.42a2.78 2.78 0 0 0-1.94-2C18.88 4 12 4 12 4s-6.88 0-8.6.46a2.78 2.78 0 0 0-1.94 2A29 29 0 0 0 1 11.75a29 29 0 0 0 .46 5.33A2.78 2.78 0 0 0 3.4 19c1.72.46 8.6.46 8.6.46s6.88 0 8.6-.46a2.78 2.78 0 0 0 1.94-2 29 29 0 0 0 .46-5.25 29 29 0 0 0-.46-5.33z" />  <polygon points="9.75 15.02 15.5 11.75 9.75 8.48 9.75 15.02" /></svg>                    </span>
                    </a>
                </li>
                <!-- <li class="lg:px-6 xl:px-8">
                <a (click)="register()"  class=" text-white bg-facted-500  hover:bg-red-700 transition duration-500 ease-in  cursor-pointer uppercase  rounded-3xl focus:outline-none text-sm font-medium mt-6 sm:mt-0  py-2 px-6"> Registrate</a>
            </li> -->
            </ul>
        </div>
    </div>
</nav>