<app-loading></app-loading>
<!-- Main content -->
<main>
  <div class="grid grid-cols-1 gap-4 md:grid-cols-3 lg:grid-cols-3">
    <!-- Resumen de datos  -->
    <section
      class="col-span-2 md:col-span-1 p-3 md:p-3 lg:p-7 md:mt-9  xl:mx-10 transition-shadow border  border-gray-200  shadow-xl hover:shadow-lg">

      <div class="flex  justify-center w-full">
        <svg class="text-gray-600 w-8 h-8 fill-current" aria-hidden="true" focusable="false" data-prefix="far"
          data-icon="user" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path fill="currentColor"
            d="M313.6 304c-28.7 0-42.5 16-89.6 16-47.1 0-60.8-16-89.6-16C60.2 304 0 364.2 0 438.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-25.6c0-74.2-60.2-134.4-134.4-134.4zM400 464H48v-25.6c0-47.6 38.8-86.4 86.4-86.4 14.6 0 38.3 16 89.6 16 51.7 0 74.9-16 89.6-16 47.6 0 86.4 38.8 86.4 86.4V464zM224 288c79.5 0 144-64.5 144-144S303.5 0 224 0 80 64.5 80 144s64.5 144 144 144zm0-240c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96z">
          </path>
        </svg>
      </div>
      <div class="flex items-center justify-center border-b border-gray-300 py-3 md:py-5">
        <p class=" w-40 text-sm  leading-none text-center  text-gray-700">{{ name | uppercase }} {{ lastname | uppercase
          }}</p>
      </div>

      <div class=" border-b border-gray-100 py-3 md:py-5">
        <div class="flex px-2">
          <div class="flex items-center justify-center ">
            <svg class="w-6 h-6 text-gray-600 fill-current" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1.34em"
              height="1em"
              style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
              preserveAspectRatio="xMidYMid meet" viewBox="0 0 2048 1536">
              <path
                d="M896 1084q0 55-31.5 93.5T789 1216H363q-44 0-75.5-38.5T256 1084q0-54 7.5-100.5t24.5-90t51-68.5t81-25q64 64 156 64t156-64q47 0 81 25t51 68.5t24.5 90T896 1084zM768 640q0 80-56 136t-136 56t-136-56t-56-136t56-136t136-56t136 56t56 136zm1024 416v64q0 14-9 23t-23 9h-704q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h704q14 0 23 9t9 23zm-384-256v64q0 14-9 23t-23 9h-320q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h320q14 0 23 9t9 23zm384 0v64q0 14-9 23t-23 9h-192q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h192q14 0 23 9t9 23zm0-256v64q0 14-9 23t-23 9h-704q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h704q14 0 23 9t9 23zm128 832V256H128v1120q0 13 9.5 22.5t22.5 9.5h1728q13 0 22.5-9.5t9.5-22.5zm128-1216v1216q0 66-47 113t-113 47H160q-66 0-113-47T0 1376V160Q0 94 47 47T160 0h1728q66 0 113 47t47 113z" />
            </svg>
            <p class="pl-4 text-sm">{{ dni }}</p>
          </div>
        </div>
      </div>

      <div class=" border-b border-gray-100 py-3">
        <label class="inline-flex items-center mt-3 px-2 cursor-pointer">

          <!-- existe -->
          <svg *ngIf="Reimprimir" class="w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>

          <!-- no existe -->
          <svg *ngIf="!Reimprimir" class="w-5 h-5 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>

          <span class="ml-2 text-gray-900 text-sm">Reimprimir</span>
        </label>
      </div>

      <div class=" border-b border-gray-100 py-3">
        <label class="inline-flex items-center mt-3 px-2 cursor-pointer">

          <svg *ngIf="CambioPrecio" class="w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>

          <svg *ngIf="!CambioPrecio" class="w-5 h-5 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>

          <span class="ml-2 text-gray-900 text-sm">Cambiar Precio</span>
        </label>
      </div>
      <div class=" border-b border-gray-100 py-3">
        <label class="inline-flex items-center mt-3 px-2 cursor-pointer">

          <svg *ngIf="Admin" class="w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>

          <svg *ngIf="!Admin" class="w-5 h-5 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>

          <span class="ml-2 text-gray-900 text-sm">Administrador</span>
        </label>
      </div>
    </section>


    <section class="col-span-2">
      <!--=================== formulario de editar informacion ===================-->
      <form class="col-span-2 bg-white">
        <p class="text-sm font-medium tracking-wide leading-relaxed text-gray-500 pb-1"> Información</p>
        <div class="p-5 md:p-8 2xl:p-10  transition-shadow border rounded shadow-md border-gray-200 hover:shadow-lg">
          <div class="grid grid-cols-1 xl:grid-cols-3 lg:grid-cols-2 gap-1 md:gap-6 pb-2">
            <!-- Nombres -->
            <div class="w-full mb-1 md:mb-2">
              <label class="text-gray-800 block font-medium w-full text-sm pb-1">Nombres</label>
              <span class="text-gray-600 text-sm">{{ name }} </span>
              <!-- <p class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
            </div>

            <!-- Apellidos -->
            <div class="w-full mb-1 md:mb-2">
              <label class="text-gray-800 block font-medium text-sm w-full pb-1">Apellidos</label>
              <span class="text-gray-600 text-sm"> {{ lastname }} </span>
              <!-- <p class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
            </div>


            <!-- DNI-->
            <div class="w-full mb-1 md:mb-2">
              <label class="text-gray-800 block font-medium text-sm w-full pb-1">DNI</label>
              <span class="text-gray-600 text-sm">{{ dni }}</span>
              <!-- <p class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
            </div>
          </div>
        </div>
      </form>

      <!--=================== formulario de cambiar contraseña ===================-->
      <form [formGroup]="form" (ngSubmit)="saveNewPass()" class="col-span-1 pt-4 bg-white pb-4 sm:pb-0">
        <p class="text-sm font-medium tracking-wide leading-relaxed text-gray-500 pb-1">Cambiar contraseña</p>
        <div class="p-5 md:p-8 2xl:p-10 transition-shadow border rounded shadow-md border-gray-200 hover:shadow-lg">
          <div class="grid grid-cols-1 xl:grid-cols-3 lg:grid-cols-2  md:gap-6">
            <!-- USUARIO -->
            <div class="w-full mb-1 md:mb-2">
              <label class="text-gray-800 flex font-medium items-center w-full text-sm pb-1">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M10 0C4.477 0 0 4.477 0 10C0 15.523 4.477 20 10 20C15.523 20 20 15.523 20 10C20 4.477 15.523 0 10 0ZM10 18.5C8.8837 18.4999 7.77834 18.28 6.74704 17.8527C5.71573 17.4255 4.77868 16.7993 3.98939 16.0099C3.20009 15.2205 2.574 14.2834 2.14687 13.252C1.71974 12.2207 1.49993 11.1153 1.5 9.999C1.50007 8.8827 1.72 7.77734 2.14725 6.74604C2.5745 5.71473 3.2007 4.77768 3.99009 3.98839C4.77948 3.19909 5.71661 2.573 6.74796 2.14587C7.77931 1.71874 8.8847 1.49893 10.001 1.499C12.2555 1.49913 14.4176 2.39485 16.0116 3.98909C17.6057 5.58334 18.5011 7.74553 18.501 10C18.5009 12.2545 17.6052 14.4166 16.0109 16.0106C14.4167 17.6047 12.2545 18.5001 10 18.5ZM10 10.5C6.962 10.5 4.5 12.228 4.5 14C4.5 15.772 6.962 17.5 10 17.5C13.038 17.5 15.5 15.772 15.5 14C15.5 12.228 13.038 10.5 10 10.5ZM10 10C10.7956 10 11.5587 9.68393 12.1213 9.12132C12.6839 8.55871 13 7.79565 13 7C13 6.20435 12.6839 5.44129 12.1213 4.87868C11.5587 4.31607 10.7956 4 10 4C9.20435 4 8.44129 4.31607 7.87868 4.87868C7.31607 5.44129 7 6.20435 7 7C7 7.79565 7.31607 8.55871 7.87868 9.12132C8.44129 9.68393 9.20435 10 10 10Z"
                    fill="#515151" />
                </svg>
                <span class="pl-2">Usuario</span>
              </label>
              <input  class="forms-control w-full  focus mb-1"
                      [class.error]="userInvalid"
                      type="text"
                      name="user"
                      required 
                      placeholder="Admin"
                      disabled
                      formControlName="user">
              <p *ngIf="userInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>

            </div>
            <!-- cONTRASEÑA aCTUAL -->
            <div class="w-full mb-1 md:mb-2">
              <label class="text-gray-800 flex font-medium items-center w-full text-sm pb-1">
                <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M8 0C5.243 0 3 2.243 3 5V8H2C1.46957 8 0.960859 8.21071 0.585786 8.58579C0.210714 8.96086 0 9.46957 0 10V18C0 18.5304 0.210714 19.0391 0.585786 19.4142C0.960859 19.7893 1.46957 20 2 20H14C14.5304 20 15.0391 19.7893 15.4142 19.4142C15.7893 19.0391 16 18.5304 16 18V10C16 9.46957 15.7893 8.96086 15.4142 8.58579C15.0391 8.21071 14.5304 8 14 8H13V5C13 2.243 10.757 0 8 0ZM5 5C5 3.346 6.346 2 8 2C9.654 2 11 3.346 11 5V8H5V5ZM9 15.723V18H7V15.723C6.65039 15.5228 6.36966 15.2213 6.19483 14.8584C6.02 14.4954 5.95928 14.0879 6.02068 13.6898C6.08208 13.2916 6.26272 12.9214 6.53876 12.6279C6.81481 12.3345 7.17332 12.1316 7.567 12.046C7.85942 11.9813 8.16262 11.9832 8.45425 12.0513C8.74587 12.1194 9.01849 12.2521 9.25198 12.4397C9.48548 12.6272 9.67391 12.8647 9.80337 13.1348C9.93283 13.4049 10 13.7005 10 14C9.99943 14.3497 9.90669 14.6932 9.73113 14.9956C9.55557 15.2981 9.30339 15.549 9 15.723Z"
                    fill="#515151" />
                </svg>
                <span class="pl-2"> Contraseña Actual </span>
              </label>
              <input  class="forms-control w-full focus mb-1"
                      [class.error]="passNowInvalid"
                      type="password"
                      name="password"
                      required placeholder="**********"
                      formControlName="passNow"
                >
              <p *ngIf="passNowInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
            </div>
          </div>

          <div class="flex py-2">
            <a (click)="change_Password()"
              class="text-red-600 hover:text-red-800 cursor-pointer font-medium text-sm underline w-full">Cambiar
              Contraseña</a>
          </div>

          <div *ngIf="changePassword"
            class="grid grid-cols-1 lg:grid-cols-2 animated fadeIn  xl:grid-cols-3  lg:gap-4 pb-2">
            <!-- nueva Contraeña -->
            <div class="w-full mb-1 md:mb-2">
              <label class="text-gray-800 block font-medium w-full text-sm pb-1">Nueva Contraseña</label>
              <input  class="forms-control w-full  focus md:mb-1"
                      [class.error]="newpassInvalid"
                      type="password"
                      name="nuevacontraseña"
                      required
                      placeholder="*********"
                      formControlName="newpass"
                      >
              <p *ngIf="newpassInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
            </div>

            <!-- Confirmar Contraseña  -->
            <div class="w-full mb-1 md:mb-2">
              <label class="text-gray-800 block font-medium text-sm w-full pb-1">Confirmar Contraseña</label>
              <input  class="forms-control w-full focus mb-1"
                      [class.error]="repeatpassInvalid"
                      type="password"
                      name="confirmarcontraseña"
                      required 
                      placeholder="*******"
                      formControlName="repeatpass"
                      >
              <p *ngIf="repeatpassInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
            </div>

            <!-- Boton de  guarda contraseña -->
            <div class="w-full mb-2">
              <button type="submit"
                      class="btn bg-red-600 focus:outline-none hover:bg-red-800 transition duration-300 ease-in rounded text-white text-sm  font-medium mt-6">
                      Guardar
              </button>
            </div>
          </div>
        </div>
      </form>
    </section>
  </div>
</main>

<app-modal-error [error]='error' [message]='message' (send)='error = $event'></app-modal-error>
<app-modalsuccess [success]="success" [message]="message" (Send)="success = $event" ></app-modalsuccess>