<aside class="sidebar">
    <aside class="flex-shrink-0  w-64 h-full">
        <div class="flex flex-col h-full  pb-4">
            <nav class="flex-1 max-h-full  mt-6 overflow-y-hidden">
                <mat-accordion>

                    <!-- Inicio -->
                    <li class=" w-full  relative" (click)="onClick(0)"
                    class="flex items-center   text-sm w-full  text-gray-600    focus:outline-none hover:text-red-600 focus:text-red-600"
                    [ngClass]="{'bg-red-50 border-l-4 border-red-600 text-red-600': tab==='tab0'}"
                    >
                        <a [routerLink]="['bienvenido']" routerLinkActive="router-link-active" (click)="toggleTabs(0)"
                        [ngClass]="{'text-gray-800': !openTab0, 'text-red-600 ': openTab0}"
                        class="sidebar-nav-link w-full  focus:text-red-600 hover:text-red-600">
                            <div>
                                <svg class="fill-current" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.999787 11.0002H1.99979V18.0002C1.99979 19.1032 2.89679 20.0002 3.99979 20.0002H15.9998C17.1028 20.0002 17.9998 19.1032 17.9998 18.0002V11.0002H18.9998C19.1975 11.0002 19.3908 10.9415 19.5552 10.8316C19.7197 10.7217 19.8478 10.5656 19.9235 10.3829C19.9991 10.2002 20.0189 9.99912 19.9804 9.80517C19.9418 9.61122 19.8466 9.43305 19.7068 9.2932L10.7068 0.293201C10.614 0.200255 10.5038 0.126518 10.3825 0.0762068C10.2612 0.0258961 10.1311 0 9.99979 0C9.86845 0 9.73841 0.0258961 9.61709 0.0762068C9.49578 0.126518 9.38558 0.200255 9.29279 0.293201L0.292787 9.2932C0.152977 9.43305 0.057771 9.61122 0.0192035 9.80517C-0.0193641 9.99912 0.000438951 10.2002 0.076109 10.3829C0.151779 10.5656 0.279918 10.7217 0.444328 10.8316C0.608738 10.9415 0.802037 11.0002 0.999787 11.0002ZM7.99979 18.0002V13.0002H11.9998V18.0002H7.99979ZM9.99979 2.4142L15.9998 8.4142V13.0002L16.0008 18.0002H13.9998V13.0002C13.9998 11.8972 13.1028 11.0002 11.9998 11.0002H7.99979C6.89679 11.0002 5.99979 11.8972 5.99979 13.0002V18.0002H3.99979V8.4142L9.99979 2.4142Z" />
                                </svg>
                            </div>
                            <span class="text-sm font-medium">Inicio</span>
                        </a>
                    </li>

                    <mat-expansion-panel class="relative  flex items-center">
                        
                        <mat-expansion-panel-header *ngIf="permiso.operacion" (click)="onClick(1)"
                            [ngClass]="{'bg-red-50 border-l-4 border-red-600 text-red-600': tab==='tab1'}"
                            class="flex items-center   text-sm w-full  text-gray-600    focus:outline-none hover:text-red-600 focus:text-red-600 ">
                            <div class="flex items-center">
                                <div class="pl-2">
                                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                                    </svg>
                                </div>
                                <span class="pl-7 font-medium">Operación</span>
                            </div>
                        </mat-expansion-panel-header>

                        <ul>
                            <!-- Venta Rapida -->
                            <li *ngIf="permiso.ventarapida">
                                <a [routerLink]="['ventarapida']" routerLinkActive="router-link-active"
                                    (click)="toggleTabs(1)"
                                    [ngClass]="{'text-gray-800': !openTab1, 'text-red-600 ': openTab1}"
                                    class="flex px-6 py-3 items-center hover:text-red-600 focus:text-red-600 font-medium text-gray-600 focus:outline-none text-sm ">
                                    <span class="mr-4">
                                        <svg class="w-3 h-3 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                            fill="currentColor">
                                            <path fill-rule="evenodd"
                                                d="M10 18a8 8 0 100-16 8 8 0 000 16zM8 7a1 1 0 00-1 1v4a1 1 0 001 1h4a1 1 0 001-1V8a1 1 0 00-1-1H8z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </span>
                                    <span class="pl-2">Venta Rápida</span>
                                </a>
                            </li>
                            <!-- Venta Normal -->
                            <li *ngIf="permiso.ventanormal">
                                <a [routerLink]="['ventanormal']" routerLinkActive="router-link-active"
                                    (click)="toggleTabs(2)"
                                    [ngClass]="{'text-gray-800': !openTab2, 'text-red-600': openTab2}"
                                    class="flex px-6 py-3 items-center hover:text-red-600 focus:text-red-600 font-medium text-gray-600 focus:outline-none text-sm ">
                                    <span class="mr-4">
                                        <svg class="w-3 h-3 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                            fill="currentColor">
                                            <path fill-rule="evenodd"
                                                d="M10 18a8 8 0 100-16 8 8 0 000 16zM8 7a1 1 0 00-1 1v4a1 1 0 001 1h4a1 1 0 001-1V8a1 1 0 00-1-1H8z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </span>
                                    <span class="pl-2">Venta Normal</span> </a>
                            </li>

                            <!-- Nota de credito -->
                            <li *ngIf="permiso.notacredito">
                                <a [routerLink]="['notacredito']" routerLinkActive="router-link-active"
                                    (click)="toggleTabs(3)"
                                    [ngClass]="{'text-gray-800': !openTab3, 'text-red-600': openTab3}"
                                    class="flex px-6 py-3 items-center hover:text-red-600 focus:text-red-600 font-medium text-gray-600 focus:outline-none text-sm ">
                                    <span class="mr-4">
                                        <svg class="w-3 h-3 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                            fill="currentColor">
                                            <path fill-rule="evenodd"
                                                d="M10 18a8 8 0 100-16 8 8 0 000 16zM8 7a1 1 0 00-1 1v4a1 1 0 001 1h4a1 1 0 001-1V8a1 1 0 00-1-1H8z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </span>
                                    <span class="pl-2">Nota Crédito</span>
                                </a>
                            </li>
                            <!-- Nota de debito -->
                            <li *ngIf="permiso.notadebito">
                                <a [routerLink]="['notadebito']" routerLinkActive="router-link-active"
                                    (click)="toggleTabs(4)"
                                    [ngClass]="{'text-gray-800': !openTab4, 'text-red-600': openTab4}"
                                    class="flex px-6 py-3 items-center hover:text-red-600 focus:text-red-600 font-medium text-gray-600 focus:outline-none text-sm ">
                                    <span class="mr-4">
                                        <svg class="w-3 h-3 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                            fill="currentColor">
                                            <path fill-rule="evenodd"
                                                d="M10 18a8 8 0 100-16 8 8 0 000 16zM8 7a1 1 0 00-1 1v4a1 1 0 001 1h4a1 1 0 001-1V8a1 1 0 00-1-1H8z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </span>
                                    <span class="pl-2">Nota Débito</span>
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>

                    <mat-expansion-panel class="relative flex items-center">

                        <mat-expansion-panel-header *ngIf="permiso.mantenimiento" (click)="onClick(2)"
                            [ngClass]="{'bg-red-50 border-l-4 my-3 border-red-600 text-red-600': tab==='tab2'}"
                            class="flex items-center   text-sm w-full  text-gray-600    focus:outline-none hover:text-red-600 focus:text-red-600 hover:bg-red-50 py-2">
                            
                            <div class="flex items-center">
                                <span class="pl-2">
                                    <svg class="w-6 h-6 fill-current" xmlns="http://www.w3.org/2000/svg"
                                        enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24">
                                        <rect fill="none" height="24" width="24" />
                                        <path
                                            d="M10,13c0.55,0,1,0.45,1,1s-0.45,1-1,1s-1-0.45-1-1S9.45,13,10,13 M10,11c-1.66,0-3,1.34-3,3s1.34,3,3,3s3-1.34,3-3 S11.66,11,10,11L10,11z M18.5,9l1.09-2.41L22,5.5l-2.41-1.09L18.5,2l-1.09,2.41L15,5.5l2.41,1.09L18.5,9z M21.28,12.72L20.5,11 l-0.78,1.72L18,13.5l1.72,0.78L20.5,16l0.78-1.72L23,13.5L21.28,12.72z M16.25,14c0-0.12,0-0.25-0.01-0.37l1.94-1.47l-2.5-4.33 l-2.24,0.94c-0.2-0.13-0.42-0.26-0.64-0.37L12.5,6h-5L7.2,8.41C6.98,8.52,6.77,8.65,6.56,8.78L4.32,7.83l-2.5,4.33l1.94,1.47 C3.75,13.75,3.75,13.88,3.75,14s0,0.25,0.01,0.37l-1.94,1.47l2.5,4.33l2.24-0.94c0.2,0.13,0.42,0.26,0.64,0.37L7.5,22h5l0.3-2.41 c0.22-0.11,0.43-0.23,0.64-0.37l2.24,0.94l2.5-4.33l-1.94-1.47C16.25,14.25,16.25,14.12,16.25,14z M14.83,17.64l-1.73-0.73 c-0.56,0.6-1.3,1.04-2.13,1.23L10.73,20H9.27l-0.23-1.86c-0.83-0.19-1.57-0.63-2.13-1.23l-1.73,0.73l-0.73-1.27l1.49-1.13 c-0.12-0.39-0.18-0.8-0.18-1.23c0-0.43,0.06-0.84,0.18-1.23l-1.49-1.13l0.73-1.27l1.73,0.73c0.56-0.6,1.3-1.04,2.13-1.23L9.27,8 h1.47l0.23,1.86c0.83,0.19,1.57,0.63,2.13,1.23l1.73-0.73l0.73,1.27l-1.49,1.13c0.12,0.39,0.18,0.8,0.18,1.23 c0,0.43-0.06,0.84-0.18,1.23l1.49,1.13L14.83,17.64z" />
                                    </svg>
                                </span>
                                <span class="pl-7 font-medium">Mantenimiento</span>
                            </div>

                        </mat-expansion-panel-header>
                        <ul>
                            <!-- Productos y Servicios -->
                            <li *ngIf="permiso.productoservicio">
                                <a [routerLink]="['productoservicios']" routerLinkActive="router-link-active"
                                    (click)="toggleTabs(5)"
                                    [ngClass]="{'text-gray-800': !openTab5, 'text-red-600': openTab5}"
                                    class="flex px-6 py-3 items-center hover:text-red-600 focus:text-red-600 font-medium text-gray-600 focus:outline-none text-sm ">
                                    <span class="mr-3">
                                        <svg class="w-3 h-3 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                            fill="currentColor">
                                            <path fill-rule="evenodd"
                                                d="M10 18a8 8 0 100-16 8 8 0 000 16zM8 7a1 1 0 00-1 1v4a1 1 0 001 1h4a1 1 0 001-1V8a1 1 0 00-1-1H8z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </span> <span class="pl-2 whitespace-nowrap">  Productos y Servicios </span> </a>
                            </li>

                            <!-- Clientes -->
                            <li *ngIf="permiso.cliente">
                                <a [routerLink]="['clientes']" routerLinkActive="router-link-active"
                                    (click)="toggleTabs(6)"
                                    [ngClass]="{'text-gray-800': !openTab6, 'text-red-600': openTab6}"
                                    class="flex px-6 py-3 items-center hover:text-red-600 focus:text-red-600 font-medium text-gray-600 focus:outline-none text-sm ">
                                    <span class="mr-3">
                                        <svg class="w-3 h-3 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                            fill="currentColor">
                                            <path fill-rule="evenodd"
                                                d="M10 18a8 8 0 100-16 8 8 0 000 16zM8 7a1 1 0 00-1 1v4a1 1 0 001 1h4a1 1 0 001-1V8a1 1 0 00-1-1H8z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </span> <span class="pl-2">
                                          Clientes
                                    </span> </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>


                    <mat-expansion-panel class="relative   flex items-center">

                        <mat-expansion-panel-header *ngIf="permiso.reportes" (click)="onClick(3)"
                            [ngClass]="{'bg-red-50 border-l-4 my-3 border-red-600 text-red-600': tab==='tab3'}"
                            class="flex items-center   text-sm w-full  text-gray-600    focus:outline-none hover:text-red-600 focus:text-red-600 hover:bg-red-50 py-2">
                            <div class=" flex items-center">
                                <span class="pl-2">
                                    <svg class="w-6 h-6 fill-current" xmlns="http://www.w3.org/2000/svg" height="24"
                                        viewBox="0 0 24 24" width="24">
                                        <path d="M0 0h24v24H0V0z" fill="none" />
                                        <path
                                            d="M8 16h8v2H8zm0-4h8v2H8zm6-10H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11z" />
                                    </svg>
                                </span>
                                <span class="pl-7 font-medium">Reportes</span>
                            </div>
                        </mat-expansion-panel-header>
                        <ul>
                            <!-- Reporte Admistrativo -->
                            <li *ngIf="permiso.repadministrativo">
                                <a [routerLink]="['reportesadministrativos']" routerLinkActive="router-link-active"
                                    (click)="toggleTabs(7)"
                                    [ngClass]="{'text-gray-800': !openTab7, 'text-red-600': openTab7}"
                                    class="flex px-6 py-3 items-center hover:text-red-600 focus:text-red-600 font-medium text-gray-600 focus:outline-none text-sm">
                                    <span class="mr-3">
                                        <svg class="w-3 h-3 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                            fill="currentColor">
                                            <path fill-rule="evenodd"
                                                d="M10 18a8 8 0 100-16 8 8 0 000 16zM8 7a1 1 0 00-1 1v4a1 1 0 001 1h4a1 1 0 001-1V8a1 1 0 00-1-1H8z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </span> <span class="pl-2 whitespace-nowrap">  Rep. Administrativo</span> </a>
                            </li>
                            <!-- Reporte contable -->
                            <li *ngIf="permiso.repcontable">
                                <a [routerLink]="['reportecontable']" routerLinkActive="router-link-active"
                                    (click)="toggleTabs(8)"
                                    [ngClass]="{'text-gray-800': !openTab8, 'text-red-600': openTab8}"
                                    class="flex px-6 py-3 items-center hover:text-red-600 focus:text-red-600 font-medium text-gray-600 focus:outline-none text-sm ">
                                    <span class="mr-3">
                                        <svg class="w-3 h-3 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                            fill="currentColor">
                                            <path fill-rule="evenodd"
                                                d="M10 18a8 8 0 100-16 8 8 0 000 16zM8 7a1 1 0 00-1 1v4a1 1 0 001 1h4a1 1 0 001-1V8a1 1 0 00-1-1H8z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </span>
                                    <span class="pl-2 whitespace-nowrap">  Rep. Contable</span> </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>

                </mat-accordion>
            </nav>

        </div>
    </aside>
</aside>


<app-modal-error [error]='error' [message]='message' (send)='error = $event' ></app-modal-error>