<div class="relative w-auto  mx-auto max-w-7xl">
  <!--Titulo-->
  <div class="flex justify-between items-center border-b border-gray-200 pb-2">
      <h2 class="text-red-600 text-sm font-medium uppercase">CLIENTES</h2>
      <button mat-dialog-close class="p-1 rounded-full border border-gray-200 focus:outline-none">
      <svg class="w-5 h-5  text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  </div>

  <!--BUSCADOR-->
  <div class="relative p-2 flex-auto w-ful pt-2">
      <form class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-1 sm:gap-4 w-full sm:pb-2">
          <!-- Buscador -->
          <div class="w-full md:mb-2 xl:col-span-2">
              <label class="text-black block font-medium text-sm w-full pb-1">Buscador:</label>
              <input type="text" required placeholder="Buscar clientes" class="forms-control w-full text-sm placeholder-gray-300  focus sm:mb-1">
              <!-- <p class="text-red-700  text-sm italic"> Por favor rellene este campo.</p> -->
          </div>
          <div class="flex justify-end space-x-3 col-span-1">
              <!-- Boton Buscar -->
              <div class="w-full mb-2">
                  <button type="submit" class="btn bg-red-600 text-white focus:outline-none transition duration-300 w-full   rounded border-2 border-red-600 text-sm font-medium sm:mt-5">
                Buscar
              </button>
              </div>
              <!-- Boton Nuevo -->
              <div class="w-full mb-2">
                  <button type="submit" (click)="nuevoCliente()" class="btn border-red-600 border-2 focus:outline-none transition duration-300 w-full flex items-center justify-center  hover:bg-red-50 rounded text-red-600 text-sm font-medium sm:mt-5">
                <svg class="h-4 w-4 text-red-600"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
                </svg>
               <span  class="pl-2">Nuevo</span>
              </button>
              </div>
          </div>
      </form>
  </div>

  <!-- TABLA DATOS COMPROBANTE -->
  <div class=" w-full  align-middle inline-block min-w-full  md:pt-3">
      <div class="relative overflow-x-auto  overflow-y-auto h-auto overflow-hidden  " style="height: 20vh;">
          <table class=" table-auto w-full whitespace-no-wrap bg-white table-striped relative">
              <!-- Titulos de la Tabla -->
              <thead class="z-10">
                  <tr class="  text-sm text-left   border-b w-auto border-gray-200  text-black">
                      <th scope="col" class="font-medium whitespace-nowrap   sticky top-0 px-4 w-auto bg-gray-50  py-3"> Nombre Completo </th>
                      <th scope="col" class="font-medium whitespace-nowrap   sticky top-0 px-4 w-auto bg-gray-50  py-3"> Número Identificación</th>
                      <th scope="col" class="font-medium  whitespace-nowrap   sticky top-0 px-4  w-auto   bg-gray-50  py-3">Dirección</th>
                      <th scope="col" class="font-medium whitespace-nowrap   sticky top-0 px-4  w-auto bg-gray-50  py-3"></th>
                  </tr>
              </thead>
              <!-- Contenido de la Tabla -->
              <tbody>
                  <tr class="border-b w-full border-gray-200 uppercase">
                      <!-- Nombre Completo -->
                      <td class="px-4 py-1 w-auto   text-sm font-normal  text-gray-900">
                          <div class="whitespace-nowrap text-left"> CONCEPTOS & CONSTRUCCIONES V.G EIRL</div>
                      </td>
                      <!-- Numero de identificación -->
                      <td class="px-4 py-1  text-sm w-auto  font-normal  text-gray-900">
                          <p class="text-left whitespace-nowrap">20525426778</p>
                      </td>
                      <!-- Dirección -->
                      <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                          <div class=" w-80 text-left">JR. ABAD PUELL NRO. 791 (LADO HOTEL COSTA DEL SOL) TUMBES - TUMBES - TUMBES</div>
                      </td>

                      <!-- Agregar  -->
                      <td class="py-1 px-4 w-auto text-sm ">
                          <div class="flex justify-center">
                              <button mat-dialog-close class="py-2 px-6  text-sm font-medium  text-white  bg-red-600 hover:bg-red-800 transition duration-500 ease-in focus:outline-none rounded ">Agregar</button>

                          </div>
                      </td>
                  </tr>

              </tbody>
          </table>
      </div>
  </div>

  <!-- PIE DE PAGINA DEL FORMULARIO -->
  <div class="bg-white px-4 py-3 flex items-center justify-between  sm:px-6">
      <!-- VERSION MOVIL VISIBLE -->
      <!-- SIGUIENTE Y ATRAS -->
      <div class="flex-1 flex justify-between sm:hidden">
          <!-- Atras -->
          <a href="#" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:text-gray-500">
             Atras
        </a>
          <!-- Siguiente -->
          <a href="#" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:text-gray-500">
             Siguiente
        </a>
      </div>

      <!-- VERSION DESTOK -->
      <!-- MOSTRANDO - EMPAGINACIÓN - FLECHA SIGUIENTE -->
      <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
          <!-- Mostrando -->
          <div>
              <p class=" text-sm text-red-600">
                  Mostrando:
                  <span class="font-medium">6</span> a
                  <span class="font-medium">10</span> de
                  <span class="font-medium">97</span> resultados
              </p>
          </div>
          <!-- empaginación -->
          <div class="flex items-center justify-between px-4 py-3 bg-white sm:px-6">
              <div class="flex justify-between flex-1 sm:hidden">
                  <a class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md cursor-pointer hover:text-gray-500">
        Atras
      </a>
                  <a class="relative flex items-center px-4 py-2 ml-3 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md cursor-pointer inline- hover:text-gray-500">
      Siguiente
      </a>
              </div>
              <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">

                  <div>
                      <nav class="relative z-0 inline-flex -space-x-px shadow-sm" aria-label="Pagination">
                          <a class="relative inline-flex items-center px-2 py-2 text-sm font-medium text-gray-500 bg-gray-50 hover:bg-gray-100 hover:text-gray-600 border-gray-50 border shadow-lg rounded-lg  cursor-pointer rounded-l-md ">
                              <span class="sr-only">Atras</span>
                              <!-- Heroicon name: chevron-left -->
                              <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                  </svg>
                          </a>
                          <a class="relative hover:text-red-500 focus:text-red-500 inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white   cursor-pointer hover:bg-gray-50">
            1
              </a>
                          <a class="relative hover:text-red-500 focus:text-red-500 inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white   cursor-pointer hover:bg-gray-50">
            2
              </a>
                          <a class="relative hover:text-red-500 focus:text-red-500 items-center hidden px-4 py-2 text-sm font-medium text-gray-700 bg-white   cursor-pointer md:inline-flex hover:bg-gray-50">
              3
              </a>
                          <span class="relative hover:text-red-500 focus:text-red-500 inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white  ">
                  ...
              </span>
                          <a class="relative hover:text-red-500 focus:text-red-500 items-center hidden px-4 py-2 text-sm font-medium text-gray-700 bg-white   cursor-pointer md:inline-flex hover:bg-gray-50">
                  8
              </a>
                          <a class="relative hover:text-red-500 focus:text-red-500 inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white   cursor-pointer hover:bg-gray-50">
                  9
              </a>
                          <a class="relative hover:text-red-500 focus:text-red-500 inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white  cursor-pointer hover:bg-gray-50">
                  10
              </a>
                          <a class="relative inline-flex items-center px-2 py-2 text-sm font-medium text-white bg-red-600 hover:bg-red-700 hover:text-white  rounded-lg shadow-lg   cursor-pointer rounded-r-md ">
                              <span class="sr-only">Siguientes</span>
                              <!-- Heroicon name: chevron-right -->
                              <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                  </svg>
                          </a>
                      </nav>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>
