<div class="relative w-auto  mx-auto max-w-7xl">
    <!--header-->
    <div class="flex justify-between items-center border-b border-gray-200 pb-2">
        <h2 class="text-red-600 text-sm font-medium uppercase">MÁS INFORMACIÓN</h2>
        <button mat-dialog-close class="p-1 rounded-full border   border-gray-200 focus:outline-none">
        <svg class="w-6 h-6  text-gray-900" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <!--body-->
    <div class="flex-col flex sm:flex-row pt-3">
      <div class="flex justify-center sm:justify-start ">
          <div class="flex flex-col justify-center ">
              <div class="inline-flex items-center justify-center flex-shrink-0 mb-1 text-white bg-red-600 rounded-full w-16 h-16">
                  <span class="text-4xl font-medium">B</span>
              </div>
              <h2 class="pl-2 text-sm font-medium text-red-600">{{ data.TipoComprobante }}</h2>
          </div>
      </div>

      <div class="flex flex-col justify-center sm:pl-6">
          <div class="flex items-center  mb-2">
            <svg class="w-6 h-6 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
            </svg>
            <span class="pl-2 pr-4 text-sm font-normal text-gray-700">{{ data.NumeroDocumento }}</span>
          </div>

          <div class="flex items-center  mb-2">
            <svg class="h-6 w-6 text-gray-600"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />  <circle cx="12" cy="7" r="4" /></svg>
            <span class="pl-2 pr-4 text-sm font-normal text-gray-700">{{ data.Cliente  }}</span>
          </div>

          <div class="flex items-center  mb-2">
            <svg class="h-6 w-6 text-gray-600"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"/>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
            </svg>
              <span class="pl-2 pr-4 text-sm font-normal text-gray-700"> {{ data.Direccion }}</span>
          </div>
      </div>
  </div>

    <!-- Informacion A Detalle -->
    <div class="grid grid-cols-2 md:grid-cols-4 gap-6 border-gray-100 border-t pt-3">
        <!-- Moneda y tipo de pago -->
        <div class="flex  flex-col justify-center w-40 border-r border-gray-200 px-4">
            <!-- Moneda -->
            <div class="flex items-center justify-between pb-2">
                <span class="text-sm font-medium text-black">Moneda:</span>
                <span class="text-sm  text-gray-700">{{ data.Moneda }}</span>
            </div>
            <!-- Tipo de pago -->
            <div class="flex items-center justify-between pb-2 ">
                <span class="text-sm font-medium text-black">T. Pago:</span>
                <span class="text-sm  text-gray-700">{{ data.TipoPago }}</span>
            </div>
        </div>
        <!-- Descuento y Exonerado -->
        <div class="flex  flex-col justify-center w-40 border-r border-gray-200 px-4">
            <!-- Descuento -->
            <div class="flex items-center justify-between pb-2">
                <span class="text-sm font-medium text-black">Desc:</span>
                <span class="text-sm  text-gray-700">{{ data.Descuento | currency : 'PEN' }}</span>
            </div>
            <!-- Exonerado -->
            <div class="flex items-center justify-between pb-2">
                <span class="text-sm font-medium text-black">Exonerado:</span>
                <span class="text-sm  text-gray-700">{{ data.Exonerada | currency : 'PEN' }}</span>
            </div>
        </div>
        <!-- Afecto y Inafecto -->
        <div class="flex  flex-col justify-center w-40 border-r border-gray-200 px-4">
            <!-- Afecto -->
            <div class="flex items-center justify-between pb-2">
                <span class="text-sm font-medium text-black">Afecto:</span>
                <span class="text-sm  text-gray-700">{{ data.Afecta | currency : 'PEN' }}</span>
            </div>
            <!-- Inafecto -->
            <div class="flex items-center justify-between pb-2">
                <span class="text-sm font-medium text-black">Inafecto:</span>
                <span class="text-sm  text-gray-700">{{ data.Inafecta | currency : 'PEN' }}</span>
            </div>
        </div>
        <!-- Igv y Total -->
        <div class="flex  flex-col justify-center w-40  px-4">
            <!-- Igv -->
            <div class="flex items-center justify-between pb-2">
                <span class="text-sm font-medium text-black">IGV:</span>
                <span class="text-sm  text-gray-700">{{ data.IGV | currency : 'PEN' }}</span>
            </div>
            <!-- Total -->
            <div class="flex items-center justify-between pb-2">
                <span class="text-sm font-medium text-black">TOTAL:</span>
                <span class="text-sm  text-gray-700">{{ data.Total | currency : 'PEN' }}</span>
            </div>
        </div>
    </div>
</div>
