<!-- LOADING TIME OF WAIT FOR ME -->
<app-loading> </app-loading>

<div class="px-5 xl:px-5 py-5">
    <div class="w-full gap-6">
        <!-- Section de Certificado Digital -->
        <div class=" w-full transition-shadow  rounded  hover:shadow-lg border shadow-sm border-gray-200 p-4">
            <div class=" flex items-center">
                <svg width="18" height="23" viewBox="0 0 18 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M14.7143 21.5714H3.28571C2.67951 21.5714 2.09812 21.3306 1.66947 20.902C1.24082 20.4733 1 19.8919 1 19.2857V3.28571C1 2.67951 1.24082 2.09812 1.66947 1.66947C2.09812 1.24082 2.67951 1 3.28571 1H11.2857L17 6.71429V19.2857C17 19.8919 16.7592 20.4733 16.3305 20.902C15.9019 21.3306 15.3205 21.5714 14.7143 21.5714Z"
                        stroke="#414141" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M5.57104 5.57153H6.7139" stroke="#414141" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M5.57104 12.4285H12.4282" stroke="#414141" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M10.1431 17H12.4288" stroke="#414141" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path
                        d="M11.2861 1V5.57143C11.2861 5.87453 11.4065 6.16522 11.6209 6.37955C11.8352 6.59388 12.1259 6.71429 12.429 6.71429H17.0004"
                        stroke="#5B5B5B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <h2 class="text-gray-900  font-medium text-sm  pb-1 pl-2">Certificado Digital</h2>
            </div>
            <div class="flex flex-col md:flex-row items-center w-full">
                <!-- (Formulario  de certificado digital) -->
                <div class="w-full flex flex-col pl-4 pt-4 mb-1 md:mb-2">
                    <label class="text-gray-800 block font-medium  text-sm w-full pb-1">Fecha de Vencimiento</label>
                    <span class="text-red-600 font-normal  text-sm">{{ dateCertificado }}</span>
                    <!-- <p class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
                </div>

                <div class="border border-red-200 rounded  p-2">
                    <p class="text-red-600 text-sm">*Recuerde que está es la fecha de vencimiento, y tendrá que
                        actualizar su documentación para evitar la suspensión del sistema.</p>
                </div>

            </div>
        </div>
    </div>


    <!-- Configuración del talonario -->
    <div class=" transition-shadow  border border-gray-200 rounded shadow-md  hover:shadow-lg p-4 mt-6">
        <div class="flex justify-between">
            <div class=" flex flex-col pl-4">
                <h2 class="text-gray-900  font-medium text-sm  pb-1">Configuración de Talonario</h2>
                <h3 class="text-sm font-normal text-gray-500"> Asocia con el anexo que vas a usar</h3>
            </div>

            <div class=" pl-8">
                <button type="submit" (click)="_AgregarTalonario()"
                    class="btn border-red-600 border-2 hover:bg-red-100 transition duration-300 ease-in focus:outline-none  w-full flex items-center justify-center lg:w-48 rounded text-red-600 text-sm font-medium ">
                    <svg class="h-4 w-4 text-red-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                    </svg>
                    <span class="pl-1">Nuevo</span>
                </button>
            </div>
        </div>


        <!-- Tabla de talonario -->
        <div class="w-full pt-3 ">
            <div class="relative overflow-x-auto overflow-y-auto h-auto " style="height: 50vh;">
                <table class="border-collapse table-auto w-full whitespace-no-wrap bg-white table-striped relative">
                    <thead class="z-10">
                        <tr class=" text-sm text-left  border-b border-gray-200 text-carnation-500">
                            <th class="font-medium  sticky top-0 w-auto px-6 bg-gray-50 tracking-wide text-sm  py-3">
                                Comprobante </th>
                            <th class="font-medium  sticky top-0 w-auto px-6 bg-gray-50 tracking-wide text-sm  py-3">
                                Alias</th>
                            <th class="font-medium  sticky top-0 w-auto px-6 bg-gray-50 tracking-wide text-sm  py-3">
                                Serie </th>
                            <th class="font-medium  sticky top-0 w-auto px-6 bg-gray-50 tracking-wide text-sm  py-3">
                                Número </th>
                            <th class="font-medium  sticky top-0 w-auto px-3 bg-gray-50 tracking-wide text-sm  py-3">
                                Anexo </th>
                            <th class="font-medium  sticky top-0 w-auto px-3 bg-gray-50 tracking-wide text-sm  py-3">
                            </th> <!-- usuario -->
                            <th class="font-medium  sticky top-0 w-auto px-3 bg-gray-50 tracking-wide text-sm  py-3">
                            </th> <!-- Editar -->
                            <th class="font-medium  sticky top-0 w-auto px-3 bg-gray-50 tracking-wide text-sm  py-3">
                            </th> <!-- Eliminar -->

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of list" class="border-b border-gray-200">
                            <td class="px-6 w-auto py-1 text-sm font-normal  text-gray-900">
                                <span class="whitespace-nowrap flex text-left">{{ item.NombreComprobante }}</span>
                            </td>

                            <td class="px-6 w-auto py-1 text-sm font-normal  text-gray-900">
                                <span class="whitespace-nowrap flex text-left">{{ item.Descripcion }}</span>
                            </td>

                            <td class="px-6 w-auto py-1 text-sm font-normal  text-gray-900">
                                <span class="whitespace-nowrap flex text-left">{{ item.Serie }}</span>
                            </td>

                            <td class="px-6 w-auto py-1 text-sm font-normal  text-gray-900">
                                <span class="whitespace-nowrap flex text-left ">{{ item.Numero | addLong : 8 : '0'
                                    }}</span>
                            </td>

                            <!-- Asignar Sucursal -->
                            <td class="py-1 text-sm ">
                                <div class="whitespace-nowrap flex text-left">
                                    <button (click)="_Asignarsucursal( item.IDTalonario, item.IDSucursal )"
                                        class="flex items-center  bg-red-600 text-white h-8 px-4 text-sm font-medium rounded shadow-xs  focus:outline-none"
                                        [ngClass]="{'border-2 bg-green-500 hover:bg-green-600 transition duration-300 ease-in border-green-500': item.IDSucursal !== 0 }">
                                        Asignar
                                    </button>
                                </div>
                            </td>


                            <!-- Asignar Usuario -->
                            <td class="py-1 text-sm ">
                                <div class="whitespace-nowrap flex text-left">
                                    <button (click)="_AsignarUserTalonario( item.IDTalonario, item.Usuarios )"
                                        [ngClass]="{'border-2 bg-green-500 hover:bg-green-600 transition duration-300 ease-in border-green-500': listTalonarioUsuario.includes(item.IDTalonario) }"
                                        class="text-red-500 bg-transparent border border-solid border-red-500 h-8 hover:bg-red-50 active:bg-red-600 font-medium uppercase text-sm px-3 rounded outline-none focus:outline-none "
                                        type="button" style="transition: all .15s ease">
                                        <!-- <svg  class="w-6 h-6 text-red-600 fill-current" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"><path d="M678.3 642.4c24.2-13 51.9-20.4 81.4-20.4h.1c3 0 4.4-3.6 2.2-5.6a371.67 371.67 0 0 0-103.7-65.8c-.4-.2-.8-.3-1.2-.5C719.2 505 759.6 431.7 759.6 349c0-137-110.8-248-247.5-248S264.7 212 264.7 349c0 82.7 40.4 156 102.6 201.1c-.4.2-.8.3-1.2.5c-44.7 18.9-84.8 46-119.3 80.6a373.42 373.42 0 0 0-80.4 119.5A373.6 373.6 0 0 0 137 888.8a8 8 0 0 0 8 8.2h59.9c4.3 0 7.9-3.5 8-7.8c2-77.2 32.9-149.5 87.6-204.3C357 628.2 432.2 597 512.2 597c56.7 0 111.1 15.7 158 45.1a8.1 8.1 0 0 0 8.1.3zM512.2 521c-45.8 0-88.9-17.9-121.4-50.4A171.2 171.2 0 0 1 340.5 349c0-45.9 17.9-89.1 50.3-121.6S466.3 177 512.2 177s88.9 17.9 121.4 50.4A171.2 171.2 0 0 1 683.9 349c0 45.9-17.9 89.1-50.3 121.6C601.1 503.1 558 521 512.2 521zM880 759h-84v-84c0-4.4-3.6-8-8-8h-56c-4.4 0-8 3.6-8 8v84h-84c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h84v84c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8v-84h84c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8z" /></svg> -->
                                        <svg *ngIf="listTalonarioUsuario.includes(item.IDTalonario)"
                                            class="w-7 h-7 text-white fill-current " xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                            focusable="false" width="1em" height="1em"
                                            style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
                                            preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                            <path fill="none"
                                                d="M6 8c0 1.178.822 2 2 2s2-.822 2-2s-.822-2-2-2s-2 .822-2 2z" />
                                            <path
                                                d="M20.294 8.292l-4.3 4.292l-1.292-1.292l-1.414 1.414l2.706 2.704l5.712-5.702zM4 8c0 2.28 1.72 4 4 4s4-1.72 4-4s-1.72-4-4-4s-4 1.72-4 4zm6 0c0 1.178-.822 2-2 2s-2-.822-2-2s.822-2 2-2s2 .822 2 2zM4 18c0-1.654 1.346-3 3-3h2c1.654 0 3 1.346 3 3v1h2v-1c0-2.757-2.243-5-5-5H7c-2.757 0-5 2.243-5 5v1h2v-1z" />
                                        </svg>
                                        <svg *ngIf="!listTalonarioUsuario.includes(item.IDTalonario)"
                                            class="w-7 h-6 text-red-600 fill-current"
                                            preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024">
                                            <path
                                                d="M678.3 642.4c24.2-13 51.9-20.4 81.4-20.4h.1c3 0 4.4-3.6 2.2-5.6a371.67 371.67 0 0 0-103.7-65.8c-.4-.2-.8-.3-1.2-.5C719.2 505 759.6 431.7 759.6 349c0-137-110.8-248-247.5-248S264.7 212 264.7 349c0 82.7 40.4 156 102.6 201.1c-.4.2-.8.3-1.2.5c-44.7 18.9-84.8 46-119.3 80.6a373.42 373.42 0 0 0-80.4 119.5A373.6 373.6 0 0 0 137 888.8a8 8 0 0 0 8 8.2h59.9c4.3 0 7.9-3.5 8-7.8c2-77.2 32.9-149.5 87.6-204.3C357 628.2 432.2 597 512.2 597c56.7 0 111.1 15.7 158 45.1a8.1 8.1 0 0 0 8.1.3zM512.2 521c-45.8 0-88.9-17.9-121.4-50.4A171.2 171.2 0 0 1 340.5 349c0-45.9 17.9-89.1 50.3-121.6S466.3 177 512.2 177s88.9 17.9 121.4 50.4A171.2 171.2 0 0 1 683.9 349c0 45.9-17.9 89.1-50.3 121.6C601.1 503.1 558 521 512.2 521zM880 759h-84v-84c0-4.4-3.6-8-8-8h-56c-4.4 0-8 3.6-8 8v84h-84c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h84v84c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8v-84h84c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8z" />
                                        </svg>
                                    </button>
                                </div>
                            </td>

                            <!-- Editar (click)="_AgregarAnexo( true, item.IDSucursal )" -->
                            <td class="px-6 w-auto py-2 font-normal text-gray-900">
                                <button (click)="_AgregarTalonario( true, item.IDTalonario )"  type="button" class="bg-green-50 rounded-md p-2 focus:outline-none">
                                    <img src="assets/img/config/editar.svg" alt="editar">
                                <!-- <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M15.1572 0L18.0011 2.8439L15.8331 5.01284L12.9893 2.16894L15.1572 0Z" fill="#4BC08F"/>
                                  <path d="M4.74023 13.2603H7.58411L14.4919 6.35244L11.648 3.50854L4.74023 10.4164V13.2603Z" fill="#4BC08F"/>
                                  <path d="M15.1673 16.104H4.88957C4.86492 16.104 4.83933 16.1134 4.81468 16.1134C4.7834 16.1134 4.75212 16.1049 4.71989 16.104H1.89592V2.83245H8.38659L10.2825 0.936523H1.89592C0.850319 0.936523 0 1.7859 0 2.83245V16.104C0 17.1505 0.850319 17.9999 1.89592 17.9999H15.1673C15.6702 17.9999 16.1524 17.8001 16.508 17.4446C16.8635 17.089 17.0633 16.6068 17.0633 16.104V7.887L15.1673 9.78294V16.104Z" fill="#4BC08F"/> 
                                </svg> -->
                              </button>

                            </td>


                            <!-- Eliminar Talonario -->
                            <td class="py-1 text-sm ">
                                <div class="whitespace-nowrap flex text-left">
                                    <button (click)=" showdelete( item.IDTalonario ) "
                                        class="text-red-500 bg-transparent border border-solid border-red-500 h-8 hover:bg-red-50 active:bg-red-600 font-medium uppercase text-sm px-3 rounded outline-none focus:outline-none "
                                        type="button" style="transition: all .15s ease">

                                        <svg class="text-red-600 w-6 h-6 " xmlns="http://www.w3.org/2000/svg"
                                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                        </svg>

                                    </button>
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <span class=" text-sm font-medium text-gray-800">Ítems: <span class="text-sm font-medium text-gray-600">{{
                    list.length }}</span> </span>
        </div>
    </div>
</div>

<app-modal-error [error]='error' [message]='message' [cnn_expi]='cnn_expi' (send)='error = $event'></app-modal-error>
<app-modaldelete [error]='delete' [mesage]='message' (Send)='delete = $event' (SendDelete)='deleteTalonario( $event )'>
</app-modaldelete>
<app-alert [alert]='success' [mensage]='message'></app-alert>