<div class="relative w-auto  rounded-3xl  mx-auto max-w-4xl">
  <!--header-->
  <header class="flex justify-between items-center border-b border-gray-200 pb-2">
      <h2 class="text-red-600 text-sm font-medium uppercase">Nuevo Producto o Servicio</h2>
      <button mat-dialog-close class="p-1 rounded-full hover:bg-red-50 border border-gray-200 focus:outline-none">
      <svg class="w-6 h-6  text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  </header>

  <main class="grid grid-cols-1 md:overflow-y-auto overflow-hidden md:grid-cols-2 gap-5 h-96  md:h-auto">
      <!-- secrtion 01 -->
      <form class="relative pt-4 px-3">
          <!-- nombre del productoy servicio -->
          <div class="w-full md:mb-2">
              <label class="labelclass">Nombre del Producto / Servicio</label>
              <input required type="text" required placeholder="Ingrese un nombre" class="forms-control w-full text-sm focus mb-1">
              <!-- <p class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
          </div>

          <!-- Tipó -->
          <div class="col col-span-2 w-full">
            <div class="grid grid-cols-2 w-full gap-x-4">
              <!-- stock -->
              <div class="w-full md:mb-2">
                <label class="labelclass">stock</label>
                <input required type="number" required placeholder="Ingrese stock" class="forms-control w-full text-sm focus mb-1">
                <!-- <p class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
              </div>

            <!-- tipo -->
              <div class=" w-full mb-2">
                <label class=" text-black block font-medium text-sm w-full pb-2">tipo</label>
                  <div class="flex justify-items-start space-x-3 w-full pb-1">
                  <label class="inline-flex items-center">
                  <input type="radio" id="male" name="gender" value="male"
                  class="form-radio cursor-pointer border border-gray-800 h-4 w-4 text-red-600 focus:border-red-600"
                  checked><span class="ml-1 font-normal cursor-pointer text-sm text-gray-700">Producto </span>
                </label>

                <label class="inline-flex items-center">
                  <input  type="radio" id="male" name="gender" value="male"
                    class="form-radio cursor-pointer border border-gray-800  h-4 w-4 text-red-600 focus:border-red-600"><span
                    class="ml-1 font-normal  text-sm  cursor-pointer text-gray-700">Servicio</span>
                </label>
                </div>
              </div>
            </div>
          </div>


          <!-- UNIDA DE MEDIDA -->
          <div class="flex flex-wrap items-stretch w-full mb-4 relative">
              <label class="labelclass">Unidad de Medida</label>
              <input required type="text" placeholder="Selecciona una Opción" class="flex-shrink flex-grow focus text-sm leading-normal rounded-l-sm w-px flex-1 border border-gray-300 px-3 relative py-2">
              <div class="flex -mr-px">
                  <button (click)="unidMedida()" class="flex items-center focus:outline-none leading-normal bg-grey-lighter rounded rounded-l-none border border-l-0 border-gray-300 px-3 hover:bg-red-50 whitespace-no-wrap text-grey-dark text-sm">
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5.83333 0.833333H14.1667C14.3877 0.833333 14.5996 0.921131 14.7559 1.07741C14.9122 1.23369 15 1.44565 15 1.66667C15 1.88768 14.9122 2.09964 14.7559 2.25592C14.5996 2.4122 14.3877 2.5 14.1667 2.5H5.83333C5.61232 2.5 5.40036 2.4122 5.24408 2.25592C5.0878 2.09964 5 1.88768 5 1.66667C5 1.44565 5.0878 1.23369 5.24408 1.07741C5.40036 0.921131 5.61232 0.833333 5.83333 0.833333ZM5.83333 6.66667H14.1667C14.3877 6.66667 14.5996 6.75446 14.7559 6.91074C14.9122 7.06702 15 7.27899 15 7.5C15 7.72101 14.9122 7.93297 14.7559 8.08926C14.5996 8.24554 14.3877 8.33333 14.1667 8.33333H5.83333C5.61232 8.33333 5.40036 8.24554 5.24408 8.08926C5.0878 7.93297 5 7.72101 5 7.5C5 7.27899 5.0878 7.06702 5.24408 6.91074C5.40036 6.75446 5.61232 6.66667 5.83333 6.66667ZM5.83333 12.5H14.1667C14.3877 12.5 14.5996 12.5878 14.7559 12.7441C14.9122 12.9004 15 13.1123 15 13.3333C15 13.5543 14.9122 13.7663 14.7559 13.9226C14.5996 14.0789 14.3877 14.1667 14.1667 14.1667H5.83333C5.61232 14.1667 5.40036 14.0789 5.24408 13.9226C5.0878 13.7663 5 13.5543 5 13.3333C5 13.1123 5.0878 12.9004 5.24408 12.7441C5.40036 12.5878 5.61232 12.5 5.83333 12.5ZM1.66667 3.33333C1.22464 3.33333 0.800716 3.15774 0.488155 2.84518C0.175595 2.53262 0 2.10869 0 1.66667C0 1.22464 0.175595 0.800716 0.488155 0.488155C0.800716 0.175595 1.22464 0 1.66667 0C2.10869 0 2.53262 0.175595 2.84518 0.488155C3.15774 0.800716 3.33333 1.22464 3.33333 1.66667C3.33333 2.10869 3.15774 2.53262 2.84518 2.84518C2.53262 3.15774 2.10869 3.33333 1.66667 3.33333ZM1.66667 9.16667C1.22464 9.16667 0.800716 8.99107 0.488155 8.67851C0.175595 8.36595 0 7.94203 0 7.5C0 7.05797 0.175595 6.63405 0.488155 6.32149C0.800716 6.00893 1.22464 5.83333 1.66667 5.83333C2.10869 5.83333 2.53262 6.00893 2.84518 6.32149C3.15774 6.63405 3.33333 7.05797 3.33333 7.5C3.33333 7.94203 3.15774 8.36595 2.84518 8.67851C2.53262 8.99107 2.10869 9.16667 1.66667 9.16667ZM1.66667 15C1.22464 15 0.800716 14.8244 0.488155 14.5118C0.175595 14.1993 0 13.7754 0 13.3333C0 12.8913 0.175595 12.4674 0.488155 12.1548C0.800716 11.8423 1.22464 11.6667 1.66667 11.6667C2.10869 11.6667 2.53262 11.8423 2.84518 12.1548C3.15774 12.4674 3.33333 12.8913 3.33333 13.3333C3.33333 13.7754 3.15774 14.1993 2.84518 14.5118C2.53262 14.8244 2.10869 15 1.66667 15Z" fill="#EA3E3E"/>
              </svg>

          </button>
              </div>
          </div>

          <!-- categoria -->
          <div class="flex flex-wrap items-stretch w-full mb-4 relative">
              <label class="labelclass">Categoría</label>
              <input required type="text" placeholder="Selecciona una Opción" class="flex-shrink flex-grow flex-auto text-sm focus leading-normal rounded-l-sm w-px flex-1 border border-gray-300 px-3 relative py-2">
              <div class="flex -mr-px">
                  <button (click)="unidMedida()" class="flex items-center focus:outline-none leading-normal bg-grey-lighter rounded rounded-l-none border border-l-0 border-gray-300 hover:bg-red-50 px-3 whitespace-no-wrap text-grey-dark text-sm">
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5.83333 0.833333H14.1667C14.3877 0.833333 14.5996 0.921131 14.7559 1.07741C14.9122 1.23369 15 1.44565 15 1.66667C15 1.88768 14.9122 2.09964 14.7559 2.25592C14.5996 2.4122 14.3877 2.5 14.1667 2.5H5.83333C5.61232 2.5 5.40036 2.4122 5.24408 2.25592C5.0878 2.09964 5 1.88768 5 1.66667C5 1.44565 5.0878 1.23369 5.24408 1.07741C5.40036 0.921131 5.61232 0.833333 5.83333 0.833333ZM5.83333 6.66667H14.1667C14.3877 6.66667 14.5996 6.75446 14.7559 6.91074C14.9122 7.06702 15 7.27899 15 7.5C15 7.72101 14.9122 7.93297 14.7559 8.08926C14.5996 8.24554 14.3877 8.33333 14.1667 8.33333H5.83333C5.61232 8.33333 5.40036 8.24554 5.24408 8.08926C5.0878 7.93297 5 7.72101 5 7.5C5 7.27899 5.0878 7.06702 5.24408 6.91074C5.40036 6.75446 5.61232 6.66667 5.83333 6.66667ZM5.83333 12.5H14.1667C14.3877 12.5 14.5996 12.5878 14.7559 12.7441C14.9122 12.9004 15 13.1123 15 13.3333C15 13.5543 14.9122 13.7663 14.7559 13.9226C14.5996 14.0789 14.3877 14.1667 14.1667 14.1667H5.83333C5.61232 14.1667 5.40036 14.0789 5.24408 13.9226C5.0878 13.7663 5 13.5543 5 13.3333C5 13.1123 5.0878 12.9004 5.24408 12.7441C5.40036 12.5878 5.61232 12.5 5.83333 12.5ZM1.66667 3.33333C1.22464 3.33333 0.800716 3.15774 0.488155 2.84518C0.175595 2.53262 0 2.10869 0 1.66667C0 1.22464 0.175595 0.800716 0.488155 0.488155C0.800716 0.175595 1.22464 0 1.66667 0C2.10869 0 2.53262 0.175595 2.84518 0.488155C3.15774 0.800716 3.33333 1.22464 3.33333 1.66667C3.33333 2.10869 3.15774 2.53262 2.84518 2.84518C2.53262 3.15774 2.10869 3.33333 1.66667 3.33333ZM1.66667 9.16667C1.22464 9.16667 0.800716 8.99107 0.488155 8.67851C0.175595 8.36595 0 7.94203 0 7.5C0 7.05797 0.175595 6.63405 0.488155 6.32149C0.800716 6.00893 1.22464 5.83333 1.66667 5.83333C2.10869 5.83333 2.53262 6.00893 2.84518 6.32149C3.15774 6.63405 3.33333 7.05797 3.33333 7.5C3.33333 7.94203 3.15774 8.36595 2.84518 8.67851C2.53262 8.99107 2.10869 9.16667 1.66667 9.16667ZM1.66667 15C1.22464 15 0.800716 14.8244 0.488155 14.5118C0.175595 14.1993 0 13.7754 0 13.3333C0 12.8913 0.175595 12.4674 0.488155 12.1548C0.800716 11.8423 1.22464 11.6667 1.66667 11.6667C2.10869 11.6667 2.53262 11.8423 2.84518 12.1548C3.15774 12.4674 3.33333 12.8913 3.33333 13.3333C3.33333 13.7754 3.15774 14.1993 2.84518 14.5118C2.53262 14.8244 2.10869 15 1.66667 15Z" fill="#EA3E3E"/>
              </svg>

          </button>
              </div>
          </div>

          <!-- SUBCATEGORIA -->
          <div class="flex flex-wrap items-stretch w-full mb-4 relative">
              <label class="labelclass">Subcategoría</label>
              <input required type="text" placeholder="Selecciona una Opción" class="flex-shrink flex-grow flex-auto text-sm focus leading-normal rounded-l-sm w-px flex-1 border  border-gray-300 px-3 relative py-2">
              <div class="flex -mr-px">
                  <button (click)="unidMedida()" class="flex items-center focus:outline-none leading-normal bg-grey-lighter rounded rounded-l-none border border-l-0 hover:bg-red-50 border-gray-300 px-3 whitespace-no-wrap text-grey-dark text-sm">
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5.83333 0.833333H14.1667C14.3877 0.833333 14.5996 0.921131 14.7559 1.07741C14.9122 1.23369 15 1.44565 15 1.66667C15 1.88768 14.9122 2.09964 14.7559 2.25592C14.5996 2.4122 14.3877 2.5 14.1667 2.5H5.83333C5.61232 2.5 5.40036 2.4122 5.24408 2.25592C5.0878 2.09964 5 1.88768 5 1.66667C5 1.44565 5.0878 1.23369 5.24408 1.07741C5.40036 0.921131 5.61232 0.833333 5.83333 0.833333ZM5.83333 6.66667H14.1667C14.3877 6.66667 14.5996 6.75446 14.7559 6.91074C14.9122 7.06702 15 7.27899 15 7.5C15 7.72101 14.9122 7.93297 14.7559 8.08926C14.5996 8.24554 14.3877 8.33333 14.1667 8.33333H5.83333C5.61232 8.33333 5.40036 8.24554 5.24408 8.08926C5.0878 7.93297 5 7.72101 5 7.5C5 7.27899 5.0878 7.06702 5.24408 6.91074C5.40036 6.75446 5.61232 6.66667 5.83333 6.66667ZM5.83333 12.5H14.1667C14.3877 12.5 14.5996 12.5878 14.7559 12.7441C14.9122 12.9004 15 13.1123 15 13.3333C15 13.5543 14.9122 13.7663 14.7559 13.9226C14.5996 14.0789 14.3877 14.1667 14.1667 14.1667H5.83333C5.61232 14.1667 5.40036 14.0789 5.24408 13.9226C5.0878 13.7663 5 13.5543 5 13.3333C5 13.1123 5.0878 12.9004 5.24408 12.7441C5.40036 12.5878 5.61232 12.5 5.83333 12.5ZM1.66667 3.33333C1.22464 3.33333 0.800716 3.15774 0.488155 2.84518C0.175595 2.53262 0 2.10869 0 1.66667C0 1.22464 0.175595 0.800716 0.488155 0.488155C0.800716 0.175595 1.22464 0 1.66667 0C2.10869 0 2.53262 0.175595 2.84518 0.488155C3.15774 0.800716 3.33333 1.22464 3.33333 1.66667C3.33333 2.10869 3.15774 2.53262 2.84518 2.84518C2.53262 3.15774 2.10869 3.33333 1.66667 3.33333ZM1.66667 9.16667C1.22464 9.16667 0.800716 8.99107 0.488155 8.67851C0.175595 8.36595 0 7.94203 0 7.5C0 7.05797 0.175595 6.63405 0.488155 6.32149C0.800716 6.00893 1.22464 5.83333 1.66667 5.83333C2.10869 5.83333 2.53262 6.00893 2.84518 6.32149C3.15774 6.63405 3.33333 7.05797 3.33333 7.5C3.33333 7.94203 3.15774 8.36595 2.84518 8.67851C2.53262 8.99107 2.10869 9.16667 1.66667 9.16667ZM1.66667 15C1.22464 15 0.800716 14.8244 0.488155 14.5118C0.175595 14.1993 0 13.7754 0 13.3333C0 12.8913 0.175595 12.4674 0.488155 12.1548C0.800716 11.8423 1.22464 11.6667 1.66667 11.6667C2.10869 11.6667 2.53262 11.8423 2.84518 12.1548C3.15774 12.4674 3.33333 12.8913 3.33333 13.3333C3.33333 13.7754 3.15774 14.1993 2.84518 14.5118C2.53262 14.8244 2.10869 15 1.66667 15Z" fill="#EA3E3E"/>
              </svg>

          </button>
              </div>
          </div>

          <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 sm:gap-6">
              <div class="w-full md:mb-2">
                  <label class="labelclass">ICBPER</label>
                  <input required type="text" required placeholder="Ingrese un nombre" class="forms-control w-full text-sm focus mb-1">
                  <!-- <p class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
              </div>

              <!-- Tipo de afectación-->
              <div class="w-full mb-1 md:mb-2">
                  <label class="labelclass">Tipo de Afectación</label>
                  <mat-select type="text" name="tipouser" required placeholder="Selecciona una Opción" class="forms-control text-sm w-full focus mb-1">
                      <mat-option value="A">Afecto</mat-option>
                      <mat-option value="I">Inafecto</mat-option>
                      <mat-option value="E">Exonerado</mat-option>
                  </mat-select>
                  <!-- <p class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
              </div>
          </div>

          <div class="pt-2 w-full flex justify-center">
              <button (click)="modalguardar()" class="py-2 px-5 text-sm font-medium uppercase text-white w-40  bg-red-600 hover:bg-red-800 transition duration-500 ease-in focus:outline-none rounded-md ">GUARDAR</button>
              <app-modalsuccess [success]="guardar" [message]="mensaje"> </app-modalsuccess>
          </div>

      </form>

      <!-- section 02 -->
      <section class="relative px-3">
          <form class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-6 relative gap-x-1 md:pt-4">
              <!-- Presentacion -->
              <div class="w-full md:mb-2 col-span-3">
                  <label class="labelclass">Presentación</label>
                  <input required type="text" required placeholder="Ingrese una Presentación" class="forms-control w-full text-sm focus mb-1 ">
                  <!-- <p class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
              </div>

              <!-- Precios -->
              <div class="w-full md:mb-2 col-span-2">
                  <label class="labelclass">Precio</label>
                  <input required type="text" required placeholder="0.00" class="forms-control w-full text-sm focus mb-1">
                  <!-- <p class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
              </div>

              <!-- Botn de  Busqueda -->
              <div class="w-full col-span-1 pt-1">
                  <button class="flex w-auto focus:outline-none items-center  cursor-pointer rounded-md px-3 py-2 bg-red-500 hover:bg-red-700 transition duration-300 ease-in justify-center  mt-5">
                    <svg class="w-6 h-6 fill-current text-white" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1200 1200"><path d="M255.583 0L29.513 218.249V1200H635.49v-104.328H134.506V292.179h197.589v-187.85h442.844v312.986h104.992V0H255.583zm472.725 508.73v249.091H479.145V950.91h249.163V1200h193.016V950.91h249.164V757.821H921.323V508.73H728.308z" /></svg>
                  </button>
              </div>
          </form>

          <!-- TABLA DE PRESENTACION -->
          <div class=" w-full align-middle inline-block shadow-md rounded-md  md:pt-3">
              <div class="relative overflow-x-auto  overflow-y-auto h-auto overflow-hidden" style="height: 36vh;">
                  <table class=" table-auto w-full whitespace-no-wrap bg-white table-striped relative">
                      <thead class="z-10">
                          <tr class=" text-sm text-left   border-b w-auto border-gray-200  text-black">
                              <th scope="col" class="font-medium whitespace-nowrap   sticky top-0 px-4 w-auto bg-gray-50  py-2"> Presentación </th>
                              <th scope="col" class="font-medium whitespace-nowrap   sticky top-0 px-4 w-auto bg-gray-50  py-2"> Precio</th>
                              <th scope="col" class="font-medium whitespace-nowrap   sticky top-0 px-4 w-auto bg-gray-50  py-2"> </th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr class="border-b w-full border-gray-200 ">
                              <td class="px-4 py-3 w-auto   font-normal  text-gray-900">
                                  <span class="whitespace-nowrap text-left text-sm"> Lorem ipsum </span>
                              </td>
                                <td class="px-4 py-3 w-auto   font-normal  text-gray-900">
                                  <span class="whitespace-nowrap text-left text-sm"> 3530.00</span>
                              </td>

                               <!--Boton Eliminar -->
                              <td class="px-2 py-1 text-sm">
                                <div class="flex justify-center">
                                   <button  class=" flex items-center  rounded shadow-xs  focus:outline-none">
                                    <svg class="w-6 h-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                    </svg>
                              </button>
                                </div>
                            </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <div class="py-2 pl-4 border-gray-200 border-t">
                  <p class="text-sm text-gray-800"> Ítems: <span class="font-medium">1</span> </p>
              </div>
          </div>
      </section>



  </main>
</div>