<app-loading> </app-loading>
<div class=" px-5 lg:px-4 xl:px-6 h-auto">

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-x-5 pt-4">

        <!-- <div class=" bg-white shadow-md border border-gray-100 rounded-md py-3 md:py-5 px-5 xl:px-10">
            <div class="flex items-center ">
                <svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0 14H6.72108V16H0V14ZM0 7H8.64138V9H0V7ZM0 0H19.2031V2H0V0ZM17.9299 9.025L19.0398 8.634L20 10.366L19.1205 11.171C19.2312 11.7177 19.2312 12.2823 19.1205 12.829L20 13.634L19.0398 15.366L17.9299 14.975C17.5362 15.345 17.0677 15.63 16.5521 15.805L16.3226 17H14.4023L14.1719 15.804C13.6623 15.6306 13.1932 15.3478 12.795 14.974L11.6851 15.366L10.7249 13.634L11.6044 12.829C11.4937 12.2823 11.4937 11.7177 11.6044 11.171L10.7249 10.366L11.6851 8.634L12.795 9.025C13.1887 8.655 13.6572 8.37 14.1728 8.195L14.4023 7H16.3226L16.553 8.196C17.0677 8.37 17.5362 8.656 17.9299 9.026V9.025ZM15.3625 14C15.8718 14 16.3602 13.7893 16.7203 13.4142C17.0804 13.0391 17.2828 12.5304 17.2828 12C17.2828 11.4696 17.0804 10.9609 16.7203 10.5858C16.3602 10.2107 15.8718 10 15.3625 10C14.8532 10 14.3647 10.2107 14.0046 10.5858C13.6445 10.9609 13.4422 11.4696 13.4422 12C13.4422 12.5304 13.6445 13.0391 14.0046 13.4142C14.3647 13.7893 14.8532 14 15.3625 14Z"
                        fill="black" />
                </svg>
                <h2 class="text-gray-800 block font-medium  text-sm w-full pb-1 pl-2">Opciones de Impresión</h2>
            </div>
            <p class=" text-sm text-gray-400">Elige aquellas opciones que deseas que no se muestren en tu comprobante.
            </p>

            <div class=" grid grid-cols-1 sm:grid-cols-2 gap-2 sm:gap-10  pb-2 sm:pb-10 pt-2 sm:pt-10">

                <div class="flex flex-col">
                    <div class="flex items-center border border-gray-200 rounded-md py-2 px-2 mt-3">
                        <label class="text-gray-800 block font-medium  text-sm w-full pb-1">Ocultar Vencimiento</label>
                        <mat-slide-toggle (change)="toggle('ocultarvencimiento', $event.checked)"
                            [(ngModel)]="data.ocultarvencimiento"> </mat-slide-toggle>
                    </div>
                    <div class="flex items-center border border-gray-200 rounded-md py-2 px-2 mt-3">
                        <label class="text-gray-800 block font-medium  text-sm w-full pb-1">Ocultar Orden de
                            Compra</label>
                        <mat-slide-toggle (change)="toggle('ocultarordencompra', $event.checked)"
                            [(ngModel)]="data.ocultarordencompra"> </mat-slide-toggle>
                    </div>
                    <div class="flex items-center border border-gray-200 rounded-md py-2 px-2 mt-3">
                        <label class="text-gray-800 block font-medium  text-sm w-full pb-1">Ocultar Placa</label>
                        <mat-slide-toggle (change)="toggle('ocultarplaca', $event.checked)"
                            [(ngModel)]="data.ocultarplaca"> </mat-slide-toggle>
                    </div>
                </div>


                <div class="flex flex-col">
                    <div class="flex items-center border border-gray-200 rounded-md py-2 px-2 mt-3">
                        <label class="text-gray-800 block font-medium  text-sm w-full pb-1">Ocultar Guía
                            Transportista</label>
                        <mat-slide-toggle (change)="toggle('ocultarguiatransportista', $event.checked)"
                            [(ngModel)]="data.ocultarguiatransportista"> </mat-slide-toggle>
                    </div>
                    <div class="flex items-center border border-gray-200 rounded-md py-2 px-2 mt-3">
                        <label class="text-gray-800 block font-medium  text-sm w-full pb-1">Ocultar Guía
                            Remitente</label>
                        <mat-slide-toggle (change)="toggle('ocultarGuiaremitente', $event.checked)"
                            [(ngModel)]="data.ocultarGuiaremitente"> </mat-slide-toggle>
                    </div>
                </div>

            </div>
        </div> -->

        <!-- Plantillas -->
        <section class=" w-full sm:pt-10 pb-5 border-b border-gray-200 bg-white px-2">
            <div class="flex items-center content-center">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.8871 8.2L12.8699 9.21L10.7854 7.18L11.8025 6.16C12.0039 5.95 12.3463 5.94 12.588 6.16L13.8871 7.41C14.0985 7.62 14.1086 7.96 13.8871 8.2ZM5.99187 11.91L10.1912 7.72L12.2758 9.8L8.08651 14H5.99187V11.91ZM11.0271 0V2C15.448 2.54 18.5798 6.53 18.036 10.92C17.8138 12.689 17.0038 14.3339 15.7344 15.5944C14.465 16.855 12.8085 17.6593 11.0271 17.88V19.88C16.5658 19.28 20.5436 14.34 19.9393 8.85C19.4157 4.19 15.7199 0.5 11.0271 0ZM9.01299 0C7.03919 0.18 5.17617 0.95 3.64548 2.2L5.08554 3.74C6.21342 2.84 7.57292 2.26 9.01299 2.06V0.0599999V0ZM2.22555 3.67C0.962406 5.18495 0.187006 7.04196 0 9H2.01408C2.20541 7.58 2.76935 6.23 3.66562 5.1L2.22555 3.67ZM0.0100704 11C0.211478 12.96 0.986897 14.81 2.23562 16.33L3.66562 14.9C2.77633 13.7696 2.20939 12.4226 2.02415 11H0.0100704ZM5.04526 16.37L3.64548 17.74C5.17092 19.0027 7.03846 19.789 9.01299 20V18C7.58038 17.816 6.2239 17.2531 5.08554 16.37H5.04526Z" fill="#5B5B5B"/>
                    </svg>
                <h2 class="text-gray-800 block font-medium  text-sm w-full pb-1 pl-2">Plantillas</h2>
            </div>

            <div class="flex w-full justify-between  items-center">
                <p class=" text-sm text-gray-400 ">Predetermina algunas funciones para una mejor usabilidad en tu entorno de trabajo.</p>
                <button (click)="elegirtipoplantilla()" class="bg-red-50 p-3 shadow-2xl focus:outline-none hover:bg-red-100 rounded-md">
                        <svg width="16" height="16" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0V3.5H3.5V0H0ZM5.46875 0V3.5H14V0H5.46875ZM0 5.25V8.75H3.5V5.25H0ZM5.46875 5.25V8.75H14V5.25H5.46875ZM0 10.5V14H3.5V10.5H0ZM5.46875 10.5V14H14V10.5H5.46875Z" fill="#EA3E3E"/>
                        </svg>
                    </button>
            </div>
        </section>

        <div class="col-span-2 bg-white border border-gray-100 shadow-md rounded-md py-2 md:py-5 px-5 xl:px-10 mb-10 sm:mb-0">
            <div class=" grid grid-cols-1  lg:grid-cols-4 gap-2 sm:gap-10  pb-2 pt-2 sm:pt-10">
                <div class=" col-span-3 lg:col-span-1">
                    <div class="flex items-center pb-3">
                        <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.3"
                                d="M10 8H12V10H10V12H12V14H10V16H18V6H10V8ZM14 8H16V10H14V8ZM14 12H16V14H14V12Z"
                                fill="black" />
                            <path
                                d="M14 12H16V14H14V12ZM14 8H16V10H14V8ZM20 4H10V0H0V18H20V4ZM4 16H2V14H4V16ZM4 12H2V10H4V12ZM4 8H2V6H4V8ZM4 4H2V2H4V4ZM8 16H6V14H8V16ZM8 12H6V10H8V12ZM8 8H6V6H8V8ZM8 4H6V2H8V4ZM18 16H10V14H12V12H10V10H12V8H10V6H18V16Z"
                                fill="black" />
                        </svg>
                        <h2 class="text-gray-800 block font-medium  text-sm w-full pb-1 pl-2">Agregar Logo de Empresa
                        </h2>
                    </div>
                    <p class=" text-sm text-gray-400">Aquí podrás agregar la foto de tu logo. </p>
                </div>
                <div class=" col-span-2 bg-white flex items-center justify-center border border-gray-100 rounded-lg shadow-lg">
                    <div class="flex items-center justify-center content-center mx-auto h-auto">
                        <div class="w-auto  imggg object-cover">
                            <img class="h-48 w-auto bg-no-repeat object-contain" [src]="bs64logo" alt="logo" appNotlogo>
                        </div>
                    </div>

                    <!-- data:image/png;base64, -->
                    <!-- src="data:image/jpeg;base64,{{ data.bs64logo }}" alt="logo" appNotImage -->

                </div>
                <div class="flex justify-center sm:justify-start items-center">
                    <div class="flex items-center justify-center gap-2 pt-4">
                        <!-- Subir imagen -->

                        <div class="flex items-center justify-center bg-grey-lighter">
                            <label class="flex flex-col items-center p-2 md:p-3 bg-white rounded-lg shadow-lg tracking-wide uppercase border border-red-200 cursor-pointer  hover:bg-red-50">
                                <svg width="20" height="18" viewBox="0 0 20 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M2.6087 2.5V0H4.34783V2.5H6.95652V4.16667H4.34783V6.66667H2.6087V4.16667H0V2.5H2.6087ZM5.21739 7.5V5H7.82609V2.5H13.913L15.5043 4.16667H18.2609C19.2174 4.16667 20 4.91667 20 5.83333V15.8333C20 16.75 19.2174 17.5 18.2609 17.5H4.34783C3.3913 17.5 2.6087 16.75 2.6087 15.8333V7.5H5.21739ZM11.3043 15C13.7043 15 15.6522 13.1333 15.6522 10.8333C15.6522 8.53333 13.7043 6.66667 11.3043 6.66667C8.90435 6.66667 6.95652 8.53333 6.95652 10.8333C6.95652 13.1333 8.90435 15 11.3043 15ZM8.52174 10.8333C8.52174 12.3083 9.76522 13.5 11.3043 13.5C12.8435 13.5 14.087 12.3083 14.087 10.8333C14.087 9.35833 12.8435 8.16667 11.3043 8.16667C9.76522 8.16667 8.52174 9.35833 8.52174 10.8333Z"
                                        fill="#E82424" />
                                </svg>
                                <!-- <span class="mt-2 text-base leading-normal">subir Archivo</span> -->
                                <input class="hidden" type="file" id="uploadFile" (change)="uploadFileEvt($event)"
                                    name="uploadFile" multiple="multiple" accept="image/*" />
                            </label>
                        </div>

                        <div class="flex items-center justify-center bg-grey-lighter">
                            <button (click)="_showDelete()" class="flex flex-col items-center p-2 focus:outline-none bg-white rounded-lg shadow-lg tracking-wide uppercase border border-red-200 cursor-pointer  hover:bg-red-50">
                              <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                              </svg>
                          </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-alert [alert]='success' [mensage]='message'></app-alert>
<app-modaldelete [error]='delete' [mesage]='message' (Send)='delete = $event' (SendDelete)='_deleteFoto( $event )'></app-modaldelete>