<div class="relative w-auto  mx-auto max-w-4xl">
  <!--header-->
  <div class="flex justify-between items-center border-b border-gray-200 pb-2">
    <h2 class="text-red-600 text-sm font-medium uppercase">TIPO DE CAMBIO</h2>
    <button mat-dialog-close class="p-1 rounded-full border border-gray-400 focus:outline-none">
      <svg class="w-5 h-5  text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  </div>
  <!--body-->
  <div class="relative p-2  pt-2">
    <form [formGroup]="form" (ngSubmit)="SaveTipocambio()" class="grid grid-cols-1 md:grid-cols-2  gap-4 w-full pb-2">

      <!--Fecha de Inicio -->
      <div class="w-full md:mb-2">
        <label class="text-gray-800 block font-medium text-sm w-full pb-1">Fecha Inicio:</label>
        <div class="flex w-full border  rounded px-4  border-gray-300 ">

          <input  class="px-2 w-full py-2 focus:outline-none placeholder-gray-500  text-sm"
                  [class.error]="fechaInvalid"
                  placeholder="17/10/2020"                        
                  formControlName="fecha"
                  required
                  disabled
                  >
                  <!-- [matDatepicker]="fechainicio" -->
          <mat-datepicker #fechainicio> </mat-datepicker>
          <button type="button" (click)="fechainicio.open()"
            class="focus:outline-none cursor-pointer focus:text-green-400 rounded-full w-10 h-9 p-1 flex hover:border-green-500 border-white  items-center justify-center  hover:bg-gray-200 focus:bg-gray-200 transition duration-300 ease-in">
            <svg class="text-red-600 w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
            </svg>
          </button>
        </div>
        <p *ngIf="fechaInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
      </div>

      <!-- Tipo Cambio -->
      <div class="w-full md:mb-2">
        <label class="text-gray-800 block font-medium text-sm w-full pb-1">tipo Cambio: </label>
        <input  (keypress)="validateKey( $event, 6 )"
                (keydown)="sfunction.SoloNumeros( $event )"
                type="number"
                name="tipocambio"
                class="forms-control w-full focus mb-1"
                [class.error]="tipocambioInvalid"
                placeholder="0.00"
                required
                formControlName="tipocambio"
                >
        <p *ngIf="tipocambioInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
      </div>

      <div class="w-full md:mb-2">
        <button
          class=" text-white border border-solid border-red-500 bg-red-500 mt-5 font-medium uppercase text-sm px-6 py-2 rounded outline-none focus:outline-none mr-2 mb-1"
          type="submit" style="transition: all .15s ease">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>