<div class="bg-white pt-1">
    <header class="flex justify-between items-center border-b border-gray-200  pb-2">
        <h2 class="text-red-600 text-sm font-medium">Agregar Nuevo Usuario</h2>
        <button mat-dialog-close
            class="p-1 rounded-full border hover:bg-red-50 transition duration-300 ease-in border-gray-400 focus:outline-none">
            <svg class="w-5 h-5  text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                </path>
            </svg>
        </button>
    </header>

    <div class="overflow-auto respo md:overflow-hidden">
        <div class="relative p-2 flex-auto w-ful pt-5">
            <form [formGroup]="form" (ngSubmit)="SaveUser()"
                class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-x-3 gap-y-2 w-full pb-2">
                <!-- Nombres -->
                <div class="w-full md:mb-2">
                    <label class="text-gray-800 block font-medium text-sm w-full pb-1">Nombres</label>
                    <input type="text" name="name" class="forms-control w-full  focus mb-1"
                        [class.error]="nameInvalid" required placeholder="Alexander Fermandes"
                        formControlName="nombre">
                    <p *ngIf="nameInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.
                    </p>
                </div>

                <!-- Apellidos -->
                <div class="w-full md:mb-2">
                    <label class="text-gray-800 block font-medium text-sm w-full pb-1">Apellidos</label>
                    <input type="text" name="Apellidos" class="forms-control z-10 w-full  focus mb-1"
                        [class.error]="lastnameInvalid" required placeholder="Mercedes carranza"
                        formControlName="apellido">
                    <p *ngIf="lastnameInvalid" class="text-red-700 text-xs italic"> Por favor rellene este
                        campo.</p>
                </div>

                <!-- Dni -->
                <div class="w-full md:mb-2">
                    <label class="text-gray-800 block font-medium text-sm w-full pb-1">DNI</label>
                    <input type="number" name="dni" class="forms-control w-full  focus mb-1"
                        [class.error]="dniInvalid" required placeholder="72277322" formControlName="dni">
                    <p *ngIf="dniInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
                </div>

                <!-- Usuario -->
                <div class="w-full mb-1 md:mb-2">
                    <label class=" text-gray-800 block font-medium flex items-center w-full text-sm pb-1">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10 0C4.477 0 0 4.477 0 10C0 15.523 4.477 20 10 20C15.523 20 20 15.523 20 10C20 4.477 15.523 0 10 0ZM10 18.5C8.8837 18.4999 7.77834 18.28 6.74704 17.8527C5.71573 17.4255 4.77868 16.7993 3.98939 16.0099C3.20009 15.2205 2.574 14.2834 2.14687 13.252C1.71974 12.2207 1.49993 11.1153 1.5 9.999C1.50007 8.8827 1.72 7.77734 2.14725 6.74604C2.5745 5.71473 3.2007 4.77768 3.99009 3.98839C4.77948 3.19909 5.71661 2.573 6.74796 2.14587C7.77931 1.71874 8.8847 1.49893 10.001 1.499C12.2555 1.49913 14.4176 2.39485 16.0116 3.98909C17.6057 5.58334 18.5011 7.74553 18.501 10C18.5009 12.2545 17.6052 14.4166 16.0109 16.0106C14.4167 17.6047 12.2545 18.5001 10 18.5ZM10 10.5C6.962 10.5 4.5 12.228 4.5 14C4.5 15.772 6.962 17.5 10 17.5C13.038 17.5 15.5 15.772 15.5 14C15.5 12.228 13.038 10.5 10 10.5ZM10 10C10.7956 10 11.5587 9.68393 12.1213 9.12132C12.6839 8.55871 13 7.79565 13 7C13 6.20435 12.6839 5.44129 12.1213 4.87868C11.5587 4.31607 10.7956 4 10 4C9.20435 4 8.44129 4.31607 7.87868 4.87868C7.31607 5.44129 7 6.20435 7 7C7 7.79565 7.31607 8.55871 7.87868 9.12132C8.44129 9.68393 9.20435 10 10 10Z"
                                fill="#515151" />
                        </svg>
                        <span class="pl-2">Usuario</span>
                    </label>
                    <input type="text" name="user" class="forms-control w-full  focus mb-1"
                        [class.error]="userInvalid" required placeholder="Admin" formControlName="usuario">
                    <p *ngIf="userInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.
                    </p>
                </div>

                <!-- contraeña -->
                <div class="w-full mb-1 md:mb-2">
                    <label class=" text-gray-800 block font-medium flex items-center w-full text-sm pb-1">
                        <svg width="16" height="20" viewBox="0 0 16 20" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8 0C5.243 0 3 2.243 3 5V8H2C1.46957 8 0.960859 8.21071 0.585786 8.58579C0.210714 8.96086 0 9.46957 0 10V18C0 18.5304 0.210714 19.0391 0.585786 19.4142C0.960859 19.7893 1.46957 20 2 20H14C14.5304 20 15.0391 19.7893 15.4142 19.4142C15.7893 19.0391 16 18.5304 16 18V10C16 9.46957 15.7893 8.96086 15.4142 8.58579C15.0391 8.21071 14.5304 8 14 8H13V5C13 2.243 10.757 0 8 0ZM5 5C5 3.346 6.346 2 8 2C9.654 2 11 3.346 11 5V8H5V5ZM9 15.723V18H7V15.723C6.65039 15.5228 6.36966 15.2213 6.19483 14.8584C6.02 14.4954 5.95928 14.0879 6.02068 13.6898C6.08208 13.2916 6.26272 12.9214 6.53876 12.6279C6.81481 12.3345 7.17332 12.1316 7.567 12.046C7.85942 11.9813 8.16262 11.9832 8.45425 12.0513C8.74587 12.1194 9.01849 12.2521 9.25198 12.4397C9.48548 12.6272 9.67391 12.8647 9.80337 13.1348C9.93283 13.4049 10 13.7005 10 14C9.99943 14.3497 9.90669 14.6932 9.73113 14.9956C9.55557 15.2981 9.30339 15.549 9 15.723Z"
                                fill="#515151" />
                        </svg>
                        <span class="pl-2"> Contraseña </span>
                    </label>
                    <input type="password" name="password1" class="forms-control w-full focus mb-1"
                        [class.error]="pass1Invalid" required placeholder="**********"
                        formControlName="password">
                    <p *ngIf="pass1Invalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.
                    </p>

                </div>

                <!-- Confirmar contraseña -->
                <div class="w-full mb-1 md:mb-2">
                    <label class=" text-gray-800 block font-medium flex items-center w-full text-sm pb-1">
                        <svg width="16" height="20" viewBox="0 0 16 20" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8 0C5.243 0 3 2.243 3 5V8H2C1.46957 8 0.960859 8.21071 0.585786 8.58579C0.210714 8.96086 0 9.46957 0 10V18C0 18.5304 0.210714 19.0391 0.585786 19.4142C0.960859 19.7893 1.46957 20 2 20H14C14.5304 20 15.0391 19.7893 15.4142 19.4142C15.7893 19.0391 16 18.5304 16 18V10C16 9.46957 15.7893 8.96086 15.4142 8.58579C15.0391 8.21071 14.5304 8 14 8H13V5C13 2.243 10.757 0 8 0ZM5 5C5 3.346 6.346 2 8 2C9.654 2 11 3.346 11 5V8H5V5ZM9 15.723V18H7V15.723C6.65039 15.5228 6.36966 15.2213 6.19483 14.8584C6.02 14.4954 5.95928 14.0879 6.02068 13.6898C6.08208 13.2916 6.26272 12.9214 6.53876 12.6279C6.81481 12.3345 7.17332 12.1316 7.567 12.046C7.85942 11.9813 8.16262 11.9832 8.45425 12.0513C8.74587 12.1194 9.01849 12.2521 9.25198 12.4397C9.48548 12.6272 9.67391 12.8647 9.80337 13.1348C9.93283 13.4049 10 13.7005 10 14C9.99943 14.3497 9.90669 14.6932 9.73113 14.9956C9.55557 15.2981 9.30339 15.549 9 15.723Z"
                                fill="#515151" />
                        </svg>
                        <span class="pl-2"> Confirmar Contraseña </span>
                    </label>

                    <input type="password" name="password" class="forms-control w-full focus mb-1"
                        [class.error]="pass2Invalid" required placeholder="**********"
                        formControlName="password2">
                    <p *ngIf="pass2Invalid" class="text-red-700 text-xs italic"> la contraseña no coincide </p>
                </div>

                <!-- Permisos -->
                <div
                    class="border border-gray-300 transition-all col-span-1 md:col-span-2 xl:col-span-3 duration-500 relative rounded p-1">
                    <div class="-mt-6 absolute flex items-center">
                        <p class="flex items-center z-20">
                            <label for="name"
                                class="bg-white text-gray-800 text-sm px-1 flex items-center font-medium justify-center">
                                <svg class="w-7 h-7 text-gray-600" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                    focusable="false" width="1em" height="1em"
                                    style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
                                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                    <path
                                        d="M10 4a4 4 0 0 0-4 4a4 4 0 0 0 4 4a4 4 0 0 0 4-4a4 4 0 0 0-4-4m0 2a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2a2 2 0 0 1 2-2m7 6c-.16 0-.24.08-.24.24l-.26 1.26c-.22.18-.54.34-.78.5l-1.28-.5c-.08 0-.24 0-.32.1l-.96 1.76c-.08.08-.08.24.08.32l1.04.82v1l-1.04.82c-.08.08-.16.24-.08.32l.96 1.76c.08.1.24.1.32.1l1.28-.5c.24.16.56.32.78.5l.26 1.26c0 .16.08.24.24.24h2c.08 0 .24-.08.24-.24l.16-1.26c.32-.18.64-.34.88-.5l1.22.5c.14 0 .3 0 .3-.1l1.04-1.76c.08-.08 0-.24-.08-.32l-1.04-.82v-1l1.04-.82c.08-.08.16-.24.08-.32L21.8 13.6c0-.1-.16-.1-.3-.1l-1.22.5c-.24-.16-.56-.32-.88-.5l-.16-1.26c0-.16-.16-.24-.24-.24h-2m-7 1c-2.67 0-8 1.33-8 4v3h9.67c-.28-.59-.48-1.23-.58-1.9H3.9V17c0-.64 3.13-2.1 6.1-2.1c.43 0 .87.04 1.3.1c.2-.64.47-1.24.82-1.79c-.78-.13-1.52-.21-2.12-.21m8.04 2.5c.8 0 1.46.66 1.46 1.54c0 .8-.66 1.46-1.46 1.46c-.88 0-1.54-.66-1.54-1.46c0-.88.66-1.54 1.54-1.54z" />
                                </svg>
                                Permisos
                            </label>
                        </p>
                    </div>
                    <div class="p-1 grid grid-cols-1 md:grid-cols-3 gap-2 md:gap-5">
                        <!-- reimprimir          -->
                        <div class=" border-b border-gray-100 py-2">
                            <label class="inline-flex items-center mt-3 px-2 cursor-pointer">
                                <input
                                    class=" form-checkbox border-2 rounded border-red-600 leyend text-red-600 w-5 h-5 focus:outline-none"
                                    type="checkbox" checked formControlName="reimprimir">
                                <span class="ml-2 text-gray-900 text-sm">Reimprimir</span>
                            </label>
                        </div>

                        <!-- cambiar Precio           -->
                        <div class=" border-b border-gray-100 py-2">
                            <label class="inline-flex items-center mt-3 px-2 cursor-pointer">
                                <input
                                    class=" form-checkbox border-2 rounded border-red-600 leyend text-red-600 w-5 h-5 focus:outline-none"
                                    type="checkbox" checked formControlName="cambiarprecio">
                                <span class="ml-2 text-gray-900 text-sm">Cambiar Precio</span>
                            </label>
                        </div>

                        <!-- Administrador -->
                        <div class=" border-b border-gray-100 py-2">
                            <label class="inline-flex items-center mt-3 px-2 cursor-pointer">
                                <input
                                    class=" form-checkbox border-2 rounded border-red-600 leyend text-red-600 w-5 h-5 focus:outline-none"
                                    type="checkbox" checked formControlName="admin">
                                <span class="ml-2 text-gray-900 text-sm">Administrador</span>
                            </label>
                        </div>
                    </div>
                </div>

                <!--footer-->
                <footer
                    class="flex items-center col-span-3 justify-between md:p-2 border-t border-gray-300 space-x-4 pt-3 md:pt-5 rounded-b">

                    <button type="button" class="py-2 px-2 text-red-600 text-sm font-medium focus:outline-none"
                        (click)="asignarpermisos()">Asignar permisos
                    </button>

                    <div class="flex items-center justify-center">

                        <button type="button" mat-dialog-close
                            class="text-red-500 bg-transparent border text-sm border-solid border-red-500 hover:bg-red-50 transition duration-300 ease-in font-medium  px-7 py-2 rounded outline-none focus:outline-none mr-1 mb-1"
                            style="transition: all .15s ease">
                            Cancelar
                        </button>

                        <div>
                            <button type="submit"
                                class=" text-white border border-solid border-red-500 bg-red-500  hover:bg-red-700 hover:border-red-700 transition duration-300 ease-in  font-medium  text-sm px-7 py-2 rounded outline-none focus:outline-none mr-2 mb-1"
                                style="transition: all .15s ease">
                                Guardar
                            </button>
                        </div>

                    </div>

                </footer>

            </form>
        </div>
    </div>

</div>