<div class="relative w-auto  mx-auto max-w-7xl">
    <!-- TITULO NUEVO CLIENTE -->
    <header class="flex justify-between items-center border-b border-gray-100 pb-2">
        <h2 class="text-red-600 text-sm font-medium uppercase">Nuevo Cliente</h2>
        <button mat-dialog-close class="p-1 rounded-full border border-gray-200 focus:outline-none">
      <svg class="w-5 h-5  text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
    </header>
    <!-- CONTENIDO DEL CLIENTE -->
    <main class="relative sm:p-2 flex-auto  pt-2 overflow-y-scroll md:overflow-hidden h-96 sm:h-auto">
        <form class="grid grid-cols-1 sm:grid-cols-2 gap-x-2">
            <!-- Nombres -->
            <div class=" w-full sm:mb-1">
                <label class="text-gray-800 font-medium flex items-center text-sm w-full pb-1">Tipo Documento:
                  <!-- //mensaje en nube -->
                    <div class=" flex flex-col pl-3">
                      <div class="relative  sm:max-w-xl sm:mx-auto ">
                        <div class="group cursor-pointer relative inline-block   text-center">
                          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 0C3.58214 0 0 3.58214 0 8C0 12.4179 3.58214 16 8 16C12.4179 16 16 12.4179 16 8C16 3.58214 12.4179 0 8 0ZM8 14.6429C4.33214 14.6429 1.35714 11.6679 1.35714 8C1.35714 4.33214 4.33214 1.35714 8 1.35714C11.6679 1.35714 14.6429 4.33214 14.6429 8C14.6429 11.6679 11.6679 14.6429 8 14.6429Z" fill="#E82424"/>
                            <path d="M9.99236 4.51243C9.45665 4.04279 8.74951 3.78564 7.99951 3.78564C7.24951 3.78564 6.54236 4.04457 6.00665 4.51243C5.44951 4.99993 5.14236 5.65529 5.14236 6.35707V6.49279C5.14236 6.57136 5.20665 6.63564 5.28522 6.63564H6.14236C6.22094 6.63564 6.28522 6.57136 6.28522 6.49279V6.35707C6.28522 5.56957 7.05486 4.9285 7.99951 4.9285C8.94415 4.9285 9.71379 5.56957 9.71379 6.35707C9.71379 6.91243 9.32094 7.42136 8.71201 7.65529C8.33344 7.79993 8.01201 8.0535 7.78165 8.38564C7.54772 8.72493 7.42629 9.13207 7.42629 9.54457V9.9285C7.42629 10.0071 7.49058 10.0714 7.56915 10.0714H8.42629C8.50486 10.0714 8.56915 10.0071 8.56915 9.9285V9.52314C8.57007 9.34979 8.62321 9.18074 8.72164 9.03803C8.82007 8.89533 8.95922 8.78559 9.12094 8.72314C10.1745 8.31779 10.8549 7.38922 10.8549 6.35707C10.8567 5.65529 10.5495 4.99993 9.99236 4.51243ZM7.28522 11.9285C7.28522 12.1179 7.36048 12.2996 7.49443 12.4336C7.62839 12.5675 7.81007 12.6428 7.99951 12.6428C8.18895 12.6428 8.37063 12.5675 8.50458 12.4336C8.63854 12.2996 8.71379 12.1179 8.71379 11.9285C8.71379 11.7391 8.63854 11.5574 8.50458 11.4234C8.37063 11.2895 8.18895 11.2142 7.99951 11.2142C7.81007 11.2142 7.62839 11.2895 7.49443 11.4234C7.36048 11.5574 7.28522 11.7391 7.28522 11.9285Z" fill="#E82424"/>
                          </svg>

                          <div class="opacity-0  w-64 bg-black text-white text-center text-xs rounded-lg py-2 absolute  group-hover:opacity-100   left-0  px-3 pointer-events-none">
                            Texto explicativo que ocupa dos reglones como maximo de mensaje!
                            <svg class="absolute text-black h-2 w-full left-0 top-full" x="0px" y="0px" viewBox="0 0 255 255" xml:space="preserve"><polygon class="fill-current" points="0,0 127.5,127.5 255,0"/></svg>
                          </div>
                        </div>
                      </div>
                    </div>
                </label>
                <!-- Tipo de Documento -->
                <mat-select type="text" required placeholder="Seleccione una opcion" class="text-sm forms-control  focus mb-1">
                    <mat-option value="01">DNI</mat-option>
                    <mat-option value="01">RUC</mat-option>
                    <mat-option value="01">PASAPORTE</mat-option>
                </mat-select>
                <!-- <p class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
            </div>

            <!-- Numero de Identificación -->
            <div class=" w-full sm:mb-1 ">
                <label class="labelclass">Número de Identificación </label>
                <input type="text" name="Apellidos" required placeholder="Ingresa una Identificación" class="text-sm forms-control w-full  focus mb-1">
                <!-- <p class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
            </div>

            <!-- Nombre Completo -->
            <div class=" w-full sm:mb-1">
                <label class=" labelclass">Nombre Completo:</label>
                <input type="text" required placeholder="Ingresa un Nombre" class="text-sm forms-control py-1  w-full focus mb-1">
                <!-- <p class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
            </div>

            <!-- Direccion -->
            <div class=" w-full sm:mb-1">
                <label class=" labelclass">Dirección:</label>
                <input type="text" required placeholder="Ingresa un Dirección" class="text-sm forms-control py-1  w-full focus mb-1">
                <!-- <p class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
            </div>

            <!-- referecia direccion -->
            <div class=" w-full sm:mb-1">
                <label class=" labelclass">Ref. Dirección:</label>
                <input type="text" required placeholder="Ingresa Ref. Dirección" class="text-sm forms-control py-1  w-full focus mb-1">
                <!-- <p class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
            </div>

            <!-- Telefono / Celular -->
            <div class=" w-full sm:mb-1">
                <label class=" labelclass">Telefono / Celular:</label>
                <input type="number" required placeholder="Ingresa Telefono/Celular" class="text-sm forms-control py-1 w-full focus mb-1">
                <!-- <p class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
            </div>

            <!-- Correo -->
            <div class="col-span-2 sm:mb-1">
              <label class="labelclass">Correo:</label>
              <mat-chip-list class="w-full  md:mb-2" #chipList aria-label="Fruit selection">
                <mat-chip   *ngFor="let guia of  guia" [selectable]="selectable" [removable]="removable" (removed)="remove(guia)">
                    {{guia}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input class="focus forms-control" placeholder="Ingresa Correo..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="" (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
            </div>

        </form>
        <!--FOOTER DEL FORMULARIO-->
        <!-- BOTONES -->
        <footer class="flex items-center justify-center sm:justify-start sm:p-3 sm:space-x-4">
            <!-- Boton Guardar -->
            <button (click)="modalguradar()" class=" text-white border border-solid border-red-500 bg-red-500 text-sm hover:bg-red-600 transition duration-300 ease-in font-medium uppercase px-4 sm:px-8 py-2 rounded outline-none focus:outline-none mr-2 mb-1" type="button"
                style="transition: all .15s ease">
                Guardar
          </button>

            <!-- Boton Cancelar -->
            <button mat-dialog-close class="text-red-500 bg-transparent border border-solid border-red-500 hover:bg-red-100  active:bg-red-600 font-medium uppercase text-sm px-4 sm:px-8 py-2 rounded outline-none focus:outline-none mr-1 mb-1" type="button" style="transition: all .15s ease">
        Cancelar
    </button>
        </footer>
    </main>
</div>

 <!-- [rutaimg]="Rutaimg -->
 <app-modalsuccess [success]="success"[message]="mensaje"> </app-modalsuccess>
