<!-- LOADING TIME OF WAIT FOR ME -->
<app-loading> </app-loading>

<!-- LLENADO -->
<main class="mx-auto lg:px-7 px-2 py-2">
    <p class="pt-3 text-sm font-medium text-gray-500 uppercase">LLENADO</p>
    <section
        class="px-2 py-2 transition-shadow border border-gray-200 rounded shadow-md md:p-1 lg:p-1 2xl:p-1 hover:shadow-lg">
        <form [formGroup]="formPrincipal" (ngSubmit)="AddItem()"
            class="grid grid-cols-1 gap-x-1 gap-y-1 sm:grid-cols-2 lg:grid-cols-3  xl:grid-cols-8">
            <!--Seleccioanr Servicios -->
            <div class="col-span-1">
                <label class="block w-full md:pb-1 text-sm font-medium text-gray-800">Servicio/Producto:</label>
                <mat-select formControlName="product" [class.error]="productInvalid" type="text" name="tipouser"
                    required placeholder="Seleccionar" class=" uppercase w-full sm:mb-1 text-sm forms-control py-1 focus">
                    <mat-option [value]="item.ID" *ngFor="let item of listPresent">{{ item.Presentacion }}</mat-option>
                </mat-select>
                <small *ngIf="productInvalid" class="text-xs italic text-red-700 animated fadeIn"> Por favor rellene
                    este campo.</small>
            </div>
            <!-- Nombre del producto -->
            <div class="col-span-1 xl:col-span-2">
                <label class="block w-full md:pb-1 text-sm font-medium text-gray-800">Descripción:</label>
                <!-- <input  type="text"
                        (keyup.enter)="onFocus('quantityfocus')"
                        placeholder="Ingrese la descripcion del item"
                        class="uppercase w-full sm:mb-1 text-sm forms-control focus"
                        [class.error]="nameproductInvalid"
                        required
                        formControlName="nameProduct"> -->
                <div class="border border-gray-300 rounded-sm py-1 px-2 text-sm" [class.error]="nameproductInvalid">

                    <textarea   
                                class="uppercase w-full focus:outline-none h-2 text-sm"
                                cdkTextareaAutosize
                                (keydown.enter)="$event.preventDefault()"
                                (keyup.enter)="onFocus('quantityfocus')"
                                #autosize="cdkTextareaAutosize"
                                placeholder="Ingrese la descripcion del item" cdkAutosizeMinRows="1" required
                                formControlName="nameProduct"
                                cdkAutosizeMaxRows="5"></textarea>
                </div>

                <small *ngIf="nameproductInvalid" class="text-xs italic text-red-700 animated fadeIn"> Por favor rellene
                    este campo.</small>
            </div>
            <!-- Seleccionar Uni. Medida -->
            <div class="col-span-1 ">
                <label class="block w-full md:pb-1 text-sm font-medium text-gray-800">Uni. Medida:</label>
                <mat-select formControlName="unidadM" [class.error]="unidadMInvalid" type="text" name="tipouser"
                    required placeholder="Unidad" class="w-full sm:mb-1 text-sm forms-control focus">
                    <mat-option [value]="item.Abreviatura" *ngFor="let item of listUnidadM">{{ item.Abreviatura }}
                    </mat-option>
                </mat-select>
                <small *ngIf="unidadMInvalid" class="text-xs italic text-red-700 animated fadeIn"> Por favor rellene
                    este campo.</small>
            </div>
            <!-- Cantidad -->
            <div class="col-span-1 ">
                <label class="labelclass">Cantidad:</label>
                <input (keypress)="validateKey( $event, 10 )" (keyup.enter)="onFocus('pricefocus')" id="quantityfocus"
                    type="number" placeholder="1" class="w-full sm:mb-1 forms-control focus"
                    [class.error]="quantityInvalid" required formControlName="quantity">
                <small *ngIf="quantityInvalid" class=" text-xs italic text-red-700 animated fadeIn"> Por favor rellene
                    este campo.</small>


            </div>
            <!-- Precio -->
            <div class="col-span-1">
                <label class="labelclass">Precio:</label>
                <input (keypress)="validateKey( $event, 9 )" (keyup.enter)="AddItem()" type="number" id="pricefocus"
                    class="w-full sm:mb-1 forms-control focus" [class.error]="priceInvalid" placeholder="205.00"
                    required formControlName="price">
                <small *ngIf="priceInvalid" class="text-xs italic text-red-700 animated fadeIn"> Por favor rellene este
                    campo.</small>
            </div>
            <!-- Seleccionar Concepto -->
            <div class="col-span-1">
                <label class="labelclass">Concepto:</label>
                <mat-select formControlName="concept" [class.error]="conceptInvalid" type="text" required
                    placeholder="AFECTO" class="w-full sm:mb-1 text-sm forms-control focus">
                    <mat-option value="Afecto">Afecto</mat-option>
                    <mat-option value="Exonerado">Exonerado</mat-option>
                    <mat-option value="Inafecto">Inafecto</mat-option>

                </mat-select>
                <small *ngIf="conceptInvalid" class="text-xs italic text-red-700"> Por favor rellene este campo.</small>
            </div>
            <!-- Boton Agregar -->
            <div class="col-span-1 mt-1 sm:col-span-2 md:col-span-3 lg:col-span-1">
                <button id="btnSubmitFocus" type="submit"
                    class="flex items-center justify-center w-auto p-2 px-4 mt-5 transition duration-300 ease-in bg-red-500 rounded-md cursor-pointer focus:outline-none hover:bg-red-700">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.2 22H15.4V19.8H2.2V6.59998H0V19.8C0 21.0133 0.9867 22 2.2 22Z" fill="white" />
                        <path
                            d="M19.7999 0H6.5999C5.3866 0 4.3999 0.9867 4.3999 2.2V15.4C4.3999 16.6133 5.3866 17.6 6.5999 17.6H19.7999C21.0132 17.6 21.9999 16.6133 21.9999 15.4V2.2C21.9999 0.9867 21.0132 0 19.7999 0ZM17.5999 9.9H14.2999V13.2H12.0999V9.9H8.7999V7.7H12.0999V4.4H14.2999V7.7H17.5999V9.9Z"
                            fill="white" />
                    </svg>
                </button>
            </div>
        </form>
    </section>

    <app-tablalistado [listTable]='listTable' [listUnidadM]="listUnidadM" [totales]='totales'
        (sendListTable)='listTable = $event' (sendClearTotal)='totales = $event'> </app-tablalistado>
</main>
<app-modal-error [error]='error' [message]='message' [cnn_expi]='cnn_expi' (send)='error = $event'></app-modal-error>