<app-loading> </app-loading>
<div class=" px-5 lg:px-4 xl:px-6 ">
    <main class=" grid grid-cols-1 md:grid-cols-3 gap-5 pt-4">
        <!-- Opciones de venta -->

        <section class=" col-span-3 md:col-span-1 transition-shadow border rounded shadow-md  border-gray-200 hover:shadow-lg px-1 py-4 lg:p-4">
            <div class=" flex items-center pl-6">
                <svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M0 14H6.72108V16H0V14ZM0 7H8.64138V9H0V7ZM0 0H19.2031V2H0V0ZM17.9299 9.025L19.0398 8.634L20 10.366L19.1205 11.171C19.2312 11.7177 19.2312 12.2823 19.1205 12.829L20 13.634L19.0398 15.366L17.9299 14.975C17.5362 15.345 17.0677 15.63 16.5521 15.805L16.3226 17H14.4023L14.1719 15.804C13.6623 15.6306 13.1932 15.3478 12.795 14.974L11.6851 15.366L10.7249 13.634L11.6044 12.829C11.4937 12.2823 11.4937 11.7177 11.6044 11.171L10.7249 10.366L11.6851 8.634L12.795 9.025C13.1887 8.655 13.6572 8.37 14.1728 8.195L14.4023 7H16.3226L16.553 8.196C17.0677 8.37 17.5362 8.656 17.9299 9.026V9.025ZM15.3625 14C15.8718 14 16.3602 13.7893 16.7203 13.4142C17.0804 13.0391 17.2828 12.5304 17.2828 12C17.2828 11.4696 17.0804 10.9609 16.7203 10.5858C16.3602 10.2107 15.8718 10 15.3625 10C14.8532 10 14.3647 10.2107 14.0046 10.5858C13.6445 10.9609 13.4422 11.4696 13.4422 12C13.4422 12.5304 13.6445 13.0391 14.0046 13.4142C14.3647 13.7893 14.8532 14 15.3625 14Z" fill="#414141"/>   </svg>
                <h2 class="text-gray-900  font-medium text-sm  pb-1 pl-2">Opciones de Venta</h2>
            </div>

            <!-- Opiniones de venta -->
            <div class="flex flex-col pt-3 p-6 justify-center border-b border-gray-200">
                <div class="flex items-center border border-gray-200 rounded-md py-2 px-2 mt-3">
                    <label class="text-gray-900 block  font-normal text-sm w-full">Selección Afecto</label>
                    <mat-slide-toggle (change)="toggle('afecto', $event.checked)" [(ngModel)]="data.afecto"> </mat-slide-toggle>
                </div>

                <div class="flex items-center border border-gray-200 rounded-md py-2 px-2 mt-3">
                    <label class="text-gray-900 block font-normal text-sm w-full ">Ver Detracción</label>
                    <mat-slide-toggle (change)="toggle('verDetraccion', $event.checked)" [(ngModel)]="data.verDetraccion"> </mat-slide-toggle>
                </div>

                <div class="flex items-center border border-gray-200 rounded-md py-2 px-2 mt-3">
                    <label class="text-gray-900 block font-normal text-sm w-full ">Cambiar Fecha</label>
                    <mat-slide-toggle (change)="toggle('cambiarfecha', $event.checked)" [(ngModel)]="data.cambiarfecha"> </mat-slide-toggle>
                </div>


                <div class="flex items-center border border-gray-200 rounded-md py-2 px-2 mt-3">
                    <label class="text-gray-900 block font-normal text-sm w-full ">Descuentos</label>
                    <mat-slide-toggle (change)="toggle('descuentos', $event.checked)" [(ngModel)]="data.descuentos"> </mat-slide-toggle>
                </div>

                <div class="flex items-center border border-gray-200 rounded-md py-2 px-2 mt-3">
                    <label class="text-gray-900 block font-normal text-sm w-full">Guías y Otros</label>
                    <mat-slide-toggle (change)="toggle('guiasYotros', $event.checked)" [(ngModel)]="data.guiasYotros"> </mat-slide-toggle>
                </div>
            </div>

            <!-- DETALLE DE LA VENTA       -->
            <div class=" flex items-center pt-4 pl-6">
                <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">   <path d="M18 10V2C18 0.9 17.1 0 16 0H2C0.9 0 0 0.9 0 2V10C0 11.1 0.9 12 2 12H16C17.1 12 18 11.1 18 10ZM16 10H2V2H16V10ZM9 3C7.34 3 6 4.34 6 6C6 7.66 7.34 9 9 9C10.66 9 12 7.66 12 6C12 4.34 10.66 3 9 3ZM22 3V14C22 15.1 21.1 16 20 16H3V14H20V3H22Z" fill="#414141"/>      </svg>
                <h2 class="text-gray-900  font-medium text-sm  pb-1 pl-2">Detalle Venta</h2>
            </div>

            <div class="px-6 flex flex-col">
                <div class="flex items-center border border-gray-200 rounded-md py-2 px-2 mt-3">
                    <label class="text-gray-900 block font-normal text-sm w-full ">Producto + Presentación</label>
                    <mat-slide-toggle (change)="toggle('productoMasPresentacion', $event.checked)" [(ngModel)]="data.productoMasPresentacion"> </mat-slide-toggle>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 space-x-4 pt-4">

                    <div class="w-full md:mb-2 pt-2">
                        <label class="text-gray-900 block  text-sm w-full font-medium ">Formato de Red. Detalle </label>
                        <input (keyup.enter)="toggle( 'formatoREDdetalle', value.value )" #value [(ngModel)]="data.formatoREDdetalle" type="number" placeholder="1" class="forms-control w-full focus mb-1">
                        <!-- <p class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
                    </div>

                    <div class="w-full md:mb-2 pt-2">
                        <label class="text-gray-900 block  text-sm w-full font-medium ">Importe mínimo de crédito </label>
                        <input (keyup.enter)="toggle( 'importeMinCredito', valueCredito.value )" #valueCredito [(ngModel)]="data.importeMinCredito" type="number" placeholder="0.00" class="forms-control w-full focus mb-1">
                        <!-- <p class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
                    </div>

                </div>

            </div>
        </section>

        <!-- Predeterminar Datos -->
        <section class=" col-span-3 md:col-span-2 transition-shadow border rounded shadow-md  border-gray-200 hover:shadow-lg px-1 py-4 lg:p-4">
            <div class=" flex items-center pl-6">
                <svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">    <path d="M0 14H6.72108V16H0V14ZM0 7H8.64138V9H0V7ZM0 0H19.2031V2H0V0ZM17.9299 9.025L19.0398 8.634L20 10.366L19.1205 11.171C19.2312 11.7177 19.2312 12.2823 19.1205 12.829L20 13.634L19.0398 15.366L17.9299 14.975C17.5362 15.345 17.0677 15.63 16.5521 15.805L16.3226 17H14.4023L14.1719 15.804C13.6623 15.6306 13.1932 15.3478 12.795 14.974L11.6851 15.366L10.7249 13.634L11.6044 12.829C11.4937 12.2823 11.4937 11.7177 11.6044 11.171L10.7249 10.366L11.6851 8.634L12.795 9.025C13.1887 8.655 13.6572 8.37 14.1728 8.195L14.4023 7H16.3226L16.553 8.196C17.0677 8.37 17.5362 8.656 17.9299 9.026V9.025ZM15.3625 14C15.8718 14 16.3602 13.7893 16.7203 13.4142C17.0804 13.0391 17.2828 12.5304 17.2828 12C17.2828 11.4696 17.0804 10.9609 16.7203 10.5858C16.3602 10.2107 15.8718 10 15.3625 10C14.8532 10 14.3647 10.2107 14.0046 10.5858C13.6445 10.9609 13.4422 11.4696 13.4422 12C13.4422 12.5304 13.6445 13.0391 14.0046 13.4142C14.3647 13.7893 14.8532 14 15.3625 14Z" fill="#414141"/> </svg>
                <h2 class="text-gray-900  font-medium text-sm  pb-1 pl-2">Predeterminar Datos</h2>
            </div>

            <h3 class="text-gray-500 text-sm font-normal pl-6 pt-2">Activa aquellos datos que se visualizarán como predeterminado al emitir tus comprobantes</h3>
            <div class="grid grid-cols-1 sm:grid-cols-2 border-b border-gray-200 gap-5 pb-4">
                <!-- Productos -->
                <div class="pt-4  ">

                    <div class=" flex items-center pl-10 pb-3">
                        <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 10V2C18 0.9 17.1 0 16 0H2C0.9 0 0 0.9 0 2V10C0 11.1 0.9 12 2 12H16C17.1 12 18 11.1 18 10ZM16 10H2V2H16V10ZM9 3C7.34 3 6 4.34 6 6C6 7.66 7.34 9 9 9C10.66 9 12 7.66 12 6C12 4.34 10.66 3 9 3ZM22 3V14C22 15.1 21.1 16 20 16H3V14H20V3H22Z" fill="#414141"/>
                            </svg>
                        <h2 class="text-gray-900  font-medium text-sm  pb-1 pl-2">Presentaciones</h2>
                    </div>

                    <div class="flex flex-col pt-3 px-12 justify-center ">
                        <mat-select (selectionChange)="toggle( 'presentacion', $event.value )" [(ngModel)]="data.presentacion" name="tipouser" placeholder="Seleccionar presentacion" class="sm:mb-1 text-sm forms-control focus">
                            <mat-option [value]="item.ID" *ngFor="let item of listPresent" >{{ item.Presentacion }}</mat-option>
                        </mat-select>
                        <!-- <small class="text-xs italic text-red-700 animated fadeIn"> Por favor rellene este campo.</small> -->
                    </div>


                    <!-- <div class=" flex items-center pl-10">
                        <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18 10V2C18 0.9 17.1 0 16 0H2C0.9 0 0 0.9 0 2V10C0 11.1 0.9 12 2 12H16C17.1 12 18 11.1 18 10ZM16 10H2V2H16V10ZM9 3C7.34 3 6 4.34 6 6C6 7.66 7.34 9 9 9C10.66 9 12 7.66 12 6C12 4.34 10.66 3 9 3ZM22 3V14C22 15.1 21.1 16 20 16H3V14H20V3H22Z" fill="#414141"/>
                        </svg>
                        <h2 class="text-gray-900  font-medium text-sm  pb-1 pl-2">Productos</h2>
                    </div>

                    <div class="flex flex-col pt-3 px-12 justify-center">
                        <div class="flex items-center border border-gray-200 rounded-md py-2 px-2 mt-3">
                            <label class="text-gray-900 block font-normal text-sm w-full ">Servicio</label>
                            <mat-slide-toggle  (change)="GuardarPredeterminado('producto','servicio', $event.checked)" [(ngModel)]="data.producto[0].valor"> </mat-slide-toggle>
                        </div>
                        <div class="flex items-center border border-gray-200 rounded-md py-2 px-2 mt-3">
                            <label class="text-gray-900 block font-normal text-sm w-full ">Producto</label>
                            <mat-slide-toggle (change)="GuardarPredeterminado('producto','producto', $event.checked)" [(ngModel)]="data.producto[1].valor" > </mat-slide-toggle>
                        </div>
                    </div> -->
                </div>
                <!-- Tipo Pago -->
                <div class="pt-4">
                    <div class=" flex items-center pl-10">
                        <svg width="24" height="17" viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22.6097 0L9.21454 0.00759012C8.44668 0.00632511 7.82176 0.631241 7.82303 1.40037V2.0392C7.5384 1.91649 7.18546 1.83047 6.73512 1.83047C6.17219 1.83047 5.7054 1.95697 5.65353 1.97342C5.54474 2.00378 5.44607 2.05691 5.36131 2.13154L0.255727 6.60463C0.0887459 6.75263 -0.004865 6.96642 0.000195046 7.18906L0.0444705 14.5527C0.0545905 14.9448 0.504935 15.2649 0.898353 15.2826C0.918594 15.2826 2.82244 15.3623 4.5049 15.3623C5.53083 15.3623 6.25441 15.3357 6.71614 15.2775C8.06211 15.108 8.65034 14.7108 8.89449 14.4578C9.14749 14.2731 9.37267 14.091 9.60796 13.9088C9.41188 14.6273 9.73952 15.4104 10.4277 15.7583C10.6503 15.8721 10.9008 15.9328 11.1487 15.9328C11.5902 15.9328 11.995 15.7494 12.291 15.4458C12.4365 15.6431 12.6212 15.8152 12.854 15.9354C13.0779 16.0454 13.3271 16.1061 13.5763 16.1061C14.181 16.1061 14.7275 15.7684 15.0007 15.2295L16.0595 13.1447C16.2531 12.7627 16.2935 12.3288 16.1595 11.924C16.1164 11.7924 16.0481 11.6697 15.9722 11.5559L22.5996 11.5597C23.3675 11.5597 23.9937 10.9348 23.9949 10.1682L24 1.40922C24.0013 0.638831 23.3776 0 22.6097 0ZM12.7414 12.5135L11.6851 14.6008C11.5422 14.8892 11.1702 15.0119 10.8806 14.8664C10.5858 14.7159 10.4682 14.3541 10.6162 14.0606L11.4852 12.349C11.4852 12.349 11.7699 11.6546 12.224 11.647C12.3126 11.6495 12.3986 11.6685 12.4795 11.7102C12.6212 11.7836 12.7275 11.9038 12.7768 12.0568C12.8274 12.2099 12.8173 12.3705 12.7414 12.5135ZM11.0766 10.678L10.1216 11.5534H10.1304C9.53206 12.072 8.81986 12.6476 7.9432 13.2953C7.87742 13.3433 7.87236 13.3383 7.82556 13.4041C7.82303 13.4066 7.53334 13.6647 6.53398 13.7886C6.26074 13.8228 5.68895 13.8177 4.50617 13.8177C3.47771 13.8177 2.19752 13.8329 1.49797 13.8089L1.50935 7.50152L6.20761 3.38391C6.33411 3.35987 6.52639 3.33204 6.73512 3.33204C7.04125 3.33204 7.25251 3.38644 7.36636 3.49902V8.70581C7.36636 8.9702 7.50551 9.21308 7.73321 9.3497C7.75978 9.36488 7.79014 9.36235 7.81797 9.375V9.43066L7.88754 9.39524C8.08109 9.45976 8.28982 9.46861 8.47451 9.36615C9.64211 8.73364 11.8546 7.72796 12.8186 7.72796C12.8616 7.72796 12.8983 7.72796 12.9236 7.73302C12.9273 7.74187 12.9311 7.74693 12.9362 7.75452C12.9564 7.85446 13.0526 8.72226 11.0766 10.678ZM15.1664 12.6881L14.1101 14.7753C13.9659 15.0638 13.5927 15.1852 13.3043 15.0397C13.0108 14.8917 12.8945 14.5287 13.0425 14.2352L14.1 12.1479C14.2025 11.9455 14.4061 11.8177 14.6339 11.8177C14.7287 11.8177 14.8198 11.8418 14.9058 11.8848C15.05 11.9582 15.155 12.0809 15.2031 12.2301C15.2537 12.3845 15.2423 12.5451 15.1664 12.6881ZM23.0689 10.1644C23.0677 10.4237 22.8602 10.6286 22.6047 10.6286L13.1475 10.6261C13.9204 9.67228 14.3644 8.81713 14.4378 8.07583C14.4922 7.48887 14.3189 7.11443 14.1911 6.92847C14.033 6.62993 13.6611 6.22386 12.8186 6.22386C11.7167 6.22386 9.99885 6.94491 8.86666 7.48381V5.4054L23.0702 5.4016L23.0689 10.1644ZM23.0702 2.64893L8.75028 2.64261V1.39784C8.75028 1.14104 8.95774 0.933579 9.21327 0.933579L22.6097 0.923459C22.8628 0.923459 23.074 1.14863 23.074 1.40416L23.0702 2.64893Z" fill="#414141"/>
                    </svg>
                        <h2 class="text-gray-900  font-medium text-sm  pb-1 pl-2">Tipo de Pago</h2>
                    </div>

                    <div class="flex flex-col pt-3 px-12 justify-center ">
                        <div class="flex items-center border border-gray-200 rounded-md py-2 px-2 mt-3">
                            <label class="text-gray-900 block font-normal text-sm w-full ">Contado</label>
                            <mat-slide-toggle (change)="GuardarPredeterminado('tipopago','contado', $event.checked)" [(ngModel)]="data.tipopago[0].valor"> </mat-slide-toggle>
                        </div>
                        <div class="flex items-center border border-gray-200 rounded-md py-2 px-2 mt-3">
                            <label class="text-gray-900 block font-normal text-sm w-full ">Crédito</label>
                            <mat-slide-toggle (change)="GuardarPredeterminado('tipopago','credito', $event.checked)" [(ngModel)]="data.tipopago[1].valor"> </mat-slide-toggle>
                        </div>
                    </div>
                </div>
            </div>


            <div class="grid grid-cols-1 sm:grid-cols-2 border-b border-gray-200 gap-2 sm:gap-5 pb-2 py-1 sm:py-4">
                <!-- Comprobante -->
                <div class=" pt-2 sm:pt-4">
                    <div class=" flex items-center pl-10">
                        <svg width="18" height="23" viewBox="0 0 18 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M14.7143 21.5714H3.28571C2.67951 21.5714 2.09812 21.3306 1.66947 20.902C1.24082 20.4733 1 19.8919 1 19.2857V3.28571C1 2.67951 1.24082 2.09812 1.66947 1.66947C2.09812 1.24082 2.67951 1 3.28571 1H11.2857L17 6.71429V19.2857C17 19.8919 16.7592 20.4733 16.3305 20.902C15.9019 21.3306 15.3205 21.5714 14.7143 21.5714Z" stroke="#414141" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M5.57104 5.57153H6.7139" stroke="#414141" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M5.57104 12.4285H12.4282" stroke="#414141" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M10.1431 17H12.4288" stroke="#414141" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M11.2861 1V5.57143C11.2861 5.87453 11.4065 6.16522 11.6209 6.37955C11.8352 6.59388 12.1259 6.71429 12.429 6.71429H17.0004" stroke="#5B5B5B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                        <h2 class="text-gray-900  font-medium text-sm  pb-1 pl-2">Comprobante</h2>
                    </div>
                    <div class="flex flex-col pt-3 px-12 justify-center">
                        <div class="flex items-center border border-gray-200 rounded-md py-2 px-2 mt-3">
                            <label class="text-gray-900 block font-normal text-sm w-full ">Boleta</label>
                            <mat-slide-toggle (change)="GuardarPredeterminado('comprobante','03', $event.checked)" [(ngModel)]="data.comprobante[0].valor"> </mat-slide-toggle>
                        </div>
                        <div class="flex items-center border border-gray-200 rounded-md py-2 px-2 mt-3">
                            <label class="text-gray-900 block font-normal text-sm w-full ">Factura</label>
                            <mat-slide-toggle (change)="GuardarPredeterminado('comprobante','01', $event.checked)" [(ngModel)]="data.comprobante[1].valor"> </mat-slide-toggle>
                        </div>
                        <div class="flex items-center border border-gray-200 rounded-md py-2 px-2 mt-3">
                            <label class="text-gray-900 block font-normal text-sm w-full ">Ticket</label>
                            <mat-slide-toggle (change)="GuardarPredeterminado('comprobante','00', $event.checked)" [(ngModel)]="data.comprobante[2].valor"> </mat-slide-toggle>
                        </div>
                    </div>
                </div>
                <!-- Tipo pago -->
                <div class="pt-2 sm:pt-4">
                    <div class=" flex items-center pl-10">
                        <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M18 10V2C18 0.9 17.1 0 16 0H2C0.9 0 0 0.9 0 2V10C0 11.1 0.9 12 2 12H16C17.1 12 18 11.1 18 10ZM16 10H2V2H16V10ZM9 3C7.34 3 6 4.34 6 6C6 7.66 7.34 9 9 9C10.66 9 12 7.66 12 6C12 4.34 10.66 3 9 3ZM22 3V14C22 15.1 21.1 16 20 16H3V14H20V3H22Z" fill="#414141"/>
                  </svg>
                        <h2 class="text-gray-900  font-medium text-sm  pb-1 pl-2">Tipo de Afectacion</h2>
                    </div>

                    <div class="flex flex-col pt-3 px-12 justify-center ">
                        <div class="flex items-center border border-gray-200 rounded-md py-2 px-2 mt-3">
                            <label class="text-gray-900 block font-normal text-sm w-full ">Afecto</label>
                            <mat-slide-toggle (change)="GuardarPredeterminado('tipoafectacion','afecto', $event.checked)" [(ngModel)]="data.tipoafectacion[0].valor"> </mat-slide-toggle>
                        </div>
                        <div class="flex items-center border border-gray-200 rounded-md py-2 px-2 mt-3">
                            <label class="text-gray-900 block font-normal text-sm w-full ">Inafectó</label>
                            <mat-slide-toggle (change)="GuardarPredeterminado('tipoafectacion','inafecto', $event.checked)" [(ngModel)]="data.tipoafectacion[1].valor"> </mat-slide-toggle>
                        </div>
                        <div class="flex items-center border border-gray-200 rounded-md py-2 px-2 mt-3">
                            <label class="text-gray-900 block font-normal text-sm w-full ">Exonerado</label>
                            <mat-slide-toggle (change)="GuardarPredeterminado('tipoafectacion','exonerado', $event.checked)" [(ngModel)]="data.tipoafectacion[2].valor"> </mat-slide-toggle>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 sm:gap-5 pb-4">
                <!-- MONEDA -->
                <div class=" pt-2 sm:pt-4">
                    <div class=" flex items-center pl-10">
                        <svg width="14" height="21" viewBox="0 0 14 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6.88975 6.9055C10.6949 6.9055 13.7795 5.35965 13.7795 3.45275C13.7795 1.54585 10.6949 0 6.88975 0C3.08465 0 0 1.54585 0 3.45275C0 5.35965 3.08465 6.9055 6.88975 6.9055Z" fill="#414141"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.1085 8.89189C2.18225 8.89189 0.21875 7.07014 0.21875 6.01489V10.5351C0.21875 12.4426 3.304 13.9861 7.1085 13.9861C10.9165 13.9861 14 12.4426 14 10.5351V6.12339C14 7.18039 12.0348 8.89189 7.1085 8.89189Z" fill="#414141"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.1085 15.8759C2.70025 15.8759 0.21875 14.1241 0.21875 13.0689V17.5472C0.21875 19.4547 3.304 20.9999 7.1085 20.9999C10.9165 20.9999 14 19.4547 14 17.5472V13.0146C14 14.0699 11.515 15.8759 7.1085 15.8759Z" fill="#414141"/>
                      </svg>
                        <h2 class="text-gray-900  font-medium text-sm  pb-1 pl-2">Moneda</h2>
                    </div>

                    <div class="flex flex-col pt-2 sm:pt-3 px-12 justify-center">
                        <div class="flex items-center border border-gray-200 rounded-md py-2 px-2 mt-3">
                            <label class="text-gray-900 block font-normal text-sm w-full ">S/ Soles</label>
                            <mat-slide-toggle (change)="GuardarPredeterminado('moneda','PEN', $event.checked)" [(ngModel)]="data.moneda[0].valor"> </mat-slide-toggle>
                        </div>
                        <div class="flex items-center border border-gray-200 rounded-md py-2 px-2 mt-3">
                            <label class="text-gray-900 block font-normal text-sm w-full ">$/ Dólar</label>
                            <mat-slide-toggle (change)="GuardarPredeterminado('moneda','USD', $event.checked)" [(ngModel)]="data.moneda[1].valor"> </mat-slide-toggle>
                        </div>
                    </div>
                </div>
                <!-- OTROS -->
                <div class="pt-2 sm:pt-4">
                    <div class="flex items-center pl-10">
                        <h2 class="text-gray-900  font-medium text-sm  pb-1 pl-2">Otro</h2>
                    </div>

                    <div class="flex flex-col pt-2 sm:pt-3 px-12 justify-center pb-8">
                        <div class="flex items-center border border-gray-200 rounded-md py-2 px-2 mt-3">
                            <label class="text-gray-900 block font-normal text-sm w-full ">Con IGV</label>
                            <mat-slide-toggle (change)="GuardarPredeterminado('otro','conigv', $event.checked)" [(ngModel)]="data.otro[0].valor"> </mat-slide-toggle>
                        </div>
                        <div class="flex items-center border border-gray-200 rounded-md py-2 px-2 mt-3">
                            <label class="text-gray-900 block font-normal text-sm w-full ">Sin IGV</label>
                            <mat-slide-toggle (change)="GuardarPredeterminado('otro','sinigv', $event.checked)" [(ngModel)]="data.otro[1].valor"> </mat-slide-toggle>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>


<app-alert [alert]='success' [mensage]='message'></app-alert>
