<div class="relative w-auto  mx-auto max-w-7xl">
    <!--header-->
    <div class="flex justify-between items-center border-b border-gray-200 pb-2">
        <h2 class="text-red-600 text-sm font-medium">ANEXOS</h2>
        <button mat-dialog-close class="p-1 rounded-full border border-gray-200 hover:bg-red-50  transition duration-300 ease-in focus:outline-none">
    <svg class="w-6 h-6  text-gray-900" fill="none" stroke="currentColor" viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>
    </div>
    <!--body-->
    <div class="relative p-2 flex-auto w-ful pt-2">
        <form class="grid grid-cols-1  sm:grid-cols-4 gap-1 sm:gap-4 w-full sm:pb-2 flex items-center">
            <!-- buscar  -->
            <div class="col-span-2">
                <div class="w-full md:mb-2">
                    <label class="text-gray-800 block font-medium text-sm w-full pb-1">Buscador:</label>
                    <input (keyup)="_search(search.value)" #search type="search" placeholder="Buscar Anexo" class=" uppercase forms-control w-full focus mb-1">
                    <!-- <p class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
                </div>
            </div>

            <!--Buscar -->
            <div class="w-full col-span-1">
                <button (click)="_search(search.value)" class=" text-white bg-red-600 sm:mt-5  w-full hover:bg-red-700 transition duration-300 ease-in font-medium  text-sm px-6 py-2 rounded outline-none focus:outline-none mr-2 mb-1" type="button" style="transition: all .15s ease">
               Buscar
            </button>
            </div>

            <!--Nuevo -->
            <div class="w-full col-span-1">
                <button (click)="_AgregarAnexo()" class=" text-white  bg-red-600 sm:mt-5  w-full hover:bg-red-700 transition duration-300 ease-in font-medium  text-sm px-6 py-2 rounded outline-none focus:outline-none mr-2 mb-1" type="button" style="transition: all .15s ease">
               Nuevo
            </button>
            </div>
        </form>
    </div>


    <!-- TABLA BUSCAR COMPROBANTE -->
    <div class="w-full sm:pt-3">
        <div class="relative overflow-x-auto overflow-y-auto h-auto " style="height: 30vh;">
            <table class="border-collapse table-auto w-full whitespace-no-wrap bg-white table-striped relative">
                <thead class="z-10">
                    <tr class=" text-sm text-left  border-b border-gray-200 text-carnation-500">
                        <th class="font-medium  sticky top-0 w-auto px-6 bg-gray-50 tracking-wide  whitespace-nowrap text-sm py-3"> Nombre de Anexo</th>
                        <th class="font-medium  sticky top-0 w-auto px-6 bg-gray-50 tracking-wide  whitespace-nowrap text-sm py-3">Dirección</th>
                        <th class="font-medium  sticky top-0 w-auto px-6 bg-gray-50 tracking-wide  whitespace-nowrap text-sm py-3">Selecciona</th>
                        <th class="font-medium  sticky top-0 w-auto px-6 bg-gray-50 tracking-wide  whitespace-nowrap text-sm py-3"> </th>
                        <th class="font-medium  sticky top-0 w-auto px-6 bg-gray-50 tracking-wide  whitespace-nowrap text-sm py-3"> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listoffice" class="border-b border-gray-200">
                        <!-- Nombre del anexo -->
                        <td class="px-6 w-auto py-2 text-sm font-normal  text-gray-900">
                            <span class="flex   text-left whitespace-nowrap">{{ item.Denominacion }}</span>
                        </td>
                        <!-- Direccion -->
                        <td class="px-6 w-auto flex flex-wrap  py-2 font-normal  text-gray-900">
                            <span class="flex text-xs text-left w-72 uppercase">{{ item.Direccion }}</span>
                        </td>

                        <!-- Seleccionar -->
                        <td class="py-2 text-sm">
                            <form #form="ngForm" class="flex items-center justify-center px-2 ">
                                <div class="flex items-center justify-center   flex-shrink-0 w-5 h-5 mr-2 border-2 rounded-full  border-red-600 focus-within:border-red-600">
                                    <input (change)="_changeItem( item.IDSucursal )" type="radio" name="selecionar" class="absolute opacity-0 cursor-pointer" [(ngModel)]="idSucursal" [value]="item.IDSucursal" #ida="ngModel">
                                    <svg class="hidden w-3 h-3 text-red-600 font-medium pointer-events-none fill-current" viewBox="0 0 20 20"><path d="M0 11l2-2 5 5L18 3l2 2L7 18z"/></svg>
                                </div>
                            </form>
                        </td>
                        <!-- editar -->
                        <td class="px-6 w-auto py-2 font-normal text-gray-900">
                            <button (click)="_AgregarAnexo( true, item.IDSucursal )" type="button" class="bg-green-50 rounded-md p-2 focus:outline-none">
                            <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M15.1572 0L18.0011 2.8439L15.8331 5.01284L12.9893 2.16894L15.1572 0Z" fill="#4BC08F"/>
                              <path d="M4.74023 13.2603H7.58411L14.4919 6.35244L11.648 3.50854L4.74023 10.4164V13.2603Z" fill="#4BC08F"/>
                              <path d="M15.1673 16.104H4.88957C4.86492 16.104 4.83933 16.1134 4.81468 16.1134C4.7834 16.1134 4.75212 16.1049 4.71989 16.104H1.89592V2.83245H8.38659L10.2825 0.936523H1.89592C0.850319 0.936523 0 1.7859 0 2.83245V16.104C0 17.1505 0.850319 17.9999 1.89592 17.9999H15.1673C15.6702 17.9999 16.1524 17.8001 16.508 17.4446C16.8635 17.089 17.0633 16.6068 17.0633 16.104V7.887L15.1673 9.78294V16.104Z" fill="#4BC08F"/>
                            </svg>
                          </button>
                        </td>
                        <!-- eliminacion -->
                        <td class="px-6 w-auto py-2 font-normal  text-gray-900">
                            <button (click)=" showdelete( item.IDSucursal ) " type="button" class="bg-red-50 rounded-md p-2 focus:outline-none">
                              <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.942857 14.2222C0.942857 15.2 1.79143 16 2.82857 16H10.3714C11.4086 16 12.2571 15.2 12.2571 14.2222V5.33333C12.2571 4.35556 11.4086 3.55556 10.3714 3.55556H2.82857C1.79143 3.55556 0.942857 4.35556 0.942857 5.33333V14.2222ZM3.93171 7.26222C4.01894 7.17982 4.12255 7.11444 4.23661 7.06984C4.35067 7.02523 4.47294 7.00227 4.59643 7.00227C4.71991 7.00227 4.84219 7.02523 4.95625 7.06984C5.07031 7.11444 5.17392 7.17982 5.26114 7.26222L6.6 8.52444L7.93886 7.26222C8.02615 7.17993 8.12978 7.11465 8.24383 7.07011C8.35788 7.02557 8.48012 7.00265 8.60357 7.00265C8.72702 7.00265 8.84926 7.02557 8.96331 7.07011C9.07736 7.11465 9.18099 7.17993 9.26829 7.26222C9.35558 7.34452 9.42482 7.44222 9.47206 7.54974C9.5193 7.65726 9.54362 7.77251 9.54362 7.88889C9.54362 8.00527 9.5193 8.12052 9.47206 8.22804C9.42482 8.33556 9.35558 8.43326 9.26829 8.51556L7.92943 9.77778L9.26829 11.04C9.35558 11.1223 9.42482 11.22 9.47206 11.3275C9.5193 11.435 9.54362 11.5503 9.54362 11.6667C9.54362 11.783 9.5193 11.8983 9.47206 12.0058C9.42482 12.1133 9.35558 12.211 9.26829 12.2933C9.18099 12.3756 9.07736 12.4409 8.96331 12.4854C8.84926 12.53 8.72702 12.5529 8.60357 12.5529C8.48012 12.5529 8.35788 12.53 8.24383 12.4854C8.12978 12.4409 8.02615 12.3756 7.93886 12.2933L6.6 11.0311L5.26114 12.2933C5.17385 12.3756 5.07022 12.4409 4.95617 12.4854C4.84212 12.53 4.71988 12.5529 4.59643 12.5529C4.47298 12.5529 4.35074 12.53 4.23669 12.4854C4.12264 12.4409 4.01901 12.3756 3.93171 12.2933C3.84442 12.211 3.77518 12.1133 3.72794 12.0058C3.6807 11.8983 3.65638 11.783 3.65638 11.6667C3.65638 11.5503 3.6807 11.435 3.72794 11.3275C3.77518 11.22 3.84442 11.1223 3.93171 11.04L5.27057 9.77778L3.93171 8.51556C3.84431 8.43332 3.77496 8.33564 3.72765 8.22811C3.68034 8.12058 3.65598 8.00531 3.65598 7.88889C3.65598 7.77247 3.68034 7.6572 3.72765 7.54967C3.77496 7.44214 3.84431 7.34446 3.93171 7.26222V7.26222ZM9.9 0.888889L9.23057 0.257778C9.06086 0.0977777 8.81571 0 8.57057 0H4.62943C4.38429 0 4.13914 0.0977777 3.96943 0.257778L3.3 0.888889H0.942857C0.424286 0.888889 0 1.28889 0 1.77778C0 2.26667 0.424286 2.66667 0.942857 2.66667H12.2571C12.7757 2.66667 13.2 2.26667 13.2 1.77778C13.2 1.28889 12.7757 0.888889 12.2571 0.888889H9.9Z" fill="#EA3E3E"/>
                              </svg>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--footer-->
    <div class="flex items-center justify-between p-6 border-t border-solid border-gray-200 rounded-b">
        <span class=" text-sm font-medium text-red-600">Mostrando: {{ listoffice.length }} </span>
        <button (click)="SaveAnexoSucursal()" class=" text-white   bg-red-600 hover:bg-red-700 transition duration-300 ease-in  font-medium  text-sm px-10 py-2 rounded outline-none focus:outline-none mr-2 mb-1" type="button" style="transition: all .15s ease">
        Guardar
       </button>
    </div>
</div>

<style>
    input:checked+svg {
        display: block;
    }
</style>

<app-alert [alert]='success' [mensage]='message'></app-alert>
<app-modal-error [error]='error' [message]='message' [cnn_expi]='cnn_expi' (send)='error = $event'></app-modal-error>
<app-modaldelete [error]='delete' [mesage]='message' (Send)='delete = $event' (SendDelete)='deleteAnexo( $event )' > </app-modaldelete>