<div class="relative p-2 flex-auto w-ful pt-2">
    <form class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 w-full pb-2">
      <div class="w-full md:mb-2 xl:col-span-2">
        <label class="text-black block font-semibold text-sm w-full pb-1">Buscador:</label>
        <input type="text"  required placeholder="Buscar clientes" class="forms-control w-full text-sm placeholder-gray-300  focus mb-1">
        <!-- <p class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
      </div>

      <div class="flex justify-end space-x-3 col-span-1 px-8">
          <div class="w-full mb-2">
              <button type="submit"
                class="btn bg-red-600 text-white focus:outline-none transition duration-300 w-full   rounded border-2 border-red-600 text-sm font-semibold mt-5">Buscar</button>
            </div>
    
            <div class="w-full mb-2">
              <button type="submit"
                class="btn border-red-600 border-2 focus:outline-none transition duration-300 w-full  flex items-center justify-center  hover:bg-red-50 rounded text-red-600 text-sm font-semibold mt-5">
                <svg class="h-4 w-4 text-red-600"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
                </svg>
               <span  class="pl-2">Nuevo</span>
              </button>
            </div>
      </div>
     
    </form>
  </div>
