<header class="flex justify-between items-center border-b border-gray-200">
    <p class="text-cab">Plantilla de Impresión</p>
    <button (click)="close()" type="button" class="close focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
    </button>
</header>


<main class="pt-5 w-full">
    <div class="flex items-center flex-row space-x-8 border-b  mb-6 border-gray-100">
        <button class="focus:outline-none w-20" (click)="toggleTabs(1)" [ngClass]="{'text-gray-700 bg-white': openTab !== 1, ' text-red-600 border-b-4  rounded-b-md border-red-600 animated fadeIn': openTab === 1}">
            <span class="font-medium text-sm ">A4 Y A5 </span>
        </button>

        <button class="focus:outline-none w-20" (click)="toggleTabs(2)" [ngClass]="{'text-gray-700 bg-white': openTab !== 2, ' text-red-600 border-b-4 rounded-b-md border-red-600 animated fadeIn': openTab === 2}">
            <span class="text-sm font-medium">Ticket </span>
        </button>
    </div>


    <!-- tabs1 (a4 y a5) -->
    <div class=" mx-auto w-10/12 grid sm:grid-cols-2 md:grid-cols-3 gap-x-8" [ngClass]="{'hidden': openTab !== 1, 'block': openTab === 1}">
        <button (click)="detalleplantilla( item )" *ngFor="let item of arrayPlantillas" class="  focus:outline-none shadow-2xl border-2 border-green-500 rounded-md  bg-gray-100 relative">            
            <div class="object-contain">
                <img class="w-64  object-cover" src="assets/img/plantilla01pdf.png" /> 
                <!-- <iframe class="w-full object-cover  h-48" [src]="item.plantilla | safeUrl " frameborder="0"></iframe> -->
            </div>

            <span *ngIf=" data.ppredeterminadas['plantilla-A4|A5'] === item.nombrecomprobante " class="badge absolute -top-3 -right-3 rounded-full  bg-white  text-xs font-bold ">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-green-500 " viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                  </svg>    
            </span>

            <div class="w-full flex justify-between items-center text-gray-800 p-2">           
                <span class=" text-sm block py-2 border-gray-400 mb-2"> {{ item.nombrecomprobante }}</span>
                <a class=" bg-gray-200 text-gray-900 rounded-full w-7 h-7 flex items-center  justify-center p-1 font-bold cursor-pointer">
                 <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                  </svg>
                </a>
            </div>
        </button>
    </div>


    <!-- tabs 2(ticket) -->
    <div class=" mx-auto w-10/12 grid sm:grid-cols-2 md:grid-cols-3 gap-x-8" [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}">
        <button (click)="detalleplantilla( item )" *ngFor="let item of arrayPlantillas" class="  focus:outline-none shadow-2xl rounded-md border-2 border-green-500 bg-gray-100 relative">            
        <img class="w-60"  src="assets/img/plantilla01tikect.png" />
        <!-- <iframe class="w-full object-cover h-48" [src]="item.plantilla | safeUrl " frameborder="0"></iframe> -->
        <span *ngIf=" data.ppredeterminadas['plantilla-ticket'] === item.nombrecomprobante " class="badge absolute -top-3 -right-3 rounded-full  bg-white  text-xs font-bold ">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-green-500 " viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
              </svg>    
        </span>

        <div class="w-full flex justify-between items-center text-gray-800 p-2">           
            <span class=" text-sm block py-2 border-gray-400 mb-2"> {{ item.nombrecomprobante }}</span>
            <a class=" bg-gray-200 text-gray-900 rounded-full w-5 h-5 flex items-center  justify-center p-1 font-bold cursor-pointer">
             <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
              </svg>
            </a>
        </div>
    </button>
    </div>

</main>