.text-cab {
    @apply px-2;
    @apply py-2;
    @apply rounded;
    @apply text-sm;
    @apply text-red-600;
    @apply font-medium;
    transition: 200ms;
}


.close{
    @apply p-2;
    @apply rounded-full;
    @apply text-sm;
    @apply text-red-600;
}