<div *ngIf="success" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex animated fadeIn">
    <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
        <div class=" pt-1">
            <!-- <div class="flex justify-end">
                <button (click)="modalguardar()" class="p-1 border border-gray-100 rounded-full focus:outline-none hover:bg-red-50">
          <svg class="w-6 h-6 text-gray-800 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
            </div> -->
            <div class="flex justify-center">
                <img class="w-48 h-48 object-cover" src="{{ rutaimg === null ? 'https://webstockreview.net/images/check-clipart-gif-animation-18.gif' : rutaimg}}" alt="">
            </div>
            <div class="flex items-center justify-center pb-3">
                <h3 class="text-base leading-6 text-center font-medium text-gray-900" id="modal-headline">
                    {{message === null ? 'Has realizado una Venta' : message }} <span *ngIf="message === null ? true : false" class="text-green-700"> Exitosamente</span>
                </h3>
                <div class="mx-auto flex-shrink-0 flex items-center justify-center  rounded-full  sm:mx-0 sm:h-10 sm:w-10">
                    <!-- Heroicon name: outline/exclamation -->
                    <svg class="text-green-700 w-7 h-7 animate-pulse" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z" />
          </svg>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="success" class="opacity-25 fixed inset-0 z-40 bg-black"></div>