<div class="flex h-screen  bg-white overlay-scrollbar">
  <div class="flex flex-col flex-1  overflow-hidden h-screen">
    <app-navbarprincipal> </app-navbarprincipal>
    <app-sidebar> </app-sidebar>
    <main class="flex-1 max-h-full  overflow-hidden overflow-y-scroll wrapper">
      <router-outlet> </router-outlet>
      <!-- <main class="flex-1 max-h-full p-5 overflow-hidden overflow-y-scroll"> -->
        <!-- Selector dowdloand massive -->
    </main>
    
    <app-footer class="z-10 pt-8"> </app-footer>
  </div>
  

</div>






