<form [formGroup]="form" (ngSubmit)="Update()">
    <div class="w-full md:mb-2">
        <label class="labelclass">Presentación</label>
        <input  type="text"
                placeholder="Ingrese un nombre"
                class="uppercase forms-control w-full text-sm focus"
                [class.error]="presentacionInvalid"
                required
                formControlName="presentacion">
        <p *ngIf="presentacionInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
    </div>

    <div class="w-full md:mb-2">
        <label class="labelclass">Precio</label>
        <input  type="number"
                placeholder="Ingrese una Abreviatura"
                class="forms-control w-full text-sm focus"
                [class.error]="precioInvalid"
                required
                formControlName="precio">
        <p *ngIf="precioInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
    </div>

    <div class="flex items-center justify-center p-4">
        <button type="submit" class="focus:outline-none bg-red-500 hover:bg-red-700 py-2 px-24 rounded-md ">
            <svg class="object-cover w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
            </svg>
        </button>
    </div>

</form>