<!-- LOADING TIME OF WAIT FOR ME -->
<app-loading> </app-loading>
<header class="mx-auto lg:px-7 px-2 py-2">

  <h2 class="text-sm font-medium text-gray-500   pt-3">MODOS DE BÚSQUEDA</h2>
  <!-- spinner -->
  <div *ngIf="!IProcess.completed" class="flex justify-end -mt-8 pr-3">
      <div class="spinner"></div>
  </div>
  
  <main class=" w-full grid grid-cols-2 transition-shadow flex  items-start lg:items-center rounded shadow-md py-2 px-2 border border-gray-200">
      <div class="col-span-1 w-full">
          <form [formGroup]="form" (ngSubmit)="list()" class="w-full grid flex  grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 lg:px-2">
              <!-- Año -->
              <div class="w-full md:pb-1">
                  <label class=" w-full md:pb-1 text-sm font-medium text-black ">Año:</label>
                  <input (keypress)="validateKey( $event, 4 )" [class.error]="yearInvalid" type="number" required formControlName="anio" placeholder="Ingrese el año" class="w-full sm:mb-1 forms-control focus">
                  <p *ngIf="yearInvalid" class="text-xs italic  font-medium text-red-700"> Por favor rellene este campo.</p>
              </div>
  
              <!-- mes-->
              <div class="w-full md:pb-1">
                  <label class=" w-full md:pb-1 text-sm font-medium text-black ">Mes :</label>
                  <mat-select [class.error]="monthInvalid" required formControlName="mes" type="text" name="tipouser" placeholder="Seleccionar un mes" class="w-full sm:mb-1 text-sm forms-control focus">
                      <mat-option value="01">Enero</mat-option>
                      <mat-option value="02">Febrero</mat-option>
                      <mat-option value="03">Marzo</mat-option>
                      <mat-option value="04">Abril</mat-option>
                      <mat-option value="05">Mayo</mat-option>
                      <mat-option value="06">Junio</mat-option>
                      <mat-option value="07">Julio</mat-option>
                      <mat-option value="08">Agosto</mat-option>
                      <mat-option value="09">Septiembre</mat-option>
                      <mat-option value="10">Octubre</mat-option>
                      <mat-option value="11">Noviembre</mat-option>
                      <mat-option value="12">Diciembre</mat-option>
                  </mat-select>
                  <p *ngIf="monthInvalid" class="text-xs italic font-medium text-red-700"> Por favor rellene este campo.</p>
              </div>
  
              <!-- buscar -->
  
              <div class=" pt-2">
                  <button type="submit" class=" bg-red-600  px-8 py-2 text-sm text-white rounded font-medium hover:bg-red-800 transition duration-200 ease-in focus:outline-none mt-4">Buscar</button>
              </div>
          </form>
      </div>
  
      <div class="flex items-center justify-end px-5 col-span-1 gap-x-3 grid  grid-cols-1 lg:grid-cols-2  w-full">
          <!-- PDF -->
          <!-- <button disabled
        class="flex items-center  justify-center text-red-600 px-5 py-2 w-auto  transition duration-300 ease-in border rounded border-red-600 focus:outline-none hover:bg-red-50">
        <span class="pr-2 text-sm font-medium text-red-600">PDF</span>
        <svg class="w-5 h-5 text-red-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"></path>
        </svg>
      </button> -->
  
          <!-- TXT -->
          <!-- <button disabled (click)="exportAsTxt()" type="button"
        class="flex   items-center justify-center text-blue-600  transition duration-300 ease-in  px-5 py-2 w-auto border rounded border-facted-3000 focus:outline-none hover:bg-green-50 ">
        <span class="pr-2 text-sm font-medium text-facted-3000">TXT</span>
        <svg class="w-5 h-5 text-facted-3000" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"></path>
        </svg>
      </button> -->
          <!-- EXCEL -->
  
          <div class="flex justify-end ">
              <button (click)="exportAsExcel()" type="button" class="flex  items-center justify-center text-green-500 mt-5 md:mt-0  py-2  w-48 transition duration-300 ease-in border rounded border-green-500 focus:outline-none hover:bg-blue-50 ">
          <span class="pr-2 text-sm font-medium text-green-500">EXCEL</span>
          <svg class="w-5 h-5 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"></path>
          </svg>
        </button>
          </div>
  
  
      <div class="w-full flex justify-end">
        <div *ngIf="!IProcess.init" class="flex flex-col  lg:-mt-4 ">
          <label class="text-sm font-medium ">Obtener Documentos Masivos</label>
          <button [ngClass]="{'bg-red-600': arrayTable.length > 0, 'bg-gray-400' : arrayTable.length === 0 }"
            (click)="obtenerDocumentMasivo()" type="button"
            class="flex items-center justify-center text-white  md:mt-0  px-6 py-2 w-auto  transition duration-300 ease-in  rounded  focus:outline-none ">
            <span class="pr-2 text-sm font-medium text-white">Comenzar</span>
            <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M14.7368 15.4286C14.7368 15.5422 14.6925 15.6512 14.6135 15.7316C14.5346 15.812 14.4275 15.8571 14.3158 15.8571H9.48884C9.24774 16.3274 8.94208 16.7603 8.58105 17.1429H14.3158C14.7625 17.1429 15.1909 16.9622 15.5067 16.6408C15.8226 16.3193 16 15.8832 16 15.4286V6.70971C15.9999 6.25509 15.8224 5.81913 15.5065 5.49771L10.5979 0.502286C10.5849 0.489966 10.5711 0.478514 10.5566 0.468C10.5462 0.459814 10.5361 0.451237 10.5263 0.442286C10.4684 0.386632 10.4068 0.335083 10.3419 0.288C10.3203 0.273842 10.2978 0.261239 10.2745 0.250286L10.2341 0.229714L10.192 0.204857C10.1465 0.178286 10.1002 0.150857 10.0522 0.130286C9.88451 0.0621114 9.70704 0.0221609 9.52674 0.0119999C9.50989 0.0111428 9.49305 0.0085714 9.47705 0.00599997C9.4542 0.00240695 9.43112 0.000402338 9.408 0H4.21053C3.76385 0 3.33546 0.180612 3.01961 0.502103C2.70376 0.823593 2.52632 1.25963 2.52632 1.71429V8.14114C2.93146 7.96906 3.35561 7.84761 3.78947 7.77943V1.71429C3.78947 1.60062 3.83383 1.49161 3.9128 1.41124C3.99176 1.33087 4.09886 1.28571 4.21053 1.28571H9.26316V5.14286C9.26316 5.59751 9.4406 6.03355 9.75645 6.35504C10.0723 6.67653 10.5007 6.85714 10.9474 6.85714H14.7368V15.4286ZM10.5263 2.24657L13.792 5.57143H10.9474C10.8357 5.57143 10.7286 5.52628 10.6496 5.4459C10.5707 5.36553 10.5263 5.25652 10.5263 5.14286V2.24657ZM0 13.2857C-9.0633e-09 13.9048 0.119799 14.5178 0.352558 15.0898C0.585317 15.6618 0.926476 16.1815 1.35656 16.6192C1.78664 17.057 2.29722 17.4042 2.85915 17.6411C3.42108 17.8781 4.02335 18 4.63158 18C5.23981 18 5.84208 17.8781 6.40401 17.6411C6.96594 17.4042 7.47652 17.057 7.9066 16.6192C8.33668 16.1815 8.67784 15.6618 8.9106 15.0898C9.14336 14.5178 9.26316 13.9048 9.26316 13.2857C9.26316 12.0354 8.77519 10.8363 7.9066 9.95221C7.03801 9.06811 5.85995 8.57143 4.63158 8.57143C3.40321 8.57143 2.22515 9.06811 1.35656 9.95221C0.487969 10.8363 1.83042e-08 12.0354 0 13.2857ZM7.15789 10.2857C7.26957 10.2857 7.37666 10.3309 7.45562 10.4112C7.53459 10.4916 7.57895 10.6006 7.57895 10.7143V12.4286C7.57895 12.5422 7.53459 12.6512 7.45562 12.7316C7.37666 12.812 7.26957 12.8571 7.15789 12.8571H5.47368C5.36201 12.8571 5.25492 12.812 5.17596 12.7316C5.09699 12.6512 5.05263 12.5422 5.05263 12.4286C5.05263 12.3149 5.09699 12.2059 5.17596 12.1255C5.25492 12.0452 5.36201 12 5.47368 12H6.31579C6.11987 11.7337 5.86563 11.5175 5.57326 11.3687C5.28089 11.2199 4.95846 11.1426 4.63158 11.1429C3.93011 11.1429 3.30779 11.4917 2.92463 12.0309C2.89278 12.0779 2.85203 12.1179 2.80477 12.1486C2.75751 12.1794 2.70469 12.2002 2.64941 12.2099C2.59413 12.2196 2.53751 12.2179 2.48287 12.205C2.42824 12.1921 2.37668 12.1682 2.33124 12.1347C2.2858 12.1013 2.24738 12.0589 2.21824 12.0101C2.18911 11.9613 2.16985 11.9071 2.16158 11.8507C2.15332 11.7942 2.15622 11.7366 2.17012 11.6813C2.18402 11.626 2.20864 11.5741 2.24253 11.5286C2.51553 11.1436 2.8745 10.8301 3.28987 10.614C3.70523 10.3979 4.1651 10.2854 4.63158 10.2857C5.45684 10.2857 6.20211 10.6311 6.73684 11.1857V10.7143C6.73684 10.6006 6.7812 10.4916 6.86017 10.4112C6.93913 10.3309 7.04622 10.2857 7.15789 10.2857ZM2.52632 15.3857V15.8571C2.52632 15.9708 2.48196 16.0798 2.40299 16.1602C2.32403 16.2406 2.21693 16.2857 2.10526 16.2857C1.99359 16.2857 1.8865 16.2406 1.80753 16.1602C1.72857 16.0798 1.68421 15.9708 1.68421 15.8571V14.1429C1.68421 14.0292 1.72857 13.9202 1.80753 13.8398C1.8865 13.7594 1.99359 13.7143 2.10526 13.7143H3.78947C3.90114 13.7143 4.00824 13.7594 4.0872 13.8398C4.16617 13.9202 4.21053 14.0292 4.21053 14.1429C4.21053 14.2565 4.16617 14.3655 4.0872 14.4459C4.00824 14.5263 3.90114 14.5714 3.78947 14.5714H2.94737C3.33137 15.0926 3.94358 15.4286 4.63158 15.4286C5.27663 15.4286 5.85432 15.1337 6.24084 14.6674C6.31349 14.5827 6.41593 14.5305 6.52606 14.522C6.63619 14.5135 6.74521 14.5493 6.82961 14.6219C6.914 14.6944 6.96702 14.7978 6.97724 14.9097C6.98745 15.0216 6.95404 15.1332 6.88421 15.2203C6.60781 15.5544 6.26294 15.8228 5.8738 16.0069C5.48467 16.191 5.06068 16.2861 4.63158 16.2857C4.23942 16.2863 3.85113 16.2069 3.48956 16.0523C3.128 15.8978 2.80049 15.6711 2.52632 15.3857Z"
                fill="white" />
            </svg>
          </button>
        </div>
  
        <div *ngIf="IProcess.porcentual <= 100 && IProcess.init" class="flex flex-col">
          <button (click)="obtenerDocumentMasivo(true)"
            class="text-sm group font-medium focus:outline-none shadow  w-full border-white p-2 rounded">
            <div class="relative">
              <span class="text-xs text-black font-medium pb-1">Obtener Documentos Masivos</span>
              <div class="overflow-hidden h-3  text-xs flex rounded bg-gray-200">
                <div [style.width.%]="IProcess.porcentual"
                  class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center"
                  [ngClass]="{'bg-red-500': !IProcess.completed, 'bg-green-500': IProcess.completed }"></div>
              </div>
              <span class="text-xs text-gray-600 text-right flex pt-1 justify-start">Completado ({{ IProcess.i }} de {{
                totalcpe }})...</span>
              <div
                class="opacity-0 w-28 bg-black text-white text-center text-xs flex justify-center items-center rounded-lg py-2 absolute z-10 group-hover:opacity-100 bottom-full -left-1/2 ml-14 px-3 pointer-events-none">
                Proceso al {{ IProcess.porcentual }}%
                <svg class="absolute text-black h-2 w-full left-0 top-full" x="0px" y="0px" viewBox="0 0 255 255"
                  xml:space="preserve">
                  <polygon class="fill-current" points="0,0 127.5,127.5 255,0" />
                </svg>
              </div>
            </div>
          </button>
        </div>
      </div>
  
      </div>
  </main>
  
  <mat-paginator [pageSizeOptions]="[15, 30, 50]" showFirstLastButtons></mat-paginator>
  <h1 class="text-sm font-medium pl-5 uppercase">Listado Comprobantes</h1>
  
  <!-- Realizar busqueda -->
  <div *ngIf="arrayTable.length <= 0" class="flex flex-col items-center justify-between pt-12">
      <br>
      <img src="assets/img/realizebus.svg" alt="realizar busqueda">
      <br>
      <p class="text-sm font-medium text-gray-300">Realize una busqueda para vizualizar sus datos</p>
  </div>
  
  <app-table-dynamic [columns]='columns' [displayedColumns]='displayedColumns' [dataSource]='dataSource'>
  </app-table-dynamic>
  <app-modal-error [error]='error' [message]='message' [cnn_expi]='cnn_expi' (send)='error = $event'></app-modal-error>
</header>
