<!--header-->
<header class="flex justify-between items-center border-b border-gray-200 pb-2">
    <h2 class="text-red-600 text-sm font-medium uppercase">{{ data.operation }}</h2>
    <button mat-dialog-close class="p-1 rounded-full border border-gray-200 hover:bg-red-50 focus:outline-none">
      <svg class="w-6 h-6  text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
  </button>
</header>

<!-- Buscar -->
<div class="mt-4 relative mx-auto flex items-center text-gray-600">
    <input (keyup)="_search(search.value)" #search class=" uppercase bg-white forms-control  w-full focus" type="search" name="search" placeholder="Buscar..">
    <span class="absolute right-0 top-0 mt-3 pr-2">
  </span>
</div>
<!-- tabla -->
<main class=" w-full align-middle inline-block   md:pt-4">
    <div class="relative overflow-x-auto  overflow-y-auto h-auto overflow-hidden" style="height: 36vh;">
        <table class=" table-auto w-full whitespace-no-wrap bg-white table-striped relative">
            <thead class="z-10">
                <tr class=" text-sm text-left   border-b w-auto border-gray-200  text-black">
                    <th scope="col" class="font-medium whitespace-nowrap   sticky top-0 px-4 w-auto bg-gray-50  py-2">Nombre </th>
                    <th scope="col" class="font-medium whitespace-nowrap   sticky top-0 px-4 w-auto bg-gray-50  py-2"> Abreviatura</th>
                    <th scope="col" class="font-medium whitespace-nowrap   sticky top-0 px-4 w-auto bg-gray-50  py-2"> </th>
                    <th scope="col" class="font-medium whitespace-nowrap   sticky top-0 px-4 w-auto bg-gray-50  py-2"> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of list" class="border-b w-full border-gray-200 cursor-pointer ">
                    <td class="px-4 py-2 w-auto  text-sm font-normal  text-gray-900">
                        <span class="w-28 text-left"> {{ item.name }} </span>
                    </td>
                    <td class="px-4 py-2 w-auto  text-sm font-normal  text-gray-900">
                        <span class="w-28 text-left"> {{ item.apodo }} </span>

                        <!-- editar -->
                        <td class="px-4 py-1 w-auto  text-sm font-normal  text-gray-900">
                            <button (click)="irSaveOperation( item.name, item.apodo, item.id, true )" class="text-sm font-medium focus:outline-none text-center  flex items-center transition  hover:bg-red-50 duration-300 ease-in py-2 px-2 ">
                          <span class="pr-3">
                            <svg class=" text-red-600 fill-current" width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M15.1572 0L18.0011 2.8439L15.8331 5.01284L12.9893 2.16894L15.1572 0Z" />
                              <path d="M4.74023 13.2601H7.58411L14.4919 6.35232L11.648 3.50842L4.74023 10.4162V13.2601Z"/>
                              <path d="M15.1673 16.1041H4.88957C4.86492 16.1041 4.83933 16.1136 4.81468 16.1136C4.7834 16.1136 4.75212 16.105 4.71989 16.1041H1.89592V2.83258H8.38659L10.2825 0.936646H1.89592C0.850319 0.936646 0 1.78602 0 2.83258V16.1041C0 17.1506 0.850319 18 1.89592 18H15.1673C15.6702 18 16.1524 17.8003 16.508 17.4447C16.8635 17.0892 17.0633 16.6069 17.0633 16.1041V7.88713L15.1673 9.78306V16.1041Z" />
                            </svg>
                          </span>                   
                        </button>
                        </td>

                        <!-- Usar -->
                        <td class="px-4 py-1 w-auto  text-sm font-normal  text-gray-900">
                            <button (click)="useToItem( item.name, item.id )" class="py-1 px-4 text-sm font-medium  text-white w-auto  bg-red-600 hover:bg-red-800 transition duration-500 ease-in focus:outline-none rounded-md h-8">
                            Usar
                          </button>
                        </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="py-2 pl-4 border-gray-200 border-t flex justify-center">
        <button (click)="irSaveOperation()" class="py-2 px-4 text-sm font-medium uppercase text-white  bg-red-600 hover:bg-red-800 transition duration-500 ease-in w-32 focus:outline-none rounded-md ">Nuevo</button>
    </div>

</main>