<footer class="z-0 w-full fixed  bottom-0  ">
  <div class="w-full bg-facted-500">
    <div class="container mx-auto px-4 py-2">
      <div class="flex flex-wrap items-center md:justify-between justify-center">
          <div class="w-full px-4 justify-center flex items-center">
              <h3 class="text-white  font-medium text-center text-xs md:text-sm">© 2021 Innovated. Todos los derechos reservados.</h3>
          </div>
      </div>
  </div>
  </div>
</footer>
