<div class="pt-5 px-3">
    <h1 class="text-sm  text-gray-400 font-medium">NUEVO CORREO</h1>
    <form   class="w-full grid flex  grid-cols-1 md:grid-cols-2 lg:grid-cols-4 py-3 px-5 border-2 border-gray-100 gap-5 bg-white shadow-lg rounded lg:px-6">
      
        <!-- Correo -->
      <div  class="w-full md:pb-1">
        <label class="text-sm text-gray-700 font-medium">Correo</label>
        <div class="w-full inline-flex">        
          <input 
          [ngClass]="{'disabled': correo}"          
            type="email" required name="email" placeholder="Ingrese Correo"
            class="w-full focus:outline-none text-sm rounded border focus border-gray-300 focus:text-gray-600 p-2"
            placeholder="Mariafernandamercedez5@gmail.com"
          />
          <button *ngIf="correo" class=" flex items-center justify-center px-2 bg-white focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
              </svg>
          </button>
        </div>
      </div>

     
    <!-- Contreaseña -->
      <div class="w-full md:pb-1">
        <label class="text-sm text-gray-700 font-medium">Contraseña</label>
        <div class="w-full inline-flex">        
          <input            
            type="password"
            required
            class="w-full focus:outline-none text-sm rounded border focus border-gray-300 focus:text-gray-600 p-2"
            placeholder="****************"
          />
          <button *ngIf="correo" class=" flex items-center justify-center px-2 bg-white focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
              </svg>
          </button>
        </div>
      </div>

    
      <div class="flex items-center justify-center">
      
            <!-- Sin Acciones -->
            <div class=" flex items-center pt-3 hidden" >
                <div class="bg-gray-400 rounded-3xl text-sm flex items-center text-white px-8 py-1">
                    <div class="p-1 bg-white rounded-full"></div>
                    <span class="text-sm font-medium pl-2">Sin Acciones</span>
                </div>
                <div class=" border-2 border-gray-100 shadow-lg p-1 rounded-full ml-3"> 
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 text-gray-100" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.618 5.984A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016zM12 9v2m0 4h.01" />
                    </svg>              
                </div>           
            </div>

            <!-- En Proceso -->
            <div class=" flex items-center pt-3"  >
                <div class="bg-yellow-50 rounded-3xl text-sm flex items-center text-yellow-600 px-8 py-1">
                    <div class="p-1 bg-yellow-600 rounded-full"> </div>
                    <span class="text-sm font-medium pl-2">En Proceso</span>
                </div>
                <div class=" border-2 border-gray-100 shadow-lg p-1 rounded-full ml-3">
                    <div class="loader ease-linear rounded-full border-4 border-t-4 border-gray-200 h-6 w-6"></div>
                </div>           
            </div>

            <!-- Completo -->
            <div class=" flex items-center pt-3 hidden" >
                <div class="bg-green-50 rounded-3xl  text-sm flex items-center text-green-600 px-8 py-1">
                    <div class="p-1 bg-green-500 rounded-full"> </div>
                    <span class="text-sm font-medium pl-2">Completado</span>
                </div>
                <div class=" border-2 border-gray-100 shadow-lg p-1 rounded-full ml-3">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 text-green-500" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                  </svg>
                </div>           
            </div>
      </div>
      <!-- buscar -->  
        <div class=" pt-2">
          <button type="button"
          (click)="correo = !correo"
            class=" bg-red-600 px-8 py-2 text-sm text-white rounded font-medium hover:bg-red-800 transition duration-200 ease-in focus:outline-none mt-4">VERIFICAR</button>
        </div>     
    </form>



    <div class="inline-block w-full min-w-full p-8 bg-gray-800 overflow-auto    rounded shadow-md align-middle mt-1" style="height: 50vh;">
      <span class="text-sm text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam eligendi soluta molestiae. Placeat iusto laudantium, incidunt nesciunt minus dolore quae ea velit reiciendis, itaque repellendus culpa dolor eum unde voluptatem.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, corrupti. Ex tempora voluptatibus temporibus dolores corrupti ipsam dicta ullam voluptatem aliquam similique officiis commodi delectus, quos maiores aliquid sapiente minus?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus accusamus quas quia libero! Consectetur, voluptatum officiis? Quia, animi ratione optio quae esse quibusdam architecto similique, aliquam accusamus, ad praesentium illum?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta aliquid accusamus officiis, debitis dolorum fuga. Nulla cum id consequatur, earum itaque dolor at amet obcaecati. Accusantium corporis laborum rerum quos.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod aspernatur quam beatae commodi vitae, maxime alias culpa exercitationem rem sunt laborum dolore cupiditate eos, esse quo temporibus deserunt accusantium nam?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, ut voluptatibus, consequuntur vitae eum minima aspernatur facere rerum quo quaerat repudiandae earum similique laboriosam rem hic odio soluta voluptas molestiae.
      </span>

    </div>


</div>



<style>
    .loader {
      border-top-color: #F28231;
      -webkit-animation: spinner 1.5s linear infinite;
      animation: spinner 1.5s linear infinite;
    }
    
    @-webkit-keyframes spinner {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spinner {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    </style>