<header class="flex justify-between items-center border-b border-gray-100 pb-2">
    <h2 class="text-red-600 text-xs sm:text-sm font-medium uppercase">FILTROS</h2>
    <button mat-dialog-close class="p-1 rounded-full border border-gray-200 focus:outline-none">
        <svg class="w-5 h-5  text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
    </button>
</header>

<!-- formulario para filtrar datos -->
<div class="w-full pt-2 space-y-1">
    <!-- fecha emision -->
    <div class="w-full md:mb-2">
        <label class="labelclass"> Condición</label>

        <!-- Condicion -->
        <div class=" flex flex-col">
            <section class="example-section">
                <mat-checkbox (change)="_changeCondition('activo' , $event.checked)" class="example-margin text-sm" [(ngModel)]="icondition.activo" >Activo</mat-checkbox>
            </section>

            <section class="example-section">
                <mat-checkbox (change)="_changeCondition('anulado', $event.checked)" class="example-margin text-sm" [(ngModel)]="icondition.anulado" >Anulado</mat-checkbox>
            </section>
        </div>

    </div>

    <div class="w-full md:mb-2">
        <label class="labelclass"> Estado</label>

        <!-- Estado -->
        <div class=" flex flex-col">
            <section class="example-section">
                <mat-checkbox (change)="_changeStatus('enviado', $event.checked)" class="example-margin text-sm" [(ngModel)]="istatus.enviado" >Enviado</mat-checkbox>
            </section>

            <section class="example-section">
                <mat-checkbox (change)="_changeStatus('not_enviado', $event.checked)" class="example-margin text-sm" [(ngModel)]="istatus.not_enviado" >No Enviado</mat-checkbox>
            </section>
        </div>

    </div>



    <!-- boton de restablecer -->
    <div class="pt-3 w-auto ">
        <a (click)="_reestablecer()" class="text-red-600 py-2 rounded w-auto hover:text-red-800 hover:font-medium text-sm cursor-pointer  flex items-center justify-end underline">
            <svg class="w-5 h-5 text-red-600 fill-current" xmlns="http://www.w3.org/2000/svg"     xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em"
                style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"  preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <path   d="M14 12c0-1.1-.9-2-2-2s-2 .9-2 2s.9 2 2 2s2-.9 2-2zm-2-9a9 9 0 0 0-9 9H0l4 4l4-4H5c0-3.87 3.13-7 7-7s7 3.13 7 7a6.995 6.995 0 0 1-11.06 5.7l-1.42 1.44A9 9 0 1 0 12 3z" />
            </svg>
            <span class="ml-1">Restablecer</span>
        </a>
    </div>

    <!-- boton de  aplicar -->
    <div class="w-full pt-3 ">
        <button (click)="_aplicar()" class=" rounded-md px-20 text-sm  py-2 focus:outline-none font-medium  flex items-center text-white justify-center w-full bg-red-500 hover:bg-red-600 transition duration-500 ease-in">
            Aplicar </button>
    </div>



</div>